﻿<div style="text-align: center; padding: 20px;">
    <h2>About IDR</h2>
    <table style="border: solid 0px #fff;">
        <tr>
            <td>
                <img src="https://idr.smart-dr.com/images/idr-logo.png" />
                <img src="https://idr.smart-dr.com/images/smartdr-logo.png"  />
            </td>
            <td></td>
        </tr>
    </table>
    <strong>
        TO LEARN MORE - CONTACT:
        <br />
        <br />
        CLINICAL TRIAL SITE SOLUTIONS<br />
        2360 WEST BELLEVIEW<br />
        LITTLETON, COLORADO 80123<br />
        PHONE: 303-877-7370<br />
        <br /><br />
        EMAIL: <a href="info@trackingoutcomes.com">info@trackingoutcomes.com</a>
        <br /><br />
        WEBSITE: <a href="www.trackingoutcomes.com">www.trackingoutcomes.com</a>
    </strong>
</div>
