﻿<div style="padding: 20px;">
    <h3>Privacy policy</h3>
    <br />
    <br />
    We recognize that the privacy of your personal information is important to you. The purpose of this Mobile Privacy Policy is to let you know how we handle the information we receive from you through this mobile application.
    <br />
    <br />
    This Mobile Privacy Policy does not apply to information collected through other means such as by telephone or in person, although that information may be protected by other privacy policies. As used in this Mobile Privacy Policy, terms such as "we" or "our" and "Company" refer to Clinical Trial Site Solutions LLC (CTSS) and its current and future affiliate entities.
    <br />
    <br />
    This mobile application is intended for a United States audience. Any information you provide, including any personal information, will be transferred to and processed by a computer server located within the U.S.
    <strong>Information collection and use</strong>
    <br />
    <br />
    This mobile application may access or collect personal information and non-personal information. The table below includes information that we may access or collect in connection with your use of this mobile application.
    <br />
    <br />
    This mobile application may include features that give you the opportunity to provide us with personal information about your recovery status. You do not have to provide us with this information if you do not want to; however, that may limit your ability to use certain functions of this mobile application or to request certain services or information.
    <br />
    <br />
    This mobile application does not share any Protected Health Information (PHI) and Personal Information Identifiers PII), as those terms are defined in the Health Insurance Portability and Accountability Act of 1996 ("HIPAA") and it's implementing regulations. Any de-identified information you submit through this mobile application may not protected by HIPAA, however we treat all information collected with the same standards as if it would become part of any medical record.
    <br />
    <br />
    <strong>Information that May Identify You</strong><br />
    <br />
    <ul>
        <li>Procedure</li>
        <li>Physician</li>
        <li>Treatment Location</li>
        <li>Reminders</li>
        <li>Calendar Appointments</li>
    </ul>

    <strong>What You Do on Your Device</strong><br />
    <br />
    <ul>
        <li>Local storage</li>
    </ul> <br />
    <br />

    Information you provide to this mobile application will not be stored locally on your mobile device, however password access to your treatment plan can be stored locally at your option. To prevent unauthorized use or disclosure of information via your mobile device, you should lock your mobile device when not in use.
    <br />
    <br />
    <strong>How We May Use Information</strong><br />
    <br />
    <ul>
        <li>To respond to requests from you.
        <li>To customize your experience on the mobile application, including managing and recording your preferences.
        <li>To administer surveys and promotions.
        <li>To provide you with information that we believe may be useful to you, such as information about health products or services provided by us or other businesses.
        <li>To perform analytics and to improve our products, mobile applications, and advertising.
        <li>To develop reports regarding usage, activity, and statistics.
        <li>To conduct marketing, product development, and research.
        <li>To comply with applicable laws, regulations, and legal process.
        <li>To protect someone’s health, safety, or welfare.
        <li>To protect our rights, the rights of affiliates or related third-parties, or take appropriate legal action, such as to enforce our Terms of Use.
        <li>To keep a record of our transactions and communications.
        <li>As otherwise necessary or useful for us to conduct our business, so long as such use is permitted by law and this policy.
        <li>To facilitate the provision of software updates and product support.
        <li>To improve products and other services related to the mobile application or to provide services or technologies to you.
        <li>To contact you through information you provide through this mobile application, including any email address, telephone number, cell phone number, text message number, or fax number. Please see the section below titled “Our online communications practices.”
    </ul>   <br />
    <br />
    <strong>How We Protect Your Personal Information</strong>
    <br />
    <br />
    The security of your information and data while using our Applications is very important to us. Our Applications employ a variety of technical safeguards to protect the confidentiality, integrity, and availability of your personal information including supporting Transport Layer Security (TLS)/Secure Sockets Layer (SSL) certificate technology and encryption.
    <br />
    <br />In addition, healthcare providers with whom you connect may use a variety of physical, administrative and technical measures to protect your personal information.

    <strong>Collection of Patient Healthcare Information (PHI) and Personal Information Identifiers (PII)</strong>
    <br />
    <br />Protecting personal information is important to us. It is our policy to protect the confidentiality of all Patient Healthcare Information (PHI) that we receive or collect in the course of business. As a course of business we DO NOT collect, nor disseminate to the mobile app the following PHI and PII protected data:
    <br />
    <br />
    <ul>
        <li>Patient Name
        <li>Address
        <li>Phone number
        <li>Email Address
        <li>Date of Birth
        <li>Social Security Number
        <li>Credit Card Information
        <li>Health Insurance Information
    </ul>
    <br />
    <br />
    <strong>Our online communication practices</strong><br />
    <br />
    We may send electronic newsletters, notification of account status, and other communications, such as marketing communications, on a periodic basis to various individuals and organizations. We may also send email communications regarding topics such as general health benefits, site updates, health conditions, and general health topics. We may use cookies or other technologies to monitor whether you open and/or click on URLs in email communications such as newsletters. We offer you appropriate consent mechanisms, such as an opt-in for communications via text messaging or fax and an opt-out for marketing and certain other communications. As an example, you may click on the opt-out button associated with the specific email communication or contact us as described below in the section "Contact us." Please be aware that opt-outs may not apply to certain types of communications, such as account status, site updates, and other communications.
    <br />
    <br /><strong>Information for children under 13</strong>
    <br />
    <br />
    We will not knowingly collect any personal information from children under the age of 13 through this mobile application. If you think that we have collected personal information from a child under the age of 13 through this mobile application, please contact us.
    <br />
    <br /><strong>Contact Us</strong>
    <br />
    <br />
    If you believe we or any company associated with us has misused any of your information please contact us immediately and report such misuse.
    <br />Clinical Trial Site Solutions LLC
    <br />Customer Service – Privacy Unit
    <br />2360 West Belleview Avenue, Suite 270
    <br />Littleton, Colorado  80123

    <br /><br />
    <strong>Effective date</strong>
    <br /><br />
    The Effective Date of this Mobile Privacy Policy is October 15, 2015.
    <br /><br />
    <strong>
        Changes to this Mobile Privacy Policy
    </strong>
    <br /><br />
    We may change this Mobile Privacy Policy. If we do so, such change will appear on this page of our mobile application. We will also provide appropriate notice and choices to you, on this mobile application and in other appropriate locations, based on the scope and extent of changes. You may always visit this policy to learn of any updates


</div>