﻿<div style="padding: 20px;">

    <h3>
        LAST UPDATED: October 15, 2015
    </h3>

    <strong>SMART-DR and IDR TERMS OF USE</strong>

    Welcome to SMART-DR Mobile and IDR. You are attempting to (a) download or install (or have already done so), IDR, a mobile software application (the “App”) and/or (b) access the website located at <a href="http://www.trackingoutcomes.com">http://www.trackingoutcomes.com</a> (the “Site”) provided by Clinical Trial Site Solutions LLC (“CTSS”). Together, the App and the Site are referred to below as the “Applications.”
    <br />
    <br />
    By downloading, installing or using the App, or accessing the Site, you agree that you have read and understood the following terms of use (the “Terms”) and agree to be bound by them. IF YOU DO NOT AGREE TO BE BOUND BY THESE TERMS, PLEASE EXIT THIS PAGE AND REFRAIN FROM ANY FURTHER USE OF OR ACCESS TO THE APPLICATIONS, AND DELETE ANY COPIES OF THE APP IN YOUR POSSESSION OR CONTROL. When using or accessing the Applications, you agree that you must comply with any guidelines, rules, terms and conditions applicable to such use or access that are posted by us, which are hereby incorporated by reference into these Terms, and with any applicable third-party terms of agreement.
    <br />
    <br />
    We may modify these Terms at any time by posting the revised Terms on the App or the Site.  You can determine when this Agreement was last revised by referring to the “LAST UPDATED” legend at the top of these Terms.  Any modifications will be effective immediately upon such posting.  Your use of or access to the Applications after such modifications are posted will signify your acceptance of the modifications and your agreement to be bound by them.  Notwithstanding the foregoing, any modifications to these Terms shall not apply to any dispute between us arising prior to the date on which we post the revised Terms that contain such modifications.
    <br />
    <br />
    We reserve the right, at any time and from time to time, temporarily or permanently, in whole or in part, to:  modify, suspend or discontinue the Applications; charge fees in connection with the use of the Applications; modify and/or waive any fees charged in connection with the Applications; and/or offer opportunities to some or all users of the Applications.  You agree that neither we nor any of our affiliates shall be liable to you or to any third party for any modification, suspension or discontinuance of the Applications, in whole or in part, or of any service, content, feature or product offered through the Applications.
    <br />
    <br />
    DISCLAIMER; NOT A SUBSTITUTE FOR PROFESSIONAL HEALTH CARE OR ADVICE THE APPLICATIONS AND ANY INFORMATION CONTAINED ON OR PROVIDED THROUGH THE APPLICATIONS ARE PROVIDED “AS IS” AND “AS AVAILABLE” WITH NO WARRANTIES WHATSOEVER.  YOUR USE OF THE APPLICATIONS IS VOLUNTARY AND AT YOUR SOLE RISK.
    <br />
    <br />
    THE HEALTH-RELATED INFORMATION AVAILABLE THROUGH THE APPLICATIONS IS GENERAL IN NATURE AND IS NOT A SUBSTITUTE FOR PROFESSIONAL HEALTHCARE. IT IS PROVIDED FOR INFORMATIONAL PURPOSES ONLY AND IS NOT INTENDED, AND SHOULD NOT BE USED, TO REPLACE THE ADVICE OF HEALTHCARE PROFESSIONALS. YOU ARE SOLELY RESPONSIBLE FOR YOUR RELIANCE ON THE APPLICATIONS AND THE HEALTH-RELATED INFORMATION AVAILABLE THROUGH THE APPLICATIONS, AND FOR ALL DECISIONS OR ACTIONS RESULTING FROM YOUR USE OF THE APPLICATIONS AND ITS CONTENT, INCLUDING BUT NOT LIMITED TO ANY DECISION NOT TO SEEK OR REFRAIN FROM SEEKING ANY DIAGNOSIS OR TREATMENT.  YOU ARE ALSO SOLELY RESPONSIBLE FOR YOUR DECISION TO USE THE SERVICES OF ANY PARTICULAR THIRD-PARTY PROVIDER.   IF YOU HAVE SPECIFIC HEALTHCARE NEEDS, OR FOR COMPLETE HEALTH INFORMATION, PLEASE SEE A DOCTOR OR OTHER HEALTHCARE PROVIDER.
    <br />
    <br />

    <strong>
        JURISDICTIONAL ISSUES
    </strong>
    <br />
    <br />
    The Applications are controlled and operated by CTSS from the United States, and are not intended to subject CTSS or its affiliates to the laws or jurisdiction of any state, country or territory other than that of the United States.  CTSS does not represent or warrant that the Applications or any part thereof are appropriate or available for use in any particular jurisdiction other than the United States.
    <br />
    <br />
    <strong>
        THIRD-PARTY CONTENT PROVIDERS
    </strong>
    <br />
    <br />
    The Applications provides users with access to information regarding treatment plans, instructions, recommendations and other third-party equipment specific, healthcare products, that are referred to as (“Third-Party Providers”).  Additionally, the Applications provide users with the ability to exchange certain progress information with doctors and other Third-Party Providers.  CTSS provides marketing services on behalf of Third-Party Providers to patients or prospective patients (including users of the Applications) such as email campaigns, search engine optimization (SEO) and electronic directory services.  CTSS also provides Third-Party Providers with the opportunity to create their own Premier Listings, Profile Pages or mini-websites.  CTSS may charge Third-Party Providers a fee for the services and opportunities described in this section.  Although CTSS reserves the right (but does not have the obligation) to monitor, it does not control the content contained within Premier Listings, Profile Pages or mini-websites and assumes no responsibility or liability of any kind for any inaccuracies contained therein, or for any qualifications, reference materials or other content available therein.
    <br />
    <br />
    Providers are third parties, although certain third-party Providers may be affiliated with CTSS. CTSS is not responsible for, and shall have no liability in connection with, any transactions or disputes between you and Third-Party Providers.  If you have a dispute with a Third-Party Provider or Payor, you agree to release us (and our employees and agents) from claims, demands and damages of every kind and nature, known and unknown, suspected and unsuspected, disclosed and undisclosed (including actual, consequential and punitive damages), arising out of or in any way connected with the use of the Applications or such disputes.  You waive any provisions of any state, province, or country law that limit or prohibit a general release, including, if applicable, Section 1542 of the California Civil Code, which states:  “A general release does not extend to claims which the creditor does not know or suspect to exist in his or her favor at the time of executing the release, which if known by him or her must have materially affected his or her settlement with the debtor.”
    <br />
    <br />
    <h3>
        LICENSE
    </h3>
    <br />
    <br />
    CTSS grants to you a limited, royalty-free, non-exclusive, personal and non-transferable, license to install and use the App on a single personal mobile electronic device or smart phone owned or controlled by you solely for your own personal, non-commercial purposes, subject to your compliance with these Terms.
    <br />
    <br />



    <strong>
        OWNERSHIP OF THE APPLICATIONS
    </strong>
    <br />
    <br />
    The Applications (including any content made available through the Applications) are the property of CTSS (or its licensors) and are protected by applicable intellectual property laws.  The App is licensed, not sold, to you.  You may utilize the Applications only as permitted by these Terms.  You may not, and will not permit any other party to: (1) modify, adapt, alter, translate or create derivative works of the Applications; (2) use or merge the Applications, or any component or element thereof, with other software, databases or services not provided by CTSS; (3) sublicense, distribute, sell or otherwise transfer the Applications to any third party; (4) use the App as a service bureau, or lease, rent or loan the App to any third party; (5) reverse engineer, decompile, disassemble or otherwise attempt to derive the source code or structure of the Applications; (6) interfere in any manner with the operation of the Applications; (7) circumvent, or attempt to circumvent, any electronic protection measures in place to regulate or control access to the Applications; (8) create a database by systematically downloading and storing the Applications; (9) use any robot, spider, site search/retrieval application or other manual or automatic device to retrieve, index, “scrape,” “data mine” or in any way gather the Applications or reproduce or circumvent the navigational structure or presentation of the Applications without our express prior written consent; or (10) use the Applications for any commercial purposes.  You agree not to develop, distribute or sell any software or other functionality capable of launching, being launched from or otherwise integrated with the Applications.  You may not remove, alter or obscure any copyright notice or any other proprietary notice that appears on or in the Applications.
    <br />
    <br />
    <strong>
        TRADEMARKS
    </strong>
    <br />
    <br />
    Any logo, trademark, servicemark, domain name, or trade name appearing on the Applications, including “CTSS,” (“Marks”), whether registered or not, are the property of CTSS or their respective owners. You may not use any Marks without the express written permission of CTSS.
    <br />
    <br />
    <strong>
        INFORMATION THAT YOU SUBMIT
    </strong>
    <br />
    <br />
    Your submission of information through the Applications is governed by CTSS’s Privacy Policy, which is located at https://www.trackingoutcomes.com/Legal/Privacy_Policy. You represent and warrant that any information that you provide in connection with your use of the Applications is and shall remain true, accurate and complete, and that you will maintain and update such information regularly.  You agree that if any information that you provide is false, inaccurate, obsolete or incomplete, we may terminate your use of the Applications.
    For purposes of clarity, you retain ownership of any information, content and materials that you submit through the Applications in connection with any publicly-available forums (each, a “Submission”).  However, please note that we need certain rights to your Submissions to be able to make them available on the Applications.  As such, you hereby grant to CTSS and its service providers and designees a worldwide, non-exclusive, transferable, sublicensable (through multiple tiers), royalty-free, perpetual, irrevocable right and license, without compensation to you:  to use, reproduce, distribute, adapt (including without limitation to edit, modify, translate and reformat), create derivative works of, transmit, publicly display and publicly perform such Submission, in any Applications now known or hereafter developed.
    This license is non-exclusive (so you can license your Submissions to others), worldwide (as the Internet is global in its reach), fully-paid-up and royalty-free (so that we do not have to pay you for posting your Submissions), sublicensable through multiple tiers (so that we can use our service providers and subcontractors to provide services).
    For each Submission, you represent and warrant that you have all rights necessary for you to grant the licenses granted in this section, and that such Submission, and your provision thereof to and through the Applications, comply with all applicable laws, rules and regulations.  You further irrevocably waive any “moral rights” or other rights with respect to attribution of authorship or integrity of materials regarding each Submission that you may have under any applicable law under any legal theory.  We request this waiver to help ensure that we have all the rights we may need to provide the services available through the Applications.
    <br />
    <br />
    <strong>
        MONITORING
    </strong>
    <br />
    <br />
    You acknowledge and agree that (a) we reserve the right (but have no obligation) to do any or all of the following, at our discretion: (i) monitor Submissions; (ii) alter, remove, or refuse to post or allow to be posted any Submission; and/or (iii) disclose any Submission, and the circumstances surrounding its transmission, to any third party in order to operate the Applications; to protect CTSS and its respective employees, officers, directors, shareholders, affiliates, agents, representatives, licensors, suppliers and service providers, and the Applications’ users and visitors; to comply with legal obligations or governmental requests; to enforce these Terms; or for any other reason or purpose.
    <br />
    <br />
    <strong>
        USER NAMES, PASSWORDS AND SECURITY
    </strong>
    <br />
    <br />
    You may be required to register with CTSS to access certain services or areas of the Applications.  With respect to any such registration, we may refuse to grant you, and you may not use, a user name (or e-mail address) that is already being used by someone else; that may be construed as impersonating another person; that belongs to another person; that personally identifies you; that violates the intellectual property or other rights of any person; that is offensive; or that we reject for any other reason in our sole discretion.
    Your user name and password are for your personal use only, and not for use by any other person.  You are responsible for maintaining the confidentiality of any password you may use to access the Applications, and agree not to transfer your password or user name, or lend or otherwise transfer your use of or access to the Applications, to any third party.  You are fully responsible for all interaction with the Applications that occurs in connection with your password or user name.  You agree to immediately notify CTSS of any unauthorized use of your password or user name or any other breach of security related to your account or the Applications, and to ensure that you “log off”/exit from your account with the Applications (if applicable) at the end of each session.  To report unauthorized access or use of the Applications, send an e-mail to legal@trackingoutcomes.com. We are not liable for any loss or damage arising from your failure to comply with any of the foregoing obligations. You are responsible for maintaining the confidentiality of such identification number and other credentials and passwords.
    <br />
    <br />
    <strong>
        TERMINATION
    </strong>
    <br />
    <br />
    CTSS may suspend or terminate your use of or access to the Applications if you fail to comply with the Terms.  Such suspension or termination may result in the permanent deletion of your information or other previously available content.
    <br />
    <br />
    <strong>
        USER ACKNOWLEDGEMENTS
    </strong>
    <br />
    <br />
    You acknowledge and agree that you (and not CTSS) are responsible for obtaining and maintaining all telecommunications, broadband, and computer hardware, equipment, and services needed to access and use the Applications, and for paying all charges related thereto.  CTSS does not operate or control the Internet or your mobile connection, and therefore CTSS does not and cannot guarantee that the Applications will be error or virus free, invulnerable to hackers or other unauthorized users, or always available.
    <br />
    <br />
    <strong>
        INDEMNIFICATION
    </strong>
    <br />
    <br />
    To the fullest extent permitted under law, you will defend, indemnify and hold harmless CTSS and its affiliates, and its and their officers, directors, employees, agents and licensors from and against all claims, actions, liabilities, losses, expenses, damages and costs (including reasonable attorneys’ fees) arising out of or related to your use of the Applications or any violation of these Terms by you.
    <br />
    <br />
    <strong>
        EXCLUSIONS OF WARRANTIES
    </strong>
    <br />
    <br />
    CTSS AND ITS AFFILIATES DISCLAIM ALL EXPRESS WARRANTIES, IMPLIED WARRANTIES, INCLUDING IMPLIED WARRANTIES OF ACCURACY, MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT.  CTSS AND ITS AFFILIATES MAKE NO GUARANTEE, REPRESENTATION OR WARRANTY REGARDING THE TIMELINESS, RELIABILITY, ACCURACY, COMPLETENESS OR USEFULNESS OF ANY PORTION OF THE APPLICATIONS, INCLUDING THE CONTENT MADE AVAILABLE THROUGH THE APPLICATIONS, OR REGARDING THE AVAILABILITY OR APPROPRIATENESS OF THIRD-PARTY PROVIDERS.  YOU AGREE THAT YOUR ACCESS TO AND USE OF THE APPLICATIONS IS AT YOUR OWN RISK, AND THAT YOU ARE SOLELY RESPONSIBLE FOR ANY LIABILITY OR DAMAGE THAT YOU MAY INCUR THROUGH USE OF THE APPLICATIONS, EXCEPT TO THE EXTENT THAT THE APPLICABLE LAWS OF A PARTICULAR JURISDICTION CANNOT BE WAIVED OR EXCLUDED BY AGREEMENT.
    <br />
    <br />
    LIMITATION OF LIABILITY
    CTSS AND ITS AFFILIATES MAY NOT BE HELD LIABLE UNDER ANY PROVISION OF THIS AGREEMENT FOR ANY CONSEQUENTIAL, SPECIAL, EXEMPLARY OR INDIRECT DAMAGES, OR FOR ANY OTHER DAMAGES OTHER THAN DIRECT DAMAGES, EVEN IF CTSS KNOWS OR SHOULD KNOW THAT OTHER DAMAGES ARE POSSIBLE OR THAT DIRECT DAMAGES ARE NOT A SATISFACTORY REMEDY.  THE LIMITATIONS IN THIS SECTION APPLY TO YOU ONLY TO THE EXTENT THAT THEY ARE LAWFUL IN YOUR JURISDICTION.
    CTSS MAY NOT BE HELD LIABLE FOR MORE THAN $100 UNDER ANY PROVISION OF THIS AGREEMENT.
    THIRD-PARTY INFORMATION AND LINKS TO THIRD-PARTY WEBSITES (INCLUDING THIRD-PARTY PROVIDER WEBSITES) The Applications may contain information concerning Third-Party Providers, and other third parties (sometimes referred to as “partners or advertisers”) who may offer third-party products or services compatible with the Applications.  The Applications may also provide links to third-party websites (including websites of Third-Party Providers) as a paid service to Third-Party Providers.  Such information and links are provided for your convenience.  CTSS AND ITS AFFILIATES DO NOT MONITOR, CONTROL OR ENDORSE, AND ARE NOT RESPONSIBLE OR LIABLE FOR, SUCH THIRD-PARTY PRODUCTS, SERVICES OR WEBSITES OR THE CONTENT CONTAINED THEREIN.
    <br />
    <br />
    <strong>
        RELATIONSHIPS
    </strong>
    <br />
    <br />
    No agency, partnership, joint venture, employee-employer or franchiser-franchisee relationship is intended or created by the use of the Applications, whether between you, CTSS, its affiliates or any Third-Party Provider.
    <br />
    <br />

    <strong>
        EXPORT CONTROLS
    </strong>
    <br />
    <br />
    In choosing to access the Applications, you do so on your own initiative and at your own risk, and you are responsible for complying with all local laws, rules and regulations.  You are also subject to United States export controls and are responsible for any violations of such controls, including any United States embargoes or other federal rules and regulations restricting exports.  You represent, warrant and covenant that you are not (a) located in, or a resident or a national of, any country subject to a U.S. government embargo or other restriction, or that has been designated by the U.S. government as a “terrorist supporting” country; (b) on any of the U.S. government lists of restricted end users.  We may limit the Applications’ availability, in whole or in part, to any person, geographic area or jurisdiction we choose, at any time and in our sole discretion.
    <br />
    <br />
    <strong>
        GOVERNING LAW
    </strong>
    <br />
    <br />
    You agree that these Terms shall be construed in accordance with the laws of the State of Colorado without regard to its conflict of laws provisions.  Any claim or dispute arising in connection with your use of the Applications shall be brought exclusively in the courts of the State of Colorado.  Any cause of action or claim you may have with respect to the Applications must be commenced within one (1) year after the cause of action or claim arises.  CTSS's failure to insist upon or enforce strict performance of any provision of these Terms shall not be construed as a waiver of any provision or right.  Neither the course of conduct between you and CTSS nor any trade practices shall act to modify the Terms.  CTSS may assign its rights and duties hereunder to any third party at any time without consent or notice to you.
    <br />
    <br />
    <strong>
        MISCELLANEOUS
    </strong>
    <br />
    <br />
    If any provision of these Terms is found to be unlawful, void or for any reason unenforceable, that provision will be deemed severable from these Terms and will not affect the validity and enforceability of any remaining provision.  These Terms, together with all policies referred to herein, are the entire Agreement between you and CTSS relating to the subject matter herein and supersede any and all prior or contemporaneous written or oral agreements or understandings between you and CTSS relating to such subject matter.
    <br />
    <br />
    <strong>
        APPLE-SPECIFIC TERMS AND CONDITIONS.
    </strong>
    <br />
    <br />
    In addition to your agreement with the foregoing terms and conditions, and notwithstanding anything to the contrary herein, you acknowledge and agree to the following provisions with respect to your use of the version of the App that is compatible with the iOS operating system of Apple Inc. (“Apple”).  Apple is not a party to this Agreement and does not own and is not responsible for the App.  Apple is not providing any warranty for the App, except if applicable, to refund the purchase price for it.  Apple is not responsible for maintenance or other support services for the App and shall not be responsible for any other claims, losses, liabilities, damages, costs or expenses with respect to the App, including, without limitation, any third-party product liability claims, claims that the App fails to conform to any applicable legal or regulatory requirement, claims arising under consumer protection or similar legislation, and claims with respect to intellectual property infringement.  Any inquiries or complaints relating to the use of the App, including those pertaining to intellectual property rights, must be directed to CTSS in accordance with the “QUESTIONS” section below.  The license you have been granted herein is limited to a non-transferable license to use the App on an Apple-branded product that runs Apple’s iOS operating system and is owned or controlled by you, or as otherwise permitted by the Usage Rules set forth in Apple’s App StoreSM Terms of Service.  In addition, you agree to comply with the terms of any third-party agreement that is applicable to you when using the App, such as your wireless data service agreement.  You acknowledge and agree that Apple and Apple’s subsidiaries are third-party beneficiaries of this Agreement and that, upon your acceptance of the terms and conditions of this Agreement, Apple will have the right (and will be deemed to have accepted the right) to enforce this Agreement against you as a third-party beneficiary thereof.  Notwithstanding the immediately preceding sentence, CTSS’s right to enter into, rescind or terminate any variation, waiver or settlement under these Terms is not subject to the consent of any third party.
    <br />
    <br />
    <strong>
        QUESTIONS
    </strong>
    <br />
    <br />
    You may contact CTSS at legal@trackingoutcomes.com with any questions, complaints or claims regarding the Applications
</div>