<!-- Video Library -->


<h5 class="center" >{{currentNode.Name}}</h5>


<div class="idr-content" ng-if="currentNode.HtmlContent">
	<div ng-bind-html="sanitize(currentNode.HtmlContent)"></div>
</div>

<ng-include src="'templates/navmenu.html'" ></ng-include>


