<!-- Navigation Menu -->

<div class="animatedx fadeInRight">
<!-- content HTML (if any) here -->
<div class="idr-content" ng-if="currentNode.HtmlContent">
	<div ng-bind-html="sanitize(currentNode.HtmlContent)"></div>
</div>

<ng-include src="'templates/navmenu.html'" ></ng-include>
</div>