<!-- Content Navigation Menu -->

	<div class="idr-content" ng-if="currentNode.HtmlContent">
		<div ng-bind-html="sanitize(currentNode.HtmlContent)"></div>
	</div>

	<ng-include src="'templates/navmenu.html'" ></ng-include>
