<div ng-repeat="n in currentNode.Nodes | orderBy: 'Sequence'">
	<ons-list ng-if="n.Type.TemplateId != 12">
		<ons-list-item
			modifier="chevron"
			ng-click="setCurrentCotent(n)">

			<ons-icon class="menu-icon" ng-if="n.MenuIconStyle" icon="fa-{{n.MenuIconStyle}}"></ons-icon>
			<div class="no-icon" ng-if="!n.MenuIconStyle"></div>

			{{n.Name}}
		</ons-list-item>
		<div class="submenu" ng-if="n.SubMenuText">{{n.SubMenuText}}</div>
	</ons-list>

	<div ng-if="n.Type.TemplateId == 12" class="group-menu-item"
	     style="padding-top: {{getMenuPadding(n.Properties)}}px; padding-bottom: {{getMenuPadding(n.Properties)}}px;">
		<strong>{{n.Name}}</strong> &nbsp;
	</div>
</div> 
