

<div class="inline-block" ng-repeat="value in property.Values" ng-style="{'width': getWidth(value) + '%' } ">

	<ng-include src="'templates/value' + value.PartKey + '.html'"></ng-include> 
	
</div>

