﻿.table > tbody > tr > td {
    padding: 5px;
}
.form-leaf .parent-link {
  border-bottom: 1px dotted white;
  cursor: pointer;
  font-size: 70%;
  color: blue;
  border-bottom: dotted 1px blue;
}
.form-leaf header {
  background: white;
  color: black;
  font-size: 13pt;
  position: relative;
}
.form-leaf .child-leaf {
  background-color: darkorange;
  color: black;
  padding: 10px;
  border-top: white solid 2px;
}
.form-leaf .property {
  padding: 10px;
  border: solid 1px #f0f0f0;
  margin-bottom: 2px;
}
.form-leaf .property .input-group {
  margin-top: 10px;
}
.icon-23 {
	font-size: 23px !important;
}

.icon-nocall {
	width: 23px;
}

.right-nav {
	position: absolute;
	right: 10px;
	top: 10px;
}
.right-menu li.menu-item {
  display: inline;
  list-style-type: none;
  margin: 0 auto;
}
.right-menu li.menu-item i {
  font-size: 12pt;
  padding: 2px;
  border-radius: 3px;
}
.icon-picker ul {
  width: 250px;
  height: 250px;
  overflow-y: scroll;
}
.icon-picker ul li {
  float: left;
}
.icon-picker ul li i {
  padding: 3px;
  margin: 5px;
  cursor: pointer;
  width: 15px;
  height: 15px;
  font-size: 14px;
}
.icon-picker ul li i:hover {
  color: #164dd0;
}

.callscore {
	width: 100%;
	height: 35px;
}

.tol {
	background-color: green !important;
}

.intol {
	background-color: red !important;
}

.call-box {
	border: solid 1px #ddd;
	padding: 10px;
	margin-top: 10px;
}

.comment-date {
	font-size: 14px;
	color: #444;
}
.comment-text {
	font-size: 18px;
	color: #222;
}
.bolded {
	font-weight: bold;
}
.pain-level {
	font-size: 24px;
}
.pain-score {
	display: inline;
}
.pain-green {
	color: green;
}
.pain-yellow {
	color: orange;
}
.pain-red {
	color: red;
}
.mobile {
    color: red;
    font-size: 36px;
}
.telephone {
    color: green;
    font-size: 36px;
}

#content {
  overflow: visible;
}
.relative {
  position: relative;
}
.press-me {
  color: blue;
  cursor: pointer;
}
.pointer{
    cursor: pointer;
}
.menu-button {
  background-color: white;
  border: none;
}
.angular-ui-tree-handle {
  cursor: pointer !important;
  padding: 5px 5px 5px 10px;
}
.angular-ui-tree-nodes .angular-ui-tree-nodes {
  padding-left: 5px;
}
.ul-header {
  color: white !important;
  margin: 0 auto;
  padding: 5px;
}
.gallery-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  margin-bottom: 15px;
}
.gallery-image .fade {
  height: 100%;
  width: 100%;
}
.gallery-image .fade div {
  height: 100%;
  width: 100%;
  text-align: center;
  padding-top: 75px;
  color: white;
  font-size: 33px;
}
div.gallery-image {
  height: 173px;
}
.content-editor-panel {
  min-height: 50px;
  padding-left: 10px;
  border: solid 1px #f0f0f0;
}
.content-editor-panel fieldset {
  margin: 10px;
}
.content-editor-panel .para-editor {
  margin-top: 10px;
}
.content-editor-panel .para-editor .para-body {
  border: solid 3px white;
}
.content-editor-panel .para-editor .para-body > div {
  margin: 10px;
  border: #f0f0f0 solid 1px;
  padding: 10px;
}
.content-editor-panel .para-editor .para-body > div:focus {
  margin: 10px;
  border: white dotted 1px;
  padding: 10px;
}
.editable-panel {
  display: inline-block;
  min-width: 150px;
  border-bottom: dotted 1px white;
}
.editable-panel:focus {
  border-bottom: dotted 1px white;
}
.list-bullet img {
  height: 16px;
  width: 16px;
}
.node-map .node-editable {
  font-style: italic;
  color: steelblue;
}
.node-map .node {
  list-style-type: none;
}
.node-map .supplemental-library {
  color: steelblue;
  font-weight: bold;
  font-style: italic;
}
.node-map .supplemental-library li {
  font-weight: normal;
  list-style-type: none;
}
.editable-element {
  border: dashed #ffdfdf 1px;
  position: relative;
}
.editable-element .fa-pencil {
  position: absolute;
  bottom: 4px;
  right: 4px;
}
.width-100 {
  width: 100% !important;
}
.width-95 {
  width: 95% !important;
}
.width-90 {
  width: 90% !important;
}
.width-85 {
  width: 85% !important;
}
.width-80 {
  width: 80% !important;
}
.width-75 {
  width: 75% !important;
}
.width-70 {
  width: 70% !important;
}
.width-65 {
  width: 65% !important;
}
.width-60 {
  width: 60% !important;
}
.width-55 {
  width: 55% !important;
}
.width-50 {
  width: 50% !important;
}
.width-45 {
  width: 45% !important;
}
.width-40 {
  width: 40% !important;
}
.width-35 {
  width: 35% !important;
}
.width-30 {
  width: 30% !important;
}
.width-25 {
  width: 25% !important;
}
.width-20 {
  width: 20% !important;
}
.width-15 {
  width: 15% !important;
}
.width-10 {
  width: 10% !important;
}
.width-5 {
  width: 5% !important;
}
.margin-20 {
  margin: 20px !important;
}
.margin-19 {
  margin: 19px !important;
}
.margin-18 {
  margin: 18px !important;
}
.margin-17 {
  margin: 17px !important;
}
.margin-16 {
  margin: 16px !important;
}
.margin-15 {
  margin: 15px !important;
}
.margin-14 {
  margin: 14px !important;
}
.margin-13 {
  margin: 13px !important;
}
.margin-12 {
  margin: 12px !important;
}
.margin-11 {
  margin: 11px !important;
}
.margin-10 {
  margin: 10px !important;
}
.margin-9 {
  margin: 9px !important;
}
.margin-8 {
  margin: 8px !important;
}
.margin-7 {
  margin: 7px !important;
}
.margin-6 {
  margin: 6px !important;
}
.margin-5 {
  margin: 5px !important;
}
.margin-4 {
  margin: 4px !important;
}
.margin-3 {
  margin: 3px !important;
}
.margin-2 {
  margin: 2px !important;
}
.margin-1 {
  margin: 1px !important;
}
.padding-50 {
  padding: 50px !important;
}
.padding-49 {
  padding: 49px !important;
}
.padding-48 {
  padding: 48px !important;
}
.padding-47 {
  padding: 47px !important;
}
.padding-46 {
  padding: 46px !important;
}
.padding-45 {
  padding: 45px !important;
}
.padding-44 {
  padding: 44px !important;
}
.padding-43 {
  padding: 43px !important;
}
.padding-42 {
  padding: 42px !important;
}
.padding-41 {
  padding: 41px !important;
}
.padding-40 {
  padding: 40px !important;
}
.padding-39 {
  padding: 39px !important;
}
.padding-38 {
  padding: 38px !important;
}
.padding-37 {
  padding: 37px !important;
}
.padding-36 {
  padding: 36px !important;
}
.padding-35 {
  padding: 35px !important;
}
.padding-34 {
  padding: 34px !important;
}
.padding-33 {
  padding: 33px !important;
}
.padding-32 {
  padding: 32px !important;
}
.padding-31 {
  padding: 31px !important;
}
.padding-30 {
  padding: 30px !important;
}
.padding-29 {
  padding: 29px !important;
}
.padding-28 {
  padding: 28px !important;
}
.padding-27 {
  padding: 27px !important;
}
.padding-26 {
  padding: 26px !important;
}
.padding-25 {
  padding: 25px !important;
}
.padding-24 {
  padding: 24px !important;
}
.padding-23 {
  padding: 23px !important;
}
.padding-22 {
  padding: 22px !important;
}
.padding-21 {
  padding: 21px !important;
}
.padding-20 {
  padding: 20px !important;
}
.padding-19 {
  padding: 19px !important;
}
.padding-18 {
  padding: 18px !important;
}
.padding-17 {
  padding: 17px !important;
}
.padding-16 {
  padding: 16px !important;
}
.padding-15 {
  padding: 15px !important;
}
.padding-14 {
  padding: 14px !important;
}
.padding-13 {
  padding: 13px !important;
}
.padding-12 {
  padding: 12px !important;
}
.padding-11 {
  padding: 11px !important;
}
.padding-10 {
  padding: 10px !important;
}
.padding-9 {
  padding: 9px !important;
}
.padding-8 {
  padding: 8px !important;
}
.padding-7 {
  padding: 7px !important;
}
.padding-6 {
  padding: 6px !important;
}
.padding-5 {
  padding: 5px !important;
}
.padding-4 {
  padding: 4px !important;
}
.padding-3 {
  padding: 3px !important;
}
.padding-2 {
  padding: 2px !important;
}
.padding-1 {
  padding: 1px !important;
}
.margin-left-20 {
  margin-left: 20px !important;
}
.margin-left-19 {
  margin-left: 19px !important;
}
.margin-left-18 {
  margin-left: 18px !important;
}
.margin-left-17 {
  margin-left: 17px !important;
}
.margin-left-16 {
  margin-left: 16px !important;
}
.margin-left-15 {
  margin-left: 15px !important;
}
.margin-left-14 {
  margin-left: 14px !important;
}
.margin-left-13 {
  margin-left: 13px !important;
}
.margin-left-12 {
  margin-left: 12px !important;
}
.margin-left-11 {
  margin-left: 11px !important;
}
.margin-left-10 {
  margin-left: 10px !important;
}
.margin-left-9 {
  margin-left: 9px !important;
}
.margin-left-8 {
  margin-left: 8px !important;
}
.margin-left-7 {
  margin-left: 7px !important;
}
.margin-left-6 {
  margin-left: 6px !important;
}
.margin-left-5 {
  margin-left: 5px !important;
}
.margin-left-4 {
  margin-left: 4px !important;
}
.margin-left-3 {
  margin-left: 3px !important;
}
.margin-left-2 {
  margin-left: 2px !important;
}
.margin-left-1 {
  margin-left: 1px !important;
}
.margin-right-20 {
  margin-right: 20px !important;
}
.margin-right-19 {
  margin-right: 19px !important;
}
.margin-right-18 {
  margin-right: 18px !important;
}
.margin-right-17 {
  margin-right: 17px !important;
}
.margin-right-16 {
  margin-right: 16px !important;
}
.margin-right-15 {
  margin-right: 15px !important;
}
.margin-right-14 {
  margin-right: 14px !important;
}
.margin-right-13 {
  margin-right: 13px !important;
}
.margin-right-12 {
  margin-right: 12px !important;
}
.margin-right-11 {
  margin-right: 11px !important;
}
.margin-right-10 {
  margin-right: 10px !important;
}
.margin-right-9 {
  margin-right: 9px !important;
}
.margin-right-8 {
  margin-right: 8px !important;
}
.margin-right-7 {
  margin-right: 7px !important;
}
.margin-right-6 {
  margin-right: 6px !important;
}
.margin-right-5 {
  margin-right: 5px !important;
}
.margin-right-4 {
  margin-right: 4px !important;
}
.margin-right-3 {
  margin-right: 3px !important;
}
.margin-right-2 {
  margin-right: 2px !important;
}
.margin-right-1 {
  margin-right: 1px !important;
}
.margin-top-20 {
  margin-top: 20px !important;
}
.margin-top-19 {
  margin-top: 19px !important;
}
.margin-top-18 {
  margin-top: 18px !important;
}
.margin-top-17 {
  margin-top: 17px !important;
}
.margin-top-16 {
  margin-top: 16px !important;
}
.margin-top-15 {
  margin-top: 15px !important;
}
.margin-top-14 {
  margin-top: 14px !important;
}
.margin-top-13 {
  margin-top: 13px !important;
}
.margin-top-12 {
  margin-top: 12px !important;
}
.margin-top-11 {
  margin-top: 11px !important;
}
.margin-top-10 {
  margin-top: 10px !important;
}
.margin-top-9 {
  margin-top: 9px !important;
}
.margin-top-8 {
  margin-top: 8px !important;
}
.margin-top-7 {
  margin-top: 7px !important;
}
.margin-top-6 {
  margin-top: 6px !important;
}
.margin-top-5 {
  margin-top: 5px !important;
}
.margin-top-4 {
  margin-top: 4px !important;
}
.margin-top-3 {
  margin-top: 3px !important;
}
.margin-top-2 {
  margin-top: 2px !important;
}
.margin-top-1 {
  margin-top: 1px !important;
}
.margin-bottom-20 {
  margin-bottom: 20px !important;
}
.margin-bottom-19 {
  margin-bottom: 19px !important;
}
.margin-bottom-18 {
  margin-bottom: 18px !important;
}
.margin-bottom-17 {
  margin-bottom: 17px !important;
}
.margin-bottom-16 {
  margin-bottom: 16px !important;
}
.margin-bottom-15 {
  margin-bottom: 15px !important;
}
.margin-bottom-14 {
  margin-bottom: 14px !important;
}
.margin-bottom-13 {
  margin-bottom: 13px !important;
}
.margin-bottom-12 {
  margin-bottom: 12px !important;
}
.margin-bottom-11 {
  margin-bottom: 11px !important;
}
.margin-bottom-10 {
  margin-bottom: 10px !important;
}
.margin-bottom-9 {
  margin-bottom: 9px !important;
}
.margin-bottom-8 {
  margin-bottom: 8px !important;
}
.margin-bottom-7 {
  margin-bottom: 7px !important;
}
.margin-bottom-6 {
  margin-bottom: 6px !important;
}
.margin-bottom-5 {
  margin-bottom: 5px !important;
}
.margin-bottom-4 {
  margin-bottom: 4px !important;
}
.margin-bottom-3 {
  margin-bottom: 3px !important;
}
.margin-bottom-2 {
  margin-bottom: 2px !important;
}
.margin-bottom-1 {
  margin-bottom: 1px !important;
}
.padding-left-20 {
  padding-left: 20px !important;
}
.padding-left-19 {
  padding-left: 19px !important;
}
.padding-left-18 {
  padding-left: 18px !important;
}
.padding-left-17 {
  padding-left: 17px !important;
}
.padding-left-16 {
  padding-left: 16px !important;
}
.padding-left-15 {
  padding-left: 15px !important;
}
.padding-left-14 {
  padding-left: 14px !important;
}
.padding-left-13 {
  padding-left: 13px !important;
}
.padding-left-12 {
  padding-left: 12px !important;
}
.padding-left-11 {
  padding-left: 11px !important;
}
.padding-left-10 {
  padding-left: 10px !important;
}
.padding-left-9 {
  padding-left: 9px !important;
}
.padding-left-8 {
  padding-left: 8px !important;
}
.padding-left-7 {
  padding-left: 7px !important;
}
.padding-left-6 {
  padding-left: 6px !important;
}
.padding-left-5 {
  padding-left: 5px !important;
}
.padding-left-4 {
  padding-left: 4px !important;
}
.padding-left-3 {
  padding-left: 3px !important;
}
.padding-left-2 {
  padding-left: 2px !important;
}
.padding-left-1 {
  padding-left: 1px !important;
}
.padding-right-20 {
  padding-right: 20px !important;
}
.padding-right-19 {
  padding-right: 19px !important;
}
.padding-right-18 {
  padding-right: 18px !important;
}
.padding-right-17 {
  padding-right: 17px !important;
}
.padding-right-16 {
  padding-right: 16px !important;
}
.padding-right-15 {
  padding-right: 15px !important;
}
.padding-right-14 {
  padding-right: 14px !important;
}
.padding-right-13 {
  padding-right: 13px !important;
}
.padding-right-12 {
  padding-right: 12px !important;
}
.padding-right-11 {
  padding-right: 11px !important;
}
.padding-right-10 {
  padding-right: 10px !important;
}
.padding-right-9 {
  padding-right: 9px !important;
}
.padding-right-8 {
  padding-right: 8px !important;
}
.padding-right-7 {
  padding-right: 7px !important;
}
.padding-right-6 {
  padding-right: 6px !important;
}
.padding-right-5 {
  padding-right: 5px !important;
}
.padding-right-4 {
  padding-right: 4px !important;
}
.padding-right-3 {
  padding-right: 3px !important;
}
.padding-right-2 {
  padding-right: 2px !important;
}
.padding-right-1 {
  padding-right: 1px !important;
}
.padding-top-20 {
  padding-top: 20px !important;
}
.padding-top-19 {
  padding-top: 19px !important;
}
.padding-top-18 {
  padding-top: 18px !important;
}
.padding-top-17 {
  padding-top: 17px !important;
}
.padding-top-16 {
  padding-top: 16px !important;
}
.padding-top-15 {
  padding-top: 15px !important;
}
.padding-top-14 {
  padding-top: 14px !important;
}
.padding-top-13 {
  padding-top: 13px !important;
}
.padding-top-12 {
  padding-top: 12px !important;
}
.padding-top-11 {
  padding-top: 11px !important;
}
.padding-top-10 {
  padding-top: 10px !important;
}
.padding-top-9 {
  padding-top: 9px !important;
}
.padding-top-8 {
  padding-top: 8px !important;
}
.padding-top-7 {
  padding-top: 7px !important;
}
.padding-top-6 {
  padding-top: 6px !important;
}
.padding-top-5 {
  padding-top: 5px !important;
}
.padding-top-4 {
  padding-top: 4px !important;
}
.padding-top-3 {
  padding-top: 3px !important;
}
.padding-top-2 {
  padding-top: 2px !important;
}
.padding-top-1 {
  padding-top: 1px !important;
}
.padding-bottom-20 {
  padding-bottom: 20px !important;
}
.padding-bottom-19 {
  padding-bottom: 19px !important;
}
.padding-bottom-18 {
  padding-bottom: 18px !important;
}
.padding-bottom-17 {
  padding-bottom: 17px !important;
}
.padding-bottom-16 {
  padding-bottom: 16px !important;
}
.padding-bottom-15 {
  padding-bottom: 15px !important;
}
.padding-bottom-14 {
  padding-bottom: 14px !important;
}
.padding-bottom-13 {
  padding-bottom: 13px !important;
}
.padding-bottom-12 {
  padding-bottom: 12px !important;
}
.padding-bottom-11 {
  padding-bottom: 11px !important;
}
.padding-bottom-10 {
  padding-bottom: 10px !important;
}
.padding-bottom-9 {
  padding-bottom: 9px !important;
}
.padding-bottom-8 {
  padding-bottom: 8px !important;
}
.padding-bottom-7 {
  padding-bottom: 7px !important;
}
.padding-bottom-6 {
  padding-bottom: 6px !important;
}
.padding-bottom-5 {
  padding-bottom: 5px !important;
}
.padding-bottom-4 {
  padding-bottom: 4px !important;
}
.padding-bottom-3 {
  padding-bottom: 3px !important;
}
.padding-bottom-2 {
  padding-bottom: 2px !important;
}
.padding-bottom-1 {
  padding-bottom: 1px !important;
}
.min-height-750 {
  min-height: 750px !important;
}
.min-height-725 {
  min-height: 725px !important;
}
.min-height-700 {
  min-height: 700px !important;
}
.min-height-675 {
  min-height: 675px !important;
}
.min-height-650 {
  min-height: 650px !important;
}
.min-height-625 {
  min-height: 625px !important;
}
.min-height-600 {
  min-height: 600px !important;
}
.min-height-575 {
  min-height: 575px !important;
}
.min-height-550 {
  min-height: 550px !important;
}
.min-height-525 {
  min-height: 525px !important;
}
.min-height-500 {
  min-height: 500px !important;
}
.min-height-475 {
  min-height: 475px !important;
}
.min-height-450 {
  min-height: 450px !important;
}
.min-height-425 {
  min-height: 425px !important;
}
.min-height-400 {
  min-height: 400px !important;
}
.min-height-375 {
  min-height: 375px !important;
}
.min-height-350 {
  min-height: 350px !important;
}
.min-height-325 {
  min-height: 325px !important;
}
.min-height-300 {
  min-height: 300px !important;
}
.min-height-275 {
  min-height: 275px !important;
}
.min-height-250 {
  min-height: 250px !important;
}
.min-height-225 {
  min-height: 225px !important;
}
.min-height-200 {
  min-height: 200px !important;
}
.min-height-175 {
  min-height: 175px !important;
}
.min-height-150 {
  min-height: 150px !important;
}
.min-height-125 {
  min-height: 125px !important;
}
.min-height-100 {
  min-height: 100px !important;
}
.min-height-75 {
  min-height: 75px !important;
}
.min-height-50 {
  min-height: 50px !important;
}
.min-height-25 {
  min-height: 25px !important;
}
.height-100 {
  height: 100px !important;
}
.height-95 {
  height: 95px !important;
}
.height-90 {
  height: 90px !important;
}
.height-85 {
  height: 85px !important;
}
.height-80 {
  height: 80px !important;
}
.height-75 {
  height: 75px !important;
}
.height-70 {
  height: 70px !important;
}
.height-65 {
  height: 65px !important;
}
.height-60 {
  height: 60px !important;
}
.height-55 {
  height: 55px !important;
}
.height-50 {
  height: 50px !important;
}
.height-45 {
  height: 45px !important;
}
.height-40 {
  height: 40px !important;
}
.height-35 {
  height: 35px !important;
}
.height-30 {
  height: 30px !important;
}
.height-25 {
  height: 25px !important;
}
.height-20 {
  height: 20px !important;
}
.height-15 {
  height: 15px !important;
}
.height-10 {
  height: 10px !important;
}
.height-5 {
  height: 5px !important;
}
.dropzone {
  border: 2px dashed #0087F7 !important;
  border-radius: 5px;
  background: white;
}
.dropzone .dz-message {
  font-weight: 400;
}
.dropzone .dz-message .note {
  font-size: 0.8em;
  font-weight: 200;
  display: block;
  margin-top: 1.4rem;
}
.logo-image {
  border-radius: 3px;
  box-shadow: 1px 1px 1px black;
}
.ta-center {
  text-align: center;
}
.ta-left {
  text-align: left;
}
.ta-right {
  text-align: right;
}
.header-tab {
  height: 10px !important;
  padding: 0 !important;
  margin: 0;
  background: #5b8fbe !important;
}
.italic {
  font-style: italic;
}
.provisional-account {
  color: red !important;
  font-size: 8pt;
}
.pin-bottom {
  position: absolute;
  bottom: 5px;
}
.image-library {
  list-style-type: none;
}
.image-library li {
  cursor: pointer;
  list-style-type: none;
  margin: 5px;
  background-color: #eee;
  width: auto;
  display: inline-block;
}
.image-library li div {
  padding: 5px;
}
.image-library li:hover,
.image-library li.imageselected {
  background-color: #afc9e0;
}
.tile-list {
  list-style-type: none;
}
.tile-list li {
  list-style-type: none;
  margin: 10px;
  border: solid 1px #afc9e0;
  background-color: white;
  font-size: 10pt;
  width: auto;
  display: block;
}
.tile-list li div {
  padding: 8px 20px 8px 20px;
}
.tile {
  padding: 8px 20px 8px 20px;
  list-style-type: none;
  margin: 10px;
  border: solid 1px #afc9e0;
  background-color: white;
  font-size: 10pt;
  width: auto;
  display: block;
}
.wizard > .content > .body {
  height: auto;
  position: relative;
}
#message-box {
  position: fixed;
  z-index: 99999;
  top: 0px;
  right: 5px;
}
.abbreviate {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.tile-row {
  padding: 20px;
  margin: 5px;
  width: auto;
  position: relative;
  border-bottom: solid 1px #e1e1e1;
}
.tile-row .sub-title {
  font-size: 8pt;
}
.tile-row .main-title {
  font-weight: bold;
  margin-bottom: 10px;
  color: steelblue;
}
.tile-row .date-box {
  position: absolute;
  top: 20px;
  right: 20px;
}
.tile-row .left {
  float: left;
}
.tile-row .right {
  float: right;
  text-align: right;
}
.margin-0 {
  margin: 0 auto;
}
.clear {
  clear: both;
}
.copiable span {
  display: inline-block;
  padding: 2px;
  border-bottom: 1px dotted red;
}
.cursor {
  cursor: pointer;
}
input.ng-invalid, select.ng-invalid {
   border:solid 1px #ff8282 !important
}
.patient-wizard h4 {
  font-size: 10pt;
}

.top-node {
  padding-left: 1px;
}
.current-node {
  font-weight: bold;
}
.panel-editor {
  border: dashed 1px;
  width: auto;
  min-height: 30px;
}
.panel-editor .panel {
  cursor: pointer;
  background: #ddd;
  color: black;
  min-height: 50px;
  position: relative;
  padding: 4px 2px;
}
.panel-editor .panel .top-panel {
  position: absolute;
  bottom: 1px;
  right: 3px;
  color: black;
  cursor: pointer;
}
.panel-editor .panel .panel-title {
  background: #ddd;
  padding: 4px;
  margin: 0px 0px 4px 0px;
  color: #000;
  font-weight: bold;
  border: solid 1px #bbb;
}
.panel-editor .panel .panel-content {
  width: auto;
  background: white;
}
.panel-editor .panel .column-settings {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.panel-editor .panel.selected {
  background: #cadded;
}
.panel-editor .break-panel {
  cursor: pointer;
  height: 5px;
  background: black;
  margin: 3px;
}
.panel-editor .break-panel.selected {
  border: solid 2px #888;
}
.panel-editor-toolbar > ul,
.sub-toolbar > ul {
  list-style-type: none;
  padding: 0px;
}
.panel-editor-toolbar > ul > li,
.sub-toolbar > ul > li {
  display: inline;
}
.property-grid table th {
  background-color: white;
  color: black;
  font-size: 8pt;
  padding: 2px;
}
.property-grid table td {
  padding: 2px;
}
.property-grid table td input {
  font-size: 8pt;
}
.div-editable {
  min-height: 15px;
  min-width: 15px;
  border: solid 1px black;
  padding: 5px;
  font-size: 10pt;
}
.list-item {
  border: solid 1px #888;
  margin: 2px 0 2px 0;
  width: auto;
  padding: 4px;
}
.fa.blue {
  color: blue;
  text-shadow: 1px 1px 3px #888;
}
label {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
label.ui-checkbox {
  display: inline !important;
}
.library-node i {
  font-size: 10pt !important;
  color: black;
}
