﻿@blue: white;



@fontcolor: black;
@orange: darkorange;

.table > tbody > tr > td {
    padding: 5px;
}

.form-leaf {
    .parent-link {
        border-bottom: 1px dotted white;
        cursor: pointer;
        font-size: 70%;
        color: blue;
        border-bottom: dotted 1px blue;
    }

    header {
        background: @blue;
        color: @fontcolor;
        font-size: 13pt;
        position: relative;

        i.glyphicon-plus {
        }
    }

    .child-leaf {
        background-color: @orange;
        color: @fontcolor;
        padding: 10px;
        border-top: white solid 2px;

        i.glyphicon-leaf {
        }
    }

    .property {
        padding: 10px;
        border: solid 1px #f0f0f0;
        margin-bottom: 2px;

        .input-group {
            margin-top: 10px;
        }
    }
}

.right-nav {
    position: absolute;
    right: 10px;
    top: 10px;
}

.right-menu {
    li.menu-item {
        display: inline;
        list-style-type: none;
        margin: 0 auto;

        i {
            font-size: 12pt;
            padding: 2px;
            border-radius: 3px;
        }
    }
}

.icon-picker {
    ul {
        width: 250px;
        height: 250px;
        overflow-y: scroll;

        li {
            float: left;

            i {
                padding: 3px;
                margin: 5px;
                cursor: pointer;
                width: 15px;
                height: 15px;
                font-size: 14px;

                &:hover {
                    color: #164dd0;
                }
            }
        }
    }
}

#content {
    overflow: visible;
}

.relative {
    position: relative;
}

.press-me {
    color: blue;
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.menu-button {
    background-color: @blue;
    border: none;
}

.angular-ui-tree-handle {
    cursor: pointer !important;
    padding: 5px 5px 5px 10px;
}

.angular-ui-tree-nodes .angular-ui-tree-nodes {
    padding-left: 5px;
}

.ul-header {
    color: @blue !important;
    margin: 0 auto;
    padding: 5px;
}

.gallery-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    margin-bottom: 15px;

    .fade {
        height: 100%;
        width: 100%;

        div {
            height: 100%;
            width: 100%;
            text-align: center;
            padding-top: 75px;
            color: white;
            font-size: 33px;
        }
    }
}

div.gallery-image {
    height: 173px;
}


.content-editor-panel {
    min-height: 50px;
    padding-left: 10px;
    border: solid 1px #f0f0f0;

    fieldset {
        margin: 10px;
    }

    .para-editor {
        margin-top: 10px;

        .para-body {
            border: solid 3px @blue;
        }

        .para-body > div {
            margin: 10px;
            border: #f0f0f0 solid 1px;
            padding: 10px;
        }

        .para-body > div:focus {
            margin: 10px;
            border: @blue dotted 1px;
            padding: 10px;
        }
    }
}

.editable-panel {
    display: inline-block;
    min-width: 150px;
    border-bottom: dotted 1px @blue;
}

.editable-panel:focus {
    border-bottom: dotted 1px @blue;
}

.list-bullet img {
    height: 16px;
    width: 16px;
}

.node-map {
    .node-editable {
        font-style: italic;
        color: steelblue;
    }

    .node {
        list-style-type: none;
    }

    .supplemental-library {
        color: steelblue;
        font-weight: bold;
        font-style: italic;

        li {
            font-weight: normal;
            list-style-type: none;
        }
    }
}

.editable-element {
    border: dashed rgb(255, 223, 223) 1px;
    position: relative;

    .fa-pencil {
        position: absolute;
        bottom: 4px;
        right: 4px;
    }
}

.shlebFn(@name, @measure, @start: 100, @decr: 5) when (@start > 0) {
    @x: ~'@{start}@{measure}';
    @n: ~'@{name}-@{start}';

    .@{n} {
        @{name}: @x !important;
    }

    .shlebFn(@name, @measure, @start - @decr, @decr);
}

.shlebFn(width, '%');
.shlebFn(margin, px, 20, 1);
.shlebFn(padding, px, 50, 1);
.shlebFn(margin-left, px, 20, 1);
.shlebFn(margin-right, px, 20, 1);
.shlebFn(margin-top, px, 20, 1);
.shlebFn(margin-bottom, px, 20, 1);
.shlebFn(padding-left, px, 20, 1);
.shlebFn(padding-right, px, 20, 1);
.shlebFn(padding-top, px, 20, 1);
.shlebFn(padding-bottom, px, 20, 1);
.shlebFn(min-height, px, 750, 25);
.shlebFn(height, px, 100, 5);





.dropzone {
    border: 2px dashed #0087F7 !important;
    border-radius: 5px;
    background: white;
}

.dropzone .dz-message {
    font-weight: 400;
}

.dropzone .dz-message .note {
    font-size: 0.8em;
    font-weight: 200;
    display: block;
    margin-top: 1.4rem;
}

.logo-image {
    border-radius: 3px;
    box-shadow: 1px 1px 1px black;
}


.align(@name) {
    .ta-@{name} {
        text-align: @name;
    }
}

.align(center);
.align(left);
.align(right);

.header-tab {
    height: 10px !important;
    padding: 0 !important;
    margin: 0;
    background: rgba(91, 143, 190, 1) !important;
}


.italic {
    font-style: italic;
}

.provisional-account {
    color: red !important;
    font-size: 8pt;
}

.pin-bottom {
    position: absolute;
    bottom: 5px;
}

.image-library {
    list-style-type: none;

    li {
        div {
            padding: 5px;
        }

        cursor: pointer;
        list-style-type: none;
        margin: 5px;
        background-color: #eee;
        width: auto;
        display: inline-block;

        &:hover, &.imageselected {
            background-color: rgb(175, 201, 224);
        }
    }
}

.tile-list {
    list-style-type: none;

    li {
        div {
            padding: 8px 20px 8px 20px;
        }

        list-style-type: none;
        margin: 10px;
        border: solid 1px rgb(175, 201, 224);
        background-color: white;
        font-size: 10pt;
        width: auto;
        display: block;
    }
}

.tile {
    padding: 8px 20px 8px 20px;
    list-style-type: none;
    margin: 10px;
    border: solid 1px rgb(175, 201, 224);
    background-color: white;
    font-size: 10pt;
    width: auto;
    display: block;
}

.wizard > .content > .body {
    height: auto;
    position: relative;
}

#message-box {
    position: fixed;
    z-index: 99999;
    top: 0px;
    right: 5px;
}

.abbreviate {
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.tile-row {
    padding: 20px;
    margin: 5px;
    width: auto;
    position: relative;


    .sub-title {
        font-size: 8pt;
    }


    .main-title {
        font-weight: bold;
        margin-bottom: 10px;
        color: steelblue;
    }

    .date-box {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .left {
        float: left;
    }

    .right {
        float: right;
        text-align: right;
    }

    border-bottom: solid 1px #e1e1e1;
}

.margin-0 {
    margin: 0 auto;
}

.clear {
    clear: both;
}

.copiable {
    span {
        display: inline-block;
        padding: 2px;
        border-bottom: 1px dotted red;
    }
}

.cursor {
    cursor: pointer;
}

input.ng-invalid, select.ng-invalid {
    border: solid 1px #ff8282 !important
}

.patient-wizard {
    h4 {
        font-size: 10pt;
    }
}

/*.cms {
	ul {
		list-style-type: none;
		padding-left: 10px;
		li {
			padding: 5px 0 5px 0;

			i.fa {
				font-size: 8pt;
				cursor: pointer;
			}
			span {
				cursor: pointer;
				font-size: 10pt;
				color: blue;
			}
		}
	}
}*/

.top-node {
    padding-left: 1px;
}

.current-node {
    font-weight: bold;
    //border-bottom: dotted 1px;
}


.panel-editor {
    border: dashed 1px;
    //padding: 10px;
    width: auto;
    min-height: 30px;

    .panel {
        .top-panel {
            position: absolute;
            bottom: 1px;
            right: 3px;
            color: black;
            cursor: pointer;
        }

        cursor: pointer;

        .panel-title {
            background: #ddd;
            padding: 4px;
            margin: 0px 0px 4px 0px;
            color: #000;
            font-weight: bold;
            border: solid 1px #bbb;
        }

        background: #ddd;
        color: black;

        .panel-content {
            width: auto;
            background: white;
        }

        min-height: 50px;
        position: relative;
        padding: 4px 2px;

        .column-settings {
            position: absolute;
            right: 10px;
            bottom: 10px;
        }
    }

    .panel.selected {
        background: lighten(#7FABD2, 20%);
    }

    .break-panel {
        cursor: pointer;
        height: 5px;
        background: black;
        margin: 3px;
    }

    .break-panel.selected {
        border: solid 2px #888;
    }
}

.panel-editor-toolbar, .sub-toolbar {
    > ul {
        list-style-type: none;
        padding: 0px;

        > li {
            display: inline;
        }
    }
}


.property-grid {
    table {
        th {
            background-color: white;
            color: black;
            font-size: 8pt;
            padding: 2px;
        }

        td {
            padding: 2px;

            input {
                font-size: 8pt;
            }
        }
    }
}

.div-editable {
    min-height: 15px;
    min-width: 15px;
    border: solid 1px black;
    padding: 5px;
    font-size: 10pt;
}



.list-item {
    border: solid 1px #888;
    margin: 2px 0 2px 0;
    width: auto;
    padding: 4px;
}

.fa.blue {
    color: blue;
    text-shadow: 1px 1px 3px #888;
}

label {
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

label.ui-checkbox {
    display: inline !important;
}

.library-node {
    i {
        font-size: 10pt !important;
        color: black;
    }
}

.fixed-header {
    position: relative;
    height: 100px;
    overflow: hidden;
    border-bottom: 1px solid rgb(221,221,221);
}