﻿.main-logo {
    width: 300px;
}

.dashboard {
    font-size: 18px;
    cursor: pointer;
}

.dashboard-error {
    color: red;
}

.dashboard-success {
    color: green;
}

.dashboard-caution {
    color: #ffd700;
}

.dashboard-warn {
    color: #ff8c00;
}

.dashboard-container {
    border: solid 1px #ccc;
    padding: 5px;
}

.img-max {
    max-width: 100%;
}

.slider {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

    .slider.slider-horizontal {
        width: 100% !important;
        height: 4px;
    }

        .slider.slider-horizontal .slider-track {
            height: 2px;
            width: 100%;
            margin-top: -1px;
            top: 50%;
            left: 0;
        }

        .slider.slider-horizontal .slider-selection {
            height: 100%;
            top: 0;
            bottom: 0;
        }

        .slider.slider-horizontal .slider-handle {
            margin-left: -15px;
            margin-top: -15px;
        }

            .slider.slider-horizontal .slider-handle.triangle {
                border-width: 0 2px 2px 2px;
                width: 0;
                height: 0;
                border-bottom-color: #0480be;
                margin-top: 0;
            }

    .slider.slider-vertical {
        height: 210px;
        width: 4px;
    }

        .slider.slider-vertical .slider-track {
            width: 2px;
            height: 100%;
            margin-left: -1px;
            left: 50%;
            top: 0;
        }

        .slider.slider-vertical .slider-selection {
            width: 100%;
            left: 0;
            top: 0;
            bottom: 0;
        }

        .slider.slider-vertical .slider-handle {
            margin-left: -15px;
            margin-top: -15px;
        }

            .slider.slider-vertical .slider-handle.triangle {
                border-width: 2px 0 2px 2px;
                width: 1px;
                height: 1px;
                border-left-color: #0480be;
                margin-left: 0;
            }

    .slider.slider-disabled .slider-handle {
        pointer-events: none;
        background-color: #f5f5f5;
    }

    .slider.slider-disabled .slider-track {
        opacity: 0.65;
        cursor: not-allowed;
    }

    .slider input {
        display: none;
    }

    .slider .tooltip-inner {
        white-space: nowrap;
    }

.slider-track {
    position: absolute;
    cursor: pointer;
    background-color: #eee;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.slider-selection {
    position: absolute;
    background-color: #0071b4;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 2px;
}

.slider-handle {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #fff;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

    .slider-handle.round {
        border-radius: 50%;
    }

    .slider-handle.triangle {
        background: transparent none;
    }

table.responsive {
    border: 1px solid #ddd;
}

@media only screen and (max-width: 767px) {
    table.responsive {
        margin-bottom: 0;
    }

    .pinned {
        position: absolute;
        left: 0;
        top: 0;
        background: #fff;
        width: 35%;
        overflow: hidden;
        overflow-x: scroll;
        border-right: 1px solid #ccc;
        border-left: 1px solid #ccc;
    }

        .pinned table {
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            border-right: none;
            border-left: none;
            width: 100%;
        }

            .pinned table th, .pinned table td {
                white-space: nowrap;
            }

        .pinned td:last-child {
            border-bottom: 0;
        }

    div.table-wrapper {
        position: relative;
        margin-bottom: 20px;
        overflow: hidden;
        border-right: 1px solid #ccc;
    }

        div.table-wrapper div.scrollable {
            margin-left: 35%;
        }

        div.table-wrapper div.scrollable {
            overflow: scroll;
            overflow-y: hidden;
        }

    table.responsive td, table.responsive th {
        position: relative;
        white-space: nowrap;
        overflow: hidden;
    }

        table.responsive th:first-child, table.responsive td:first-child, table.responsive td:first-child, table.responsive.pinned td {
            display: none;
        }
}

.easypiechart {
    display: inline-block;
    position: relative;
    width: 180px;
    height: 180px;
    text-align: center;
    margin: 5px auto;
}

    .easypiechart canvas {
        position: absolute;
        top: 0;
        left: 0;
    }

    .easypiechart .pie-percent {
        display: inline-block;
        line-height: 180px;
        font-size: 40px;
        font-weight: 300;
        color: #333;
    }

        .easypiechart .pie-percent:after {
            content: '%';
            margin-left: 0.1em;
            font-size: 0.6em;
        }

    .easypiechart.easypiechart-sm {
        width: 120px;
        height: 120px;
    }

        .easypiechart.easypiechart-sm .pie-percent {
            font-size: 28px;
            line-height: 120px;
        }

.toast-title {
    font-weight: bold;
}

.toast-message {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

    .toast-message a, .toast-message label {
        color: #ffffff;
    }

        .toast-message a:hover {
            color: #cccccc;
            text-decoration: none;
        }

.toast-close-button {
    position: relative;
    right: -0.3em;
    top: -0.3em;
    float: right;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    -webkit-text-shadow: 0 1px 0 #ffffff;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.8;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: alpha(opacity=80);
}

    .toast-close-button:hover, .toast-close-button:focus {
        color: #000000;
        text-decoration: none;
        cursor: pointer;
        opacity: 0.4;
        -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
        filter: alpha(opacity=40);
    }

/*Additional properties for button version
iOS requires the button element instead of an anchor tag.
If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.toast-top-full-width {
    top: 0;
    right: 0;
    width: 100%;
}

.toast-bottom-full-width {
    bottom: 0;
    right: 0;
    width: 100%;
}

.toast-top-left {
    top: 12px;
    left: 12px;
}

.toast-top-right {
    top: 12px;
    right: 12px;
}

.toast-bottom-right {
    right: 12px;
    bottom: 12px;
}

.toast-bottom-left {
    bottom: 12px;
    left: 12px;
}

#toast-container {
    position: fixed;
    z-index: 999999;
    /*overrides*/
}

    #toast-container * {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    #toast-container > div {
        margin: 0 0 6px;
        padding: 15px 15px 15px 50px;
        width: 300px;
        border-radius: 2px;
        background-position: 15px center;
        background-repeat: no-repeat;
        -moz-box-shadow: 0 0 12px #999999;
        -webkit-box-shadow: 0 0 12px #999999;
        box-shadow: 0 0 12px #999999;
        color: #ffffff;
        opacity: 0.8;
        -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
        filter: alpha(opacity=80);
    }

    #toast-container > :hover {
        -moz-box-shadow: 0 0 12px #000000;
        -webkit-box-shadow: 0 0 12px #000000;
        box-shadow: 0 0 12px #000000;
        opacity: 1;
        -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        filter: alpha(opacity=100);
        cursor: pointer;
    }

    #toast-container > .toast-info {
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=") !important;
    }

    #toast-container > .toast-error {
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=") !important;
    }

    #toast-container > .toast-success {
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==") !important;
    }

    #toast-container > .toast-warning {
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=") !important;
    }

    #toast-container.toast-top-full-width > div, #toast-container.toast-bottom-full-width > div {
        width: 96%;
        margin: auto;
    }

.toast {
    background-color: #333;
}

.toast-success {
    background-color: #8eaf72;
}

.toast-error {
    background-color: #b04751;
}

.toast-info {
    background-color: #6197c7;
}

.toast-warning {
    background-color: #e5bb68;
}

/*Responsive Design*/
@media all and (max-width: 240px) {
    #toast-container > div {
        padding: 8px 8px 8px 50px;
        width: 11em;
    }

    #toast-container .toast-close-button {
        right: -0.2em;
        top: -0.2em;
    }
}

@media all and (min-width: 241px) and (max-width: 480px) {
    #toast-container > div {
        padding: 8px 8px 8px 50px;
        width: 18em;
    }

    #toast-container .toast-close-button {
        right: -0.2em;
        top: -0.2em;
    }
}

@media all and (min-width: 481px) and (max-width: 768px) {
    #toast-container > div {
        padding: 15px 15px 15px 50px;
        width: 25em;
    }
}

.jqstooltip {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.wizard, .tabcontrol {
    display: block;
    width: 100%;
    overflow: hidden;
}

    .wizard a, .tabcontrol a {
        outline: 0;
    }

    .wizard ul, .tabcontrol ul {
        list-style: none !important;
        padding: 0;
        margin: 0;
    }

        .wizard ul > li, .tabcontrol ul > li {
            display: block;
            padding: 0;
        }

    /* Accessibility */
    .wizard > .steps .current-info, .tabcontrol > .steps .current-info {
        position: absolute;
        left: -999em;
    }

    .wizard > .content > .title, .tabcontrol > .content > .title {
        position: absolute;
        left: -999em;
    }

    /*
Wizard
*/
    .wizard > .steps {
        position: relative;
        display: block;
        width: 100%;
    }

        .wizard > .steps > ul > li {
            width: 100%;
        }

@media (min-width: 600px) {
    .wizard > .steps > ul > li {
        width: 25%;
    }
}

.wizard.vertical > .steps {
    display: block;
    width: 100%;
}

@media (min-width: 600px) {
    .wizard.vertical > .steps {
        display: inline;
        float: left;
        width: 30%;
    }
}

.wizard.vertical > .steps > ul > li {
    float: none;
    width: 100%;
}

.wizard.vertical > .content {
    width: 100%;
}

@media (min-width: 600px) {
    .wizard.vertical > .content {
        display: inline;
        float: left;
        margin: 0 2.5% 0.5em 2.5%;
        width: 65%;
    }
}

.wizard > .steps .number {
    font-size: 1.429em;
}

.wizard > .steps > ul > li, .wizard > .actions > ul > li {
    float: left;
}

.wizard > .steps a, .wizard > .steps a:hover, .wizard > .steps a:active {
    display: block;
    width: auto;
    margin: 0 0.5em 0.5em;
    padding: 1em 1em;
    text-decoration: none;
    border-radius: 2em;
}

.wizard > .steps .disabled a, .wizard > .steps .disabled a:hover, .wizard > .steps .disabled a:active {
    background: #eee;
    color: #aaa;
    cursor: default;
}

.wizard > .steps .current a, .wizard > .steps .current a:hover, .wizard > .steps .current a:active {
    background: #0071b4;
    color: #fff;
    cursor: default;
}

.wizard > .steps .done a, .wizard > .steps .done a:hover, .wizard > .steps .done a:active {
    background: #0071b4;
    color: #fff;
    opacity: 0.6;
}

.wizard > .steps .error a, .wizard > .steps .error a:hover, .wizard > .steps .error a:active {
    background: #BF616A;
    color: #fff;
}

.wizard > .content {
    background-color: #eee;
    display: block;
    margin: 0.5em;
    min-height: 25em;
    overflow: hidden;
    position: relative;
    width: auto;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

    .wizard > .content > .body {
        float: left;
        position: absolute;
        width: 95%;
        height: 95%;
        padding: 2.5%;
    }

        .wizard > .content > .body ul {
            list-style: disc !important;
        }

            .wizard > .content > .body ul > li {
                display: list-item;
            }

        .wizard > .content > .body > iframe {
            border: 0 none;
            width: 100%;
            height: 100%;
        }

        .wizard > .content > .body input {
            display: block;
            border: 1px solid #ccc;
        }

            .wizard > .content > .body input[type="checkbox"] {
                display: inline-block;
            }

            .wizard > .content > .body input.error {
                background: #fbe3e4;
                border: 1px solid #fbc2c4;
                color: #8a1f11;
            }

        .wizard > .content > .body label {
            display: inline-block;
            margin-bottom: 0.5em;
        }

            .wizard > .content > .body label.error {
                color: #8a1f11;
                display: inline-block;
                margin-left: 1.5em;
            }

.wizard > .actions {
    position: relative;
    display: block;
    text-align: right;
    width: 100%;
}

.wizard.vertical > .actions {
    display: inline;
    float: right;
    margin: 0 2.5%;
    width: 95%;
}

.wizard > .actions > ul {
    display: inline-block;
    text-align: right;
}

    .wizard > .actions > ul > li {
        margin: 0 0.5em;
    }

.wizard.vertical > .actions > ul > li {
    margin: 0 0 0 1em;
}

.wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions a:active {
    background: #0071b4;
    color: #fff;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.wizard > .actions .disabled a, .wizard > .actions .disabled a:hover, .wizard > .actions .disabled a:active {
    background: #eee;
    color: #aaa;
}

/*
Tabcontrol
*/
.tabcontrol > .steps {
    position: relative;
    display: block;
    width: 100%;
}

    .tabcontrol > .steps > ul {
        position: relative;
        margin: 6px 0 0 0;
        top: 1px;
        z-index: 1;
    }

        .tabcontrol > .steps > ul > li {
            float: left;
            margin: 5px 2px 0 0;
            padding: 1px;
            -webkit-border-top-left-radius: 2px;
            -webkit-border-top-right-radius: 2px;
            -moz-border-radius-topleft: 2px;
            -moz-border-radius-topright: 2px;
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
        }

            .tabcontrol > .steps > ul > li:hover {
                background: #edecec;
                border: 1px solid #bbb;
                padding: 0;
            }

            .tabcontrol > .steps > ul > li.current {
                background: #fff;
                border: 1px solid #bbb;
                border-bottom: 0 none;
                padding: 0 0 1px 0;
                margin-top: 0;
            }

            .tabcontrol > .steps > ul > li > a {
                color: #5f5f5f;
                display: inline-block;
                border: 0 none;
                margin: 0;
                padding: 10px 30px;
                text-decoration: none;
            }

                .tabcontrol > .steps > ul > li > a:hover {
                    text-decoration: none;
                }

            .tabcontrol > .steps > ul > li.current > a {
                padding: 15px 30px 10px 30px;
            }

.tabcontrol > .content {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 35em;
    overflow: hidden;
    border-top: 1px solid #bbb;
    padding-top: 20px;
}

    .tabcontrol > .content > .body {
        float: left;
        position: absolute;
        width: 95%;
        height: 95%;
        padding: 2.5%;
    }

        .tabcontrol > .content > .body ul {
            list-style: disc !important;
        }

            .tabcontrol > .content > .body ul > li {
                display: list-item;
            }

.angular-ui-tree {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 20px;
    list-style: none;
}

.angular-ui-tree-placeholder {
    margin: 5px 0;
    padding: 0;
    min-height: 30px;
    border: 1px dashed #e9e9e9;
    background-color: #EFF3FA;
    border-radius: 2px;
}

.angular-ui-tree-handle {
    position: relative;
    display: block;
    margin: 5px 0;
    padding: 10px 10px;
    text-decoration: none;
    border: 1px solid #e9e9e9;
    background: #fff;
    cursor: move;
    border-radius: 2px;
}

    .angular-ui-tree-handle:hover .angular-ui-tree-icon-action {
        display: inline;
    }

.angular-ui-tree-icon:hover {
    cursor: pointer;
}

.angular-ui-tree-icon-collapse {
    display: block;
    position: relative;
    cursor: pointer;
    float: left;
    width: 25px;
    height: 40px;
    margin: -10px 0 0 -10px;
    padding: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    background: transparent;
    font-size: 12px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
}

    .angular-ui-tree-icon-collapse:before {
        content: '+';
        display: block;
        position: absolute;
        width: 100%;
        text-align: center;
        text-indent: 0;
    }

    .angular-ui-tree-icon-collapse.uncollapsed:before {
        content: '-';
    }

.angular-ui-tree-icon-action {
    margin-left: 7px;
    display: none;
    color: #999999;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

    .angular-ui-tree-icon-action:hover {
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -ms-transform: scale(1.3);
        -o-transform: scale(1.3);
        transform: scale(1.3);
        color: #626262;
    }

.angular-ui-tree-empty {
    border: 1px dashed #bbb;
    min-height: 100px;
    background-color: #fff;
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.angular-ui-tree-nodes {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

    .angular-ui-tree-nodes .angular-ui-tree-nodes {
        padding-left: 30px;
    }

.angular-ui-tree-node, .angular-ui-tree-placeholder {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 20px;
    line-height: 20px;
}

.angular-ui-tree-hidden {
    display: none;
}

.angular-ui-tree-drag {
    position: absolute;
    pointer-events: none;
    z-index: 999;
    opacity: 0.8;
}

.morris-hover {
    z-index: 1;
    position: absolute;
}

    .morris-hover.morris-default-style {
        border-radius: 2px;
        padding: 6px;
        color: #666;
        background: rgba(255, 255, 255, 0.8);
        border: solid 2px rgba(230, 230, 230, 0.8);
        font-size: 12px;
        text-align: center;
    }

        .morris-hover.morris-default-style .morris-hover-row-label {
            font-weight: bold;
            margin: 0.25em 0;
        }

        .morris-hover.morris-default-style .morris-hover-point {
            white-space: nowrap;
            margin: 0.1em 0;
        }

.jvectormap-label {
    position: absolute;
    display: none;
    border-radius: 2px;
    background: #1c2b36;
    color: #fff;
    font-size: 12px;
    padding: 6px;
}

.jvectormap-zoomin, .jvectormap-zoomout {
    position: absolute;
    left: 10px;
    border-radius: 2px;
    background: #eeeeee;
    padding: 3px;
    color: #626262;
    width: 18px;
    height: 18px;
    cursor: pointer;
    line-height: 10px;
    text-align: center;
}

.jvectormap-zoomin {
    top: 10px;
}

.jvectormap-zoomout {
    top: 30px;
}

.ui-tags-input .host {
    position: relative;
    margin: 5px 0;
}

    .ui-tags-input .host:active {
        outline: none;
    }

.ui-tags-input .tags {
    overflow: hidden;
    word-wrap: break-word;
    cursor: text;
    display: block;
    width: 100%;
    min-height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #626262;
    background-color: #fff;
    background-image: none;
    border: 1px solid #CBD5DD;
    border-radius: 2px;
}

    .ui-tags-input .tags.focused {
        outline: none;
    }

    .ui-tags-input .tags .tag-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .ui-tags-input .tags .tag-item {
        display: inline-block;
        float: left;
        margin: 2px;
        padding: 6px 8px;
        border-radius: 2px;
        background-color: #0071b4;
        color: #fff;
    }

        .ui-tags-input .tags .tag-item .remove-button {
            margin: 0 0 0 5px;
            padding: 0;
            border: none;
            background: none;
            cursor: pointer;
            vertical-align: middle;
            color: #eeeeee;
            text-decoration: none;
        }

            .ui-tags-input .tags .tag-item .remove-button:active {
                color: #BF616A;
            }

    .ui-tags-input .tags .input {
        border: 0;
        outline: none;
        margin: 2px;
        padding: 0;
        padding-left: 5px;
        float: left;
        line-height: 30px;
        height: 30px;
    }

        .ui-tags-input .tags .input.invalid-tag {
            color: #BF616A;
        }

        .ui-tags-input .tags .input::-ms-clear {
            display: none;
        }

.ui-tags-input .autocomplete {
    margin-top: 5px;
    position: absolute;
    padding: 5px 0;
    z-index: 999;
    width: 100%;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

    .ui-tags-input .autocomplete .suggestion-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .ui-tags-input .autocomplete .suggestion-item {
        overflow: hidden;
        padding: 5px 10px;
        cursor: pointer;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #1c2b36;
        background-color: #fff;
    }

        .ui-tags-input .autocomplete .suggestion-item.selected {
            color: white;
            background-color: #0097cf;
        }

            .ui-tags-input .autocomplete .suggestion-item.selected em {
                color: white;
                background-color: #0097cf;
            }

        .ui-tags-input .autocomplete .suggestion-item em {
            color: #1c2b36;
            background-color: white;
        }

.lt-ie9-bg {
    z-index: 11111;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #333;
    color: #999;
    padding: 100px 20px;
    text-align: center;
    font-size: 26px;
}

    .lt-ie9-bg a {
        color: #f5f5f5;
        border-bottom: 2px solid #fff;
    }

        .lt-ie9-bg a:hover {
            text-decoration: none;
        }

.non-display {
    display: none;
}

.page {
    padding: 15px;
}

.page-form-ele h3 {
    margin: 0;
}

.body-err #content {
    background: url('../images/background/4.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.page-err {
    position: relative;
    width: 100%;
    height: 100%;
}

    .page-err .err-container {
        padding: 45px 10px 0;
    }

@media (min-width: 768px) {
    .page-err .err-container {
        padding: 100px 0 0;
    }
}

.page-err .err {
    color: #fafafa;
}

    .page-err .err h1 {
        margin-bottom: 35px;
        color: #fafafa;
        color: rgba(255, 255, 255, 0.8);
        font-size: 150px;
        font-weight: 300;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    }

@media (min-width: 768px) {
    .page-err .err h1 {
        font-size: 180px;
    }
}

.page-err .err h2 {
    color: #fafafa;
    color: rgba(255, 255, 255, 0.6);
    margin: 0;
    font-weight: 300;
    font-size: 28px;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .page-err .err h2 {
        font-size: 36px;
    }
}

.page-err .err-body {
    padding: 20px 10px;
}

.page-err .btn-goback {
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    background-color: transparent;
    border-color: #fff;
    border-color: rgba(255, 255, 255, 0.8);
}

    .page-err .btn-goback:hover, .page-err .btn-goback:focus, .page-err .btn-goback:active, .page-err .btn-goback.active {
        color: #fff;
        background-color: rgba(255, 255, 255, 0.1);
    }

.open .page-err .btn-goback.dropdown-toggle {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
}

.page-err .footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.body-lock #content {
    background: url('../images/background/1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.body-lock .content-container > .view-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.page-lock .lock-centered {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -65px;
}

@media (min-width: 768px) {
    .page-lock .lock-centered {
        margin-top: -75px;
    }
}

.page-lock .lock-container {
    padding: 15px 15px 15px 120px;
    position: relative;
    width: 100%;
    max-width: 420px;
    min-height: 120px;
    border-radius: 60px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.2);
}

.page-lock .profile img {
    position: absolute;
    border-radius: 50%;
    top: 20px;
    left: 20px;
    width: 80px;
    height: 80px;
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
}

.page-lock ::-webkit-input-placeholder {
    color: #ccc;
    font-weight: 300;
}

.page-lock :-moz-placeholder {
    color: #ccc;
    font-weight: 300;
}

.page-lock ::-moz-placeholder {
    color: #ccc;
    font-weight: 300;
}

.page-lock :-ms-input-placeholder {
    color: #ccc;
    font-weight: 300;
}

.page-lock .lock-form {
    position: relative;
    padding: 10px 75px 10px 0;
}

    .page-lock .lock-form .name {
        font-size: 12px;
        color: #626262;
    }

    .page-lock .lock-form .form-control {
        background: transparent;
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0.3);
        padding: 0;
        color: #fafafa;
        border-radius: 0;
    }

    .page-lock .lock-form .btn-submit {
        position: absolute;
        top: 12.5px;
        right: 0;
        font-size: 26px;
    }

        .page-lock .lock-form .btn-submit:hover {
            text-decoration: none;
        }

.page-tasks .task-list .view {
    display: block;
}

.page-tasks .task-list .edit {
    display: none;
}

.page-tasks .task-list li.editing .view {
    display: none;
}

.page-tasks .task-list li.editing .edit {
    display: block;
}

.page-tasks .add-task {
    position: relative;
}

    .page-tasks .add-task input {
        height: 44px;
        padding: 6px 12px 6px 40px;
    }

    .page-tasks .add-task a.submit-button {
        position: absolute;
        top: 12px;
        left: 12px;
        color: #999999;
    }

.page-tasks label {
    font-weight: normal;
}

.page-tasks .filters {
    margin: 15px 0;
}

.page-tasks .nav-tabs > li.active > a, .page-tasks .nav-tabs > li.active > a:hover, .page-tasks .nav-tabs > li.active > a:focus {
    background-color: #eaeaea;
}

.page-tasks .task-list .view {
    position: relative;
    margin-bottom: 10px;
    padding: 0 12px 0 40px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

    .page-tasks .task-list .view:hover .glyphicon-pencil, .page-tasks .task-list .view:hover .glyphicon-remove {
        display: block;
    }

    .page-tasks .task-list .view input[type="checkbox"] {
        position: absolute;
        top: 11px;
        left: 16px;
    }

    .page-tasks .task-list .view label {
        line-height: 20px;
        margin: 0;
        width: 100%;
        padding: 12px 0 12px;
    }

    .page-tasks .task-list .view .glyphicon-pencil, .page-tasks .task-list .view .glyphicon-remove {
        display: none;
        position: absolute;
        top: 14px;
        color: #999999;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

        .page-tasks .task-list .view .glyphicon-pencil:hover, .page-tasks .task-list .view .glyphicon-remove:hover {
            cursor: pointer;
            color: #333333;
            -webkit-transform: scale(1.3);
            -moz-transform: scale(1.3);
            -ms-transform: scale(1.3);
            -o-transform: scale(1.3);
            transform: scale(1.3);
        }

    .page-tasks .task-list .view .glyphicon-pencil {
        right: 40px;
    }

    .page-tasks .task-list .view .glyphicon-remove {
        right: 16px;
    }

.page-tasks .task-list .completed .view label {
    color: #999999;
    text-decoration: line-through;
}

.page-tasks .task-list input.edit {
    margin-bottom: 10px;
    height: 44px;
    padding: 6px 12px 6px 40px;
}

.page-tasks .task-footer {
    margin: 15px 0;
    border-top: 4px double #e2e2e2;
    padding: 12px;
}

    .page-tasks .task-footer .list-inline > li {
        float: left;
        width: 30%;
    }

        .page-tasks .task-footer .list-inline > li.first-item {
            width: 40%;
        }

    .page-tasks .task-footer .clear-completed {
        color: #999999;
        border-radius: 2px;
        -webkit-transition: color, 0.2s ease-in-out;
        -moz-transition: color, 0.2s ease-in-out;
        transition: color, 0.2s ease-in-out;
    }

        .page-tasks .task-footer .clear-completed:hover {
            cursor: pointer;
            color: #626262;
        }

.page-tasks .tips h3 {
    margin-top: 0;
}

.body-auth #content {
    background: url('../images/background/1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.page-signin h1, .page-signup h1, .page-forgot h1 {
    font-weight: 300;
    color: #fafafa;
    font-size: 54px;
    margin-bottom: 60px;
}

    .page-signin h1 a, .page-signup h1 a, .page-forgot h1 a {
        color: #fafafa;
    }

.page-signin .form-group, .page-signup .form-group, .page-forgot .form-group {
    margin: 0;
}

.page-signin .input-group-first, .page-signup .input-group-first, .page-forgot .input-group-first {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.page-signin .input-group, .page-signup .input-group, .page-forgot .input-group {
    padding: 6px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.page-signin .input-group-addon, .page-signup .input-group-addon, .page-forgot .input-group-addon {
    background: transparent;
    border: 0;
    font-size: 24px;
    color: #ccc;
}

.page-signin .form-control, .page-signup .form-control, .page-forgot .form-control {
    border: 0;
    border-radius: 0;
    color: #fafafa;
    font-weight: 300;
    background: transparent;
}

.page-signin ::-webkit-input-placeholder, .page-signup ::-webkit-input-placeholder, .page-forgot ::-webkit-input-placeholder {
    color: #ccc;
    font-weight: 300;
}

.page-signin :-moz-placeholder, .page-signup :-moz-placeholder, .page-forgot :-moz-placeholder {
    color: #ccc;
    font-weight: 300;
}

.page-signin ::-moz-placeholder, .page-signup ::-moz-placeholder, .page-forgot ::-moz-placeholder {
    color: #ccc;
    font-weight: 300;
}

.page-signin :-ms-input-placeholder, .page-signup :-ms-input-placeholder, .page-forgot :-ms-input-placeholder {
    color: #ccc;
    font-weight: 300;
}

.page-signin .signin-header, .page-signup .signin-header, .page-forgot .signin-header {
    margin-top: 50px;
}

@media (min-width: 768px) {
    .page-signin .signin-header, .page-signup .signin-header, .page-forgot .signin-header {
        margin-top: 150px;
    }
}

.page-signin .logo, .page-signup .logo, .page-forgot .logo {
    font-size: 26px;
    font-weight: normal;
}

    .page-signin .logo a:hover, .page-signup .logo a:hover, .page-forgot .logo a:hover {
        text-decoration: none;
    }

.page-signin .signin-body, .page-signin .signup-body, .page-signup .signin-body, .page-signup .signup-body, .page-forgot .signin-body, .page-forgot .signup-body {
    padding: 20px 10px;
}

.page-signin .form-container, .page-signup .form-container, .page-forgot .form-container {
    max-width: 420px;
    margin: 10px auto;
}

.page-signin .additional-info, .page-signup .additional-info, .page-forgot .additional-info {
    color: #ccc;
    color: rgba(255, 255, 255, 0.6);
}

    .page-signin .additional-info a, .page-signup .additional-info a, .page-forgot .additional-info a {
        color: #ccc;
        color: rgba(255, 255, 255, 0.6);
    }

.page-forgot .additional-info {
    color: #ccc;
}

.page-profile {
    margin: -15px 0 0;
}

    .page-profile .profile-header {
        position: relative;
        margin: 0 -15px 15px;
        padding: 50px 30px 90px;
        background: url('../images/background/5.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }

    .page-profile .profile-img {
        display: inline-block;
        margin-right: 20px;
    }

        .page-profile .profile-img img {
            max-width: 120px;
            height: auto;
            box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(0, 0, 0, 0.2);
        }

    .page-profile .profile-social {
        display: inline-block;
    }

        .page-profile .profile-social > a {
            margin-right: 15px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        }

    .page-profile .profile-info {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.3);
        line-height: 20px;
        padding: 10px 30px;
        color: #fafafa;
    }

        .page-profile .profile-info ul {
            margin: 0;
        }

    .page-profile img.media-object {
        border-radius: 2px;
    }

.page-invoice .invoice-wrapper {
    padding: 0 0 30px;
    background-color: #fff;
}

.invoice-inner {
    padding: 15px 15px 30px;
    background-color: #fff;
}

    .invoice-inner .invoice-sum li {
        margin-bottom: 5px;
        padding: 10px;
        background-color: #f9f9f9;
        border-radius: 2px;
    }

    .invoice-inner .table.table-bordered {
        border: 0;
    }

    .invoice-inner .table .bg-dark > th {
        border: 0;
    }

.themify-icons {
    width: 100%;
    text-align: center;
}

    .themify-icons .icon-section {
        overflow: hidden;
        margin: 0 auto 3.5em;
        width: 90%;
    }

    .themify-icons .icon-container {
        margin: 0 0 10px;
        display: inline-block;
        padding: 0.5em 0;
        width: 30%;
    }

        .themify-icons .icon-container [class^="ti-"], .themify-icons .icon-container [class*=" ti-"] {
            display: block;
            height: 80px;
            font-size: 1.5em;
            line-height: 100px;
            transition: all 0.3s ease-in-out;
        }

@media (min-width: 768px) {
    .themify-icons .icon-container {
        width: 15%;
    }
}

.themify-icons .icon-name {
    margin: 5px 0 0;
    display: block;
    color: #aaa;
    font-size: 0.8em;
    transition: all 0.3s ease-in-out;
}

.themify-icons .icon-container:hover .icon-name {
    color: #1c2b36;
}

.themify-icons .icon-container:hover [class^="ti-"], .themify-icons .icon-container:hover [class*=" ti-"] {
    font-size: 3em;
}

.weather-icons {
    width: 100%;
    text-align: center;
}

    .weather-icons .icon-section {
        overflow: hidden;
        margin: 0 auto 3.5em;
        width: 90%;
    }

    .weather-icons .example {
        margin: 0 0 10px;
        display: inline-block;
        padding: 0.5em 0;
        width: 30%;
    }

        .weather-icons .example .wi {
            display: block;
            height: 80px;
            font-size: 1.5em;
            line-height: 100px;
            transition: all 0.3s ease-in-out;
        }

@media (min-width: 768px) {
    .weather-icons .example {
        width: 15%;
    }
}

.weather-icons .class {
    margin: 5px 0 0;
    display: block;
    color: #aaa;
    font-size: 0.8em;
    transition: all 0.3s ease-in-out;
}

.weather-icons .example:hover .class {
    color: #1c2b36;
}

.weather-icons .example:hover .wi {
    font-size: 3em;
}

.page-icons .bs-glyphicons {
    overflow: hidden;
}

    .page-icons .bs-glyphicons li {
        float: left;
        width: 25%;
        height: 115px;
        padding: 10px;
        font-size: 10px;
        line-height: 1.4;
        text-align: center;
        border: 1px solid #f9f9f9;
    }

    .page-icons .bs-glyphicons .glyphicon {
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 24px;
    }

    .page-icons .bs-glyphicons .glyphicon-class {
        display: block;
        text-align: center;
        word-wrap: break-word;
    }

.page-icons .bs-glyphicons-list {
    padding-left: 0;
    list-style: none;
}

.weather-icon-list {
    text-align: center;
}

    .weather-icon-list .example {
        text-align: center;
        margin: 10px 3px;
    }

        .weather-icon-list .example .icon {
            font-size: 24px;
        }

.bs-glyphicons {
    padding-left: 0;
    padding-bottom: 1px;
    margin-bottom: 20px;
    list-style: none;
    overflow: hidden;
}

    .bs-glyphicons .glyphicon {
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 24px;
    }

    .bs-glyphicons .glyphicon-class {
        display: block;
        text-align: center;
    }

    .bs-glyphicons li {
        float: left;
        width: 25%;
        height: 115px;
        padding: 10px;
        margin: 0 -1px -1px 0;
        font-size: 12px;
        line-height: 1.4;
        text-align: center;
        border: 1px solid #ddd;
    }

@media (min-width: 768px) {
    .bs-glyphicons li {
        width: 12.5%;
    }
}

.page-grid .grid-structure .row {
    margin-top: 10px;
}

    .page-grid .grid-structure .row .widget-container {
        margin-top: 5px;
        background: #eee;
        padding: 10px 15px 12px;
        min-height: 0;
        border-radius: 2px;
    }

.page-form-ele .list-checkbox-radio li:nth-child(even) {
    margin-bottom: 20px;
}

.page-form-ele .list-checkbox-radio li > div {
    float: left;
    margin-right: 10px;
}

.demoslider-container {
    max-width: 600px;
    margin: auto;
}

.layout-boxed > .header-container .top-header {
    max-width: 1200px;
    margin: 0 auto;
}

.layout-boxed > .main-container {
    max-width: 1200px;
    margin: 0 auto;
}

html {
    position: relative;
    min-height: 100%;
}

.app {
    position: static;
    min-height: 100%;
}

    .app > .header-container.header-fixed {
        position: fixed;
        right: 0;
        left: 0;
        z-index: 1030;
    }

        .app > .header-container.header-fixed + .main-container {
            padding-top: 100px;
        }

@media (min-width: 768px) {
    .app > .header-container.header-fixed + .main-container {
        padding-top: 50px;
    }
}

.app > .main-container {
    position: static;
}

    .app > .main-container:before {
        content: " ";
        line-height: 0;
        z-index: -2;
        position: absolute;
        display: block;
        width: 100%;
        max-width: inherit;
        top: 0;
        bottom: 0;
        background-color: #eaeaea;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    }

    .app > .main-container > .nav-container {
        display: none;
        z-index: 11;
        position: static;
        float: left;
        width: 220px;
    }

@media (min-width: 768px) {
    .app > .main-container > .nav-container {
        display: block;
    }
}

.app > .main-container > .nav-container:before {
    z-index: -1;
    content: " ";
    line-height: 0;
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    width: inherit;
    background-color: inherit;
    border-width: inherit;
    border-style: inherit;
    border-color: inherit;
}

.app > .main-container > .nav-container.nav-fixed {
    position: fixed;
    top: 100px;
    bottom: 0;
    float: none;
}

@media (min-width: 768px) {
    .app > .main-container > .nav-container.nav-fixed {
        top: 50px;
    }
}

.app > .main-container > .content-container {
    overflow: hidden;
    min-height: 100%;
    margin-left: 0;
}

@media (min-width: 768px) {
    .app > .main-container > .content-container {
        margin-left: 220px;
    }
}

@media (min-width: 768px) {
    .app > .main-container > .nav-container.nav-horizontal {
        z-index: 9;
        border-width: 0 0 1px;
        border-style: solid;
        border-color: #d4d4d4;
    }

        .app > .main-container > .nav-container.nav-horizontal:before {
            border: 0;
        }

        .app > .main-container > .nav-container.nav-horizontal.nav-fixed {
            border-width: 0 1px 1px 0;
            left: 0;
            right: 0;
            bottom: auto;
        }

            .app > .main-container > .nav-container.nav-horizontal.nav-fixed #nav {
                text-align: center;
            }

                .app > .main-container > .nav-container.nav-horizontal.nav-fixed #nav > li {
                    display: inline-block;
                    float: none;
                }

                    .app > .main-container > .nav-container.nav-horizontal.nav-fixed #nav > li > a {
                        padding: 15px 28px;
                    }

            .app > .main-container > .nav-container.nav-horizontal.nav-fixed + .content-container {
                margin: 80px 0 0;
            }
}

@media print {
    .no-print {
        display: none;
    }
}

#nav-container ul {
    padding-left: 0;
    list-style: none;
}

#nav-container > .nav-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.nav-container .nav {
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
    -webkit-overflow-scrolling: -blackberry-touch;
}

    .nav-container .nav > li > a > i, .nav-container .nav > li > a > .nav-icon {
        display: inline-block;
        margin-right: 10px;
        width: 20px;
        line-height: 1;
        text-align: center;
        font-size: 14px;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    .nav-container .nav a {
        font-size: 13px;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

        .nav-container .nav a:hover {
            text-decoration: none;
        }

    .nav-container .nav > li {
        position: relative;
        margin: 0;
        text-align: left;
        font-weight: bold;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

        .nav-container .nav > li:first-child > a {
            border-top: 0;
        }

        .nav-container .nav > li > a {
            position: relative;
            display: block;
            padding: 15px 15px;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
        }

            .nav-container .nav > li > a .badge {
                position: absolute;
                top: 16px;
                right: 5px;
            }

        .nav-container .nav > li > .icon-has-ul-h {
            display: none;
        }

        .nav-container .nav > li > .icon-has-ul {
            position: absolute;
            top: 15px;
            right: 15px;
            font-size: 10px;
            line-height: 19px;
        }

    .nav-container .nav ul {
        display: none;
    }

        .nav-container .nav ul a {
            font-size: 13px;
        }

        .nav-container .nav ul li {
            position: relative;
            padding: 0;
        }

            .nav-container .nav ul li:last-child > a {
                border-bottom: 0;
            }

            .nav-container .nav ul li > a {
                position: relative;
                display: block;
                padding: 13px 0 13px 25px;
                -webkit-transition: all 0.2s ease-in-out;
                -moz-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
            }

                .nav-container .nav ul li > a:first-child {
                    border-top: none;
                }

                .nav-container .nav ul li > a > i {
                    font-size: 9px;
                    margin-right: 16px;
                }

                .nav-container .nav ul li > a > .badge {
                    position: absolute;
                    right: 5px;
                    top: 12px;
                }

@media (max-width: 767px) {
    .on-canvas #header {
        position: fixed;
        right: 0;
        left: 0;
        z-index: 12;
    }

    .on-canvas #nav-container {
        display: block;
        position: fixed;
        top: 100px;
        bottom: 0;
        float: none;
    }

    .on-canvas .main-container {
        overflow: hidden;
    }

        .on-canvas .main-container #content {
            margin-left: 220px;
            margin-right: -220px;
        }
}

@media (min-width: 768px) {
    .main-container > .nav-container.nav-horizontal {
        float: none;
        width: auto;
    }

        .main-container > .nav-container.nav-horizontal + .content-container {
            margin-left: 0;
        }

    .nav-horizontal {
        background-color: #eee;
    }

        .nav-horizontal .slimScrollDiv {
            overflow: visible !important;
            height: auto !important;
        }

            .nav-horizontal .slimScrollDiv .slimScrollBar, .nav-horizontal .slimScrollDiv .slimScrollRail {
                display: none !important;
            }

        .nav-horizontal .nav {
            overflow: visible !important;
        }

            .nav-horizontal .nav > li {
                position: relative;
                float: left;
            }

                .nav-horizontal .nav > li:hover > a {
                    background-color: #e1e1e1;
                    color: #626262;
                }

                .nav-horizontal .nav > li:hover > i {
                    color: #626262;
                }

                .nav-horizontal .nav > li.active > a {
                    background-color: #e1e1e1;
                    color: #0071b4;
                }

                .nav-horizontal .nav > li.active > .icon-has-ul-h {
                    color: #0071b4;
                }

                .nav-horizontal .nav > li > a {
                    padding: 15px 30px;
                    text-align: center;
                    font-weight: normal;
                }

                    .nav-horizontal .nav > li > a > i {
                        margin: 0;
                        font-size: 26px;
                        line-height: 1;
                    }

                    .nav-horizontal .nav > li > a span {
                        margin: 0;
                        display: block;
                        font-size: 12px;
                    }

                    .nav-horizontal .nav > li > a .badge {
                        top: 15px;
                    }

                .nav-horizontal .nav > li > .icon-has-ul-h {
                    display: block;
                    position: absolute;
                    bottom: 16px;
                    right: 10px;
                    font-size: 10px;
                }

                .nav-horizontal .nav > li > .icon-has-ul {
                    display: none;
                }

                .nav-horizontal .nav > li:hover > ul {
                    display: block !important;
                }

                .nav-horizontal .nav > li > ul {
                    z-index: 9;
                    position: absolute;
                    left: 0;
                    top: 100%;
                    min-width: 100%;
                    width: auto;
                    background-color: #e1e1e1;
                    border-bottom-left-radius: 2px;
                    border-bottom-right-radius: 2px;
                }

                    .nav-horizontal .nav > li > ul li {
                        white-space: nowrap;
                    }

                        .nav-horizontal .nav > li > ul li:hover > a, .nav-horizontal .nav > li > ul li.active > a {
                            color: #0071b4;
                        }

                        .nav-horizontal .nav > li > ul li > a {
                            padding: 13px 40px 13px 20px;
                        }
}

@media (min-width: 768px) {
    .app.nav-collapsed-min .slimScrollDiv {
        overflow: visible !important;
        height: auto !important;
    }

        .app.nav-collapsed-min .slimScrollDiv .slimScrollBar, .app.nav-collapsed-min .slimScrollDiv .slimScrollRail {
            display: none !important;
        }

    .app.nav-collapsed-min #nav-container {
        width: 60px;
    }

    .app.nav-collapsed-min .content-container {
        margin-left: 60px;
    }

    .app.nav-collapsed-min #nav-wrapper {
        overflow: visible !important;
    }

    .app.nav-collapsed-min #nav {
        overflow: visible !important;
    }

        .app.nav-collapsed-min #nav > li > a {
            padding: 15px 15px;
            text-align: center;
        }

            .app.nav-collapsed-min #nav > li > a > i {
                margin: 0;
                font-size: 20px;
            }

            .app.nav-collapsed-min #nav > li > a > span {
                display: none;
            }

        .app.nav-collapsed-min #nav > li .icon-has-ul {
            display: none;
        }

        .app.nav-collapsed-min #nav > li > ul {
            z-index: 9;
            position: absolute;
            left: 100%;
            top: 0;
            width: 220px;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
        }

        .app.nav-collapsed-min #nav > li:hover > ul, .app.nav-collapsed-min #nav > li.open > ul {
            display: block !important;
        }

    .app.nav-collapsed-min .nav-horizontal#nav-container {
        width: auto;
    }

    .app.nav-collapsed-min .nav-horizontal + .content-container {
        margin: 0;
    }

    .app.nav-collapsed-min .nav-horizontal.nav-fixed + .content-container {
        margin: 50px 0 0;
    }

    .app.nav-collapsed-min .nav-horizontal #nav > li > .icon-has-ul-h {
        display: none;
    }

    .app.nav-collapsed-min .nav-horizontal #nav > li > ul {
        left: 0;
        top: 100%;
    }
}

.header-container {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

    .header-container > .top-header a {
        color: #aaa;
    }

        .header-container > .top-header a:hover {
            text-decoration: none;
        }

    .header-container > .top-header .dropdown-menu a {
        color: #626262;
    }

    .header-container > .top-header .hidden-mobile {
        display: none;
    }

@media (min-width: 480px) {
    .header-container > .top-header .hidden-mobile {
        display: inline;
    }
}

.header-container > .top-header .logo {
    position: absolute;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

@media (min-width: 768px) {
    .header-container > .top-header .logo {
        display: inline-block;
        width: 220px;
        border-right: 1px solid rgba(255, 255, 255, 0.06);
    }
}

.header-container > .top-header .logo > a {
    font-size: 24px;
    vertical-align: middle;
}

    .header-container > .top-header .logo > a .logo-icon {
        color: #1baaff;
        margin-right: 12px;
    }

.header-container > .top-header .menu-button {
    display: block;
    position: absolute;
    top: 8px;
    right: 20px;
    width: 46px;
    padding: 10px 12px;
    border-radius: 4px;
}

    .header-container > .top-header .menu-button:hover {
        cursor: pointer;
        background-color: #005181;
    }

    .header-container > .top-header .menu-button .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        background-color: #fff;
    }

        .header-container > .top-header .menu-button .icon-bar + .icon-bar {
            margin-top: 4px;
        }

@media (min-width: 768px) {
    .header-container > .top-header .menu-button {
        display: none;
    }
}

.header-container > .top-header .admin-options {
    z-index: 20;
    line-height: 20px;
}

.header-container > .top-header .skin-options .panel-body {
    min-width: 330px;
    background-color: #f9f9f9;
}

.header-container > .top-header .dropdown-menu.panel {
    padding: 0;
    white-space: nowrap;
}

    .header-container > .top-header .dropdown-menu.panel .panel-heading, .header-container > .top-header .dropdown-menu.panel .panel-footer {
        padding: 10px 15px;
    }

    .header-container > .top-header .dropdown-menu.panel .list-group-item {
        padding: 10px 15px;
    }

        .header-container > .top-header .dropdown-menu.panel .list-group-item > a {
            display: block;
        }

    .header-container > .top-header .dropdown-menu.panel .media .media-body {
        padding-right: 75px;
    }

.header-container > .top-header .top-nav {
    width: 100%;
    height: 50px;
    padding: 50px 0 0;
}

@media (min-width: 768px) {
    .header-container > .top-header .top-nav {
        padding: 0 0 0 220px;
    }
}

.header-container > .top-header .top-nav > ul {
    margin-bottom: 0;
}

.header-container > .top-header .top-nav .nav-left, .header-container > .top-header .top-nav .nav-right {
    font-size: 16px;
    line-height: 20px;
}

    .header-container > .top-header .top-nav .nav-left > li, .header-container > .top-header .top-nav .nav-right > li {
        float: left;
    }

        .header-container > .top-header .top-nav .nav-left > li.nav-profile > a, .header-container > .top-header .top-nav .nav-right > li.nav-profile > a {
            padding: 10px 15px;
        }

        .header-container > .top-header .top-nav .nav-left > li.nav-profile .hidden-xs, .header-container > .top-header .top-nav .nav-right > li.nav-profile .hidden-xs {
            padding-right: 8px;
        }

        .header-container > .top-header .top-nav .nav-left > li.nav-profile i, .header-container > .top-header .top-nav .nav-right > li.nav-profile i {
            width: 18px;
            font-size: 16px;
            margin-right: 5px;
        }

        .header-container > .top-header .top-nav .nav-left > li > .toggle-min, .header-container > .top-header .top-nav .nav-right > li > .toggle-min {
            display: none;
        }

@media (min-width: 768px) {
    .header-container > .top-header .top-nav .nav-left > li > .toggle-min, .header-container > .top-header .top-nav .nav-right > li > .toggle-min {
        display: block;
    }
}

.header-container > .top-header .top-nav .nav-left > li a:hover, .header-container > .top-header .top-nav .nav-left > li a:focus, .header-container > .top-header .top-nav .nav-right > li a:hover, .header-container > .top-header .top-nav .nav-right > li a:focus {
    text-decoration: none;
}

.header-container > .top-header .top-nav .nav-left > li > .btn-group > a, .header-container > .top-header .top-nav .nav-left > li > a, .header-container > .top-header .top-nav .nav-right > li > .btn-group > a, .header-container > .top-header .top-nav .nav-right > li > a {
    position: relative;
    display: block;
    height: 50px;
    padding: 15px 16px;
}

@media (min-width: 768px) {
    .header-container > .top-header .top-nav .nav-left > li > .btn-group > a, .header-container > .top-header .top-nav .nav-left > li > a, .header-container > .top-header .top-nav .nav-right > li > .btn-group > a, .header-container > .top-header .top-nav .nav-right > li > a {
        padding: 15px 18px;
    }
}

.header-container > .top-header .top-nav .nav-left > li > .btn-group > a .badge, .header-container > .top-header .top-nav .nav-left > li > a .badge, .header-container > .top-header .top-nav .nav-right > li > .btn-group > a .badge, .header-container > .top-header .top-nav .nav-right > li > a .badge {
    position: absolute;
    top: 6px;
    right: 3px;
}

@media (min-width: 768px) {
    .header-container > .top-header .top-nav .nav-left > li > .btn-group > a .badge, .header-container > .top-header .top-nav .nav-left > li > a .badge, .header-container > .top-header .top-nav .nav-right > li > .btn-group > a .badge, .header-container > .top-header .top-nav .nav-right > li > a .badge {
        background-color: transparent;
        color: #aaa;
    }
}

.header-container > .top-header .top-nav .nav-left > li ul.dropdown-menu a:hover, .header-container > .top-header .top-nav .nav-right > li ul.dropdown-menu a:hover {
    background-color: #0071b4;
    color: #fff;
}

.header-container > .top-header .top-nav .nav-left > li ul.dropdown-menu .glyphicon, .header-container > .top-header .top-nav .nav-right > li ul.dropdown-menu .glyphicon {
    margin-right: 10px;
}

.header-container > .top-header .top-nav .search-box {
    max-width: 180px;
    padding: 8px 0;
}

    .header-container > .top-header .top-nav .search-box .input-group-addon {
        padding: 6px 0 6px 12px;
        border: none;
        background-color: transparent;
    }

    .header-container > .top-header .top-nav .search-box .form-control {
        border: none;
        background: transparent;
    }

.header-container > .top-header .top-nav .nav-left {
    float: left;
    padding: 0;
}

    .header-container > .top-header .top-nav .nav-left > li {
        border-right: 1px solid rgba(255, 255, 255, 0.06);
    }

.header-container > .top-header .top-nav .nav-right {
    padding: 0;
}

    .header-container > .top-header .top-nav .nav-right > li > a {
        text-align: center;
        border-left: 1px solid rgba(255, 255, 255, 0.06);
    }

    .header-container > .top-header .top-nav .nav-right > li:last-child {
        border-right: 1px solid rgba(255, 255, 255, 0.06);
    }

        .header-container > .top-header .top-nav .nav-right > li:last-child .dropdown-menu.pull-right {
            right: 10px;
        }

.header-container > .top-header .langs .active-flag .flag {
    margin-top: 0;
}

.header-container > .top-header .langs .list-langs a {
    position: relative;
    padding: 8px 20px 8px 57px;
}

    .header-container > .top-header .langs .list-langs a .flag {
        position: absolute;
        top: 7px;
        left: 15px;
    }

.skin-check {
    position: relative;
    display: block;
}

    .skin-check input[type="radio"] {
        display: none;
    }

        .skin-check input[type="radio"] + span:hover {
            cursor: pointer;
        }

        .skin-check input[type="radio"] + span {
            position: relative;
        }

            .skin-check input[type="radio"] + span > .overlay {
                display: none;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.3);
                text-align: center;
                line-height: 30px;
                color: #fff;
            }

        .skin-check input[type="radio"]:checked + span > .overlay {
            display: block;
        }

.skin-item {
    overflow: hidden;
    display: block;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

    .skin-item > span {
        display: block;
        float: left;
        width: 50%;
        height: 20px;
    }

    .skin-item .item-header {
        height: 10px;
    }

.body-wide #header, .body-wide #nav-container {
    display: none;
}

.body-wide > .main-container {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.body-wide #content {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding-bottom: 50px;
}

.body-wide .introjs-overlay, .body-wide .introjs-helperLayer {
    display: none;
}

.header-container .dropdown {
    color: #626262;
}

    .header-container .dropdown a {
        color: #626262;
    }

        .header-container .dropdown a:hover {
            color: #626262;
        }

.header-container.bg-white {
    color: #626262;
}

    .header-container.bg-white .input-group-addon, .header-container.bg-white a {
        color: #626262;
    }

        .header-container.bg-white .input-group-addon:hover, .header-container.bg-white a:hover {
            color: #626262;
        }

.header-container.bg-dark {
    color: #fafafa;
}

    .header-container.bg-dark .input-group-addon, .header-container.bg-dark a {
        color: #fafafa;
    }

        .header-container.bg-dark .input-group-addon:hover, .header-container.bg-dark a:hover {
            color: #fafafa;
        }

.header-container.bg-primary, .header-container.bg-success, .header-container.bg-info, .header-container.bg-info-alt, .header-container.bg-warning, .header-container.bg-danger {
    color: #fafafa;
}

    .header-container.bg-primary a, .header-container.bg-success a, .header-container.bg-info a, .header-container.bg-info-alt a, .header-container.bg-warning a, .header-container.bg-danger a {
        color: #fafafa;
    }

        .header-container.bg-primary a:hover, .header-container.bg-success a:hover, .header-container.bg-info a:hover, .header-container.bg-info-alt a:hover, .header-container.bg-warning a:hover, .header-container.bg-danger a:hover {
            color: #fafafa;
        }

    .header-container.bg-primary .input-group-addon, .header-container.bg-success .input-group-addon, .header-container.bg-info .input-group-addon, .header-container.bg-info-alt .input-group-addon, .header-container.bg-warning .input-group-addon, .header-container.bg-danger .input-group-addon {
        color: #eeeeee;
    }

    .header-container.bg-primary ::-webkit-input-placeholder, .header-container.bg-success ::-webkit-input-placeholder, .header-container.bg-info ::-webkit-input-placeholder, .header-container.bg-info-alt ::-webkit-input-placeholder, .header-container.bg-warning ::-webkit-input-placeholder, .header-container.bg-danger ::-webkit-input-placeholder {
        color: #eaeaea;
    }

    .header-container.bg-primary :-moz-placeholder, .header-container.bg-success :-moz-placeholder, .header-container.bg-info :-moz-placeholder, .header-container.bg-info-alt :-moz-placeholder, .header-container.bg-warning :-moz-placeholder, .header-container.bg-danger :-moz-placeholder {
        color: #eaeaea;
    }

    .header-container.bg-primary ::-moz-placeholder, .header-container.bg-success ::-moz-placeholder, .header-container.bg-info ::-moz-placeholder, .header-container.bg-info-alt ::-moz-placeholder, .header-container.bg-warning ::-moz-placeholder, .header-container.bg-danger ::-moz-placeholder {
        color: #eaeaea;
    }

    .header-container.bg-primary :-ms-input-placeholder, .header-container.bg-success :-ms-input-placeholder, .header-container.bg-info :-ms-input-placeholder, .header-container.bg-info-alt :-ms-input-placeholder, .header-container.bg-warning :-ms-input-placeholder, .header-container.bg-danger :-ms-input-placeholder {
        color: #eaeaea;
    }

    .header-container.bg-primary .top-nav .nav-left > li > a .badge, .header-container.bg-success .top-nav .nav-left > li > a .badge, .header-container.bg-info .top-nav .nav-left > li > a .badge, .header-container.bg-info-alt .top-nav .nav-left > li > a .badge, .header-container.bg-warning .top-nav .nav-left > li > a .badge, .header-container.bg-danger .top-nav .nav-left > li > a .badge {
        color: #eaeaea;
    }

.header-container > .top-header .logo {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
    .header-container > .top-header .logo {
        border: 0;
    }
}

.header-container > .top-header .logo.bg-white {
    color: #1c2b36;
}

    .header-container > .top-header .logo.bg-white a {
        color: #1c2b36;
    }

        .header-container > .top-header .logo.bg-white a:hover {
            color: #1c2b36;
        }

    .header-container > .top-header .logo.bg-white + .menu-button .icon-bar {
        background-color: #626262;
    }

    .header-container > .top-header .logo.bg-white + .menu-button:hover .icon-bar {
        background-color: #fff;
    }

.header-container > .top-header .logo.bg-dark, .header-container > .top-header .logo.bg-primary, .header-container > .top-header .logo.bg-success, .header-container > .top-header .logo.bg-info, .header-container > .top-header .logo.bg-info-alt, .header-container > .top-header .logo.bg-warning, .header-container > .top-header .logo.bg-danger {
    color: #fafafa;
}

    .header-container > .top-header .logo.bg-dark a, .header-container > .top-header .logo.bg-primary a, .header-container > .top-header .logo.bg-success a, .header-container > .top-header .logo.bg-info a, .header-container > .top-header .logo.bg-info-alt a, .header-container > .top-header .logo.bg-warning a, .header-container > .top-header .logo.bg-danger a {
        color: #fafafa;
    }

        .header-container > .top-header .logo.bg-dark a:hover, .header-container > .top-header .logo.bg-primary a:hover, .header-container > .top-header .logo.bg-success a:hover, .header-container > .top-header .logo.bg-info a:hover, .header-container > .top-header .logo.bg-info-alt a:hover, .header-container > .top-header .logo.bg-warning a:hover, .header-container > .top-header .logo.bg-danger a:hover {
            color: #fafafa;
        }

.nav-container {
    border-width: 0 1px 0 0;
    border-style: solid;
}

    .nav-container.bg-white {
        border-color: #ddd;
    }

        .nav-container.bg-white .nav a {
            color: #626262;
        }

        .nav-container.bg-white .nav > li:hover > a {
            background-color: transparent;
            color: #0071b4;
        }

        .nav-container.bg-white .nav > li:hover > .icon-has-ul, .nav-container.bg-white .nav > li:hover > .icon-has-ul-h {
            color: #0071b4;
        }

        .nav-container.bg-white .nav > li.active > a {
            background-color: #f6f6f6;
            color: #626262;
        }

        .nav-container.bg-white .nav > li.active > .icon-has-ul {
            color: #626262;
        }

        .nav-container.bg-white .nav ul {
            background-color: #f6f6f6;
        }

            .nav-container.bg-white .nav ul > li:hover > a, .nav-container.bg-white .nav ul > li.active > a {
                color: #0071b4;
            }

        .nav-container.bg-white.nav-vertical .nav > li {
            border-bottom: 1px solid rgba(0, 0, 0, 0.06);
        }

            .nav-container.bg-white.nav-vertical .nav > li.open > a {
                background-color: #f6f6f6;
                color: #626262;
            }

            .nav-container.bg-white.nav-vertical .nav > li.open > .icon-has-ul, .nav-container.bg-white.nav-vertical .nav > li.open > .icon-has-ul-h {
                color: #626262;
            }

    .nav-container.bg-dark {
        background-color: #1c2b36;
        border-color: #1c2b36;
    }

        .nav-container.bg-dark .nav a {
            color: #ccc;
            color: rgba(255, 255, 255, 0.5);
        }

        .nav-container.bg-dark .nav > li:hover > a {
            background-color: transparent;
            color: rgba(255, 255, 255, 0.8);
        }

        .nav-container.bg-dark .nav > li:hover > .icon-has-ul, .nav-container.bg-dark .nav > li:hover > .icon-has-ul-h {
            color: rgba(255, 255, 255, 0.8);
        }

        .nav-container.bg-dark .nav > li.active > a {
            background-color: #17232c;
            color: rgba(255, 255, 255, 0.8);
        }

        .nav-container.bg-dark .nav > li.active > .icon-has-ul {
            color: rgba(255, 255, 255, 0.8);
        }

        .nav-container.bg-dark .nav ul {
            background-color: #17232c;
        }

            .nav-container.bg-dark .nav ul > li:hover > a, .nav-container.bg-dark .nav ul > li.active > a {
                color: rgba(255, 255, 255, 0.8);
            }

        .nav-container.bg-dark.nav-vertical .nav > li {
            border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        }

            .nav-container.bg-dark.nav-vertical .nav > li.open > a {
                background-color: #17232c;
                color: rgba(255, 255, 255, 0.8);
            }

            .nav-container.bg-dark.nav-vertical .nav > li.open > .icon-has-ul, .nav-container.bg-dark.nav-vertical .nav > li.open > .icon-has-ul-h {
                color: rgba(255, 255, 255, 0.8);
            }

@media (max-width: 767px) {
    .nav-horizontal .nav > li.open > a {
        color: #0071b4;
    }

    .nav-horizontal .nav > li.open > i {
        color: #0071b4;
    }
}

.login-input {
    background-color: #fff !important;
    border: solid 1px #eee !important;
    color: black !important;
}

.panel-heading {
    position: relative;
}

    .panel-heading .btn-group {
        position: absolute;
        right: 6px;
        top: 6px;
    }

        .panel-heading .btn-group .btn {
            padding: 4px 8px;
            font-size: 12px;
        }

        .scrolling{
            overflow: auto;
            max-width: 100%;
            max-height: 100%;
        }

.fixed-header {
    position: relative;
    height: 100px;
    overflow: hidden;
    border-bottom: 1px solid rgb(221,221,221);
}

    .fixed-header > div > div {
        transform: rotate(-45deg);
        transform-origin: 0 0;
        white-space: nowrap;
        font-weight: bold;
    }

.fixed-table {
    min-height: 150px;
    overflow-y: auto;
    overflow-x: hidden
}

.fixed-table table td{
    min-width: 30px;
}