﻿body {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important; }

::selection {
  background: #0071b4;
  color: #fff; }

::-moz-selection {
  background: #0071b4;
  color: #fff; }

span.block {
  display: block; }

.no-margin {
  margin: 0; }

.no-border {
  border: 0; }

a.bg-primary {
  background-color: #0071b4;
  color: #fff; }
  a.bg-primary:hover {
    background-color: #0071b4;
    color: #fff; }

a.bg-success {
  background-color: #A3BE8C;
  color: #fff; }
  a.bg-success:hover {
    background-color: #A3BE8C;
    color: #fff; }

a.bg-info {
  background-color: #7FABD2;
  color: #fff; }
  a.bg-info:hover {
    background-color: #7FABD2;
    color: #fff; }

a.bg-warning {
  background-color: #EBCB8B;
  color: #fff; }
  a.bg-warning:hover {
    background-color: #EBCB8B;
    color: #fff; }

a.bg-danger {
  background-color: #BF616A;
  color: #fff; }
  a.bg-danger:hover {
    background-color: #BF616A;
    color: #fff; }

a.bg-orange {
  background-color: #AB7967;
  color: #fff; }
  a.bg-orange:hover {
    background-color: #AB7967;
    color: #fff; }

.bg-white {
  background-color: #fff;
  color: #626262; }
  .bg-white a {
    color: #626262; }
    .bg-white a:hover {
      color: #626262; }

.bg-body {
  background-color: #f3f3f3;
  color: #626262; }
  .bg-body a {
    color: #626262; }
    .bg-body a:hover {
      color: #626262; }

.bg-dark {
  background-color: #1c2b36;
  color: #fff; }
  .bg-dark a {
    color: #fff; }
    .bg-dark a:hover {
      color: #fff; }

.bg-dark-light {
  background-color: #3a3f51;
  color: #fff; }
  .bg-dark-light a {
    color: #fff; }
    .bg-dark-light a:hover {
      color: #fff; }

.bg-black {
  background-color: #000;
  color: #fff; }
  .bg-black a {
    color: #fff; }
    .bg-black a:hover {
      color: #fff; }

.bg-primary {
  background-color: #0071b4;
  color: #fff; }
  .bg-primary a {
    color: #fff; }
    .bg-primary a:hover {
      color: #fff; }

.bg-primary-light {
  background-color: #7FABD2;
  color: #fff; }
  .bg-primary-light a {
    color: #fff; }
    .bg-primary-light a:hover {
      color: #fff; }

.bg-success {
  background-color: #A3BE8C;
  color: #fff; }
  .bg-success a {
    color: #fff; }
    .bg-success a:hover {
      color: #fff; }

.bg-info {
  background-color: #7FABD2;
  color: #fff; }
  .bg-info a {
    color: #fff; }
    .bg-info a:hover {
      color: #fff; }

.bg-info-alt {
  background-color: #B48EAD;
  color: #fff; }
  .bg-info-alt a {
    color: #fff; }
    .bg-info-alt a:hover {
      color: #fff; }

.bg-warning {
  background-color: #EBCB8B;
  color: #fff; }
  .bg-warning a {
    color: #fff; }
    .bg-warning a:hover {
      color: #fff; }

.bg-danger {
  background-color: #BF616A;
  color: #fff; }
  .bg-danger a {
    color: #fff; }
    .bg-danger a:hover {
      color: #fff; }

.bg-orange {
  background-color: #AB7967;
  color: #fff; }
  .bg-orange a {
    color: #fff; }
    .bg-orange a:hover {
      color: #fff; }

.bg-violet {
  background-color: #7FABD2;
  color: #fff; }
  .bg-violet a {
    color: #fff; }
    .bg-violet a:hover {
      color: #fff; }

.bg-dark {
  background-color: #1c2b36;
  color: #fff; }
  .bg-dark a {
    color: #fff; }
    .bg-dark a:hover {
      color: #fff; }

.bg-bright {
  background-color: #fafafa;
  color: #626262; }
  .bg-bright a {
    color: #626262; }
    .bg-bright a:hover {
      color: #626262; }

.bg-reverse {
  background-color: #fff;
  color: #626262; }
  .bg-reverse a {
    color: #626262; }
    .bg-reverse a:hover {
      color: #626262; }

.bg-facebook {
  background-color: #335397;
  color: #fff; }
  .bg-facebook a {
    color: #fff; }
    .bg-facebook a:hover {
      color: #fff; }

.bg-twitter {
  background-color: #00c7f7;
  color: #fff; }
  .bg-twitter a {
    color: #fff; }
    .bg-twitter a:hover {
      color: #fff; }

.bg-google-plus {
  background-color: #df4a32;
  color: #fff; }
  .bg-google-plus a {
    color: #fff; }
    .bg-google-plus a:hover {
      color: #fff; }

.page-container {
  max-width: 1170px;
  margin: auto; }

.blockquote-colored {
  border-left: 5px solid #0071b4; }
  .blockquote-colored.pull-right {
    border-right: 5px solid #0071b4;
    border-left: 0; }

.gradient-text {
  font-size: 150px;
  font-weight: 300;
  color: #0071b4;
  background: -webkit-linear-gradient(92deg, #fb83fa, #00aced);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.text-small {
  font-size: 12px; }

.text-normal {
  font-size: 14px; }

.text-huge {
  font-size: 72px; }

.text-large {
  font-size: 50px; }

.size-h1 {
  font-size: 36px; }

.size-h2 {
  font-size: 30px; }

.size-h3 {
  font-size: 24px; }

.size-h4 {
  font-size: 18px; }

.text-thin {
  font-weight: 300; }

.text-ultralight {
  font-weight: 100; }

.color-primary {
  color: #0071b4; }

.color-success {
  color: #A3BE8C; }

.color-info {
  color: #7FABD2; }

.color-info-alt {
  color: #B48EAD; }

.color-warning {
  color: #EBCB8B; }

.color-danger {
  color: #BF616A; }

.color-dark {
  color: #1c2b36; }

.color-reverse {
  color: #fff; }

.color-gray-darker {
  color: #222222; }

.color-gray-dark {
  color: #333333; }

.color-gray {
  color: #555555; }

.color-gray-light {
  color: #999999; }

.color-gray-lighter {
  color: #eeeeee; }

.dropcap, .dropcap-square, .dropcap-circle {
  display: block;
  float: left;
  font-weight: normal;
  line-height: 36px;
  margin-right: 6px;
  text-shadow: none; }

.dropcap {
  font-size: 3.1em; }

.dropcap-square, .dropcap-circle {
  background-color: #eeeeee;
  color: #626262;
  width: 36px;
  text-align: center; }

.dropcap-square {
  border-radius: 2px;
  font-size: 2.3em; }

.dropcap-circle {
  border-radius: 50%;
  font-size: 1.78em; }

.dropcap.colored {
  color: #0071b4; }

.dropcap-square.colored, .dropcap-circle.colored {
  background-color: #0071b4;
  color: #fff; }

.highlight {
  background-color: #1c2b36;
  color: #fff;
  border-radius: 2px;
  padding: 2px 5px; }
  .highlight.colored {
    background-color: #0071b4; }

.pull-in {
  margin: 0 -15px; }

.divider {
  display: block;
  margin-top: 15px;
  margin-bottom: 15px; }
  .divider.divider-dashed {
    border: 1px dashed #e9e9e9; }
  .divider.divider-dotted {
    border: 1px dotted #e9e9e9; }

.divider-sm {
  margin-top: 10px;
  margin-bottom: 10px; }

.divider-lg {
  margin-top: 30px;
  margin-bottom: 30px; }

.divider-xl {
  margin-top: 50px;
  margin-bottom: 50px; }

.space {
  display: inline;
  padding: 5px; }

.space-md {
  padding: 15px; }

.space-lg {
  padding: 25px; }

.section-header {
  margin-bottom: 25px; }

.hr-colored {
  border-color: #0071b4; }

.table-dynamic .table-filters {
  margin: 10px 0;
  padding: 8px; }
.table-dynamic .filter-result-info {
  padding: 7px; }
.table-dynamic .table-bordered {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd; }
  .table-dynamic .table-bordered thead th {
    position: relative;
    padding: 0; }
    .table-dynamic .table-bordered thead th > .th {
      position: relative;
      padding: 8px 20px 8px 8px; }
    .table-dynamic .table-bordered thead th .glyphicon-chevron-up, .table-dynamic .table-bordered thead th .glyphicon-chevron-down {
      position: absolute;
      color: #999; }
      .table-dynamic .table-bordered thead th .glyphicon-chevron-up:hover, .table-dynamic .table-bordered thead th .glyphicon-chevron-down:hover {
        color: #0071b4;
        cursor: pointer; }
      .table-dynamic .table-bordered thead th .glyphicon-chevron-up.active, .table-dynamic .table-bordered thead th .glyphicon-chevron-down.active {
        color: #0071b4; }
    .table-dynamic .table-bordered thead th .fa-angle-up, .table-dynamic .table-bordered thead th .fa-angle-down {
      position: absolute;
      color: #999;
      font-size: 16px;
      font-weight: bold; }
      .table-dynamic .table-bordered thead th .fa-angle-up:hover, .table-dynamic .table-bordered thead th .fa-angle-down:hover {
        color: #0071b4;
        cursor: pointer; }
      .table-dynamic .table-bordered thead th .fa-angle-up.active, .table-dynamic .table-bordered thead th .fa-angle-down.active {
        color: #0071b4; }
    .table-dynamic .table-bordered thead th .glyphicon-chevron-up, .table-dynamic .table-bordered thead th .fa-angle-up {
      top: 4px;
      right: 5px; }
    .table-dynamic .table-bordered thead th .fa-angle-down {
      top: 18px;
      right: 5px; }
    .table-dynamic .table-bordered thead th .glyphicon-chevron-down {
      top: 18px;
      right: 6px; }
.table-dynamic .table-footer {
  margin: 10px 0;
  padding: 8px; }
.table-dynamic .page-num-info span {
  padding: 6px; }
.table-dynamic .pagination-container ul {
  margin: 0; }
  .table-dynamic .pagination-container ul li:hover {
    cursor: pointer; }

@media only screen and (max-width: 800px) {
  .table-flip-scroll {
    /* sort out borders */ }
    .table-flip-scroll .cf:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0; }
    .table-flip-scroll * html .cf {
      zoom: 1; }
    .table-flip-scroll *:first-child + html .cf {
      zoom: 1; }
    .table-flip-scroll table {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0; }
    .table-flip-scroll th, .table-flip-scroll td {
      margin: 0;
      vertical-align: top; }
    .table-flip-scroll th {
      text-align: left; }
    .table-flip-scroll table {
      display: block;
      position: relative;
      width: 100%; }
    .table-flip-scroll thead {
      display: block;
      float: left; }
    .table-flip-scroll tbody {
      display: block;
      width: auto;
      position: relative;
      overflow-x: auto;
      white-space: nowrap; }
    .table-flip-scroll thead tr {
      display: block; }
    .table-flip-scroll .table > thead > tr > th:first-child {
      border-top: 1px solid #ddd; }
    .table-flip-scroll th {
      display: block;
      text-align: right; }
    .table-flip-scroll tbody tr {
      display: inline-block;
      vertical-align: top; }
    .table-flip-scroll td {
      display: block;
      min-height: 1.25em;
      text-align: left; }
    .table-flip-scroll th {
      border-bottom: 0;
      border-left: 0; }
    .table-flip-scroll td {
      border-left: 0;
      border-right: 0;
      border-bottom: 0; }
    .table-flip-scroll tbody tr {
      border-left: 1px solid #babcbf; }
    .table-flip-scroll th:last-child, .table-flip-scroll td:last-child {
      border-bottom: 1px solid #babcbf; }
 }

.ui-radio {
  position: relative;
  margin: 0 20px 10px 20px;
  font-size: 14px;
  line-height: 20px;
  height: 20px; }
  .ui-radio input[type="radio"] + span:hover {
    cursor: pointer; }
    .ui-radio input[type="radio"] + span:hover:before {
      border-color: #0071b4; }
  .ui-radio input[type="radio"]:disabled + span:hover {
    cursor: not-allowed; }
    .ui-radio input[type="radio"]:disabled + span:hover:before {
      border-color: #ccc; }
  .ui-radio input[type="radio"] {
    display: none; }
  .ui-radio input[type="radio"] + span {
    padding-left: 10px;
    font-weight: normal; }
  .ui-radio input[type="radio"] + span:before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left: -20px;
    top: 0;
    background: white;
    border-radius: 50%;
    border: 1px solid #ccc;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out; }
  .ui-radio input[type="radio"]:disabled + span:before {
    opacity: 0.65;
    border: 1px solid #ccc;
    cursor: no-drop; }
  .ui-radio input[type="radio"]:checked + span:before {
    border-color: #0071b4; }
  .ui-radio input[type="radio"]:checked + span:after {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    top: 6px;
    left: -14px;
    background-color: #0071b4;
    border-radius: 50%;
    display: block; }
  .ui-radio input[type="radio"]:disabled:checked + span:before {
    border-color: #ccc; }
  .ui-radio input[type="radio"]:disabled:checked + span:after {
    opacity: 0.65;
    cursor: no-drop;
    background-color: #ccc; }

.ui-checkbox {
  position: relative;
  margin: 0 20px 10px 20px; }
  .ui-checkbox input[type="checkbox"] + span:hover {
    cursor: pointer; }
    .ui-checkbox input[type="checkbox"] + span:hover:before {
      border-color: #0071b4; }
  .ui-checkbox input[type="checkbox"]:disabled + span:hover {
    cursor: not-allowed; }
    .ui-checkbox input[type="checkbox"]:disabled + span:hover:before {
      border-color: #ccc; }
  .ui-checkbox input[type="checkbox"] {
    display: none; }
  .ui-checkbox input[type="checkbox"] + span {
    font-weight: normal; }
  .ui-checkbox input[type="checkbox"] + span:before {
    content: "";
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: -20px;
    background-color: transparent;
    border-radius: 2px;
    border: 1px solid #ccc;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out; }
  .ui-checkbox input[type="checkbox"]:disabled + span:before {
    opacity: 0.65;
    border: 1px solid #ccc;
    cursor: no-drop; }
  .ui-checkbox input[type="checkbox"]:checked + span:before {
    border: 1px solid #0071b4; }
  .ui-checkbox input[type="checkbox"]:checked + span:after {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    top: 7px;
    left: -15px;
    background-color: #0071b4;
    display: block; }
  .ui-checkbox input[type="checkbox"]:disabled:checked + span:before {
    opacity: 0.65;
    border: 1px solid #ccc; }
  .ui-checkbox input[type="checkbox"]:disabled:checked + span:after {
    opacity: 0.65;
    cursor: no-drop;
    background-color: #ccc; }

.ui-datepicker table {
  margin: 0 5px; }
  .ui-datepicker table th, .ui-datepicker table td {
    padding: 1px; }
    .ui-datepicker table th .active span, .ui-datepicker table td .active span {
      color: #fff; }

.ui-timepicker td {
  padding: 1px; }

.ui-rating:hover {
  cursor: pointer; }
.ui-rating .glyphicon {
  margin-right: 2px; }
.ui-rating .glyphicon-star {
  color: #0071b4; }
.ui-rating.ui-rating-success .glyphicon-star {
  color: #A3BE8C; }
.ui-rating.ui-rating-info .glyphicon-star {
  color: #7FABD2; }
.ui-rating.ui-rating-warning .glyphicon-star {
  color: #EBCB8B; }
.ui-rating.ui-rating-danger .glyphicon-star {
  color: #BF616A; }

.form-control {
  border-width: 1px;
  box-shadow: none; }

.form-control:focus {
  border-color: #0071b4;
  box-shadow: none; }

.form-group .col-sm-10 {
  position: relative; }
  .form-group .col-sm-10 .icon {
    position: absolute;
    right: 25px;
    top: 10px; }

.input-round {
  border-radius: 25px; }

input.input-primary {
  border-color: #0071b4; }
  input.input-primary:focus {
    border-color: #0071b4; }

input.input-info {
  border-color: #7FABD2; }
  input.input-info:focus {
    border-color: #7FABD2; }

input.input-success {
  border-color: #A3BE8C; }
  input.input-success:focus {
    border-color: #A3BE8C; }

input.input-warning {
  border-color: #EBCB8B; }
  input.input-warning:focus {
    border-color: #EBCB8B; }

input.input-danger {
  border-color: #BF616A; }
  input.input-danger:focus {
    border-color: #BF616A; }

.drop-box {
  width: 100%;
  height: 100px;
  padding-top: 40px;
  background: #F8F8F8;
  border: 2px dashed #DDD;
  text-align: center;
  padding-top: 35px;
  border-radius: 2px; }

.ui-select {
  position: relative;
  display:block; /*inline-block;*/
  margin: 0 0 2px 1.2%;
  width: auto;
  height: auto;
  border: 1px solid #CBD5DD;
  border-radius: 2px; }
  .ui-select > select {
    z-index: 99;
    display: block;
    position: relative;
    padding: 10px 15px 10px 10px;
    /*min-width: 200px;*/
    width: 120%;
    border: none;
    outline: none;
    background: transparent;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    text-indent: 0.01px;
    text-overflow: '';
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none; }
  .ui-select select::-ms-expand {
    display: none; }
  .ui-select:after {
    z-index: 0;
    content: "";
    position: absolute;
    right: 8%;
    top: 50%;
    color: #CBD5DD;
    width: 0;
    margin-top: -3px;
    height: 0;
    border-top: 6px solid;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent; }

.ui-spinner {
  max-width: 200px; }
  .ui-spinner .input-group-btn.btn-group-vertical > .btn {
    height: 17px;
    margin: 0;
    padding: 0 6px;
    text-align: center; }
    .ui-spinner .input-group-btn.btn-group-vertical > .btn:first-child {
      border-radius: 0 2px 0 0 !important; }
    .ui-spinner .input-group-btn.btn-group-vertical > .btn:last-child {
      border-radius: 0 0 2px 0; }
    .ui-spinner .input-group-btn.btn-group-vertical > .btn i {
      display: block;
      margin-top: -2px; }

.ui-switch input {
  display: none; }
.ui-switch i {
  display: inline-block;
  cursor: pointer;
  padding-right: 20px;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  transition: all ease 0.2s;
  border-radius: 25px;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5); }
  .ui-switch i:before {
    display: block;
    content: '';
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); }
.ui-switch :checked + i {
  padding-right: 0;
  padding-left: 20px;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5), inset 0 0 40px #0071b4; }
.ui-switch.ui-switch-success :checked + i {
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5), inset 0 0 40px #A3BE8C; }
.ui-switch.ui-switch-info :checked + i {
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5), inset 0 0 40px #7FABD2; }
.ui-switch.ui-switch-warning :checked + i {
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5), inset 0 0 40px #EBCB8B; }
.ui-switch.ui-switch-danger :checked + i {
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5), inset 0 0 40px #BF616A; }
.ui-switch.ui-switch-sm i {
  padding-right: 16px;
  border-radius: 20px; }
  .ui-switch.ui-switch-sm i:before {
    width: 20px;
    height: 20px;
    border-radius: 20px; }
.ui-switch.ui-switch-sm :checked + i {
  padding-right: 0;
  padding-left: 16px;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5), inset 0 0 32px #0071b4; }
.ui-switch.ui-switch-sm.ui-switch-success :checked + i {
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5), inset 0 0 32px #A3BE8C; }
.ui-switch.ui-switch-sm.ui-switch-info :checked + i {
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5), inset 0 0 32px #7FABD2; }
.ui-switch.ui-switch-sm.ui-switch-warning :checked + i {
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5), inset 0 0 32px #EBCB8B; }
.ui-switch.ui-switch-sm.ui-switch-danger :checked + i {
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5), inset 0 0 32px #BF616A; }
.ui-switch.ui-switch-lg i {
  padding-right: 25px;
  border-radius: 30px; }
  .ui-switch.ui-switch-lg i:before {
    width: 30px;
    height: 30px;
    border-radius: 30px; }
.ui-switch.ui-switch-lg :checked + i {
  padding-right: 0;
  padding-left: 25px;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5), inset 0 0 50px #0071b4; }
.ui-switch.ui-switch-lg.ui-switch-success :checked + i {
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5), inset 0 0 50px #A3BE8C; }
.ui-switch.ui-switch-lg.ui-switch-info :checked + i {
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5), inset 0 0 50px #7FABD2; }
.ui-switch.ui-switch-lg.ui-switch-warning :checked + i {
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5), inset 0 0 50px #EBCB8B; }
.ui-switch.ui-switch-lg.ui-switch-danger :checked + i {
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5), inset 0 0 50px #BF616A; }

.form-validation .ng-valid.ng-dirty {
  border-color: #A3BE8C; }
.form-validation .ng-invalid.ng-dirty {
  border-color: #BF616A; }

.btn-info-alt {
  color: #fff;
  background-color: #B48EAD;
  border-color: #aa7fa2; }
  .btn-info-alt:hover, .btn-info-alt:focus, .btn-info-alt:active, .btn-info-alt.active, .open > .btn-info-alt.dropdown-toggle {
    color: #fff;
    background-color: #a06f97;
    border-color: #8d5e85; }
  .btn-info-alt:active, .btn-info-alt.active, .open > .btn-info-alt.dropdown-toggle {
    background-image: none; }
  .btn-info-alt.disabled, .btn-info-alt.disabled:hover, .btn-info-alt.disabled:focus, .btn-info-alt.disabled:active, .btn-info-alt.disabled.active, .btn-info-alt[disabled], .btn-info-alt[disabled]:hover, .btn-info-alt[disabled]:focus, .btn-info-alt[disabled]:active, .btn-info-alt[disabled].active, fieldset[disabled] .btn-info-alt, fieldset[disabled] .btn-info-alt:hover, fieldset[disabled] .btn-info-alt:focus, fieldset[disabled] .btn-info-alt:active, fieldset[disabled] .btn-info-alt.active {
    background-color: #B48EAD;
    border-color: #aa7fa2; }
  .btn-info-alt .badge {
    color: #B48EAD;
    background-color: #fff; }

.btn-dark {
  color: #fff;
  background-color: #1c2b36;
  border-color: #131e25; }
  .btn-dark:hover, .btn-dark:focus, .btn-dark:active, .btn-dark.active, .open > .btn-dark.dropdown-toggle {
    color: #fff;
    background-color: #0b1014;
    border-color: black; }
  .btn-dark:active, .btn-dark.active, .open > .btn-dark.dropdown-toggle {
    background-image: none; }
  .btn-dark.disabled, .btn-dark.disabled:hover, .btn-dark.disabled:focus, .btn-dark.disabled:active, .btn-dark.disabled.active, .btn-dark[disabled], .btn-dark[disabled]:hover, .btn-dark[disabled]:focus, .btn-dark[disabled]:active, .btn-dark[disabled].active, fieldset[disabled] .btn-dark, fieldset[disabled] .btn-dark:hover, fieldset[disabled] .btn-dark:focus, fieldset[disabled] .btn-dark:active, fieldset[disabled] .btn-dark.active {
    background-color: #1c2b36;
    border-color: #131e25; }
  .btn-dark .badge {
    color: #1c2b36;
    background-color: #fff; }

.btn-line-default {
  color: #626262;
  background-color: transparent;
  border-color: #ededed; }
  .btn-line-default:hover, .btn-line-default:focus, .btn-line-default:active, .btn-line-default.active {
    color: #626262;
    background-color: #fafafa; }
  .open .btn-line-default.dropdown-toggle {
    color: #626262;
    background-color: #fafafa; }

.btn-line-primary {
  color: #626262;
  background-color: transparent;
  border-color: #00619b; }
  .btn-line-primary:hover, .btn-line-primary:focus, .btn-line-primary:active, .btn-line-primary.active {
    color: #fff;
    background-color: #0071b4; }
  .open .btn-line-primary.dropdown-toggle {
    color: #fff;
    background-color: #0071b4; }

.btn-line-success {
  color: #626262;
  background-color: transparent;
  border-color: #96b57c; }
  .btn-line-success:hover, .btn-line-success:focus, .btn-line-success:active, .btn-line-success.active {
    color: #fff;
    background-color: #A3BE8C; }
  .open .btn-line-success.dropdown-toggle {
    color: #fff;
    background-color: #A3BE8C; }

.btn-line-info {
  color: #626262;
  background-color: transparent;
  border-color: #6c9fcb; }
  .btn-line-info:hover, .btn-line-info:focus, .btn-line-info:active, .btn-line-info.active {
    color: #fff;
    background-color: #7FABD2; }
  .open .btn-line-info.dropdown-toggle {
    color: #fff;
    background-color: #7FABD2; }

.btn-line-warning {
  color: #626262;
  background-color: transparent;
  border-color: #e7c175; }
  .btn-line-warning:hover, .btn-line-warning:focus, .btn-line-warning:active, .btn-line-warning.active {
    color: #fff;
    background-color: #EBCB8B; }
  .open .btn-line-warning.dropdown-toggle {
    color: #fff;
    background-color: #EBCB8B; }

.btn-line-danger {
  color: #626262;
  background-color: transparent;
  border-color: #b84f59; }
  .btn-line-danger:hover, .btn-line-danger:focus, .btn-line-danger:active, .btn-line-danger.active {
    color: #fff;
    background-color: #BF616A; }
  .open .btn-line-danger.dropdown-toggle {
    color: #fff;
    background-color: #BF616A; }

.btn-line-dark {
  color: #626262;
  background-color: transparent;
  border-color: #131e25; }
  .btn-line-dark:hover, .btn-line-dark:focus, .btn-line-dark:active, .btn-line-dark.active {
    color: #fff;
    background-color: #1c2b36; }
  .open .btn-line-dark.dropdown-toggle {
    color: #fff;
    background-color: #1c2b36; }

.btn-direction {
  position: relative;
  border: 0;
  line-height: 20px; }

.btn-left {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }
  .btn-left:before {
    content: " ";
    line-height: 0;
    position: absolute;
    top: 0;
    left: -26px;
    border: 16px solid transparent;
    border-right: 10px solid #fafafa; }
  .btn-left:hover:before {
    border-right: 10px solid #e1e1e1; }
  .btn-left.btn-primary:before {
    border-right: 10px solid #0071b4; }
  .btn-left.btn-primary:hover:before {
    border-right: 10px solid #005181; }
  .btn-left.btn-success:before {
    border-right: 10px solid #A3BE8C; }
  .btn-left.btn-success:hover:before {
    border-right: 10px solid #89ac6b; }
  .btn-left.btn-info:before {
    border-right: 10px solid #7FABD2; }
  .btn-left.btn-info:hover:before {
    border-right: 10px solid #5992c5; }
  .btn-left.btn-warning:before {
    border-right: 10px solid #EBCB8B; }
  .btn-left.btn-warning:hover:before {
    border-right: 10px solid #e3b760; }
  .btn-left.btn-danger:before {
    border-right: 10px solid #BF616A; }
  .btn-left.btn-danger:hover:before {
    border-right: 10px solid #a9444e; }

.btn-right {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }
  .btn-right:before {
    content: " ";
    line-height: 0;
    position: absolute;
    top: 0;
    right: -26px;
    border: 16px solid transparent;
    border-left: 10px solid #fafafa; }
  .btn-right:hover:before {
    border-left: 10px solid #e1e1e1; }
  .btn-right.btn-primary:before {
    border-left: 10px solid #0071b4; }
  .btn-right.btn-primary:hover:before {
    border-left: 10px solid #005181; }
  .btn-right.btn-success:before {
    border-left: 10px solid #A3BE8C; }
  .btn-right.btn-success:hover:before {
    border-left: 10px solid #89ac6b; }
  .btn-right.btn-info:before {
    border-left: 10px solid #7FABD2; }
  .btn-right.btn-info:hover:before {
    border-left: 10px solid #5992c5; }
  .btn-right.btn-warning:before {
    border-left: 10px solid #EBCB8B; }
  .btn-right.btn-warning:hover:before {
    border-left: 10px solid #e3b760; }
  .btn-right.btn-danger:before {
    border-left: 10px solid #BF616A; }
  .btn-right.btn-danger:hover:before {
    border-left: 10px solid #a9444e; }

.btn-up:before {
  content: " ";
  line-height: 0;
  position: absolute;
  top: -16px;
  left: 50%;
  margin-left: -8px;
  border: 8px solid transparent;
  border-bottom: 8px solid #fafafa; }
.btn-up:hover:before {
  border-bottom: 8px solid #e1e1e1; }
.btn-up.btn-primary:before {
  border-bottom: 8px solid #0071b4; }
.btn-up.btn-primary:hover:before {
  border-bottom: 8px solid #005181; }
.btn-up.btn-success:before {
  border-bottom: 8px solid #A3BE8C; }
.btn-up.btn-success:hover:before {
  border-bottom: 8px solid #89ac6b; }
.btn-up.btn-info:before {
  border-bottom: 8px solid #7FABD2; }
.btn-up.btn-info:hover:before {
  border-bottom: 8px solid #5992c5; }
.btn-up.btn-warning:before {
  border-bottom: 8px solid #EBCB8B; }
.btn-up.btn-warning:hover:before {
  border-bottom: 8px solid #e3b760; }
.btn-up.btn-danger:before {
  border-bottom: 8px solid #BF616A; }
.btn-up.btn-danger:hover:before {
  border-bottom: 8px solid #a9444e; }

.btn-down:before {
  content: " ";
  line-height: 0;
  position: absolute;
  bottom: -16px;
  left: 50%;
  margin-left: -8px;
  border: 8px solid transparent;
  border-top: 8px solid #fafafa; }
.btn-down:hover:before {
  border-top: 8px solid #e1e1e1; }
.btn-down.btn-primary:before {
  border-top: 8px solid #0071b4; }
.btn-down.btn-primary:hover:before {
  border-top: 8px solid #005181; }
.btn-down.btn-success:before {
  border-top: 8px solid #A3BE8C; }
.btn-down.btn-success:hover:before {
  border-top: 8px solid #89ac6b; }
.btn-down.btn-info:before {
  border-top: 8px solid #7FABD2; }
.btn-down.btn-info:hover:before {
  border-top: 8px solid #5992c5; }
.btn-down.btn-warning:before {
  border-top: 8px solid #EBCB8B; }
.btn-down.btn-warning:hover:before {
  border-top: 8px solid #e3b760; }
.btn-down.btn-danger:before {
  border-top: 8px solid #BF616A; }
.btn-down.btn-danger:hover:before {
  border-top: 8px solid #a9444e; }

.btn-w-xs {
  min-width: 80px; }

.btn-w-sm {
  min-width: 100px; }

.btn-w-md {
  min-width: 120px; }

.btn-w-lg {
  min-width: 150px; }

.btn-round {
  border-radius: 2em; }

.btn-gap {
  margin: 5px; }

.btn-gap-h {
  margin: 0 5px; }

.btn-gap-v {
  margin: 0 0 5px; }

.btn-icon {
  display: inline-block;
  text-align: center;
  border-radius: 2px;
  height: 35px;
  width: 35px;
  line-height: 35px; }
  .btn-icon.btn-icon-lined {
    line-height: 31px; }
    .btn-icon.btn-icon-lined.btn-icon-thin {
      line-height: 33px; }
  .btn-icon:hover {
    color: #fff; }

.btn-icon-lined {
  display: inline-block;
  text-align: center;
  border-radius: 2px;
  background-color: #fff;
  border-width: 2px;
  border-style: solid;
  border-color: #626262;
  color: #626262;
  height: 35px;
  width: 35px;
  line-height: 35px; }
  .btn-icon-lined.btn-icon-lined {
    line-height: 31px; }
    .btn-icon-lined.btn-icon-lined.btn-icon-thin {
      line-height: 33px; }
  .btn-icon-lined.btn-icon-thin {
    border-width: 1px; }
  .btn-icon-lined:hover {
    background-color: #fff;
    color: #fff; }
  .btn-icon-lined.btn-default-light {
    color: #bbb;
    border: 2px solid #bbb; }
    .btn-icon-lined.btn-default-light:hover {
      color: #bbb;
      border: 2px solid #bbb; }
  .btn-icon-lined.btn-default {
    color: #999999;
    border-color: #999999; }
    .btn-icon-lined.btn-default:hover {
      color: #999999;
      border-color: #999999; }
  .btn-icon-lined.btn-primary {
    color: #0071b4;
    border-color: #0071b4; }
  .btn-icon-lined.btn-success {
    color: #A3BE8C;
    border-color: #A3BE8C; }
  .btn-icon-lined.btn-info {
    color: #7FABD2;
    border-color: #7FABD2; }
  .btn-icon-lined.btn-warning {
    color: #EBCB8B;
    border-color: #EBCB8B; }
  .btn-icon-lined.btn-danger {
    color: #BF616A;
    border-color: #BF616A; }

.btn-icon-round {
  border-radius: 50%; }

.btn-icon-sm {
  height: 30px;
  width: 30px;
  line-height: 30px; }
  .btn-icon-sm.btn-icon-lined {
    line-height: 26px; }
    .btn-icon-sm.btn-icon-lined.btn-icon-thin {
      line-height: 28px; }

.btn-icon-md {
  height: 45px;
  width: 45px;
  line-height: 45px; }
  .btn-icon-md.btn-icon-lined {
    line-height: 41px; }
    .btn-icon-md.btn-icon-lined.btn-icon-thin {
      line-height: 43px; }

.btn-icon-lg {
  height: 65px;
  width: 65px;
  line-height: 65px; }
  .btn-icon-lg.btn-icon-lined {
    line-height: 61px; }
    .btn-icon-lg.btn-icon-lined.btn-icon-thin {
      line-height: 63px; }

.btn-icon-lg-alt {
  height: 70px;
  width: 70px;
  line-height: 70px; }
  .btn-icon-lg-alt.btn-icon-lined {
    line-height: 66px; }
    .btn-icon-lg-alt.btn-icon-lined.btn-icon-thin {
      line-height: 68px; }

.btn-icon-xl {
  height: 80px;
  width: 80px;
  line-height: 80px; }
  .btn-icon-xl.btn-icon-lined {
    line-height: 76px; }
    .btn-icon-xl.btn-icon-lined.btn-icon-thin {
      line-height: 78px; }

.btn-twitter {
  color: #fff;
  background-color: #00c7f7;
  border-color: #00c7f7; }
  .btn-twitter:hover {
    color: #fff;
    text-decoration: none;
    background-color: #00a6ce;
    border-color: #0096ba; }

.btn-facebook {
  color: #fff;
  background-color: #335397;
  border-color: #335397; }
  .btn-facebook:hover {
    color: #fff;
    text-decoration: none;
    background-color: #294279;
    border-color: #243a69; }

.btn-gplus, .btn-google-plus {
  color: #fff;
  background-color: #dd4a38;
  border-color: #dd4a38; }
  .btn-gplus:hover, .btn-google-plus:hover {
    color: #fff;
    text-decoration: none;
    background-color: #ca3522;
    border-color: #b8301f; }

.btn-instagram {
  color: #fff;
  background-color: #82685A;
  border-color: #82685A; }
  .btn-instagram:hover {
    color: #fff;
    text-decoration: none;
    background-color: #6a5549;
    border-color: #5e4b41; }

.btn-vimeo {
  color: #fff;
  background-color: #63879C;
  border-color: #63879C; }
  .btn-vimeo:hover {
    color: #fff;
    text-decoration: none;
    background-color: #537183;
    border-color: #4b6777; }

.btn-flickr {
  color: #fff;
  background-color: #0061DB;
  border-color: #0061DB; }
  .btn-flickr:hover {
    color: #fff;
    text-decoration: none;
    background-color: #004fb2;
    border-color: #00469e; }

.btn-github {
  color: #fff;
  background-color: #3B3B3B;
  border-color: #3B3B3B; }
  .btn-github:hover {
    color: #fff;
    text-decoration: none;
    background-color: #272727;
    border-color: #1c1c1c; }

.btn-pinterest {
  color: #fff;
  background-color: #D73532;
  border-color: #D73532; }
  .btn-pinterest:hover {
    color: #fff;
    text-decoration: none;
    background-color: #bc2725;
    border-color: #ab2421; }

.btn-tumblr {
  color: #fff;
  background-color: #586980;
  border-color: #586980; }
  .btn-tumblr:hover {
    color: #fff;
    text-decoration: none;
    background-color: #475568;
    border-color: #3f4b5c; }

.btn-linkedin {
  color: #fff;
  background-color: #018FAF;
  border-color: #018FAF; }
  .btn-linkedin:hover {
    color: #fff;
    text-decoration: none;
    background-color: #016e86;
    border-color: #015d72; }

.btn-dribbble {
  color: #fff;
  background-color: #EA73A0;
  border-color: #EA73A0; }
  .btn-dribbble:hover {
    color: #fff;
    text-decoration: none;
    background-color: #e55088;
    border-color: #e23e7c; }

.btn-stumbleupon {
  color: #fff;
  background-color: #EA4B24;
  border-color: #EA4B24; }
  .btn-stumbleupon:hover {
    color: #fff;
    text-decoration: none;
    background-color: #d13914;
    border-color: #bf3412; }

.btn-lastfm {
  color: #fff;
  background-color: #B80638;
  border-color: #B80638; }
  .btn-lastfm:hover {
    color: #fff;
    text-decoration: none;
    background-color: #90052c;
    border-color: #7d0426; }

.btn-evernote {
  color: #fff;
  background-color: #3BAB27;
  border-color: #3BAB27; }
  .btn-evernote:hover {
    color: #fff;
    text-decoration: none;
    background-color: #308a1f;
    border-color: #2a791c; }

.btn-skype {
  color: #fff;
  background-color: #00B0F6;
  border-color: #00B0F6; }
  .btn-skype:hover {
    color: #fff;
    text-decoration: none;
    background-color: #0093cd;
    border-color: #0084b9; }

.btn-soundcloud {
  color: #fff;
  background-color: #0066FF;
  border-color: #0066FF; }
  .btn-soundcloud:hover {
    color: #fff;
    text-decoration: none;
    background-color: #0056d6;
    border-color: #004ec2; }

.btn-behance {
  color: #fff;
  background-color: #B80638;
  border-color: #B80638; }
  .btn-behance:hover {
    color: #fff;
    text-decoration: none;
    background-color: #90052c;
    border-color: #7d0426; }

.btn-rss {
  color: #fff;
  background-color: #F79638;
  border-color: #F79638; }
  .btn-rss:hover {
    color: #fff;
    text-decoration: none;
    background-color: #f58111;
    border-color: #e87709; }

.btn-youtube {
  color: #fff;
  background-color: #CC181E;
  border-color: #CC181E; }
  .btn-youtube:hover {
    color: #fff;
    text-decoration: none;
    background-color: #a71419;
    border-color: #951216; }

.btn-metro {
  position: relative;
  padding: 0;
  border: 0;
  width: 180px;
  height: 180px;
  font-size: 21px;
  text-align: center; }
  .btn-metro i {
    font-size: 48px;
    line-height: 180px; }
  .btn-metro span {
    position: absolute;
    left: 15px;
    bottom: 15px; }

.content-container.ng-leave {
  z-index: 9999; }

.content-container.ng-enter {
  z-index: 8888; }

/*==========  animations  ==========*/
@-webkit-keyframes fade-up-enter {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }

@-moz-keyframes fade-up-enter {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px); }

  100% {
    opacity: 1;
    -moz-transform: translateY(0); } }

@keyframes fade-up-enter {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }

@-webkit-keyframes fade-up-leave {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0); }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-20px); } }

@-moz-keyframes fade-up-leave {
  0% {
    opacity: 1;
    -moz-transform: translateY(0); }

  100% {
    opacity: 0;
    -moz-transform: translateY(-20px); } }

@keyframes fade-up-leave {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px); } }

.animate-fade-up.ng-enter {
  -webkit-animation: 0.35s fade-up-enter;
  -moz-animation: 0.35s fade-up-enter;
  animation: 0.35s fade-up-enter; }

@-webkit-keyframes animate-flip-y-enter {
  0% {
    -webkit-transform: perspective(3000px) rotateY(90deg);
    opacity: 0; }

  100% {
    -webkit-transform: perspective(3000px) rotateY(0deg);
    opacity: 1; } }

@-moz-keyframes animate-flip-y-enter {
  0% {
    -moz-transform: perspective(3000px) rotateY(90deg);
    opacity: 0; }

  100% {
    -moz-transform: perspective(3000px) rotateY(0deg);
    opacity: 1; } }

@keyframes animate-flip-y-enter {
  0% {
    -webkit-transform: perspective(3000px) rotateY(90deg);
    -moz-transform: perspective(3000px) rotateY(90deg);
    -ms-transform: perspective(3000px) rotateY(90deg);
    -o-transform: perspective(3000px) rotateY(90deg);
    transform: perspective(3000px) rotateY(90deg);
    opacity: 0; }

  100% {
    -webkit-transform: perspective(3000px) rotateY(0deg);
    -moz-transform: perspective(3000px) rotateY(0deg);
    -ms-transform: perspective(3000px) rotateY(0deg);
    -o-transform: perspective(3000px) rotateY(0deg);
    transform: perspective(3000px) rotateY(0deg);
    opacity: 1; } }

@-webkit-keyframes animate-flip-y-leave {
  0% {
    -webkit-transform: perspective(3000px) rotateY(0deg);
    opacity: 1; }

  100% {
    -webkit-transform: perspective(3000px) rotateY(-90deg);
    opacity: 0; } }

@-moz-keyframes animate-flip-y-leave {
  0% {
    -moz-transform: perspective(3000px) rotateY(0deg);
    opacity: 1; }

  100% {
    -moz-transform: perspective(3000px) rotateY(-90deg);
    opacity: 0; } }

@keyframes animate-flip-y-leave {
  0% {
    -webkit-transform: perspective(3000px) rotateY(0deg);
    -moz-transform: perspective(3000px) rotateY(0deg);
    -ms-transform: perspective(3000px) rotateY(0deg);
    -o-transform: perspective(3000px) rotateY(0deg);
    transform: perspective(3000px) rotateY(0deg);
    opacity: 1; }

  100% {
    -webkit-transform: perspective(3000px) rotateY(-90deg);
    -moz-transform: perspective(3000px) rotateY(-90deg);
    -ms-transform: perspective(3000px) rotateY(-90deg);
    -o-transform: perspective(3000px) rotateY(-90deg);
    transform: perspective(3000px) rotateY(-90deg);
    opacity: 0; } }

.animate-flip-y.ng-enter {
  -webkit-animation: 0.35s animate-flip-y-enter ease-in-out;
  -moz-animation: 0.35s animate-flip-y-enter ease-in-out;
  animation: 0.35s animate-flip-y-enter ease-in-out; }

@-webkit-keyframes slideInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px); }

  100% {
    -webkit-transform: translateY(0); } }

@-moz-keyframes slideInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-2000px); }

  100% {
    -moz-transform: translateY(0); } }

@keyframes slideInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -moz-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    -o-transform: translateY(-2000px);
    transform: translateY(-2000px); }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }

@-webkit-keyframes slideOutUp {
  0% {
    -webkit-transform: translateY(0); }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-2000px); } }

@-moz-keyframes slideOutUp {
  0% {
    -moz-transform: translateY(0); }

  100% {
    opacity: 0;
    -moz-transform: translateY(-2000px); } }

@keyframes slideOutUp {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -moz-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    -o-transform: translateY(-2000px);
    transform: translateY(-2000px); } }

.animate-vertical-slide.ng-hide-add {
  -webkit-animation: 0.35s slideOutUp ease-in-out;
  -moz-animation: 0.35s slideOutUp ease-in-out;
  animation: 0.35s slideOutUp ease-in-out; }

.animate-vertical-slide.ng-hide-remove {
  -webkit-animation: 0.35s 0.35s slideInDown ease-in-out;
  -moz-animation: 0.35s 0.35s slideInDown ease-in-out;
  animation: 0.35s 0.35s slideInDown ease-in-out; }

/*==========  simple ones  ==========*/
@-webkit-keyframes slideOutUp {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.95); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1); } }

@-moz-keyframes slideOutUp {
  0% {
    opacity: 0;
    -moz-transform: scale(0.95); }

  100% {
    opacity: 1;
    -moz-transform: scale(1); } }

@keyframes slideOutUp {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }

.ainmate-scale-up.ng-enter {
  -webkit-animation: 0.35s slideOutUp ease-in-out;
  -moz-animation: 0.35s slideOutUp ease-in-out;
  animation: 0.35s slideOutUp ease-in-out; }

@-webkit-keyframes slideInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(25px); }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0); } }

@-moz-keyframes slideInRight {
  0% {
    opacity: 0;
    -moz-transform: translateX(25px); }

  100% {
    opacity: 1;
    -moz-transform: translateX(0); } }

@keyframes slideInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(25px);
    -moz-transform: translateX(25px);
    -ms-transform: translateX(25px);
    -o-transform: translateX(25px);
    transform: translateX(25px); }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); } }

.ainmate-slide-in-right.ng-enter {
  -webkit-animation: 0.35s slideInRight ease-in-out;
  -moz-animation: 0.35s slideInRight ease-in-out;
  animation: 0.35s slideInRight ease-in-out; }

.badge-primary {
  background-color: #0071b4; }

.badge-success {
  background-color: #A3BE8C; }

.badge-info {
  background-color: #7FABD2; }

.badge-warning {
  background-color: #EBCB8B; }

.badge-danger {
  background-color: #BF616A; }

.breadcrumb a {
  color: #626262; }
  .breadcrumb a:hover {
    text-decoration: none; }

.breadcrumb-alt {
  overflow: hidden;
  list-style: none;
  margin: 0 0 20px;
  padding: 0;
  width: 100%; }
  .breadcrumb-alt > li {
    float: left;
    margin: 0 25px 0 0; }
    .breadcrumb-alt > li > a {
      position: relative;
      float: left;
      background-color: #eeeeee;
      color: #626262;
      font-size: 12px;
      padding: 10px; }
      .breadcrumb-alt > li > a:before {
        position: absolute;
        top: 50%;
        left: -1em;
        margin-top: -1.6em;
        border-color: #eeeeee #eeeeee #eeeeee rgba(0, 0, 0, 0);
        border-style: solid;
        border-width: 1.5em 0 1.7em 1em;
        content: ""; }
      .breadcrumb-alt > li > a:after {
        position: absolute;
        top: 50%;
        right: -1em;
        margin-top: -1.5em;
        border-bottom: 1.5em solid rgba(0, 0, 0, 0);
        border-left: 1em solid #eeeeee;
        border-top: 1.5em solid rgba(0, 0, 0, 0);
        content: ""; }
      .breadcrumb-alt > li > a:hover, .breadcrumb-alt > li > a.active {
        text-decoration: none;
        background-color: #0071b4;
        color: #fff; }
        .breadcrumb-alt > li > a:hover:before, .breadcrumb-alt > li > a.active:before {
          border-color: #0071b4 #0071b4 #0071b4 rgba(0, 0, 0, 0); }
        .breadcrumb-alt > li > a:hover:after, .breadcrumb-alt > li > a.active:after {
          border-left: 1em solid #0071b4; }

.icon-box .icon-container {
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 0 7px rgba(0, 0, 0, 0.01);
  border-radius: 50%;
  width: 110px;
  height: 110px;
  text-align: center;
  font-size: 50px;
  line-height: 110px;
  color: #0071b4; }
.icon-box h4 {
  font-weight: bold; }
@media (min-width: 768px) {
  .icon-box .desc-container {
    max-width: 250px; } }

.icon-box-vertical {
  padding: 15px 0;
  text-align: center; }
  .icon-box-vertical .icon-container {
    margin: 0 auto 15px; }
  .icon-box-vertical .desc-container {
    margin: auto; }

.icon-box-horizontal {
  position: relative;
  min-height: 130px;
  padding: 10px 10px 10px 145px; }
  .icon-box-horizontal .icon-container {
    position: absolute;
    left: 10px;
    top: 10px; }

.photo-box {
  text-align: center; }
  .photo-box img {
    max-width: 100%; }
  .photo-box h4 {
    font-weight: bold; }
  .photo-box .photo-container {
    border: 8px solid #fafafa; }

.ui-bullet {
  overflow: auto; }
  .ui-bullet .btn-icon {
    float: left;
    font-size: 26px; }
  .ui-bullet .ui-bullet-content {
    margin-left: 75px;
    margin-bottom: 2em; }
  .ui-bullet h3 {
    display: inline-block;
    border-bottom: 1px solid rgba(98, 98, 98, 0.2);
    font-size: 24px;
    margin: 0.5em 0 0.6em; }

.callout {
  margin: 20px 0;
  padding: 20px;
  border-left: 3px solid #eee; }
  .callout h4 {
    margin-top: 0;
    margin-bottom: 5px; }
  .callout p:last-child {
    margin-bottom: 0; }

.callout-success {
  background-color: #f3faf3;
  border-color: #A3BE8C; }
  .callout-success h4 {
    color: #A3BE8C; }

.callout-info {
  background-color: #f4f8fa;
  border-color: #7FABD2; }
  .callout-info h4 {
    color: #7FABD2; }

.callout-warning {
  background-color: #fcf8f2;
  border-color: #EBCB8B; }
  .callout-warning h4 {
    color: #EBCB8B; }

.callout-danger {
  background-color: #fdf7f7;
  border-color: #BF616A; }
  .callout-danger h4 {
    color: #BF616A; }

/*==========  Flot charts  ==========*/
#flotTip {
  background: rgba(0, 0, 0, 0.7);
  color: #fafafa;
  padding: 0.5em 0.6em;
  border: 0;
  font-size: 12px;
  border-radius: 2px; }

.legendLabel {
  padding: 0 5px;
  color: #626262; }

/*==========  ChartJS  ==========*/
.chartjs-with-legend {
  position: relative;
  padding: 10px 130px 10px 10px;
  min-height: 200px; }

.doughnut-legend {
  list-style: none;
  position: absolute;
  right: 20px;
  top: 20px; }
  .doughnut-legend li {
    display: block;
    padding-left: 30px;
    position: relative;
    margin-bottom: 4px;
    border-radius: 2px;
    padding: 2px 8px 2px 28px;
    font-size: 14px;
    cursor: default;
    -webkit-transition: background-color 200ms ease-in-out;
    -moz-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out; }
    .doughnut-legend li:hover {
      background-color: #fafafa; }
    .doughnut-legend li span {
      display: inline-block;
      margin: 0 8px 0 0;
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 20px;
      border-radius: 2px; }

.dropdown-menu {
  box-shadow: none; }
  .dropdown-menu.dropdown-dark {
    background-color: #1c2b36; }
    .dropdown-menu.dropdown-dark.with-arrow:after {
      border-bottom: 7px solid #1c2b36; }
    .dropdown-menu.dropdown-dark > li > a {
      color: #999999; }
  .dropdown-menu.with-arrow {
    margin-top: 0; }
    .dropdown-menu.with-arrow:before {
      content: " ";
      position: absolute;
      left: 12px;
      top: -16px;
      border: 8px solid transparent;
      border-bottom: 8px solid rgba(0, 0, 0, 0.15); }
    .dropdown-menu.with-arrow:after {
      content: " ";
      position: absolute;
      left: 13px;
      top: -14px;
      border: 7px solid transparent;
      border-bottom: 7px solid #fff; }
    .dropdown-menu.with-arrow.pull-right {
      margin-top: 0; }
      .dropdown-menu.with-arrow.pull-right:before {
        left: auto;
        right: 12px; }
      .dropdown-menu.with-arrow.pull-right:after {
        left: auto;
        right: 13px; }
    .dropdown-menu.with-arrow.panel {
      border: 0;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); }
    .dropdown-menu.with-arrow.panel-default:before {
      border-bottom: 8px solid #e9e9e9; }
    .dropdown-menu.with-arrow.panel-default:after {
      border-bottom: 7px solid #f6f6f6; }
    .dropdown-menu.with-arrow.panel-dark:before {
      border-bottom: 8px solid #1c2b36; }
    .dropdown-menu.with-arrow.panel-dark:after {
      border-bottom: 7px solid #1c2b36; }
    .dropdown-menu.with-arrow.panel-primary:before {
      border-bottom: 8px solid #0071b4; }
    .dropdown-menu.with-arrow.panel-primary:after {
      border-bottom: 7px solid #0071b4; }
    .dropdown-menu.with-arrow.panel-success:before {
      border-bottom: 8px solid #e9f7d7; }
    .dropdown-menu.with-arrow.panel-success:after {
      border-bottom: 7px solid #F2FBEC; }
    .dropdown-menu.with-arrow.panel-info:before {
      border-bottom: 8px solid #d4e4f1; }
    .dropdown-menu.with-arrow.panel-info:after {
      border-bottom: 7px solid #EFF3FA; }
    .dropdown-menu.with-arrow.panel-warning:before {
      border-bottom: 8px solid #f8e7da; }
    .dropdown-menu.with-arrow.panel-warning:after {
      border-bottom: 7px solid #FCF7EF; }
    .dropdown-menu.with-arrow.panel-danger:before {
      border-bottom: 8px solid #fcd8de; }
    .dropdown-menu.with-arrow.panel-danger:after {
      border-bottom: 7px solid #FEF0F0; }

img.img30_30 {
  width: 30px;
  height: 30px; }
img.img64_64 {
  width: 64px;
  height: 64px; }
img.img80_80 {
  width: 80px;
  height: 80px; }

.label {
  padding: 0.5em 0.8em; }

.label-info-alt {
  background: #B48EAD; }

.list-group-item {
  padding: 15px;
  border: 1px solid #f3f3f3; }

.list-info li {
  padding: 10px;
  border-bottom: 1px solid #eee; }
  .list-info li:last-child {
    border-bottom: none; }
  .list-info li .icon {
    margin-right: 10px;
    color: #0071b4; }
  .list-info li label {
    width: 100px; }

.page.page-mail {
  padding: 0 15px; }
  .page.page-mail > .row {
    display: table; }
  .page.page-mail .col-sm-3, .page.page-mail .col-sm-9 {
    float: none;
    display: table-cell;
    vertical-align: top;
    padding: 0; }
  .page.page-mail .col-sm-3 {
    padding-bottom: 180px; }
  .page.page-mail .col-sm-9 {
    background-color: #fff; }

.mail-categories {
  background-color: #f6f6f6; }
  .mail-categories a {
    color: #626262; }
  .mail-categories .btn-primary {
    color: #fff; }
  .mail-categories .category-heading {
    padding: 13px 15px; }
  .mail-categories .list-group .list-group-item {
    padding: 0;
    border-width: 1px 0;
    border-color: rgba(0, 0, 0, 0.02);
    background-color: transparent; }
    .mail-categories .list-group .list-group-item.active > a {
      color: #0071b4;
      background-color: #fff; }
    .mail-categories .list-group .list-group-item > a {
      display: block;
      padding: 15px;
      text-decoration: none; }
      .mail-categories .list-group .list-group-item > a:hover {
        color: #0071b4;
        background-color: #fafafa; }
      .mail-categories .list-group .list-group-item > a > i {
        font-size: 14px;
        width: 18px;
        margin-right: 6px; }
        .mail-categories .list-group .list-group-item > a > i.fa-circle {
          font-size: 14px; }

.mail-container.panel {
  border: 0;
  margin: 0; }
.mail-container .panel-heading {
  padding: 20px;
  font-size: 22px; }
.mail-container .mail-options {
  padding: 12px; }
.mail-container .table {
  margin-bottom: 0;
  border-top: 1px solid #ddd; }
  .mail-container .table tr:hover {
    cursor: pointer; }
  .mail-container .table tr > td {
    padding: 12px; }
    .mail-container .table tr > td .ti-star {
      color: #ccc; }
      .mail-container .table tr > td .ti-star.active {
        color: #BF616A; }
  .mail-container .table label.ui-checkbox {
    margin-bottom: 0; }
  .mail-container .table .mail-unread {
    font-weight: bold;
    color: #333333; }
  .mail-container .table .mail-hightlight td {
    background-color: #FCF7EF; }
.mail-container .mail-header {
  padding: 15px 0; }
  .mail-container .mail-header h3 {
    margin-top: 0; }
.mail-container .mail-info {
  padding: 10px 15px;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1; }
  .mail-container .mail-info .col-md-8, .mail-container .mail-info .col-md-4 {
    padding: 0; }
.mail-container .mail-content {
  padding: 15px 0;
  border-bottom: 1px solid #f1f1f1; }
.mail-container .mail-attachments {
  padding: 15px 0;
  border-bottom: 1px solid #f1f1f1; }
  .mail-container .mail-attachments .list-attachs img {
    max-width: 200px;
    max-height: 200px; }
.mail-container .mail-actions {
  margin-top: 10px; }

.mail-compose .form-group > input {
  border: none; }
  .mail-compose .form-group > input:focus {
    border: none; }
.mail-compose .mail-actions {
  margin-top: 10px; }

.nav-boxed {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 2px; }
  .nav-boxed.nav-justified > li > a {
    margin: 0; }
  .nav-boxed a {
    color: #626262; }
  .nav-boxed > li > a {
    display: block;
    padding: 10px 5px;
    border-left: 0;
    border-top: 1px solid #f3f3f3; }
    @media (min-width: 768px) {
      .nav-boxed > li > a {
        border-top: 0;
        border-left: 1px solid #f3f3f3; } }
    .nav-boxed > li > a > i {
      display: block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      margin: 0 auto 2px;
      font-size: 30px; }
  .nav-boxed > li:first-child > a {
    border-left: none;
    border-top: 0; }
    @media (min-width: 768px) {
      .nav-boxed > li:first-child > a {
        border-left: 1px solid #f3f3f3; } }

.panel {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1); }
  .panel .panel-heading {
    text-transform: uppercase; }
  .panel .panel-title {
    font-size: 14px; }

.panel-dark {
  border-color: #1c2b36; }
  .panel-dark > .panel-heading {
    color: #fff;
    background-color: #1c2b36;
    border-color: #1c2b36; }
    .panel-dark > .panel-heading + .panel-collapse > .panel-body {
      border-top-color: #1c2b36; }
    .panel-dark > .panel-heading .badge {
      color: #1c2b36;
      background-color: #fff; }
  .panel-dark > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #1c2b36; }

.panel-box {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  border: none; }
  .panel-box .panel-item {
    display: table-cell;
    padding: 30px;
    width: 1%;
    vertical-align: top;
    border-radius: 0; }
  .panel-box .panel-left {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px; }
  .panel-box .panel-right {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px; }
  .panel-box.info-box i {
    line-height: 70px; }
  .panel-box .panel-top, .panel-box .panel-bottom {
    display: block; }
  .panel-box .panel-top {
    padding: 30px 20px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px; }
  .panel-box .panel-bottom {
    padding: 10px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px; }
    .panel-box .panel-bottom p {
      margin: 0; }
  .panel-box .list-justified-container {
    padding: 15px 0; }
  .panel-box ul.list-justified {
    display: table;
    width: 100%;
    list-style: none;
    padding: 0; }
    .panel-box ul.list-justified > li {
      float: none;
      display: table-cell;
      padding: 10px;
      width: 1%;
      border-right: 1px solid #eeeeee; }
      .panel-box ul.list-justified > li:last-child {
        border: none; }
      .panel-box ul.list-justified > li p {
        margin: 0; }
  .panel-box .panel-icon, .panel-box .panel-img {
    display: block;
    margin: -75px auto 0;
    border-radius: 50%;
    border: 10px solid #fff;
    width: 150px;
    height: 150px;
    line-height: 80px;
    text-align: center;
    font-size: 58px;
    text-shadow: -6px 8px 5px rgba(0, 0, 0, 0.3); }
  .panel-box .panel-icon {
    padding: 28px 35px 35px; }
  .panel-box .panel-img {
    padding: 0; }
    .panel-box .panel-img img {
      width: 100%;
      max-width: 100%; }

.mini-box {
  min-height: 120px;
  padding: 25px; }
  .mini-box .box-icon {
    display: inline-block;
    width: 70px;
    height: 70px;
    line-height: 70px;
    vertical-align: middle;
    text-align: center;
    font-size: 35px;
    border-radius: 2px; }
    .mini-box .box-icon.rounded {
      border-radius: 50%; }
  .mini-box .btn-icon, .mini-box .btn-icon-lined {
    margin: 0 15px 0 0;
    font-size: 32px; }
  .mini-box .box-info {
    display: inline-block;
    vertical-align: top; }
    .mini-box .box-info p {
      margin: 0; }

.panel-profile {
  border: none; }
  .panel-profile .profile {
    margin: 5px 15px 5px 5px;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2); }
    .panel-profile .profile img {
      border-radius: 50%; }
  .panel-profile .list-group > li > i {
    margin-right: 10px;
    font-size: 16px;
    color: #999999;
    table-layout: fixed; }
  .panel-profile .list-justified-container {
    padding: 15px 0; }
  .panel-profile ul.list-justified {
    display: table;
    width: 100%;
    list-style: none;
    padding: 0; }
    .panel-profile ul.list-justified > li {
      float: none;
      display: table-cell;
      padding: 10px;
      width: 1%;
      border-right: 1px solid #eeeeee; }
      .panel-profile ul.list-justified > li:last-child {
        border: none; }
      .panel-profile ul.list-justified > li p {
        margin: 0; }

.popover-title {
  padding: 8px 14px 0;
  color: #aaa;
  font-weight: bold;
  border-bottom: none; }

.popover-content {
  color: #fafafa; }

.pricing-table {
  margin-bottom: 20px;
  text-align: center;
  background-color: #fcfcfc;
  color: #626262;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); }
  .pricing-table > header {
    display: block;
    margin: 0;
    padding: 30px 40px;
    font-size: 30px;
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase; }
  .pricing-table .pricing-price {
    padding: 0 15px;
    margin: 0 0 20px 0; }
    .pricing-table .pricing-price sup {
      font-size: 20px;
      line-height: 1;
      color: #0071b4; }
    .pricing-table .pricing-price span {
      font-size: 45px;
      color: #0071b4;
      line-height: 1;
      margin: 0 5px; }
    .pricing-table .pricing-price sub {
      font-size: 15px;
      line-height: 1;
      color: #999999; }
    .pricing-table .pricing-price hr {
      width: 60%; }
  .pricing-table .subtitle {
    color: #999999; }
  .pricing-table .pricing-body > ul {
    margin: 0;
    padding: 10px 25px;
    list-style: none;
    font-size: 16px; }
    .pricing-table .pricing-body > ul > li {
      padding: 12px;
      border-bottom: 1px solid #e9e9e9; }
      .pricing-table .pricing-body > ul > li strong {
        color: #1c2b36; }
  .pricing-table > footer {
    padding: 30px 40px; }
    .pricing-table > footer > a {
      display: block;
      margin: 0;
      font-size: 16px; }
  .pricing-table.pricing-table-highlight {
    background-color: #0071b4;
    color: #fafafa; }
    .pricing-table.pricing-table-highlight .pricing-price sup {
      color: #fff; }
    .pricing-table.pricing-table-highlight .pricing-price span {
      color: #fff; }
    .pricing-table.pricing-table-highlight .pricing-price sub {
      color: #fafafa; }
    .pricing-table.pricing-table-highlight .pricing-price hr {
      border-color: rgba(0, 0, 0, 0.2); }
    .pricing-table.pricing-table-highlight .subtitle {
      color: #eeeeee; }
    .pricing-table.pricing-table-highlight .pricing-body > ul > li {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
      .pricing-table.pricing-table-highlight .pricing-body > ul > li strong {
        color: #fff; }

.ui-ribbon-container {
  position: relative; }
  .ui-ribbon-container .ui-ribbon-wrapper {
    position: absolute;
    overflow: hidden;
    width: 85px;
    height: 88px;
    top: -3px;
    right: -3px; }
  .ui-ribbon-container .ui-ribbon {
    position: relative;
    display: block;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    padding: 7px 0;
    left: -5px;
    top: 15px;
    width: 120px;
    line-height: 20px;
    background-color: #555555;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); }
    .ui-ribbon-container .ui-ribbon:before, .ui-ribbon-container .ui-ribbon:after {
      position: absolute;
      content: " ";
      line-height: 0;
      border-top: 2px solid #555555;
      border-left: 2px solid transparent;
      border-right: 2px solid transparent;
      bottom: -2px; }
    .ui-ribbon-container .ui-ribbon:before {
      left: 0;
      bottom: -1px; }
    .ui-ribbon-container .ui-ribbon:after {
      right: 0; }
  .ui-ribbon-container.ui-ribbon-primary .ui-ribbon {
    background-color: #0071b4; }
    .ui-ribbon-container.ui-ribbon-primary .ui-ribbon:before, .ui-ribbon-container.ui-ribbon-primary .ui-ribbon:after {
      border-top: 2px solid #0071b4; }
  .ui-ribbon-container.ui-ribbon-success .ui-ribbon {
    background-color: #A3BE8C; }
    .ui-ribbon-container.ui-ribbon-success .ui-ribbon:before, .ui-ribbon-container.ui-ribbon-success .ui-ribbon:after {
      border-top: 2px solid #A3BE8C; }
  .ui-ribbon-container.ui-ribbon-info .ui-ribbon {
    background-color: #7FABD2; }
    .ui-ribbon-container.ui-ribbon-info .ui-ribbon:before, .ui-ribbon-container.ui-ribbon-info .ui-ribbon:after {
      border-top: 2px solid #7FABD2; }
  .ui-ribbon-container.ui-ribbon-warning .ui-ribbon {
    background-color: #EBCB8B; }
    .ui-ribbon-container.ui-ribbon-warning .ui-ribbon:before, .ui-ribbon-container.ui-ribbon-warning .ui-ribbon:after {
      border-top: 2px solid #EBCB8B; }
  .ui-ribbon-container.ui-ribbon-danger .ui-ribbon {
    background-color: #BF616A; }
    .ui-ribbon-container.ui-ribbon-danger .ui-ribbon:before, .ui-ribbon-container.ui-ribbon-danger .ui-ribbon:after {
      border-top: 2px solid #BF616A; }

/*@import "../images/flags/*.png";
@include all-flags-sprites(true);*/
.ui-timline-container {
  padding: 15px; }

.ui-timline-left .ui-timeline:before {
  left: 0; }
@media (min-width: 768px) {
  .ui-timline-left .ui-timeline .tl-item:before {
    display: none; } }
@media (min-width: 768px) {
  .ui-timline-left .ui-timeline .tl-item .tl-caption {
    margin-left: -55px; } }
@media (min-width: 768px) {
  .ui-timline-left .ui-timeline .tl-item .tl-body .tl-time {
    left: auto;
    right: 15px;
    color: #999999; } }

.ui-timeline {
  display: table;
  position: relative;
  table-layout: fixed;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse; }
  .ui-timeline:before {
    background-color: #d5d5d5;
    bottom: 0px;
    content: "";
    position: absolute;
    left: 0;
    top: 30px;
    width: 1px;
    z-index: 0; }
    @media (min-width: 768px) {
      .ui-timeline:before {
        left: 50%; } }
  .ui-timeline .tl-item {
    display: table-row;
    margin-bottom: 5px; }
    .ui-timeline .tl-item:before {
      display: none;
      content: ""; }
      @media (min-width: 768px) {
        .ui-timeline .tl-item:before {
          display: block;
          width: 50%; } }
    .ui-timeline .tl-item .tl-caption {
      width: 150px;
      margin-left: -55px; }
      @media (min-width: 768px) {
        .ui-timeline .tl-item .tl-caption {
          margin-left: -110px; } }
    @media (min-width: 768px) {
      .ui-timeline .tl-item.alt {
        text-align: right; }
        .ui-timeline .tl-item.alt:before {
          display: none; }
        .ui-timeline .tl-item.alt:after {
          content: "";
          display: block;
          width: 50%; }
        .ui-timeline .tl-item.alt .tl-body .tl-entry {
          margin: 0 35px 15px 0; }
        .ui-timeline .tl-item.alt .tl-body .tl-time {
          right: -220px;
          left: auto;
          text-align: left; }
        .ui-timeline .tl-item.alt .tl-body .tl-icon {
          right: -53px;
          left: auto; }
        .ui-timeline .tl-item.alt .tl-body .tl-content:after {
          right: -16px;
          left: auto;
          border: 8px solid transparent;
          border-left: 8px solid rgba(255, 255, 255, 0.9); } }
    .ui-timeline .tl-item .tl-body {
      display: table-cell;
      width: 50%;
      vertical-align: top; }
      .ui-timeline .tl-item .tl-body .tl-entry {
        position: relative;
        margin: 0 0 15px 36px; }
      .ui-timeline .tl-item .tl-body .tl-time {
        z-index: 1;
        position: absolute;
        left: auto;
        right: 15px;
        top: 5px;
        width: 150px;
        color: #999999;
        line-height: 35px;
        text-align: right; }
        @media (min-width: 768px) {
          .ui-timeline .tl-item .tl-body .tl-time {
            left: -220px;
            right: auto;
            color: #626262; } }
      .ui-timeline .tl-item .tl-body .tl-icon {
        position: absolute;
        left: -53px;
        top: 5px; }
      .ui-timeline .tl-item .tl-body .tl-content {
        position: relative;
        padding: 15px;
        border-radius: 2px;
        background-color: rgba(255, 255, 255, 0.9); }
        .ui-timeline .tl-item .tl-body .tl-content:after {
          content: " ";
          line-height: 0;
          position: absolute;
          left: -16px;
          top: 15px;
          border: 8px solid transparent;
          border-right: 8px solid rgba(255, 255, 255, 0.9); }

.tooltip-inner {
  padding: 0.85em; }

.ui-accordion .panel-group .panel-heading + .panel-collapse .panel-body {
  border-top: 1px solid #e9e9e9; }
.ui-accordion .panel {
  border: 1px solid #e9e9e9; }
.ui-accordion .panel-heading {
  padding: 0;
  background-color: #f6f6f6; }
  .ui-accordion .panel-heading .panel-title > a {
    display: block;
    padding: 15px;
    font-size: 14px; }
    .ui-accordion .panel-heading .panel-title > a:hover {
      cursor: pointer;
      text-decoration: none; }

.ui-accordion-success .panel {
  border: 1px solid #A3BE8C; }
.ui-accordion-success .panel-heading {
  background-color: #A3BE8C;
  color: #fff; }

.ui-accordion-info .panel {
  border: 1px solid #7FABD2; }
.ui-accordion-info .panel-heading {
  background-color: #7FABD2;
  color: #fff; }

.ui-accordion-warning .panel {
  border: 1px solid #EBCB8B; }
.ui-accordion-warning .panel-heading {
  background-color: #EBCB8B;
  color: #fff; }

.ui-accordion-danger .panel {
  border: 1px solid #BF616A; }
.ui-accordion-danger .panel-heading {
  background-color: #BF616A;
  color: #fff; }

.ui-accordion-dark .panel {
  border: 1px solid #1c2b36; }
.ui-accordion-dark .panel-heading {
  background-color: #1c2b36;
  color: #fff; }

.ui-map {
  display: block;
  height: 400px; }

.pagination-lg > li > a, .pagination-lg > li span {
  line-height: 26px;
  padding: 10px 18px; }

.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span {
  border-radius: 24px; }
.pagination > li > a {
  color: #626262;
  border-radius: 24px;
  cursor: pointer; }
.pagination > li > a, .pagination > li > span {
  margin-left: 3px; }

.progress {
  box-shadow: none;
  background-color: #f6f6f6; }

.progressbar-xs {
  height: 10px; }

.progress-rounded {
  border-radius: 50px; }

.progress-bar {
  box-shadow: none; }

.progressbar-xs {
  height: 10px; }

.progressbar-sm {
  height: 15px; }

.ui-tab .nav-tabs {
  margin-bottom: 15px; }
  .ui-tab .nav-tabs.nav-justified > li.active > a {
    border-bottom-color: transparent; }
  .ui-tab .nav-tabs > li.active > a {
    background-color: #fff; }
  .ui-tab .nav-tabs a {
    color: #626262; }
    .ui-tab .nav-tabs a:hover {
      cursor: pointer; }

.ui-tab-container .nav-tabs {
  margin-bottom: 0; }
  .ui-tab-container .nav-tabs.nav-justified > li:last-child {
    border-right: 0; }
  .ui-tab-container .nav-tabs.nav-justified > li:hover > a {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #ddd; }
  .ui-tab-container .nav-tabs.nav-justified > li > a {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #ddd; }
  .ui-tab-container .nav-tabs > li.active > a {
    color: #0071b4; }
  .ui-tab-container .nav-tabs > li:hover > a {
    border: 0;
    background-color: transparent; }
  .ui-tab-container .nav-tabs > li > a {
    margin: 0;
    border: 0;
    padding: 15px 15px;
    font-weight: bold;
    border-radius: 0; }
.ui-tab-container .tab-content {
  padding: 15px 15px; }

.ui-tab-horizontal {
  border: 1px solid #ddd;
  border-radius: 2px; }
  .ui-tab-horizontal .nav-tabs {
    background-color: #f6f6f6; }
    .ui-tab-horizontal .nav-tabs > li {
      border-right: 1px solid #ddd; }
      .ui-tab-horizontal .nav-tabs > li.active:hover > a {
        background-color: #fff; }

.ui-tab-vertical {
  position: relative;
  padding: 0 0 0 30%; }
  .ui-tab-vertical .nav-tabs {
    position: absolute;
    left: 0;
    top: 0;
    width: 30%;
    background-color: #f6f6f6;
    border-width: 1px 0 1px 1px;
    border-radius: 2px 0 0 2px;
    border-color: #ddd;
    border-style: solid; }
    .ui-tab-vertical .nav-tabs > li {
      width: 100%;
      float: none;
      border-bottom: 1px solid #ddd;
      margin: 0; }
      .ui-tab-vertical .nav-tabs > li:last-child {
        border-bottom: 0; }
      .ui-tab-vertical .nav-tabs > li.active:hover > a {
        background-color: #fff; }
      .ui-tab-vertical .nav-tabs > li.active > a {
        margin-right: -1px; }
      .ui-tab-vertical .nav-tabs > li > a {
        display: block; }
  .ui-tab-vertical .tab-content {
    border: 1px solid #ddd;
    border-radius: 0 2px 2px 0; }

