
<ons-page ng-controller="TemplateCtrl">

	<div ng-show="loading" class="loading">
		<ul class="list list list--inset">
		  	<li class="list__item list-loading"
		  	ng-class="{'list-loading': isLoading('step1'), 'list-loaded': isLoaded('step1')}" 
		  		
		  		>Securing Connecting </li>
		  	<li class="list__item list__item--tappable"
		  		ng-class="{'list-loading': isLoading('step2'), 'list-loaded': isLoaded('step2')}">
		  		Loading Plan</li>
		  	<li class="list__item list__item--tappable"
		  		ng-class="{'list-loading': isLoading('step3'), 'list-loaded': isLoaded('step3')}">
		  		Building References</li>
		</ul>
	</div>


	<ons-toolbar>
		
        <div class="left" ng-hide="loading">
        	<ons-back-button ng-hide="isTopLevel">
            	Back
        	</ons-back-button> 
        </div>

		<div class="right" ng-hide="loading">
        	<ons-toolbar-button ng-click="menu.toggleMenu()">
              	<ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>

	</ons-toolbar>
	<ng-include ng-if="currentNode" src="'templates/content' + currentNode.TemplateId + '.html'" ></ng-include> 
</ons-page>
