
<ons-page ng-controller="InboxCtrl">
	<ons-toolbar>
		<div class="center">Notifications</div>

        <div class="right" >
            <ons-toolbar-button ng-click="menu.toggleMenu()">
                <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
	</ons-toolbar>

	<ons-list ng-repeat="item in inbox">

     	<ons-list-item 
     		modifier="chevron" 
     		ng-click="selectInboxItem(item)" ng-class="{'inbox-unread': !item.Read}">
     		{{item.Subject | limitTo: 30}}
     	</ons-list-item>

    </ons-list>
</ons-page>