
<ons-page ng-controller="InboxItemCtrl">
	<ons-toolbar>
	 	<div class="left">
        	<ons-back-button>Back</ons-back-button>
      	</div>

		<div class="center">Notification</div>
	</ons-toolbar>


	<ons-list modifier="inset" style="margin-top:10px;">
		<ons-list-item>
          	{{item.Subject}}
        </ons-list-item>
        <ons-list-item>
          	{{item.Message}}
        </ons-list-item>
	</ons-list>
	
    
</ons-page>