<ons-page ng-controller="LocalCtrl">

    <ons-toolbar>
        <div class="center">{{title}}</div>
        <div class="right">
            <ons-toolbar-button ng-click="menu.toggleMenu()">
                <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>

    </ons-toolbar>

    <div style="padding: 5px;" ng-bind-html="sanitize(content)" compilehtml></div>
</ons-page>
