
<ons-page ng-controller="MasterTemplatesCtrl">
	<ons-toolbar>
		<div class="center">Master Template</div>
	</ons-toolbar>

    <ons-list-header>Select Master Template</ons-list-header>

	<ons-list ng-repeat="template in templates">

     	<ons-list-item 
     		modifier="chevron" 
     		ng-click="selectTemplate(template)">
     		{{template.Name}}
     	</ons-list-item>

    </ons-list>
</ons-page>