<ons-page ng-controller="MenuCtrl">
    <ons-list>
        <ons-list-item ng-click="home()">
            <i class="fa fa-home fa-lg"></i> Home
        </ons-list-item>

        <ons-list-item ng-click="showInbox()">
            <i class="fa fa-inbox fa-lg"></i> Inbox
            <span class="list-item-note">
                <span class="notification">{{inboxCount}}</span>
            </span>
        </ons-list-item>


        <ons-list-header>Account</ons-list-header>
        <ons-list-item ng-click="logout()">
            <i class="fa fa-sign-out fa-lg"></i> Sign Out
        </ons-list-item>

        <ons-list-header>About IDR</ons-list-header>
        <ons-list-item ng-repeat="mi in menuItems" ng-click="showMenuItem(mi)">
            {{mi.Title}}

        </ons-list-item>

    </ons-list>
</ons-page>
