
<ons-page ng-controller="PatientLoginCtrl">

    <div class="login-form">

        <img src="/Content/mobile/res/Icon@2x.png">
        <br/>
        <br/>
        <br/>
        <input type="text" class="text-input--underbar" placeholder="Access Code - Blank for Demo" 
            ng-model="accessCode" disabled="disabled" />

        <ons-button modifier="large" class="login-button" 
            ng-click="getProcedure()"
            ng-disabled="{{loading}}" 
            should-spin="{{loading}}"
            >Log In</ons-button>
       
    </div>

</ons-page>