<ons-page ng-controller="RemoteCtrl">

	<ons-toolbar>
		<div class="right" >
        	<ons-toolbar-button ng-click="menu.toggleMenu()">
              	<ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>

	</ons-toolbar>

	<ng-include src="remoteUrl" ></ng-include> 
</ons-page>
