<!-- Video Content -->

<ons-page ng-controller="VideoCtrl">
	<ons-toolbar>
		
		<div class="left">
			<ons-back-button>
				Back
			</ons-back-button> 
		</div>

		<div class="right">
			<ons-toolbar-button ng-click="menu.toggleMenu()">
				<ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
			</ons-toolbar-button>
		</div>

	</ons-toolbar>

	<ng-include src="'templates/videoplayer' + getPlayerType(currentNode.Properties) + '.html'"></ng-include>

</ons-page>
