
<div ng-controller="WelcomeLetterCtrl" >
	<ons-toolbar>
		<div class="center">{{title}}</div>

		 <!-- Don't copy this.  This is a hack to get around the standard ons-back-button behavior -->
		 <div class="left">
			<span class="toolbar-button--quiet" 
			ng-click="previousPage()" 
			ng-hide="index == 0;"
  				style="height: 44px; line-height: 0; padding: 0 10px 0 0; position: relative;">
			      <i class="ion-ios-arrow-back ons-back-button__icon" 
			        style="vertical-align: top; background-color: transparent; height: 44px; line-height: 44px; font-size: 36px; margin-left: 8px; margin-right: 2px; width: 16px; display: inline-block; padding-top: 1px;"></i>
			    
		      	<span style="vertical-align: top; display: inline-block; line-height: 44px; height: 44px;" 
			        class="back-button__label">{{backText()}}</span>
		    </span>
        </div>
        <!-- end of the button hack -->
        
		 <div class="right">
		 	<ons-toolbar-button ng-click="nextPage()">
            	Next
        	</ons-toolbar-button>
        </div>
	</ons-toolbar>
	<div ng-repeat="node in model.Nodes" ng-show="node.visible" >
		<div ng-if="node.Type.UIKey != 'video'">
			<div>
				<h2 class="center">{{node.Name}}</h2>
			</div>

			<div class="idr-content" ng-if="node.HtmlContent">
				<div ng-bind-html="sanitize(node.HtmlContent)"></div>
			</div>

			<div>
				<div class="center margin-top-20 full-content" >

				 	<ons-button class="button--large" ng-click="nextPage()">Next</ons-button>
				</div>
			</div>
		</div>
		<div ng-if="node.Type.UIKey == 'video'">
			<ng-include src="'templates/videoplayer' + getPlayerType(node.Properties) + '.html'" ></ng-include>
		</div>
	</div>
</div>