﻿@*using StackExchange.Profiling*@
<!DOCTYPE html>
<html class="no-js"  data-ng-app="app"  data-ng-controller="AppCtrl">
<head>
    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    <title ng-bind="pageTitle">IDR Smart Dr.</title>
    <meta name="description" content="Responsive Admin Web App">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,600,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/fonts/themify-icons/themify-icons.min.css">
    <link rel="stylesheet" href="/fonts/weather-icons/css/weather-icons.min.css">
    <link rel="stylesheet" href="/fonts/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/ui.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/taginput.css">
    <link rel="stylesheet" href="/styles/app.css">
    <link href="/Scripts/dropzone/css/basic.css" rel="stylesheet" />
    <link rel="stylesheet" href="/styles/ui-iconpicker.css">
</head>
<body
      id="app"
      class="app"
      data-custom-page
      data-off-canvas-nav
     
      data-ng-class=" {'layout-boxed': admin.layout === 'boxed'} ">
    <!--[if lt IE 9]>
        <div class="lt-ie9-bg">
            <p class="browsehappy">You are using an <strong>outdated</strong> browser.</p>
            <p>Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        </div>
    <![endif]-->
    <section data-ng-include=" '/partials/header.html' "
             id="header"
             class="header-container "
             data-ng-controller="HeaderCtrl"
             data-ng-class="{ 'header-fixed': admin.fixedHeader,
                                  'bg-white': ['11','12','13','14','15','16','21'].indexOf(admin.skin) >= 0,'bg-dark': admin.skin === '31','bg-primary': ['22','32'].indexOf(admin.skin) >= 0,'bg-success': ['23','33'].indexOf(admin.skin) >= 0,'bg-info-alt': ['24','34'].indexOf(admin.skin) >= 0,'bg-warning': ['25','35'].indexOf(admin.skin) >= 0,'bg-danger': ['26','36'].indexOf(admin.skin) >= 0}"></section>

    <div class="main-container">
        <aside data-ng-include=" '/partials/nav.html' "
               id="nav-container"
               class="nav-container"
               style="top: 60px;"
               data-ng-class="{ 'nav-fixed': admin.fixedSidebar,'nav-horizontal': admin.menu === 'horizontal','nav-vertical': admin.menu === 'vertical','bg-white': ['31','32','33','34','35','36'].indexOf(admin.skin) >= 0,'bg-dark': ['31','32','33','34','35','36'].indexOf(admin.skin) < 0}"></aside>
        <div id="content" class="content-container">
            <section data-ng-view class="view-container animate-fade-up"></section>
            
        </div>
    </div>

    <script type="text/ng-template" id="confirmModal.html">
        <div class="modal-header">
            <h3>{{title}}</h3>
        </div>
        <div class="modal-body">
            <p>{{message}}</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" ng-click="ok()">{{oktext}}</button>
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <script src="https://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/bower_components/jquery-spinner/dist/jquery.spinner.min.js"></script>
    <script src="/Scripts/ui-bootstrap.js"></script>

    <script src="/bower_components/tinymce-dist/tinymce.js"></script>
    <script src="/bower_components/tinymce-dist/plugins/table/plugin.js"></script>
    <script src="/bower_components/bootstrap-file-input/bootstrap.file-input.js"></script>
    <script src="/bower_components/angular-ui-tree/dist/angular-ui-tree.min.js"></script>
    <script src="/bower_components/angular-ui-utils/ui-utils.js"></script>
    <script src="/bower_components/angular-ui-tinymce/src/angular-tinymce.js"></script>

    <script src="/Scripts/dropzone/dropzone.js"></script>

    <script src="/Content/scripts/app.js"></script>

    <script src="/Content/scripts/directives/templates.js"></script>
    <script src="/Content/scripts/directives/confirm-modal.js"></script>
    <script src="/Content/scripts/directives/dropzone.js"></script>
    <script src="/Scripts/bootstrap-tagsinput.js"></script>
    <script src="/Scripts/bootstrap-tagsinput-angular.js"></script>

    <script src="/Content/scripts/filters/telephone.js"></script>

    <script src="/Scripts/shared/main.js"></script>
    <script src="/Scripts/shared/directives.js"></script>
    <script src="/Scripts/shared/localize.js"></script>
    <script src="/Scripts/shared/Nav.js"></script>
    <script src="/scripts/ui-bootstrap.js"></script>

    <script src="/Content/scripts/services/api.services.js"></script>

    <script src="/Content/scripts/controllers/datalist.js"></script>
    <script src="/Content/scripts/controllers/signin.js"></script>
    <script src="/Content/scripts/controllers/nodes.js"></script>
    <script src="/Content/scripts/controllers/nodes.list.js"></script>
    <script src="/Content/scripts/controllers/physician.plans.js"></script>
    <script src="/Content/scripts/controllers/physician.patientedit.js"></script>
    <script src="/Content/scripts/controllers/physician.patients.js"></script>
    <script src="/Content/scripts/controllers/templates.js"></script>
    <script src="/Content/scripts/controllers/image.edit.js"></script>
    <script src="/Content/scripts/controllers/images.list.js"></script>
    <script src="/Content/scripts/controllers/admin.company.edit.js"></script>
    <script src="/Content/scripts/controllers/admin.company.list.js"></script>
    <script src="/Content/scripts/controllers/nav.js"></script>
    <script src="/Content/scripts/controllers/admin.physician.js"></script>
    <script src="/Content/scripts/controllers/admin.users.js"></script>
    <script src="/Content/scripts/controllers/admin.companies.js"></script>
    <script src="~/Content/scripts/controllers/admin.facilitygroup.js"></script>
    <script src="/Content/scripts/controllers/meta.js"></script>
    <script src="/Content/scripts/controllers/disciplines.js"></script>
    <script src="/Content/scripts/controllers/attributes.js"></script>
    <script src="/Content/scripts/controllers/images.js"></script>
    <script src="/Content/scripts/controllers/notification.list.js"></script>
    <script src="/Content/scripts/controllers/notification.edit.js"></script>
    <script src="/Content/scripts/controllers/editablecontent.js"></script>
    <script src="/Content/scripts/controllers/editablecontent.js"></script>
    <script src="/Content/scripts/controllers/emailtemplates.edit.js"></script>
    <script src="/Content/scripts/controllers/emailtemplates.list.js"></script>
    <script src="/Content/scripts/controllers/adminpractice.redirect.js"></script>
    <script src="/Content/scripts/controllers/physician.start.js"></script>
    <script src="/Content/scripts/controllers/physician.dashboard.js"></script>
    <script src="/Content/scripts/controllers/procedure.dashboard.js"></script>
	
	
	<script src="/Content/scripts/controllers/callcenter.dashboard.js"></script>
	<script src="/Content/scripts/controllers/callcenter.followup.js"></script>
	<script src="/Content/scripts/controllers/callcenter.call.js"></script>
	<script src="/Content/scripts/controllers/callcenter.reporting.js"></script>
	<script src="/Content/scripts/controllers/callcenter.patient.js"></script>
	<script src="/Content/scripts/controllers/callcenter.patients.js"></script>
	<script src="/Content/scripts/controllers/callcenter.provider.js"></script>
	<script src="/Content/scripts/controllers/callcenter.providers.js"></script>
	<script src="/Content/scripts/controllers/callcenter.summary.js"></script>
	<script src="/Content/scripts/controllers/callcenter.callhistory.js"></script>

	<script src="/Content/scripts/directives/iconpicker.js"></script>
    <script src="/Scripts/gauge.min.js"></script>

	<script type="text/ng-template" id="contact-edit.html"></script>

    <div class="clear clear-fix"></div>
@*@MiniProfiler.RenderIncludes(RenderPosition.BottomLeft, maxTracesToShow: 8)*@
</body>
</html>
