﻿<!--<div class="page ng-scope" ng-controller="RecoveryPlansController">
	<section class="panel panel-default">
		<div class="panel-heading"><strong><span class="glyphicon glyphicon-edit"></span> Recovery Plan</strong></div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-12">
                    <a class="btn btn-success" href="#/physician/plans">
                        <i class="fa fa-chevron-left"></i>
                        Back to Recovery Plan List
                    </a>
				</div>
			</div>
			<hr />
			<br />
			<div class="row">
				<div class="col-md-12">
					<form role="form" name="currentPlan">
						<div class="row">
							<div class="col-sm-8">
								<label for="Name">Template Name</label>
								<input type="text" class="form-control" id="Name"
									   placeholder="Plan Name"
									   ng-blur="savePlan(plan, currentPlan)"
									   ng-model="plan.Name">
							</div>
							<div class="col-sm-4">
								<label for="Description">Active</label>
								<br />
								<input type="checkbox"
									   ng-checked="plan.Active"
									   ng-click="plan.Active = !plan.Active; savePlan(plan, currentPlan, true)" />

							</div>
						</div>
						<div class="clearFix"></div>
						<div class="form-group">
							<br />
							<button class="btn btn-default margin-top-20" ng-show="__treeHidden" ng-click="__treeHidden = !__treeHidden">
								<i class="fa fa-expand"></i>
								Library Explorer
							</button>

						</div>
						<hr />
						<div class="row margin-20">
							<div class="col-sm-6 col-md-4 col-lg-3" ng-show="!__treeHidden">
								<i class="fa fa-chevron-left pull-right cursor" ng-click="__treeHidden = !__treeHidden"></i>
								<ng-include src="'/partials/cms/recoveryplans/node-tree.html'"></ng-include>
							</div>
							<div class="{{!__treeHidden ? 'col-sm-6 col-md-8 col-lg-9' : 'col-sm-12'}}">

								<div ng-if="currentNode.Type.IsConfigurable">
									<ng-include src="'/partials/cms/recoveryplans/edit-tab-custom-' + currentNode.Type.UIKey + '.html'"></ng-include>
								</div>
								<div ng-if="currentNode.IsPhysicianEditable">
									<ng-include src="'/partials/cms/recoveryplans/edit-tab-editable.html'"></ng-include>
								</div>
								<div ng-if="!currentNode.IsPhysicianEditable && !currentNode.Type.IsConfigurable">
									<ng-include src="'/partials/cms/recoveryplans/edit-tab-static.html'"></ng-include>
								</div>
							
							</div>
						</div>

						<div class="row">
							<section class="col-md-4">
								<button class="btn btn-info width-100 margin-bottom-10"
										ng-repeat="n in supplementals"
										ng-click="setTab(n.Id)">
									<i class="fa fa-puzzle-piece"></i>
									{{n.Name}}
								</button>
								<button class="btn btn-info width-100 margin-bottom-10"
										ng-repeat="n in textOverrides"
										ng-click="setTab(n.Id)">
									<i class="fa fa-pencil"></i>
									{{n.Name}}
								</button>
							</section>
							<section class="col-md-8">
								<div ng-show="mTab == n.Id"
									 ng-repeat="n in textOverrides">
									<h3 class="margin-1 margin-bottom-10">{{n.Name}}</h3>
									<div ng-repeat="prop in n.Properties">
										{{prop.Name}}
									</div>
								</div>

								<div class=""
									 ng-show="mTab == n.Id"
									 ng-repeat="n in supplementals | orderBy:'Sequence'">
									<h3 class="margin-1 margin-bottom-10">{{n.Name}}</h3>
									<div class="alert alert-info" ng-show="n.Description.length > 0">
										{{n.Description}}
									</div>
									<div class="table-responsive">
										<table class="table table-striped table-bordered">
											<thead>
												<tr>
													<th>Select</th>
													<th>Name</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="row in n._lib.Nodes | orderBy:'Sequence'">
													<td>
														<input type="radio"
															   name="supplementalChoice_{{n.Id}}"
															   ng-click="n.Selected = row.Id" />
													</td>
													<td>
														{{row.Name}}
														<a href="javascript:void(0)" ng-click="row._expanded = !row._expanded;node = row;">
															{{!row._expanded ? 'view content tree' : 'hide'}}
														</a>
														<div ng-show="row._expanded" class="padding-20 node-map">
															<hr />
															<ng-include src="'contentNode.html'" />
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</section>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</div>

<script id="valueDisplay_PARA.html" type="text/ng-template">
	<p class="editable-element" ng-bind-html="trustAsHtml(content.Value)" contenteditable></p>
</script>

<script id="valueDisplay_TITLE.html" type="text/ng-template">
	<h3 class="editable-element" ng-bind-html="trustAsHtml(content.Value)" contenteditable></h3>
</script>



<script id="valueDisplay_LIST.html" type="text/ng-template">
	<ol class="editable-element" ng-if="content.ListStyleType=='NUMBER'">
		<li ng-repeat="item in content.Value.split(';')" contenteditable ng-bind-html="trustAsHtml(item)"></li>
	</ol>
	<ul class="editable-element" ng-if="content.ListStyleType!='NUMBER'">
		<li ng-repeat="item in content.Value.split(';')" contenteditable ng-bind-html="trustAsHtml(item)"></li>
	</ul>
</script>

<script id="contentNode.html" type="text/ng-template">
	<i class="fa press-me" ng-class="{ 'fa-chevron-down': !node._collapse, 'fa-chevron-right': node._collapse }" ng-click="node._collapse = !node._collapse"></i>
	<i class="fa fa-cloud-download" ng-show="node.IsSupplemented"></i>
	<i class="fa fa-pencil" ng-show="node.IsPhysicianEditable"></i>
	<span ng-class="{ 'node-editable': node.IsPhysicianEditable}">
		{{node.Name}} <span ng-show="node.Title.length > 0">({{node.Title}})</span>
	</span>
	<ul ng-if="node.Nodes.length > 0" ng-hide="node._collapse">
		<li ng-repeat="child in node.Nodes" class="node">
			<ng-include src="'contentNode.html'" ng-init="node = child" />
			<div ng-if="node.IsSupplemented" ng-hide="node._collapse">
				<ul class="supplemental-library">
					Physician Options: {{node._supplementalLib.Name}}
					<li ng-repeat="opt in node._supplementalLib.Nodes">
						<i class="fa fa-puzzle-piece"></i>
						{{opt.Name}} ({{opt.Title}})
					</li>
				</ul>
			</div>
		</li>
	</ul>
</script>-->