﻿<!--<div class="page ng-scope" ng-controller="RecoveryPlansController">
    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> My Recovery Plans</strong></div>
        <div class="panel-body min-height-500">
            <div class="alert alert-danger">
                <i class="fa fa-question"></i>
                How do I setup my recovery plan?

                <p>This is instruction</p>
            </div>

            <div class="row">
                <div class="col-sm-12  ">
                    <div class="btn-group" dropdown="">
                        <button type="button" class="btn btn-success dropdown-toggle"> Add New Recovery Plan <span class="caret"></span> </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="temp in Templates"><a href="/#/physician/plans/new/{{temp.Id}}">{{temp.Name}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-bordered table-responsive">
                <thead>
                    <tr>
                        <th>
                            <i class="fa fa-medkit"></i>
                            Discipline
                        </th>
                        <th>#</th>
                        <th>Name</th>
                        <th>Active</th>
                        <th></th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in Plans.Subject">
                        <td class="discipline-cell">{{row.Discipline.Name}}</td>
                        <td>{{row.Id}}</td>
                        <td>
                            {{row.Name}}
                            <span ng-show="row.Name != row.MasterTemplate.Name">
                                ({{row.MasterTemplate.Name}})
                            </span>
                        </td>
                        <td><i class="fa" ng-class="{ 'fa-check' : row.Active }"></i></td>
                        <td class="action-cell">
                            <a ng-show="!row._hideActions" href="#/physician/plans/{{row.Id}}">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a ng-show="!row._hideActions" href="javascript:void(0)" ng-click="copy(row)">
                                <i class="fa fa-copy"></i>
                            </a>

                            <span ng-show="row._hideActions">Are you sure?</span>
                            <a ng-show="row._hideActions" href="javascript:void(0)" ng-click="remove(row)">
                                <i class="fa fa-thumbs-up"></i>
                            </a>
                            <a ng-show="row._hideActions" href="javascript:void(0)" ng-click="row._hideActions = false">
                                <i class="fa fa-thumbs-down"></i>
                            </a>
                            <a ng-show="!row._hideActions" href="javascript:void(0)" ng-click="row._hideActions = true">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </section>
</div>-->
