﻿
<div class="page forms-list" ng-controller="MetaController">
    <section>
        <section class="panel panel-default">
            <div class="panel-heading"><strong><span class="glyphicon glyphicon-floppy-disk"></span> Manage Node Type {{Entity.Name}}</strong></div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 " ng-show="isAdmin || isSuperAdmin">
                        <a class="btn btn-success" href="#/meta">
                            Back to List
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">


                        <form name="current"></form>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-lg-6">
                                    <label for="Name">Name</label>
                                    <input type="text" class="form-control"
                                           placeholder="Name"
                                           ng-blur="save(Entity, current)"
                                           ng-model="Entity.Name">

                                </div>
                                <div class="col-md-6 col-sm-6 col-lg-6">

                                    <label for="Description">Description</label>
                                    <textarea name="Description"
                                              class="form-control"
                                              ng-model="Entity.Description"
                                              ng-blur="save(Entity, current)"
                                              placeholder="Description"></textarea>
                                </div>
                            </div>
                            <div class="divider divider-dashed divider-lg pull-in"></div>

                            <div class="row">

                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <h4>Allowed Child Types</h4>
                                </div>

                                <div class="col-sm-12 col-md-12 col-lg-12">

                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-responsive">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <div class="th">Name</div>
                                                    </th>
                                                    <th>
                                                        <div class="th">Allowed</div>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="p in _types">
                                                    <td>
                                                        {{p.Name}}
                                                    </td>
                                                    <td>
                                                      
                                                        <label class="ui-checkbox">

                                                            <input type="checkbox" ng-click="p.Allowed = !p.Allowed" />
                                                            <span>&nbsp;abcd</span>
                                                        </label>

                                                        <!--<i class="fa press-me fa-check-square" ng-click="p.Allowed = !p.Allowed" ng-show="p.Allowed"></i>
                                                            <i class="fa press-me fa-square" ng-click="p.Allowed = !p.Allowed" ng-hide="p.Allowed"></i>-->
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <h4>Properties</h4>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <table class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Name</th>
                                                <th>UI Key</th>
                                                <th>Required?</th>
                                                <th>Description</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="p in Entity.Properties">
                                                <td>{{p.Id}}</td>
                                                <td>
                                                    <input type="text" class="form-control"
                                                           placeholder="Property Name"
                                                           ng-blur="save(Entity, current)"
                                                           ng-model="p.Name">
                                                </td>
                                                <td>
                                                    <select class="form-control" ng-model="p.UIKey" ng-options="key for key in uiKeys"></select>
                                                </td>
                                                <td class="centered width-10">
                                                    <i class="fa press-me fa-check-square" ng-click="p.Required = !p.Required" ng-show="p.Required"></i>
                                                    <i class="fa press-me fa-square" ng-click="p.Required = !p.Required" ng-hide="p.Required"></i>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control"
                                                           placeholder="Description"
                                                           ng-blur="save(Entity, current)"
                                                           ng-model="p.Description">
                                                </td>
                                                <td>
                                                    <a ng-click="goto('/meta/property/' + p.Id)" href="javascript:void(0)">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>

