﻿<div class="page forms-list" ng-controller="MetaController">
    <section class="panel panel-default table-dynamic">
        <div class="panel-heading danger">
            <strong><i class="fa fa-database"></i> Manage Meta Data</strong>
        </div>

        <div class="table-filters">
            <div class="row">
                <div class="col-sm-12">
                    <a class="btn btn-success" href="#/cms/disciplines/new">
                        Create New Node Type
                    </a>
                </div>
            </div>
        </div>

        <table class="table table-striped table-bordered table-responsive">
            <thead>
                <tr>
                    <th>
                        <div class="th">
                            ID
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Name
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Description
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Actions
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="type in Types">
                    <td>{{type.Id}}</td>
                    <td>{{type.Name}}</td>
                    <td>{{type.Description}}</td>
                    <td>

                        <button type="button" class="btn btn-info" 
                                ng-click="goto('/meta/' + type.Id)" >
                            Edit
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>
