
@Html.Raw(ViewBag.Template)

@*<label>
	Dear @ViewBag.FirstName @ViewBag.LastName,
</label>

<p>
	Than you for contacting us.  Follow the link below to reset your password.
</p>

<p>
	<a href="@ViewBag.Url">@ViewBag.Url</a>
</p>

<p>
	Sincerely,
	<br />
	The IDR User Access Team
</p>*@