﻿@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-signin" ng-controller="PhysicianRegisterController">
	<div class="signin-header">
		<section class="logo text-center">
			<img src="/Content/smart-dr-logo.png" class="main-logo" />
		</section>
	</div>
	<div class="signin-body">
		<div class="container">
			<div class="form-container">
				<h2>Account Deactivated!</h2>
				<p>Your account has been deactivated.  Please contact your Practice Administrator OR a System Administrator to RE-again access.</p>
				<br />
				<div class="divider divider-sm"></div>
				<div class="form-group">

					@Html.ActionLink("Login", "Login", new { }, new { @class = "btn btn-primary btn-lg btn-block text-center" })
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
