﻿@model IDR.Web.Models.ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SuppressScripts = true;
}

<div class="page-signin" ng-controller="PhysicianRegisterController">
	<div class="signin-header">
		<section class="logo text-center">
			<img src="/Content/smart-dr-logo.png" class="main-logo" />
		</section>
	</div>
	<div class="signin-body">
		<div class="container">
			<div class="form-container">
				<h2 style="color: #fff;">Forgot Password?</h2>
				<p style="color: #fff; font-size: 16px;">Enter your email address and we'll email you instructions on how to reset your password.</p>

				@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
				{
					@Html.AntiForgeryToken()
					@Html.ValidationSummary("", new { @class = "text-danger" })

					<fieldset>
						<div class="divider divider-sm"></div>
						<div class="form-group">
							<div class="input-group input-group-first">
								<span class="input-group-addon">
									<span class="ti-email"></span>
								</span>
								@Html.TextBoxFor(m => m.Email, new { @class = "form-control input-lg login-input", placeholder = "Email Address" })
								@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="divider divider-sm"></div>
						<div class="form-group">
							<input type="submit" value="Email Instructions" class="btn btn-primary btn-lg btn-block text-center" />
						</div>

					</fieldset>
		}
		<div class="divider"></div>
		<section class="additional-info">
			<p class="text-right">
				@Html.ActionLink("Login", "Login")
			</p>
		</section>
</div>
		</div>
	</div>
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
