﻿@using IDR.Web.Models
@model LoginViewModel
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SuppressScripts = true;
}
<div class="page-signin" >
	<div class="signin-header">
		<section class="logo text-center">
			<img src="/Content/smart-dr-logo.png" class="main-logo" />
		</section>
	</div>
	<div class="signin-body">
		<div class="container">
			<div class="form-container">
				@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl },
					FormMethod.Post, new { id="loginform", @class = "form-horizontal", role = "form"}))
				{
					@Html.AntiForgeryToken()
					<div style="font-weight: bold;">
						@Html.ValidationSummary(true, "", new { @class = "text-danger" })
					</div>

					<div id="err" style="display: none;font-weight: bold;" class="validation-summary-errors text-danger">
						<ul>
							<li id="errTxt"></li>
						</ul>
					</div>
					<fieldset>
						<div class="form-group">
							<div class="input-group input-group-first">
								<span class="input-group-addon">
                                    <span class="ti-email" style="color:#005184;"></span>
								</span>
								@Html.TextBoxFor(m => m.Email, new { id = "email", @class = "form-control input-lg login-input", placeholder = "Username" })
								@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">
                                    <span class="ti-lock" style="color:#005184;"></span>
								</span>
								@Html.PasswordFor(m => m.Password, new { id="password", @class = "form-control input-lg login-input", placeholder = "Password" })
								@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })


							</div>
						</div>
						<div class="divider divider-xl"></div>
						<div class="form-group">
							@*<input type="button" id="login" value="Log in" class="btn btn-primary btn-lg btn-block text-center" />*@
							<button type="submit" class="btn btn-primary btn-lg btn-block text-center">
								<span id="loginText">Log In</span>
								<i id="loginIcon" style="display:none" class="fa fa-circle-o-notch fa-spin"></i>
							</button>
						</div>
					</fieldset>
				}
					<div class="divider"></div>
					<section class="additional-info">
                        <p class="text-right" style="color:#005184;">

                            @Html.ActionLink("Forgot Password", "ForgotPassword", null, new { style = "color:#005184;" })
                            @*@Html.ActionLink("Sign up", "Register", null, new { style = "color:#005184;" })*@
                        </p>
					</section>

				</div>
			</div>
		</div>
	</div>

	@section Scripts {
		@Scripts.Render("~/bundles/jqueryval")

		<script>
			$(function() {
				var canSubmit = false;

				function login() {

					localStorage.removeItem('token');
					localStorage.removeItem('token_expires');

					var credentials = {
						username: $('#email').val(),
						password: $('#password').val(),
						grant_type: 'password'
					};
					$.ajax({
						type: 'post',
						url: '../token',
						dataType: 'json',
						async: false,
						cache: false,
						data: credentials,
						headers: { "Content-Type": "application/x-www-form-urlencoded; charset=UTF-8" },
						success: function(response) {

							localStorage.setItem('token', response.access_token);
							localStorage.setItem('token_expires', response['.expires']);

							setTimeout(function() {
									canSubmit = true;
									$("#loginform").submit();
								},
								150);
						},
						complete: function() {
							//$("#loginform").submit();
							//$("#loginText").show();
							//$("#loginIcon").hide();
						},
						error: function(err) {
							$("#err").show();
							$("#errTxt").show();
							$("#loginText").show();
							$("#loginIcon").hide();
							if (err && err.responseJSON) {
								$("#errTxt").text(err.responseJSON.error_description);
							} else {
								$("#errTxt").text('Unable to process login.  Please try again.');
							}
						}
					});
				}

				function startLogin() {
					$("#loginIcon").show();
					$("#loginText").hide();
					$("#err").hide();
					$("#errTxt").hide()
					setTimeout(login, 150);
				}

				window.handleLogin = login;

				$('#login').click(startLogin);

				$('#loginform').submit(function(e) {
					if (!canSubmit) {
						e.preventDefault();
						startLogin();
					}

				});
			})
		</script>
	}