﻿@model IDR.Web.Models.RegisterPhysicianViewModel
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.SuppressScripts = true;

}

@if (!Model.AccountCreated)
{
	<div class="page-signin" ng-controller="PhysicianRegisterController">
		<div class="signin-header">
			<section class="logo text-center">
				<img src="/Content/smart-dr-logo.png" class="main-logo" />
			</section>
		</div>
		<div class="signin-body">
			<div class="container">
				<div class="form-container">
					<p>

					</p>
					@using (Html.BeginForm("RegisterPracticeUser", "Account", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
					{
					@Html.HiddenFor(m => m.Key)
					@Html.AntiForgeryToken()

					<div style="font-weight: bold;">

						@Html.ValidationSummary(true, "", new {@class = "text-danger"})
					</div>
					<fieldset>
						<div class="form-group">
							<div class="input-group input-group-first">
								<span class="input-group-addon">
									<span class="ti-email"></span>
								</span>
								@Html.TextBoxFor(m => m.Email, new {@class = "form-control input-lg login-input", placeholder = "Email Address"})
								@Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})
							</div>
						</div>
						<div class="form-group">
							<div class="input-group input-group-first">
								<span class="input-group-addon">
									<span class="ti-user"></span>
								</span>
								@Html.TextBoxFor(m => m.Firstname, new {@class = "form-control input-lg login-input", placeholder = "Firstname"})
								@Html.ValidationMessageFor(m => m.Firstname, "", new {@class = "text-danger"})
							</div>
						</div>
						<div class="form-group">
							<div class="input-group input-group-first">
								<span class="input-group-addon">
									<span class="ti-user"></span>
								</span>
								@Html.TextBoxFor(m => m.Lastname, new {@class = "form-control input-lg login-input", placeholder = "Lastname"})
								@Html.ValidationMessageFor(m => m.Lastname, "", new {@class = "text-danger"})
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">
									<span class="ti-lock"></span>
								</span>
								@Html.PasswordFor(m => m.Password, new {@class = "form-control  input-lg login-input", placeholder = "Password"})
								@Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">
									<span class="ti-lock"></span>
								</span>
								@Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control input-lg login-input", placeholder = "Confirm Password"})
								@Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
							</div>
						</div>
						<div style="color: #fff; font-weight: bold;">
							Passwords must have at least one non letter or digit character,
							at least one digit ('0'-'9'), at least one uppercase ('A'-'Z'), and
							at least 6 characters in length.<br /><br />
						</div>
						<div class="form-group">
							<input type="submit" value="Register" class="btn btn-primary btn-lg btn-block text-center" />
						</div>

					</fieldset>
					}
					<div class="divider"></div>
					<section class="additional-info">
						<p class="text-right">
							@Html.ActionLink("Login", "Login")
						</p>
					</section>

				</div>
			</div>
		</div>
	</div>
}
else
{
	<div class="page-signin">

		<div class="signin-body">
			<div class="container">
				<div class="form-container">
					<fieldset>
						<div class="form-group">
							<p></p>
							<p></p>
							<p></p>
							<div style="color: #ffffff;">
								Your account has been created.
							</div>
							<br/>
							<a href="/Account/Login"
							   class="btn btn-primary btn-lg btn-block text-center">
								Continue to Login
							</a>
						</div>
					</fieldset>

				</div>
			</div>
		</div>
	</div>
}
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
