﻿@model IDR.Web.Models.ResetPasswordViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SuppressScripts = true;
}

<div class="page-signin" ng-controller="PhysicianRegisterController">
	<div class="signin-header">
		<section class="logo text-center">
			<img src="/Content/smart-dr-logo.png" class="main-logo" />
		</section>
	</div>
	<div class="signin-body">
		<div class="container">
			<div class="form-container">
				<h2>Reset Your Password</h2>
				@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
				{
					@Html.AntiForgeryToken()
                    <div style="font-weight: bold;">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
					@Html.HiddenFor(model => model.Code)

					<fieldset>
						<div class="divider divider-sm"></div>
						<div class="form-group">
							<div class="input-group input-group-first">
								<span class="input-group-addon">
									<span class="ti-email"></span>
								</span>
								@Html.TextBoxFor(m => m.Username, new { @class = "form-control input-lg login-input", placeholder = "Email Address" })
								@Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="form-group">
						    <label>Password</label><span> must have at least one non letter or digit (!@@#$%^&*)</span>
							<div class="input-group input-group-first">
								<span class="input-group-addon">
									<span class="ti-lock"></span>
								</span>
								@Html.PasswordFor(m => m.Password, new { @class = "form-control input-lg login-input" })
								@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="form-group">
							<label>Confirm Password</label>
							<div class="input-group input-group-first">
								<span class="input-group-addon">
									<span class="ti-lock"></span>
								</span>
								@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control input-lg login-input" })
								@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="divider divider-sm"></div>
						<div class="form-group">
							<input type="submit" value="Change Password" class="btn btn-primary btn-lg btn-block text-center" />
						</div>

					</fieldset>
				}
				<div class="divider"></div>
				<section class="additional-info">
					<p class="text-right">
						@Html.ActionLink("Login", "Login")
					</p>
				</section>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
