﻿@model IDR.Web.Models.ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SuppressScripts = true;
}

<div class="page-signin" ng-controller="PhysicianRegisterController">
	<div class="signin-header">
		<section class="logo text-center">
			<img src="/Content/smart-dr-logo.png" class="main-logo" />
		</section>
	</div>
	<div class="signin-body">
		<div class="container">
			<div class="form-container">
				<h2 style="color: #fff;">Reset password confirmation</h2>
				<p style="color: #fff;">Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</p>
				<br />
				<div class="divider divider-sm"></div>
				<div class="form-group">

					@Html.ActionLink("Login", "Login", new { }, new { @class = "btn btn-primary btn-lg btn-block text-center" })
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
