@Html.Raw(ViewBag.Template)

@*<label>
	Dear @ViewBag.FirstName @ViewBag.LastName,
</label>

<p>
	We are excited to notify you that you have been invited to begin using the IDR system by TOMR2 on behalf of @ViewBag.PracticeName .
</p>

<p>
	Your first step in using the IDR system and providing great service to your patients is to sign up.  To do so, you click (OR copy and use your browser) the following link to set up your account.
</p>

<p>
	<a href="@(ViewBag.Host)Account/RegisterPracticeUser?provisionalKey=@(ViewBag.ProvisionalKey)">@(ViewBag.Host)Account/RegisterPracticeUser?provisionalKey=@(ViewBag.ProvisionalKey)</a>
</p>

<p>
	Warmest Regards,
	<br />
	The IDR Team
</p>*@