/* Onsen UI mods */
/*.ons-page-inner{
  margin-bottom: 45px;
}*/

.switch__input:checked + .switch__toggle {
    background-color: #00aaad;
}

.button{
  background-color: #00aaad;
}
.button--quiet, .toolbar-button, .toolbar-button--quiet {
  color:#00aaad;
  background-color: transparent; 
}
.navigation-bar{
  height: 44px;
}

.page__status-bar-fill ~ ons-toolbar {
   height: 44px;
}
  
.page__status-bar-fill ~ ons-toolbar ~ .page__content {
    top: 44px;
    padding-top: 0px;
}

.navigation-bar__left{
  padding-top: 0px !important;
}

.navigation-bar__title{
  padding-top: 0px !important;
}

.navigation-bar__right{
  padding-top: 0px !important;
}
   
/* End Onsen mods */ 

.loading{
  text-align: center;
  margin-top: 50px;
}

.inline{
  display: inline;
}

.inline-block{
  display: inline-block;
}

.padded-page{ 
  padding: 10px;
}

p.small{
  color: #bbb;
  font-size: 12px;
}

.center{
	text-align: center;
} 


.full-content{
  padding: 0 10px;
}

.half-padded-left{
  padding: 0px 10px 0px 5px;
}

.half-padded-right{
  padding: 0px 5px 0px 10px;
}

.menu-icon{
  width: 25px;
}

.no-icon{
  display: inline-block;
  width: 25px;
}

.group-menu-item{
  border: solid 0px #000;
  background-color: #f9f9f9;
  margin: 5px;
}

.submenu{
  background-color: #f9f9f9;
  padding: 5px 15px;
  font-size: 12px;
  color: #777;
}

/* search */
.search-input{
	width: 96%; 
	margin: 6px auto 6px auto;
}

.main-menu-container{
  margin-top: 40px;
}


.margin-top-10{
  margin-top: 10px;
}  

.margin-top-20{
  margin-top: 20px;
}  



/*Login*/
.login-form {
  text-align: center;
  width: 80%;
  margin: 60px auto 0;
}

.login-form input[type="text"]{
  display: block;
  width: 100%;
  margin: 0 auto;
  outline: none;
  padding-top: 24px;
  padding-bottom: 24px;
  border: solid 1px #ddd;
}

.login-button {
  width: 100%;
  margin: 0 auto;
}

.scan-qr {
  margin: 8px auto 0 auto;
  font-size: 16px;
}

i.qr-align{
  vertical-align: bottom;
}

#saveCode{
    padding: 5px 3px;
    display: inline-block;
}

.list-item-note{
  position: absolute;
  right: 10px;
  top: 12px;
  font-size: 14px;
}

.inbox-unread{
   font-weight: bold;
}

.list-loaded:before{
  position: absolute;
  right: 16px;
  top: 50%;
  color: #ddd;
  line-height: 28px;
  height: 28px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 28px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  color: #00aaad;
  content: "\f00c";
}

.list-loading:before{
  position: absolute;
  right: 16px;
  top: 25%;
  color: #ddd;
  line-height: 28px;
  height: 28px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 28px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  content: "\f013"; /*\f021";*/
  color: #00aaad;
   -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

/* Phone size CSS */
@media (max-width: 768px){


}
