﻿<div class="page page-icons ng-scope">
    <div class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Groups and Facilities </strong></div>
        <div class="panel-body">
            <img src="/Content/groups_landing.jpg" style="width: 100%; max-width: 100%;" />
        </div>
    </div>
</div>


