﻿<div class="page page-icons ng-scope">
    <div class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Content Management</strong></div>
        <div class="panel-body">
            <p>Content Here</p>
        </div>
    </div>
</div>


