﻿<div class="page page-icons ng-scope">
    <div class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>Welcome</strong></div>
        <div class="panel-body">

            <img src="/Content/physician-landing.png"
                 alt="" class="img-max" />
        </div>
    </div>
</div>


