﻿@model idr.Domain.Mailings.Dtos.MailingDto
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
		<h4>
			TO:
		</h4>
		<hr />
		<P>@Model.Email</P>
		<h4>SUBJECT:</h4>
		<hr />
		<P>@Model.Subject</P>
		<h4>DATE:</h4>
		<hr />
		<P>@Model.CreatedOn.Value.ToShortDateString()</P>
		<h4>BODY:</h4>
		<p>@Html.Raw(Model.Body)</p>
    </div>
</body>
</html>
