﻿<div class="page forms-list" ng-controller="CallCenterCallDetailController">
    <ng-include src="'/partials/message.html'"></ng-include>

    <section class="panel panel-default table-dynamic">
        <div class="panel-heading">
            <strong>Patient Detail</strong>
            <div class="btn-group" dropdown>
                <button class="btn btn-primary" type="button" ng-click="showAssessment()" ng-disabled="preventChanges || !patient || patient.CallStatus != 1 || !patient.IsAssigned">
                    Enter Assessment
                </button>
                <button class="btn btn-warning" type="button" ng-click="cancelCall()" ng-if="isHotlineNurse">
                    Release Call
                </button>
                <button class="btn btn-warning" type="button" ng-click="cancelCall()" ng-if="!isHotlineNurse" ng-disabled="!patient || patient.CallStatus != 1 || !patient.IsAssigned">
                    Release Call
                </button>
                <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-disabled="preventChanges || !patient || patient.CallStatus != 1 || !patient.IsAssigned">Call Actions <span class="caret"></span></button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li ng-repeat="a in actions"><a href="javascript:;" ng-click="selectAction(a.id)">{{a.name}}</a></li>
                </ul>
            </div>
        </div>

        <div class="padding-10">

            <div class="row">
                <div class="col-sm-4">
                    <table>
                        <tr>
                            <td class="padding-5 bolded">Patient Name</td>
                            <td class="padding-5 ">{{patient.FirstName}} {{patient.LastName}}</td>
                        </tr>
                        <tr>
                            <td class="padding-5 bolded">Phone Number</td>
                            <td class="padding-5">{{patient.Phone | tel}}</td>
                        </tr>
                        <tr>
                            <td class="padding-5 bolded">Gender</td>
                            <td class="padding-5">{{patient.GenderName}}</td>
                        </tr>
                        <tr>
                            <td class="padding-5 bolded">Age</td>
                            <td class="padding-5">{{patient.Age}}</td>
                        </tr>
                        <tr>
                            <td class="padding-5 bolded">Caregiver</td>
                            <td class="padding-5">{{patient.AltContact}}</td>
                        </tr>
                        <tr>
                            <td class="padding-5 bolded">Caregiver Phone</td>
                            <td class="padding-5">{{patient.AltPhone | tel}}</td>
                        </tr>
                        <tr>
                            <td class="padding-5 bolded">Procedure</td>
                            <td class="padding-5">{{patient.ProcedureName}}</td>
                        </tr>
                        <tr>
                            <td class="padding-5 bolded">Procedure Date </td>
                            <td class="padding-5">{{patient.ProcedureDate | date:'shortDate'}}</td>
                        </tr>
                        <tr>
                            <td class="padding-5 bolded">Facility </td>
                            <td class="padding-5">{{patient.FacilityName}}</td>
                        </tr>
                        <tr>
                            <td class="padding-5 bolded">Surgeon</td>
                            <td class="padding-5">{{patient.PhysicianFullName}}</td>
                        </tr>
                        <tr>
                            <td class="padding-5 bolded">Anesthesiologist</td>
                            <td class="padding-5">{{patient.AnesthesiologistFullName}} </td>
                        </tr>
                        <tr>
                            <td class="padding-5 bolded">Nurse</td>
                            <td class="padding-5">{{patient.NurseFullName}}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-4">
                    <table>
                        <tr>
                            <td class="padding-5 bolded">Call #</td>
                            <td class="padding-5">{{patient.Index}}</td>
                        </tr>
                        <tr>
                            <td class="padding-5 bolded">Discharge Date</td>
                            <td class="padding-5">{{patient.DischargeDate}}</td>
                        </tr>
                        <tr>
                            <td class="padding-5 bolded">Mobile Patient</td>
                            <td class="padding-5">{{patient.Mobile ? 'Yes' : 'No'}}</td>
                        </tr>
                        <tr>
                            <td class="padding-5 bolded">Primary Language</td>
                            <td class="padding-5">{{patient.SpanishSpeaking ? 'SP' : 'EN'}}</td>
                        </tr>
                        <tr>
                            <td class="padding-5 bolded">Dual Catheter </td>
                            <td class="padding-5">{{patient.IsDualCath ? 'Yes' : 'No'}}</td>
                        </tr>
                        <tr>
                            <td class="padding-5 bolded">Pump Serial </td>
                            <td class="padding-5">{{patient.PumpSerial}}</td>
                        </tr>
                        <tr>
                            <td class="padding-5 bolded">Pump Serial 2</td>
                            <td class="padding-5">{{patient.PumpSerial2}}</td>
                        </tr>
                        <tr>
                            <td class="padding-5 bolded">Do Not Disturb </td>
                            <td class="padding-5">{{patient.DoNotDisturb  ? 'Yes' : 'No'}}</td>
                        </tr>
                        <tr>
                            <td class="padding-5 bolded">Patient Cancelled</td>
                            <td class="padding-5">{{patient.Cancelled  ? 'Yes' : 'No'}}</td>
                        </tr>
                        <tr>
                            <td class="padding-5 bolded">Patient Completed </td>
                            <td class="padding-5">{{patient.Completed  ? 'Yes' : 'No'}}</td>
                        </tr>
                        <tr>
                            <td class="padding-5 bolded">No Monitoring </td>
                            <td class="padding-5">{{patient.NoMonitoring  ? 'Yes' : 'No'}}</td>
                        </tr>
                    </table>


                    <div class="margin-5">
                        &nbsp;
                    </div>


                    <div class="margin-5">
                        Previous Assessments
                        <div>
                            <div ng-repeat="c in patient.AssociatedCalls" ng-if="c.CallStatus > 1" class="call-box">
                                v>
                                <div>
                                    <!--Call {{c.Index}} - Assessment-->

                                    <span class="pull-right" style="font-size: 1.1em; font-weight: bold;">{{c.CallMonth}}/{{c.CallDay}}/{{c.CallYear}} {{c.CallTime | date : 'shortTime'}}</span>
                                </div>
                                <div class="margin-top-10">
                                    <div class="row">
                                        <div class="col-sm-12" style="padding-left: 10px; padding-right: 5px">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Current<br />Pain</th>
                                                        <th>Perscriptions<br />24 Hour</th>
                                                        <th>OTC<br />24 Hour</th>
                                                        <th>Number of<br /> Bolus Doses</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>{{c.PainScoreCurrent}}</td>
                                                        <td>{{c.Perscription24Hour}}</td>
                                                        <td>{{c.Otc24Hour}}</td>
                                                        <td>{{c.DoseButton}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12" style="padding-left: 10px; padding-right: 5px">

                                            <table class="table">
                                                <colgroup>
                                                    <col style="width: 65%;" />
                                                    <col style="width: 35%;" />
                                                </colgroup>
                                                <tr>
                                                    <td>Bathroom</td>

                                                    <td class="text-center">
                                                        <!--&nbsp;-->
                                                        <i class="icon-23 fa  {{getClass(c.TolerableToilet)}}"></i>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Eating/Drinking</td>
                                                    <td class="text-center">
                                                        <i class="icon-23 fa  {{getClass(c.TolerableConsumption)}}"></i>

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Sleeping</td>
                                                    <td class="text-center">
                                                        <i class="icon-23 fa  {{getClass(c.TolerableSleeping)}}"></i>

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Walking</td>
                                                    <td class="text-center">
                                                        <i class="icon-23 fa  {{getClass(c.TolerableWalking)}}"></i>

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Dressing</td>
                                                    <td class="text-center">
                                                        <i class="icon-23 fa  {{getClass(c.TolerableDressing)}}"></i>

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Stairs</td>
                                                    <td class="text-center">
                                                        <i class="icon-23 fa  {{getClass(c.TolerableStairs)}}"></i>

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>PT/OT</td>
                                                    <td class="text-center">
                                                        <i class="icon-23 fa  {{getClass(c.TolerablePtOt)}}"></i>

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Return to Work</td>
                                                    <td class="text-center">
                                                        <i class="icon-23 fa  {{getClass(c.TolerableReturnToWork)}}"></i>

                                                    </td>
                                                </tr>
                                            </table>
                                        </div>

                                    </div>
                                </div>

                                <div class="margin-top-10"></div>
                                <div class="margin-top-10"></div>
                                <div class="margin-top-10"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="margin-5">
                        <div>
                            Notes / Facility Guidelines
                            <div class="call-box">
                                {{patient.FacilityNotes}}
                            </div>
                        </div>


                        <div class="margin-top-10">
                            Comments
                            <div ng-if="!preventChanges">

                                <textarea class="form-control"
                                          rows="8"
                                          ng-model="cmt"
                                          ng-change="evaluateCmt(cmt)"></textarea>

                                <div class="margin-top-10"></div>
                                <select class="form-control"
                                        ng-if="!isHotlineNurse"
                                        ng-init="callType = null"
                                        ng-options="ct.Index as ct.Title for ct in patient.CommentTypes"
                                        ng-model="callType"
                                        ng-change="setCallType(callType)"></select>
                                <select class="form-control"
                                        ng-if="isHotlineNurse"
                                        ng-options="ct.Index as ct.Title for ct in patient.CommentTypes"
                                        ng-model="callType"
                                        ng-change="setCallType(callType)"></select>
                                <button type="button"
                                        class="btn btn-sm btn-info margin-top-10"
                                        ng-disabled="posting || !newComment.length"
                                        ng-click="postComment()">
                                    Add Comment
                                </button>
                                <div class="margin-top-10"></div>
                            </div>

                            <div ng-repeat="c in patient.Comments" class="margin-top-10">
                                <div class="comment-date">{{c.CreatedBy}}</div>
                                <div class="comment-date">{{c.CreatedOn | date : 'medium'}} - {{getTitle(c)}}</div>
                                <div class="comment-text">{{c.Comment}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>


<script type="text/ng-template" id="Assessment.html" size="lg">
    <div class="modal-header">
        <h3 class="modal-title">
            Enter Assessment
        </h3>
    </div>
    <div class="modal-body">
        <div class="padding-10">
            <div class="row" style="border:1px solid grey">
                <h4 class="padding-3" style="margin-top: 0px;text-align:center">PATIENT DETAIL</h4>
                <div class="col-sm-6" style="border:5px">
                    <table>
                        <tr>
                            <td class="padding-5 bolded">Patient Name:</td>
                            <td class="padding-5 ">{{patient.FirstName}} {{patient.LastName}}</td>
                        </tr>
                        <tr>
                            <td class="padding-5 bolded">Phone Number:</td>
                            <td class="padding-5">{{patient.Phone | tel}}</td>
                        </tr>
                        <tr>
                            <td class="padding-5 bolded">Gender:</td>
                            <td class="padding-5">{{patient.GenderName}}</td>
                        </tr>
                        <tr>
                            <td class="padding-5 bolded">Age</td>
                            <td class="padding-5">{{patient.Age}}</td>
                        </tr>
                        <tr>
                            <td class="padding-5 bolded">Caregiver:</td>
                            <td class="padding-5">{{patient.AltContact}}</td>
                        </tr>
                        <tr>
                            <td class="padding-5 bolded">Caregiver Phone:</td>
                            <td class="padding-5">{{patient.AltPhone | tel}}</td>
                        </tr>
                        <tr>
                            <td class="padding-5 bolded">Procedure:</td>
                            <td class="padding-5">{{patient.ProcedureName}}</td>
                        </tr>
                        <tr>
                            <td class="padding-5 bolded">Procedure Date:</td>
                            <td class="padding-5">{{patient.ProcedureDate | date:'shortDate'}}</td>
                        </tr>
                        <tr>
                            <td class="padding-5 bolded">Facility:</td>
                            <td class="padding-5">{{patient.FacilityName}}</td>
                        </tr>
                        <tr>
                            <td class="padding-5 bolded">Surgeon:</td>
                            <td class="padding-5">{{patient.PhysicianFullName}}</td>
                        </tr>
                        <tr>
                            <td class="padding-5 bolded">Anesthesiologist:</td>
                            <td class="padding-5">{{patient.AnesthesiologistFullName}} </td>
                        </tr>
                        <tr>
                            <td class="padding-5 bolded">Nurse:</td>
                            <td class="padding-5">{{patient.NurseFullName}}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-6">
                    <table>
                        <tr>
                            <td class="padding-5 bolded">Call #:</td>
                            <td class="padding-5">{{patient.Index}}</td>
                        </tr>
                        <tr>
                            <td class="padding-5 bolded">Discharge Date:</td>
                            <td class="padding-5">{{patient.DischargeDate}}</td>
                        </tr>
                        <tr>
                            <td class="padding-5 bolded">Mobile Patient:</td>
                            <td class="padding-5">{{patient.Mobile ? 'Yes' : 'No'}}</td>
                        </tr>
                        <tr>
                            <td class="padding-5 bolded">Primary Language:</td>
                            <td class="padding-5">{{patient.SpanishSpeaking ? 'SP' : 'EN'}}</td>
                        </tr>
                        <tr>
                            <td class="padding-5 bolded">Dual Catheter:</td>
                            <td class="padding-5">{{patient.IsDualCath ? 'Yes' : 'No'}}</td>
                        </tr>
                        <tr>
                            <td class="padding-5 bolded">Pump Serial:</td>
                            <td class="padding-5">{{patient.PumpSerial}}</td>
                        </tr>
                        <tr>
                            <td class="padding-5 bolded">Pump Serial 2:</td>
                            <td class="padding-5">{{patient.PumpSerial2}}</td>
                        </tr>
                        <tr>
                            <td class="padding-5 bolded">Do Not Disturb:</td>
                            <td class="padding-5">{{patient.DoNotDisturb  ? 'Yes' : 'No'}}</td>
                        </tr>
                        <tr>
                            <td class="padding-5 bolded">Patient Cancelled:</td>
                            <td class="padding-5">{{patient.Cancelled  ? 'Yes' : 'No'}}</td>
                        </tr>
                        <tr>
                            <td class="padding-5 bolded">Patient Completed:</td>
                            <td class="padding-5">{{patient.Completed  ? 'Yes' : 'No'}}</td>
                        </tr>
                        <tr>
                            <td class="padding-5 bolded">No Monitoring:</td>
                            <td class="padding-5">{{patient.NoMonitoring  ? 'Yes' : 'No'}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-6">
                    <h5>Pain Level (0-10)</h5>
                    <div class="row margin-top-10">
                        <div class="col-sm-8">
                            <label>Current Level</label>

                        </div>
                        <div class="col-sm-4">
                            <select class="form-control" ng-model="model.PainScoreCurrent">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                    </div>

                    <h5>Number of Tablets - 24 Hours</h5>
                    <div class="row margin-top-10">
                        <div class="col-sm-8">
                            <label>Perscription Drugs</label>

                        </div>
                        <div class="col-sm-4">
                            <select class="form-control" ng-model="model.Perscription24Hour">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12+</option>
                            </select>
                        </div>
                    </div>

                    <div class="row margin-top-10">
                        <div class="col-sm-8">
                            <label>Over the Counter</label>

                        </div>
                        <div class="col-sm-4">
                            <select class="form-control" ng-model="model.Otc24Hour">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12+</option>
                            </select>
                        </div>
                    </div>
                    <div class="row margin-top-10">
                        <div class="col-sm-8">
                            <label>Number of times the </label>
                            <label>Dose/Bolus Used</label>
                        </div>
                        <div class="col-sm-4">
                            <select class="form-control" ng-model="model.DoseButton">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                    </div>
                    <div class="row margin-top-10">
                        <div class="col-sm-5">
                            <label>Effective </label>

                        </div>
                        <div class="col-sm-5">
                            <label><input name="activeStatus" type="radio" ng-click="model.EffectiveUse=true" /> Yes </label>
                            <span style="display:inline-block; width: 2em;"></span>
                            <label><input name="activeStatus" type="radio" ng-click="model.EffectiveUse=false" /> No </label>
                        </div>
                        <br />
                        <br />
                        <label ng-if="isForm">
                            Additional Questions Exist for this Facility
                        </label>
                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="margin-top-10">
                        Comments
                        <div class="call-box">
                            <div>


                                <textarea class="form-control"
                                          rows="8"
                                          ng-model="cmt"
                                          ng-change="evaluateCmt(cmt)"></textarea>

                                <div class="margin-top-10"></div>

                                <select class="form-control"
                                        ng-if="!isHotlineNurse"
                                        ng-init=" model.callType = model.commentTypes[0].Index"
                                        ng-options="ct.Index as ct.Title for ct in model.commentTypes"
                                        ng-model="model.callType"></select>
                                <select class="form-control"
                                        ng-if="isHotlineNurse"
                                        ng-init=" model.callType = model.commentTypes[1].Index"
                                        ng-options="ct.Index as ct.Title for ct in model.commentTypes"
                                        ng-model="model.callType"></select>
                                <button type="button"
                                        class="btn btn-sm btn-info margin-top-10"
                                        ng-disabled="posting || !newComment.length"
                                        ng-click="postComment()">
                                    Add Comment
                                </button>
                                <div class="margin-top-10"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-6">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Tolerable</th>
                            <th>Slightly Difficult</th>
                            <th>Intolerable</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>Bathroom</td>
                        <td>
                            <input ng-model="model.TolerableToilet" type="radio" name="toilet" ng-value="0" />
                        </td>
                        <td>
                            <input ng-model="model.TolerableToilet" type="radio" name="toilet" ng-value="1" />
                        </td>
                        <td>
                            <input ng-model="model.TolerableToilet" type="radio" name="toilet" ng-value="2" />
                        </td>
                    </tr>
                    <tr>
                        <td>Eating/Drinking</td>
                        <td>
                            <input ng-model="model.TolerableConsumption" type="radio" name="eat" ng-value="0" />
                        </td>
                        <td>
                            <input ng-model="model.TolerableConsumption" type="radio" name="eat" ng-value="1" />
                        </td>
                        <td>
                            <input ng-model="model.TolerableConsumption" type="radio" name="eat" ng-value="2" />
                        </td>
                    </tr>
                    <tr>
                        <td>Sleeping</td>
                        <td>
                            <input ng-model="model.TolerableSleeping" type="radio" name="sleep" ng-value="0" />
                        </td>
                        <td>
                            <input ng-model="model.TolerableSleeping" type="radio" name="sleep" ng-value="1" />
                        </td>
                        <td>
                            <input ng-model="model.TolerableSleeping" type="radio" name="sleep" ng-value="2" />
                        </td>
                    </tr>
                    <tr>
                        <td>Walking</td>
                        <td>
                            <input ng-model="model.TolerableWalking" type="radio" name="walking" ng-value="0" />
                        </td>
                        <td>
                            <input ng-model="model.TolerableWalking" type="radio" name="walking" ng-value="1" />
                        </td>
                        <td>
                            <input ng-model="model.TolerableWalking" type="radio" name="walking" ng-value="2" />
                        </td>
                    </tr>
                    <tr>
                        <td>Dressing</td>
                        <td>
                            <input ng-model="model.TolerableDressing" type="radio" name="dress" ng-value="0" />
                        </td>
                        <td>
                            <input ng-model="model.TolerableDressing" type="radio" name="dress" ng-value="1" />
                        </td>
                        <td>
                            <input ng-model="model.TolerableDressing" type="radio" name="dress" ng-value="2" />
                        </td>
                    </tr>
                    <tr>
                        <td>Stairs</td>
                        <td>
                            <input ng-model="model.TolerableStairs" type="radio" name="stairs" ng-value="0" />
                        </td>
                        <td>
                            <input ng-model="model.TolerableStairs" type="radio" name="stairs" ng-value="1" />
                        </td>
                        <td>
                            <input ng-model="model.TolerableStairs" type="radio" name="stairs" ng-value="2" />
                        </td>
                    </tr>
                    <tr>
                        <td>PT/OT</td>
                        <td>
                            <input ng-model="model.TolerablePtOt" type="radio" name="po" ng-value="0" />
                        </td>
                        <td>
                            <input ng-model="model.TolerablePtOt" type="radio" name="po" ng-value="1" />
                        </td>
                        <td>
                            <input ng-model="model.TolerablePtOt" type="radio" name="po" ng-value="2" />
                        </td>
                    </tr>
                    <tr>
                        <td>Return to Work</td>
                        <td>
                            <input ng-model="model.TolerableReturnToWork" type="radio" name="rtw" ng-value="0" />
                        </td>
                        <td>
                            <input ng-model="model.TolerableReturnToWork" type="radio" name="rtw" ng-value="1" />
                        </td>
                        <td>
                            <input ng-model="model.TolerableReturnToWork" type="radio" name="rtw" ng-value="2" />
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-6">
                <label>Call Action</label>
                <select class="form-control"
                        ng-options="a.id as a.name for a in actions"
                        ng-model="action"></select>

                <div ng-if="action == 1">
                    <!-- call closing -->
                </div>
                <div ng-if="action == 3 || action == 4">

                    <div class="margin-top-10">&nbsp;</div>
                    <label>Patient Satisfaction</label>

                    <select class="form-control" ng-model="model.Satisfaction">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
                <div ng-if="action == 2 || action == 4|| action==5">
                    <div class="margin-top-10">&nbsp;</div>
                    <label>Select Callback Time</label>
                    <timepicker ng-model="model.CallbackTime" minute-step="15"></timepicker>
                </div>
            </div>
        </div>
    </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>


        <button class="btn btn-success" ng-click="save(action)"
                ng-disabled="form.$invalid">
            {{action == 1 ? 'Submit Assessment' : action == 2 ? 'Schedule Callback' : action == 5 ? 'Schedule New Time Tomorrow':'Discharge'}}

        </button>
    </div>
</script>


<script type="text/ng-template" id="CallClosePrompt.html" size="sm">
    <div class="modal-header">
        <h3 class="modal-title">
            {{title}}
        </h3>
    </div>
    <div class="modal-body">

        <div class="padding-10" ng-if="showSatisfaction">

            <label>Patient Satisfaction</label>

            <select class="form-control" ng-model="model.satisfaction">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>

        </div>

        <div class="padding-10" ng-if="showCallbackTime">

            <label>Callback Time</label>
            <timepicker ng-model="model.time" minute-step="15"></timepicker>

        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>

        <button class="btn btn-success" ng-click="done()"
                ng-disabled="showSatisfaction && !model.satisfaction || showCallbackTime && !model.time">
            Done
        </button>

    </div>
</script>
</script>
<script type="text/ng-template" id="CallComplete.html" size="medium">
    <div class="modal-header">
        <h3 class="modal-title">
            Call Complete
        </h3>
    </div>
    <div class="modal-body">
        <p ng-if="!showSatisfaction">There are no future call sheduled for this patient!</p>
        <div class="padding-10" ng-if="showSatisfaction">

            <label>Patient Satisfaction</label>

            <select class="form-control" ng-model="model.satisfaction" ng-change="submit(model.satisfaction)">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>

        </div>
    </div>
    <div class="modal-footer" ng-if="!showSatisfaction">
        <button class="btn btn-warning" ng-click="endService()">End Service</button>

        <button class="btn btn-success" ng-click="newCall()">
            Create New Call for Tomorrow
        </button>

    </div>
    <div class="modal-footer" ng-if="showSatisfaction">
        <button class="btn btn-warning" ng-click="close()">Submit</button>
    </div>
</script>

<script type="text/ng-template" id="form.html" size="lg">
    <div class="modal-header">
        <h3 class="modal-title">
            Additional Questions
            <i style="text-align:right" class="fa fa-close"></i>
        </h3>
    </div>
    <div class="modal-body">
       <div id="frame">

       </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="close()">Close</button>
    </div>
</script>
