﻿<div class="page forms-list" ng-controller="CallCenterCallHistoryController"
	 service="physician" service-fn="getPatients">

	<ng-include src="'/partials/message.html'"></ng-include>

	<section class="panel panel-default table-dynamic">
		<div class="panel-heading">
			<strong>Activity Detail</strong>
		</div>


		<div class="row margin-top-10" style="padding: 0 20px 20px 20px;">
			<div class="col col-sm-3" style="font-size: 1.1em;">
				<div>
					<strong>Patient:</strong>&nbsp;&nbsp; {{model.FirstName}} {{model.LastName}}
				</div>
				<div class="margin-top-10">
					<strong>Phone:</strong>&nbsp;&nbsp;{{model.Phone | tel}}
				</div>
				<div class="margin-top-10">
					<strong>Procedure Date:</strong>&nbsp;&nbsp;{{model.StartDate | date }}
				</div>
			</div>
			<div class="col col-sm-3" style="font-size: 1.1em;">
				<div>
					<strong>Surgeon:</strong>&nbsp;&nbsp;{{smodel.PhysicianTitle}} {{model.PhysicianLastName}} {{model.PhysicianSuffix}}
				</div>
				<div class="margin-top-10">
					<strong>Procedure:</strong>&nbsp;&nbsp;{{model.Code}}
				</div>
			</div>
			<div class="col col-sm-3" style="font-size: 1.1em;">
				<div>
					<strong>Satisfaction:</strong>&nbsp;&nbsp;{{model.Satisfaction}}
				</div>
				<div class="margin-top-10">
					<strong>Facility:</strong>&nbsp;&nbsp;{{model.FacilityName}}
				</div>
			</div>
			<div class="col col-sm-3">
				<div class="margin-top-10">
					<table class="table">
						<tr>
							<td>Pain Level 0 - 3</td>
							<td><i class="fa fa-check pain-level pain-green icon-23"></i></td>
							<td>Tolerable</td>
							<td><i class="fa fa-check pain-level pain-green icon-23"></i></td>

						</tr>

                        <tr>
                            <td>Pain Level 4 - 6</td>
                            <td><i class="fa fa-exclamation-triangle  pain-level pain-yellow"></i></td>
                            <td>Slightly Difficult </td>
                            <td><i class="fa fa-exclamation-triangle  pain-level pain-yellow"></i></td>
                        </tr>
                        <tr>
                            <td>Pain Level 7 - 10</td>
                            <td><i class="fa fa-ban pain-level pain-red"></i></td>
                            <td>Intolerable</td>
                            <td><i class="fa fa-ban pain-level pain-red"></i></td>
                        </tr>
						<tr>
							<td>Unanswered</td>
							<td><i class="fa fa-circle-o pain-level"></i></td>
							<td></td>
							<td></td>
						</tr>
					</table>

				</div>
			</div>
		</div>

		<div class=" row margin-top-10">
			<div class="col col-sm-9">
			</div>
			<div class="col col-sm-3">
				<div style="padding: 5px;">
					<a class="btn btn-info pull-right" href="/#/callcenter/call/{{lastId}}">View Patient Chart</a>
				</div>
			</div>
		</div>

		<table class="table table-bordered table-striped table-responsive  margin-top-10">
			<thead>
				<tr>
					<th>
						<div class="text-center th">
							Days <br />Out
						</div>
					</th>
					<th>
						<div class="text-center th">
							Pain <br />Level
						</div>
					</th>
					<th>
						<div class="text-center th">Bathroom</div>
					</th>
					<th>
						<div class="text-center th">Eating</div>
					</th>
					<th>
						<div class="text-center th">Sleeping</div>
					</th>
					<th>
						<div class="text-center th">Walking</div>
					</th>
					<th>
						<div class="text-center th">Dressing</div>
					</th>
					<th>
						<div class="text-center th">Stairs</div>
					</th>
					<th>
						<div class="text-center th">PT/OT</div>
					</th>
					<th>
						<div class="text-center th">RTW</div>
					</th>
					<!--<th></th>-->
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="s in summary track by $index">
					<td class="text-center">{{s.Index}}</td>
					<td class="text-center">

						<div class="pain-score">
							<!--<i class="fa fa-circle-o pain-level" ng-if="!s.Assigned || s.CallStatus == 1"></i>-->
							<i class="fa fa-check pain-level pain-green icon-23" ng-if="(+s.PainScoreCurrent < 4 && s.CallStatus == 2)"></i>
							<i class="fa fa-exclamation-triangle  pain-level pain-yellow" ng-if="(+s.PainScoreCurrent >= 4 && +s.PainScoreCurrent < 7 ) && s.CallStatus == 2 "></i>
							<i class="fa fa-ban pain-level pain-red" ng-if=" +s.PainScoreCurrent >= 7  && s.CallStatus == 2"></i>
						</div>
					</td>
					<td class="text-center">
						<i ng-if=" s.CallStatus != 1" class="icon-23 fa {{getClass(s.TolerableToilet)}}"></i>
					</td>
					<td class="text-center">
						<i  ng-if=" s.CallStatus != 1" class="icon-23 fa {{getClass(s.TolerableConsumption)}}"></i>
					</td>
					<td class="text-center">
						<i  ng-if=" s.CallStatus != 1" class="icon-23 fa {{getClass(s.TolerableSleeping)}}"></i>
					</td>
					<td class="text-center">
						<i ng-if=" s.CallStatus != 1" class="icon-23 fa {{getClass(s.TolerableWalking)}}"></i>
					</td>
					<td class="text-center">
						<i  ng-if=" s.CallStatus != 1" class="icon-23 fa {{getClass(s.TolerableDressing)}}"></i>
					</td>
					<td class="text-center">
						<i  ng-if=" s.CallStatus != 1" class="icon-23 fa {{getClass(s.TolerableStairs)}}"></i>
					</td>
					<td class="text-center">
						<i  ng-if=" s.CallStatus != 1" class="icon-23 fa {{getClass(s.TolerablePtOt)}}"></i>
					</td>
					<td class="text-center">
						<i  ng-if=" s.CallStatus != 1" class="icon-23 fa {{getClass(s.TolerableReturnToWork)}}"></i>
					</td>
				</tr>
			</tbody>
		</table>
	</section>
</div>
