﻿<div class="page forms-list" ng-controller="CallCenterDashboardController">

	<section class="panel panel-default table-dynamic">
		<div class="panel-heading">
			<strong>Call Center</strong>
		</div>
		<div style="padding: 30px;">
			<div class="row">
				<div class="col-sm-4"></div>
				<div class="col-sm-4">
					<img style="width: 100%;" src="/images/InfuBLOCK-logo_revised_RGB.jpg" />
				</div>
				<div class="col-sm-4"></div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<img style="max-width: 100%;" src="/images/Hotline.JPG" />
				</div>
				<div class="col-sm-6" style="text-align: center">
					<div style="margin-top: 100px;">
						<h1>1-(844) 724-6123</h1>
					</div>
				</div>
				<div class="col-sm-3">
					<img style="width: 100%;" src="/images/InfuSystem Mobil App_RGB.png" />
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
				</div>
				<div class="col-sm-6">
				</div>
				<div class="col-sm-3">
				</div>
			</div>
		</div>
	</section>
</div>




