﻿<div class="page forms-list" ng-controller="CallCenterFollowUpController"
     service="physician" service-fn="getPatients">
    <ng-include src="'/partials/message.html'"></ng-include>

    <section class="panel panel-default table-dynamic">
        <div class="panel-heading">
            <strong>Follow Up Calls</strong>
        </div>

        <div class="table-filters">
            <div class="row">
                <div class="col-sm-2">
                    <label>Schedule Date</label>

                    <div class="input-group ui-datepicker">
                        <input type="text" class="form-control "
                               datepicker-popup="MM/dd/yyyy"
                               ng-model="date"
                               is-open="calendarOpen"
                               close-text="Close"
                               ng-click="calendarOpen = true"
                               ng-change="dateChanged()" />

                        <span class="input-group-addon"><i class="ti-calendar"></i></span>
                    </div>
                    <hr />
                    
                </div>
                <div class="col-sm-2">
                    <label>Call Type</label>
                    <select class="form-control"
                            ng-model="callType"
                            ng-change="filterCallType()"
                            ng-options="p for p in ['All', 'Non-Mobile', 'Mobile']"></select>
                    <hr />


                </div>
                <div class="col-sm-5">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Scheduled</th>
                                <th>Completed</th>
                                <th>Percent</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tr>
                            <td>Monitor Calls</td>
                            <td>{{aggregates.ScheduledMonitor}}</td>
                            <td>{{aggregates.CompletedMonitor}}</td>
                            <td>{{aggregates.PercentMonitor}}%</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Mobile Calls</td>
                            <td>{{aggregates.ScheduledMobile}}</td>
                            <td>{{aggregates.CompletedMobile}}</td>
                            <td>{{aggregates.PercentMobile}}%</td>

                            <td></td>
                        </tr>
                        <tr>
                            <td>Total All Calls</td>
                            <td>{{aggregates.ScheduledTotal}}</td>
                            <td>{{aggregates.CompletedTotal}}</td>
                            <td>{{aggregates.PercentTotal}}%</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-3">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Calls per Day Out</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tr ng-repeat="c in dayCounts">
                            <td>{{c.key}}:</td>
                            <td>{{c.value}}</td>
                        </tr>
                    </table>
                </div>
                <!--<div class="col-sm-2">

                </div>-->
                <!--<div class="col-sm-6">
                       <div class="pull-right">
                              <button class="btn btn-success" type="button"
                                            ng-click="selectCall()">
                                     Select Next Call
                              </button>
                       </div>
                </div>-->
            </div>

        </div>

        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th>
                        <div class="th" ng-click="order('CallTime')">
                            Scheduled Time
                            <i class="fa "
                               ng-class="{'fa-arrow-down':reverseTime, 'fa-arrow-up': !reverseTime}"></i>
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Call #
                        </div>
                    </th>
                    <th>
                        <div class="th" ng-click="order('FirstName')">
                            Patient
                            <i class="fa "
                               ng-class="{'fa-arrow-down':reverseName, 'fa-arrow-up': !reverseName}"></i>
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Phone
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Surgeon
                        </div>
                    </th>
                    <th>
                        <div class="th" ng-click="order('FacilityName')">
                            Facility
                            <i class="fa "
                               ng-class="{'fa-arrow-down':reverseFacility, 'fa-arrow-up': !reverseFacility}"></i>
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Procedure Date
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Language
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Mobile
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Status{{reverse}}
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Previous Pain
                        </div>
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="s in schedule| orderBy:predicate:predicate== 'FirstName' ? reverseName :predicate == 'CallTime' ? reverseTime : predicate == 'FacilityName' ? reverseFacility:reverseTime" ng-if="!s.hidden">

                    <td>{{s.CallTime | date: 'short'}}</td>
                    <td style="text-align: center">{{s.Index}}</td>
                    <td>{{s.FirstName}} {{s.LastName}}</td>
                    <td>{{s.Phone | tel}}</td>
                    <td ng-if="s.PhysicianId">{{s.PhysicianTitle}} {{s.PhysicianLastName}} {{s.PhysicianSuffix}}</td>
                    <td ng-if="!s.PhysicianId && s.AnesthesiologistId">{{s.AnesthesiologistTitle}} {{s.AnesthesiologistFirstName}} {{s.AnesthesiologistSuffix}}</td>
                    <td ng-if="!s.PhysicianId && !s.AnesthesiologistId">&nbsp;</td>
                    <td>{{s.FacilityName}}</td>
                    <td style="text-align: center">{{s.StartDate | date:'shortDate'}}</td>
                    <td>{{s.SpanishSpeaking ? 'SP' : 'EN'}}</td>
                    <!--<td>{{s.Mobile ? 'Yes' : 'No'}}</td>-->
                    <td style="text-align: center" ng-if="s.Mobile"><i class="fa fa-mobile-phone mobile"></i></td>
                    <td style="text-align: center" ng-if="!s.Mobile"><i class="fa fa-phone telephone"></i> </td>
                    <td>{{s.CallStatusName}}</td>
                    <td>
                        <div ng-repeat="ac in s.AssociatedCalls" class="pain-score">
                            <i class="fa icon-nocall" ng-if="!ac.Assigned || ac.CallStatus == 1"></i>
                            <i class="fa fa-check pain-level pain-green icon-23" ng-if="(+ac.PainScoreCurrent < 4 && ac.CallStatus == 2)"></i>
                            <i class="fa fa-exclamation-triangle  pain-level pain-yellow" ng-if="(+ac.PainScoreCurrent >= 4 && +ac.PainScoreCurrent < 7 ) && ac.CallStatus == 2 "></i>
                            <i class="fa fa-ban pain-level pain-red" ng-if=" +ac.PainScoreCurrent >= 7  && ac.CallStatus == 2"></i>
                        </div>
                    </td>
                    <td class="action-cell">

                        <div class="btn-group" dropdown is-open="status.isopen2">
                            <button type="button" class="btn btn-sm btn-info dropdown-toggle" ng-click="selectSpecificCall(s.Id)"> Select  </button>

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>

