﻿
<div class="page forms-list" ng-controller="CallCenterPatientsController"
     service="callsitePatients" service-fn="getmanagepatients">

    <section class="panel panel-default table-dynamic">
        <div class="panel-heading">
            <strong>Manage Patients</strong>
        </div>

        <div class="table-filters">
            <div class="row">

                <div class="col-sm-8 form-group ">
                    <div class="form-inline">
                        <div class="col-sm-4">
                            <input type="text" class="form-control" style="width: 100%;"
                                   placeholder="Search Patients"
                                   ng-model="filter" />
                        </div>
                        <div class="col-sm-4">
                            <select class="form-control" style="width: 100%;"
                                    placeholder="Search File Name or Tags"
                                    ng-model="filterType">
                                <option value="0"></option>
                                <option value="1">Pump Serial Number</option>
                                <option value="2">First Name</option>
                                <option value="3">Last Name</option>
                                <option value="4">Phone</option>
                            </select>
                        </div>
                        &nbsp;
                        <button class="btn btn-info" type="button"
                                ng-click="updateResults()">
                            Search
                        </button>
                    </div>
                </div>


                <div class="col-sm-4">
                    <div class="pull-right">
                        <a class="btn btn-success" ng-if="!isCallSiteAdmin && !isHotlineNurse" href="/#/callcenter/patient/new">
                            Add New Patient
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="!loading">
            <table class="table table-bordered table-striped table-responsive">
                <thead>
                    <tr>
                        <th>
                            <div class="th">
                                First Name
                                <!--<i class="fa " ng-show="predicate === 'FirstName'"
                                ng-class="{'fa-arrow-down':reverse, 'fa-arrow-up': !reverse}"></i>-->
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Last Name
                            </div>
                        </th>
                        <th>
                            <div class="th"> Age</div>
                        </th>
                        <th>
                            <div class="th">
                                Email
                            </div>
                        </th>
                        <th>
                            <div class="th">Phone</div>
                        </th>
                        <th>
                            <div class="th">Facility Id</div>
                        </th>
                        <th>
                            <div class="th">Facility Name</div>
                        </th>
                        <th>
                            <div class="th">Actions</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="pat in results">

                        <td>{{pat.FirstName}}</td>
                        <td>{{pat.LastName}}</td>
                        <td>{{pat.Age}}</td>
                        <td>{{pat.Email}}</td>
                        <td>{{pat.Phone | tel}}</td>
                        <td>{{pat.InfuFacilityId}}</td>
                        <td>{{pat.FacilityName}}</td>
                        <td class="action-cell">
                            <div class="btn-group" dropdown>
                                <button type="button" class="btn btn-sm btn-info dropdown-toggle"> Select <span class="caret"></span> </button>
                                <ul class="dropdown-menu pull-right" role="menu">

                                    <li ng-if="!isHotlineNurse">
                                        <a href="/#/callcenter/patient/{{pat.Id}}">Edit</a>
                                    </li>
                                    <li>
                                        <a href="/#/callcenter/callhistory/{{pat.ProcedureId}}">Call History</a>
                                    </li>
                                    <li>
                                        <a ng-click="patientChart(pat.ProcedureId)">Patient Chart</a>
                                    </li>
                                    <li ng-if="!isHotlineNurse">
                                        <a ng-click="sendTextOrPushNotification(pat)">Send Text/Push notifications</a>
                                    </li>
                                    <li ng-if="!isHotlineNurse">
                                        <a href="javascript:;"
                                           ng-show="iAdmin || isSuperAdmin || isCallCenterAdmin"
                                           idr-confirm="deletePatient(pat.Id)"
                                           idr-confirm-message="Are you sure you want to delete this patient?">Delete</a>

                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-if="loading">
            <div style="padding: 20px;">Loading...</div>
        </div>
        <pagination boundary-links="true"
                    total-items="totalRecords"
                    ng-model="currentPage"
                    ng-change="setPage(currentPage-1)"
                    class="pagination-sm"
                    previous-text="&lsaquo;"
                    max-size="5"
                    next-text="&rsaquo;"
                    first-text="&laquo;"
                    last-text="&raquo;"></pagination>
    </section>

</div>

<script type="text/ng-template" id="OnDemandMessage.html" size="lg">
    <div class="modal-header">
        <h3 class="modal-title">
            On Demand Messaging
        </h3>
    </div>
    <div class="modal-body">
        <div class="padding-20">
            <div>
                <form name="form.messageForm" class="form-group margin-top-10 " novalidate>
                    <div class="row">
                        <label style="font-size:medium">Select Message Type : </label>
                        <label>
                            <input name="activeStatus" type="radio" value="true"
                                   ng-model="user.SMS" />
                            <span style="font-size:medium">Send Text Message</span>
                        </label> <span style="display:inline-block; width: 2em;"></span>
                        <label>
                            <input name="activeStatus" type="radio" value="true"
                                   ng-model="user.Notification" />
                            <span style="font-size:medium">Send Push Notification</span>
                        </label>
                    </div>
                    <br />
                    <div>
                        <table style="  border-top-left-radius: 40px;  border-top-right-radius: 40px;width:100%;
                            border: 2px solid;border-collapse:inherit ">
                            <tr>
                                <td>
                                    <p>
                                        <h3>
                                            <img style="width:6%; margin-left:10px" src="/images/InfuSystem Mobil App_RGB.png">
                                            <span style="display:inline-block; width: 10em;"></span>
                                            InfuSystem Mobile
                                        </h3>
                                    </p>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <textarea id="text" class="form-control z-depth-1" ng-model="user.message" rows="10"
                                              placeholder="Write message here..." cols="45" maxlength="140"
                                              ng-disabled="user.SMS==='false' && user.Notification==='false'">  
                                    </textarea>

                                </td>
                            </tr>
                        </table>

                    </div>
                    <div>character count: {{user.message.length}}</div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="send()" ng-disabled="user.message.length===0">Send</button>
    </div>
</script>

