﻿
<div class="page forms-list" ng-controller="CallCenterEditPatientsController">
	<ng-include src="'/partials/message.html'"></ng-include>

	<section class="panel panel-default table-dynamic">
		<div class="panel-heading">
			<strong>Add Patient</strong>
		</div>

		<div class="padding-10">
			<form name="patientForm" novalidate>

				<!-- payor & selects -->
				<div ng-if="!isCsa">
					<div class="row margin-top-10">

						<div class="col-sm-3">
							<label>Facility</label>
							<select class="form-control"
									ng-options="f.Id as f.Name for f in refs.Facilities"
									ng-model="patient.FacilityId"
									ng-change="selectFacility(patient.FacilityId)"
									placeholder="Facility"
									required />
						</div>

						<div class="col-sm-3">
							<label>Payor Type</label>

							<select class="form-control"
									ng-options="f.Id as f.Title for f in refs.Payors"
									ng-model="patient.PayorId"
									placeholder="Payor Type" required/>
						</div>

                        <div class="col-sm-3">
                            <label>Access Code</label>
                            <input class="form-control" ng-model="patient.AccessCode" placeholder="N/A"
                                   disabled />
                        </div>
					</div>
					<hr />
				</div>

				<div class="row  margin-top-20">
					<div class="col-sm-5">
						<label>First Name</label>

						<input class="form-control"
							   type="text"
							   placeholder="First Name"
							   ng-model="patient.FirstName"
							   required>

					</div>
					<div class="col-sm-2">
						<label>Middle Initial</label>
						<input class="form-control"
							   type="text"
							   placeholder="Middle Initial"
							   ng-model="patient.MiddleInitial"
							   maxlength="1">

					</div>
					<div class="col-sm-5">
						<label>Last Name</label>
						<input class="form-control"
							   type="text"
							   placeholder="Last Name"
							   ng-model="patient.LastName"
							   required>
					</div>
				</div>

				<div class="row margin-top-20">
					<div class="col-sm-4">
						<label>Email</label>
						<input class="form-control"
							   type="email"
							   placeholder="Email"
							   ng-model="patient.Email">

					</div>
					<div class="col-sm-4">
						<label>Age</label>
						<input class="form-control"
							   type="number"
							   placeholder="Age"
							   ng-model="patient.Age">
					</div>
					<div class="col-sm-4">
						<label>Phone</label>
						<input class="form-control"
							   type="tel"
							   ui-mask="(999) 999-9999"
							   ng-model="patient.Phone">
					</div>
				</div>

				<div class="row margin-top-10">
					<div class="col-sm-4">
						<label>Gender</label>
						<select class="form-control"
								ng-model="patient.Gender"
								placeholder="Gender"
								ng-options="g.value as g.key for g in genders"></select>
					</div>
					<div class="col-sm-4">
						<label>Caregiver</label>
						<input class="form-control"
							   type="text"
							   placeholder="Alternate Contact"
							   ng-model="patient.AltContact">
					</div>
					<div class="col-sm-4">
						<label>Caregiver Phone</label>
						<input class="form-control"
							   type="tel"
							   ui-mask="(999) 999-9999"
							   ng-model="patient.AltPhone">
					</div>
				</div>
				<div class="row margin-top-10">
					<div class="col-sm-4">
						<label class="ui-checkbox">
							<input name="language" type="checkbox"
							       ng-model="patient.SpanishSpeaking" />
							<span><b>Spanish Speaking</b></span>
						</label>
					</div>
					<div class="col-sm-4">
						<label class="ui-checkbox">
							<input name="mobile" type="checkbox"
							       ng-model="patient.Mobile" />
							<span><b>Mobile User</b></span>
						</label>
					</div>
					<div class="col-sm-4">
						<label class="ui-checkbox">
							<input name="outpatient" type="checkbox"
								   ng-model="patient.Outpatient" />
							<span><b>Outpatient</b></span>
						</label>
					</div>
				</div>
				<div class="row margin-top-10">
					<div class="col-sm-4">
						<label class="ui-checkbox">
							<input name="activeStatus" type="checkbox"
								   ng-model="patient.DoNotDisturb" />
							<span><b>Do Not Disturb</b></span>
						</label>
					</div>
					<div class="col-sm-4">
						<label class="ui-checkbox">
							<input name="activeStatus" type="checkbox"
								   ng-model="patient.Cancelled" />
							<span><b>Patient Cancelled</b></span>
						</label>
					</div>
					<div class="col-sm-4">
						<label class="ui-checkbox">
							<input name="outpatient" type="checkbox"
							       ng-model="patient.NoMonitoring" />
							<span><b>No Monitoring</b></span>
						</label>
					</div>
				</div>
				<hr />

				<!-- payor & selects -->
				<div class="row margin-top-10">

					<!--<div class="col-sm-4">
						<label>Facility</label>
						<select class="form-control"
								ng-options="f.Id as f.Name for f in refs.Facilities"
								ng-model="patient.FacilityId"
								ng-change="selectFacility(patient.FacilityId)"
								placeholder="Facility"
								required />
					</div>-->

					<div class="col-sm-4">
						<label>Surgeon</label>
						<select class="form-control"
								ng-options="f.Id as ((f.Title ? f.Title + ' ' : '') + f.FirstName + ' ' + f.LastName) for f in physicians"
								ng-model="patient.PhysicianId"
								placeholder="Physician"
								 />
					</div>

					<div class="col-sm-4">
						<label>Anesthesiologist</label>
						<select class="form-control"
								ng-options="f.Id as ( (f.Title ? f.Title + ' ' : '')  + f.FirstName + ' ' + f.LastName) for f in anes"
								ng-model="patient.AnesthesiologistId"
								placeholder="Anesthesiologist" />
					</div>

					<div class="col-sm-4">
						<label>Nurse</label>
						<select class="form-control"
								ng-options="f.Id as ( (f.Title ? f.Title + ' ' : '') + f.FirstName + ' ' + f.LastName) for f in nurses"
								ng-model="patient.NurseId"
								placeholder="Nurse" />
					</div>
				</div>
				<hr />
				<div class="row margin-top-10">
					<div class="col-sm-6">
						<label>Procedure</label>
						<select class="form-control"
								ng-model="patient.CptId"
								placeholder="Procedure"
								required
								ng-options="p.Id as p.Code for p in procedures"></select>

					</div>

					<div class="col-sm-6">
						<label>Procedure Date</label>

						<div class="input-group ui-datepicker">
							<input type="text" class="form-control "
								   datepicker-popup="MM/dd/yyyy"
								   ng-model="patient.StartDate"
								   is-open="calendarOpen"
								   ng-required="true"
								   close-text="Close"
								   ng-click="calendarOpen = true"
								   ng-change="scheduledDateChanged()" />

							<span class="input-group-addon"><i class="ti-calendar"></i></span>
						</div>
					</div>
				</div>

				<!--<div class="row  margin-top-10">
					<div class="col-sm-8">
						<label>Procedure Time</label>
						<timepicker ng-model="patient.StartTime"></timepicker>
					</div>
				</div>-->
				<!-- serial -->
                <div class="row margin-top-10">
                    <div class="col-sm-4">
                        <label>Pump Serial</label>

                        <input class="form-control"
                               type="text"
                               placeholder="Pump Serial"
                               ng-model="patient.PumpSerial">
                    </div>
                    <div class="col-sm-4">
                        <div style="margin-bottom: 5px; font-weight: bold;">
                            Is Dual Catheter<br />
                        </div>
                        <label class="ui-checkbox">
                            <input name="activeStatus" type="checkbox"
                                   ng-model="patient.IsDualCath" />
                            <span></span>
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label>Pump Serial 2</label>

                        <input class="form-control"
                               type="text"
                               placeholder="Pump Serial 2"
                               ng-required="patient.IsDualCath"
                               ng-model="patient.PumpSerial2">
                    </div>
                </div>
                <br />
                <div>
                    <b>InfuSystem Mobile Instructions : </b>
                    <label class="ui-checkbox">
                        <input name="SendEmail" type="checkbox" ng-model="model.SendEmail" ng-change="sendEmail(model.SendEmail)" />
                        <span><b>Send Email</b></span>
                    </label>
                    <label class="ui-checkbox">
                        <input name="sendText" type="checkbox" ng-model="model.SendSms" ng-change="sendSms(model.SendSms)" />
                        <span><b>Send Text</b></span>
                    </label>
                </div>
			</form>
		</div>

		<div class="table-filters">
			<div class="row">
				<div class="col-sm-12">
					<div class="pull-right">
						<button type="button" class="btn btn-success" ng-disabled="saving" ng-click="save()">
							Save Patient Details
						</button>
					</div>
				</div>
			</div>
		</div>

	</section>

</div>
