﻿
<div class="page forms-list" ng-controller="CallCenterEditProviderController">
	<ng-include src="'/partials/message.html'"></ng-include>

	<section class="panel panel-default table-dynamic">
		<div class="panel-heading">
			<strong>Add Provider</strong>
		</div>


		<div class="table-filters">
			<div class="row">
				<div class="col-sm-12">
					<div class="pull-right">
						<button type="button" class="btn btn-success" 
								ng-disabled="providerForm.$invalid"
						        ng-click="save()">
							Save Provider Details
						</button>
					</div>
				</div>
			</div>
		</div>

		<div class="padding-10">
			<form name="providerForm" novalidate>

				<!-- payor & selects -->
				<div class="row margin-top-10">
					<div class="col-sm-4">
						<div class="input-group col-sm-12">
							<label>Provider Type</label>
							<select class="form-control"
									ng-options="f.Id as f.Name for f in providerTypes"
									ng-model="provider.ProviderType"
									placeholder="Facility"
									required />
						</div>
					</div>
				</div>


				<div class="row  margin-top-20">
					<div class="col-sm-3">
						<label>Title</label>
						<input class="form-control"
							   type="text"
							   placeholder="Title"
							   ng-model="provider.Title"
							   >

					</div>
					<div class="col-sm-3">
						<label>First Name</label>

						<input class="form-control"
							   type="text"
							   placeholder="First Name"
							   ng-model="provider.FirstName"
							   required>

					</div>

					<div class="col-sm-3">
						<label>Last Name</label>
						<input class="form-control"
						       type="text"
						       placeholder="Last Name"
						       ng-model="provider.LastName"
						       required>
					</div>
					
					<div class="col-sm-3">
						<label>Title</label>
						<input class="form-control"
						       type="text"
						       placeholder="Suffix"
						       ng-model="provider.Suffix"
						>

					</div>
				</div>
				<hr />


				<div class="row margin-top-20">
					<div class="col-sm-4">
						<h3>Associated Facilities</h3>
						<label>Facilities</label>
						<input type="text" ng-model="selectedFacility"
							   typeahead="f as f.Name for f in getFacilities($viewValue)"
							   typeahead-wait-ms="250"
							   typeahead-on-select="selectFacility($item, $model, $label)"
							   class="form-control" />
					</div>
					<div class="col-sm-12 margin-top-20">
						<table class="table table-striped table-bordered">
							<thead>
								<tr>
									<td>Facility</td>
									<td></td>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="f in provider.CallCenterProviderFacilities">
									<td>{{f.Name}}</td>
									<td>
										<button type="button"
										        class="btn btn-danger  pull-right"
										        ng-click="remove(f)">Remove</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<br />
				<br />

			</form>
		</div>

	</section>
</div>
