﻿
<div class="page forms-list" ng-controller="CallCenterProvidersController"
     service="callsiteProviders" service-fn="query">

	<section class="panel panel-default table-dynamic">
		<div class="panel-heading">
			<strong>Providers</strong>
		</div>
		
		
		<div class="table-filters">
			<div class="row">

				<div class="col-sm-8 form-group ">
					<div class="form-inline">
						<div class="col-sm-4">
							<input type="text" class="form-control" style="width: 100%;"
							       placeholder="Search Providers"
							       ng-model="filter" />
						</div>
						<div class="col-sm-4">
							<select class="form-control" style="width: 100%;"
							        placeholder="Search File Name or Tags"
							        ng-model="filterType">
								<option value="1">First Name</option>
								<option value="2">Last Name</option>
							</select>
						</div>
						&nbsp;
						<button class="btn btn-info" type="button"
						        ng-click="updateResults()">
							Search
						</button>
					</div>
				</div>


				<div class="col-sm-4">
					<div class="pull-right">
						<a class="btn btn-success" href="/#/callcenter/provider/new">
							Add New Provider
						</a>
					</div>
				</div>
			</div>
		</div>

		<table class="table table-bordered table-striped table-responsive">
			<thead>
			<tr>
				<th>
					<div class="th">
						Title
					</div>
				</th>
				<th>
					<div class="th">
						First Name
					</div>
				</th>
				<th>
					<div class="th">
						Last Name
					</div>
				</th>
				<th>
					<div class="th">
						Type
					</div>
				</th>

				<th>
                    <div class="th">Actions</div>
				</th>
			</tr>
			</thead>
			<tbody>
				<tr ng-repeat="pro in results">

					<td>{{pro.Title}}</td>
					<td>{{pro.FirstName}}</td>
					<td>{{pro.LastName}}</td>
					<td>
						<span ng-if="pro.ProviderType == 0">Surgeon</span>
						<span ng-if="pro.ProviderType == 1">Anesthesiologist</span>
						<span ng-if="pro.ProviderType == 2">Nurse</span>
					</td>
					<td class="action-cell">
						<div class="btn-group" dropdown>
                            <button type="button" class="btn btn-sm btn-info dropdown-toggle"> Select <span class="caret"></span> </button>
							<ul class="dropdown-menu pull-right" role="menu">
								<li>
									<a href="/#/callcenter/provider/{{pro.Id}}">Edit</a>

								</li>
								
								<li>
									<a href="javascript:;"
                                        ng-show="iAdmin || isSuperAdmin || isCallCenterAdmin" 
									   idr-confirm="delete(pro.Id)"
									   idr-confirm-message="Are you sure you want to remove this provider?">Delete</a>
								</li>
							
							</ul>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</section>
	<pagination boundary-links="true"
				total-items="totalRecords"
				ng-model="currentPage"
				ng-change="setPage(currentPage-1)"
				class="pagination-sm"
				previous-text="&lsaquo;"
				max-size="5"
				next-text="&rsaquo;"
				first-text="&laquo;"
				last-text="&raquo;"></pagination>
</div>
