﻿<div class="page forms-list" ng-controller="CallCenterReportingController">

    <section class="panel panel-default table-dynamic">
        <div class="panel-heading">
            <strong>Providers</strong>
        </div>
        <div class="table-filters">
            <div class="row">
                <div class="col-sm-3">
                    <label>Facility</label>
                    <div>
                        <multiselect-dropdown model="selectedFacilities" options="Facilities"></multiselect-dropdown>
                    </div>
                    <br />
                    <label>Report</label>
                    <select class="form-control"
                            ng-options="r as r.Description for r in reports"
                            ng-model="report"></select>
                </div>

                <div class="col-sm-3">
                    <label>Date Range</label>
                    <select class="form-control"
                            ng-options="r for r in ranges"
                            ng-model="range"
                            ng-change="selectRange(range)"></select>
                </div>

                <div class="col-sm-3">
                    <label>Start Date</label>
                    <div class="input-group ui-datepicker">
                        <input type="text" class="form-control"
                               datepicker-popup="MM/dd/yyyy"
                               ng-model="startDate"
                               is-open="calendarOpenS"
                               close-text="Close"
                               ng-click="calendarOpenS = true" />

                        <span class="input-group-addon"><i class="ti-calendar"></i></span>
                    </div>
                    <br />
                    <label>End Date</label>
                    <div class="input-group ui-datepicker">
                        <input type="text" class="form-control"
                               datepicker-popup="MM/dd/yyyy"
                               ng-model="endDate"
                               is-open="calendarOpenE"
                               close-text="Close"
                               ng-click="calendarOpenE = true" />

                        <span class="input-group-addon"><i class="ti-calendar"></i></span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label>&nbsp;</label>
                    <div class="input-group">
                        <a class="btn btn-success" href="javascript:;"
                           ng-click="runReport()"
                           ng-disabled="!report">
                            Run Report
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12" id="frame">

            </div>
        </div>
    </section>
</div>
