﻿<section class="page forms-list" ng-controller="CallCenterSummaryController"
     service="physician" service-fn="getPatients">

    <ng-include src="'/partials/message.html'"></ng-include>

    <section class="panel panel-default table-dynamic" style="margin-bottom: 0">
        <div class="panel-heading">
            <strong>Activity Summary</strong>
        </div>

        <div class="row margin-top-10">
            <div class="col col-sm-4 text-center">
                <h4>Active Patients<br /> Average Pain Score</h4>
                <h3>
                    <!--{{overview.AveragePainScore}}-->
                    {{ average }}
                </h3>
            </div>
            <div class="col col-sm-4">
                <canvas id="averages" width="100%" height="30"></canvas>
                <h5 style="text-align:center"><strong>Daily Reported Pain Level - In Service</strong></h5>
            </div>
            <div class="col col-sm-4 text-center">
                <h4>180 Day <br />Satisfaction Rate</h4>
                <h3>{{overview.Satisfaction}}</h3>
            </div>

        </div>



        <div class="table-filters">
            <div class="row">
                <div class="col-sm-2">
                    <label>Schedule Date</label>

                    <div class="input-group ui-datepicker">
                        <input type="text" class="form-control "
                               datepicker-popup="MM/dd/yyyy"
                               ng-model="date"
                               is-open="calendarOpen"
                               close-text="Close"
                               ng-click="calendarOpen = true"
                               ng-change="dateChanged()" />

                        <span class="input-group-addon"><i class="ti-calendar"></i></span>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label>Sort</label>
                    <div>
                        <select class="form-control "
                                ng-model="sortOrder"
                                ng-change="sort(sortOrder)">
                            <option value="0">Default</option>
                            <option value="1">Pain Score</option>
                        </select>

                    </div>
                </div>
               
                <div class="col-sm-2" style="margin-left:65%">
                    <table class="table">
                            <tr>
                                <td style="color:green"><b>Pain Level 0 - 3</b></td>
                               
                            </tr>
                            <tr>
                                <td style="color:red"><b>Pain Level 7 - 10</b></td>
                              
                            </tr>
                        </table>
                </div>
                <div class="col-sm-2">
                        <table class="table">
                            <tr>
                                <td style="color:darkorange"><b>Pain Level 4 - 6</b></td>
                               
                            </tr>
                            <tr>
                                <td>Unanswered</td>
                                <td><i class="fa fa-circle-o pain-level"></i></td>
                            </tr>
                        </table>
                </div>
               
               
                <div class="col-sm-8">

                </div>

            </div>

        </div>

        <div id="summaryItemsHeader" class="fixed-header" ng-if="summaryItems && summaryItems.length">
            <div><div>Days Out</div></div>
            <div><div>Patient</div></div>
            <div><div>Phone</div></div>
            <div><div>Surgeon</div></div>
            <div><div>Pain Level</div></div>
            <div><div>Procedure</div></div>
            <div><div>Bathroom</div></div>
            <div><div>Eating</div></div>
            <div><div>Sleeping</div></div>
            <div><div>Walking</div></div>
            <div><div>Dressing</div></div>
            <div><div>Stairs</div></div>
            <div><div>PT/OT</div></div>
            <div><div>RTW</div></div>
            <div><div>Mobile User</div></div>
        </div>
        <div class="fixed-table" style="height: calc(100vh - 490px);">
            <table id="summaryItems" class="table table-bordered table-striped table-responsive">
                <tbody>
                    <tr ng-repeat="s in summaryItems track by $index">
                        <td>{{s.Index}}</td>
                        <td>{{s.FirstName}} {{s.LastName}}</td>
                        <td>{{s.Phone | tel}}</td>
                        <td>{{s.PhysicianTitle}} {{s.PhysicianLastName}} {{s.PhysicianSuffix}}</td>
                        <td class="text-center">
                            <div class="pain-score">
                                <!--<i class="fa fa-circle-o pain-level" ng-if="!s.Assigned || s.CallStatus == 1"></i>-->
                                <b style=" color:green" ng-if="s.Assigned && (+s.PainScoreCurrent < 4 && s.CallStatus == 2)">{{s.PainScoreCurrent}}</b>
                                <b style=" color:darkorange" ng-if="s.Assigned && (+s.PainScoreCurrent >= 4 && +s.PainScoreCurrent < 7 ) && s.CallStatus == 2 ">{{s.PainScoreCurrent}}</b>
                                <b style=" color:red" ng-if="s.Assigned  && +s.PainScoreCurrent >= 7  && s.CallStatus == 2">{{s.PainScoreCurrent}}</b>

                            </div>
                        </td>
                        <td>{{s.Code}}</td>
                        <td class="text-center">
                            <i ng-if="s.CallStatus == 2" class="icon-23 fa {{getClass(s.TolerableToilet)}}"></i>
                        </td>
                        <td class="text-center">
                            <i ng-if="s.CallStatus == 2" class="icon-23 fa {{getClass(s.TolerableConsumption)}}"></i>
                        </td>
                        <td class="text-center">
                            <i ng-if="s.CallStatus == 2" class="icon-23 fa {{getClass(s.TolerableSleeping)}}"></i>
                        </td>
                        <td class="text-center">
                            <i ng-if="s.CallStatus == 2" class="icon-23 fa {{getClass(s.TolerableWalking)}}"></i>
                        </td>
                        <td class="text-center">
                            <i ng-if="s.CallStatus == 2" class="icon-23 fa {{getClass(s.TolerableDressing)}}"></i>
                        </td>
                        <td class="text-center">
                            <i ng-if="s.CallStatus == 2" class="icon-23 fa {{getClass(s.TolerableStairs)}}"></i>
                        </td>
                        <td class="text-center">
                            <i ng-if="s.CallStatus == 2" class="icon-23 fa {{getClass(s.TolerablePtOt)}}"></i>
                        </td>
                        <td class="text-center">
                            <i ng-if="s.CallStatus == 2" class="icon-23 fa {{getClass(s.TolerableReturnToWork)}}"></i>
                        </td>
                        <td>{{s.Mobile ? 'Yes' : 'No'}}</td>
                        <td class="action-cell" style="width: 1px">
                            <div class="btn-group" dropdown is-open="status.isopen2">
                                <!--<button type="button" class="btn btn-sm btn-info"> Details</button>-->
                                <a href="/#/callcenter/callhistory/{{s.CallCenterProcedureId}}" class="btn btn-sm btn-info"> Details</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</section>