﻿
<div class="page forms-list" ng-controller="AdminPracticesController">
    <ng-include src="'/partials/message.html'"></ng-include>

    <section>
        <section class="panel panel-default">
            <div class="panel-heading">
                <strong><ica class="fa fa-stethoscope"></ica> Manage Practice - {{Practice.Name}}</strong>
                [{{Practice.Id}}]
            </div>

            <div class="panel-body">
                <div class="row">

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12" ng-show="isAdmin || isSuperAdmin">
                                <a class="btn btn-info" href="#/admin/practices">
                                    Back to List
                                </a>
                            </div>
                        </div>



                        <div class="row margin-top-10">
                            <div class="col-sm-12">
                                <div class="panel-bottom bg-reverse text-left">
                                    <form name="current">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="Name">Name</label>
                                                    <input type="text" class="form-control"
                                                           placeholder="Practice Name"
                                                           ng-blur="setAddressesSavePractice()"
                                                           ng-model="Practice.Name">

                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label for="Name">Practice Code</label>
                                                    <input type="text" class="form-control"
                                                           placeholder="Practice Code"
                                                           ng-blur="setAddressesSavePractice()"
                                                           ng-model="Practice.InfuFacilityId">

                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="Name">Time Zone</label>
                                                    <select class="form-control"
                                                            ng-model="Practice.TimeZone"
                                                            ng-change="setAddressesSavePractice()"
                                                            ng-options="tz.key as tz.value for tz in timeZones"></select>

                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="Name">Division</label>
                                                    <select class="form-control" ng-model="Practice.Division"
                                                            ng-change="setAddressesSavePractice()">
                                                        <option value="" disabled selected>Division</option>
                                                        <option value="ONC">Oncology</option>
                                                        <option value="PAIN">Pain Management</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <tabset>

                                                    <tab>
                                                        <tab-heading>Contacts</tab-heading>
                                                        <div class="fa-border padding-10">

                                                            <div class="padding-20">
                                                                <div ng-repeat="currentContact in [Practice.PrimaryContact]">
                                                                    <ng-include src="'/partials/contact-edit.html'"></ng-include>
                                                                </div>
                                                            </div>
                                                            <hr />
                                                            <div class=" padding-20">
                                                                <div ng-repeat="currentContact in [Practice.BillingContact]">
                                                                    <ng-include src="'/partials/contact-edit.html'"></ng-include>
                                                                </div>
                                                            </div>
                                                            <hr />
                                                            <div class="padding-20">
                                                                <div ng-repeat="currentContact in [Practice.SchedulingContact]">
                                                                    <ng-include src="'/partials/contact-edit.html'"></ng-include>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </tab>
                                                    <tab>
                                                        <tab-heading>Addresses</tab-heading>
                                                        <div class="fa-border padding-10">


                                                            <div class="padding-20">
                                                                <div ng-repeat="currentAddress in [Practice.StreetAddress]">
                                                                    <ng-include src="'/partials/address-edit.html'"></ng-include>
                                                                </div>
                                                            </div>
                                                            <hr />
                                                            <div class="padding-20">
                                                                <div ng-repeat="currentAddress in [Practice.MailingAddress]">
                                                                    <div>
                                                                        <label class="ui-checkbox">
                                                                            <input name="activeStatus" type="checkbox"
                                                                                   ng-model="rootNode.Active"
                                                                                   ng-change="copyStreetAddress(Practice.MailingAddress)"
                                                                                   class="ng-pristine ng-valid">
                                                                            <span>Same as Billing Address</span>
                                                                        </label>
                                                                    </div>
                                                                    <ng-include src="'/partials/address-edit.html'"></ng-include>
                                                                </div>
                                                            </div>
                                                            <hr />
                                                            <div class="padding-20">
                                                                <div ng-repeat="currentAddress in [Practice.BillingAddress]">
                                                                    <div>
                                                                        <label class="ui-checkbox">
                                                                            <input name="activeStatus" type="checkbox"
                                                                                   ng-model="rootNode.Active"
                                                                                   ng-change="copyStreetAddress(Practice.BillingAddress)"
                                                                                   class="ng-pristine ng-valid">
                                                                            <span>Same as Billing Address</span>
                                                                        </label>
                                                                    </div>
                                                                    <ng-include src="'/partials/address-edit.html'"></ng-include>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </tab>
                                                    <tab>
                                                        <tab-heading> Offices</tab-heading><!--Other-->
                                                        <div class="fa-border padding-10">
                                                            <ng-include src="'/partials/admin/facilities/list.html'"></ng-include>
                                                        </div>
                                                    </tab>
                                                    <tab ng-show="isAdmin || isSuperAdmin">
                                                        <tab-heading>Scheduling Locations</tab-heading>
                                                        <div class="fa-border padding-10">
                                                            <ng-include src="'/partials/admin/facilities/remotelist.html'"></ng-include>
                                                        </div>
                                                    </tab>
                                                    <tab>
                                                        <tab-heading>Staff</tab-heading>
                                                        <div class="fa-border padding-10">
                                                            <ng-include src="'/partials/admin/practiceusers/list.html'"></ng-include>
                                                        </div>
                                                    </tab>
                                                    <tab>
                                                        <tab-heading>Logo</tab-heading>
                                                        <div class="fa-border padding-10">
                                                            <div ng-repeat="currentImage in [Practice.Logo]">
                                                                <ng-include src="'/partials/image-edit.html'" />
                                                            </div>
                                                        </div>
                                                    </tab>
                                                    <tab ng-if="isSuperAdmin || isPracticeAdmin">
                                                        <tab-heading>Licensing</tab-heading>
                                                        <div class="fa-border padding-10">
                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <label for="Name">Number of Named Users</label>
                                                                        <input type="number" class="form-control"
                                                                               placeholder="Number of Named Users"
                                                                               ng-disabled="isPracticeAdmin || isCallCenterAdmin"
                                                                               ng-blur="setAddressesSavePractice()"
                                                                               ng-model="Practice.MaxNamedUsers">

                                                                        <label for="Name">Cost Per Named Users</label>
                                                                        <input type="number" class="form-control"
                                                                               placeholder="Cost Per Named Users"
                                                                               ng-disabled="isPracticeAdmin || isCallCenterAdmin"
                                                                               ng-blur="setAddressesSavePractice()"
                                                                               ng-model="Practice.CostPerUser">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <label for="Name">Number of Physicians</label>
                                                                        <input type="number" class="form-control"
                                                                               placeholder="Number of Physicians"
                                                                               ng-disabled="isPracticeAdmin || isCallCenterAdmin"
                                                                               ng-blur="setAddressesSavePractice()"
                                                                               ng-model="Practice.MaxPhysicians">

                                                                        <label for="Name">Cost Per Physician</label>
                                                                        <input type="number" class="form-control"
                                                                               placeholder="Cost Per Physician"
                                                                               ng-disabled="isPracticeAdmin || isCallCenterAdmin"
                                                                               ng-blur="setAddressesSavePractice()"
                                                                               ng-model="Practice.CostPerPhysician">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <label for="Name">Number of Plans</label>
                                                                        <input type="number" class="form-control"
                                                                               placeholder="Number of Plans"
                                                                               ng-disabled="isPracticeAdmin || isCallCenterAdmin"
                                                                               ng-blur="setAddressesSavePractice()"
                                                                               ng-model="Practice.MaxPlans">

                                                                        <label for="Name">Cost Per Plan</label>
                                                                        <input type="number" class="form-control"
                                                                               placeholder="Cost Per Plans"
                                                                               ng-disabled="isPracticeAdmin || isCallCenterAdmin"
                                                                               ng-blur="setAddressesSavePractice()"
                                                                               ng-model="Practice.CostPerPlan">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <label for="Name">Number of Facilities</label>
                                                                        <input type="number" class="form-control"
                                                                               placeholder="Number of Facilities"
                                                                               ng-disabled="isPracticeAdmin || isCallCenterAdmin"
                                                                               ng-blur="setAddressesSavePractice()"
                                                                               ng-model="Practice.MaxFacilities">

                                                                        <label for="Name">Cost Per Facility</label>
                                                                        <input type="number" class="form-control"
                                                                               placeholder="Number of Facilities"
                                                                               ng-disabled="isPracticeAdmin || isCallCenterAdmin"
                                                                               ng-blur="setAddressesSavePractice()"
                                                                               ng-model="Practice.CostPerFacility">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <label>License Expiration Date</label>

                                                                    <div class="input-group ui-datepicker">
                                                                        <input type="text" class="form-control"
                                                                               datepicker-popup="MM/dd/yyyy"
                                                                               ng-model="Practice.LicenseExpiration"
                                                                               is-open="expirationOpen"
                                                                               ng-required="true"
                                                                               close-text="Close"
                                                                               ng-disabled="isPracticeAdmin || isCallCenterAdmin"
                                                                               ng-click="expirationOpen = true"
                                                                               ng-change="setAddressesSavePractice()" />

                                                                        <span class="input-group-addon"><i class="ti-calendar"></i></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <label for="Name">Discount ($)</label>
                                                                        <input type="number" class="form-control"
                                                                               placeholder="Discount"
                                                                               ng-disabled="isPracticeAdmin || isCallCenterAdmin"
                                                                               ng-blur="setAddressesSavePractice()"
                                                                               ng-model="Practice.Discount">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <label for="Name">Total ($)</label>
                                                                        <br />
                                                                        {{Practice.TotalCost | currency}}

                                                                    </div>
                                                                </div>
                                                                <div class="clearfix"></div>
                                                            </div>
                                                        </div>
                                                    </tab>
                                                    <tab ng-if="isSuperAdmin || isPracticeAdmin || isCallCenterAdmin">
                                                        <tab-heading ng-click="refreshMce()">Email Templates</tab-heading>

                                                        <div style="padding: 20px;">
                                                            <tabset>
                                                                <tab>
                                                                    <tab-heading ng-click="refreshMce()">Patient Invitation</tab-heading>
                                                                    <div class="fa-border padding-10">
                                                                        <form name="current">

                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <textarea ng-model="Practice.PatientEmailTemplate"
                                                                                              ui-tinymce="templateOptions"></textarea>
                                                                                </div>
                                                                            </div>

                                                                        </form>
                                                                    </div>
                                                                </tab>

                                                                <tab>
                                                                    <tab-heading ng-click="refreshMce()">Physician Invitation</tab-heading>
                                                                    <div class="fa-border padding-10">
                                                                        <form name="current">

                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <textarea ng-model="Practice.PhysicianEmailTemplate"
                                                                                              ui-tinymce="templateOptions"></textarea>
                                                                                </div>
                                                                            </div>

                                                                        </form>
                                                                    </div>
                                                                </tab>

                                                                <tab>
                                                                    <tab-heading ng-click="refreshMce()">PA Invitation</tab-heading>
                                                                    <div class="fa-border padding-10">
                                                                        <form name="current">

                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <textarea ng-model="Practice.PhysiciansAssistantEmailTemplate"
                                                                                              ui-tinymce="templateOptions"></textarea>
                                                                                </div>
                                                                            </div>

                                                                        </form>
                                                                    </div>
                                                                </tab>

                                                                <tab>
                                                                    <tab-heading ng-click="refreshMce()">Practice Admin Invitation</tab-heading>
                                                                    <div class="fa-border padding-10">
                                                                        <form name="current">

                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <textarea ng-model="Practice.PracticeAdminEmailTemplate"
                                                                                              ui-tinymce="templateOptions"></textarea>
                                                                                </div>
                                                                            </div>

                                                                        </form>
                                                                    </div>
                                                                </tab>
                                                            </tabset>
                                                        </div>
                                                    </tab>
                                                    <tab ng-if="isSuperAdmin || isPracticeAdmin || isCallCenterAdmin">
                                                        <tab-heading>Call Center</tab-heading>

                                                        <div class="fa-border padding-10">
                                                            <div class="row">

                                                                <div class="col-md-5">


                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="form-group">
                                                                                <label for="Name">Call Center</label>
                                                                                <select class="form-control"
                                                                                        ng-change="setAddressesSavePractice()"
                                                                                        ng-model="Practice.CallCenterId"
                                                                                        ng-options="cc.Id as cc.Name for cc in callCenters"></select>

                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="form-group">
                                                                                <label for="Name">Default Payor</label>
                                                                                <select class="form-control"
                                                                                        ng-change="setAddressesSavePractice()"
                                                                                        ng-model="Practice.PayorId"
                                                                                        ng-options="cc.Id as cc.Title for cc in payors"></select>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="form-group">
                                                                                <label for="Name">Call Center Access Code</label>
                                                                                <input type="che" class="form-control"
                                                                                       ng-model="Practice.PracticeCode"
                                                                                       ng-blur="setAddressesSavePractice()" />

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="form-group">
                                                                                <label for="Name">Passive</label>
                                                                                <br />
                                                                                <input type="checkbox"
                                                                                       ng-model="Practice.Passive"
                                                                                       ng-blur="setAddressesSavePractice()" />

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <label for="Start Calls">Start Calls</label>
                                                                                <input type="text" class="form-control"
                                                                                       ng-blur="setAddressesSavePractice()"
                                                                                       ng-model="Practice.StartCalls"
                                                                                       ng-disabled="!Practice.CallCenterId">

                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <label for="Start Calls">End Calls</label>
                                                                                <input type="text" class="form-control"
                                                                                       ng-blur="setAddressesSavePractice()"
                                                                                       ng-model="Practice.EndCalls"
                                                                                       ng-disabled="!Practice.CallCenterId">

                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <label for="Start Calls">Sataifaction Call Start</label>
                                                                                <input type="text" class="form-control"
                                                                                       ng-blur="setAddressesSavePractice()"
                                                                                       ng-model="Practice.SatisfactionInitial"
                                                                                       ng-disabled="!Practice.CallCenterId">
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <label for="Start Calls">Sataifaction Call End</label>
                                                                                <input type="text" class="form-control"
                                                                                       ng-blur="setAddressesSavePractice()"
                                                                                       ng-model="Practice.SatisfactionFinal"
                                                                                       ng-disabled="!Practice.CallCenterId">

                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>

                                                                <div class="col-md-7">

                                                                    <div class="form-group">
                                                                        <label for="Name">Notes</label>
                                                                        <textarea class="form-control"
                                                                                  rows="9"
                                                                                  ng-model="Practice.CallCenterNotes"
                                                                                  ng-blur="setAddressesSavePractice()"
                                                                                  ng-disabled="!Practice.CallCenterId"></textarea>

                                                                    </div>

                                                                </div>
                                                                <div class="col-md-7">

                                                                    <div class="form-group">
                                                                        <label for="Name">Facility Group</label>
                                                                        <input type="text" class="form-control"
                                                                               ng-model="Practice.FacilityGroup"
                                                                               ng-disabled="!Practice.CallCenterId"
                                                                               ng-blur="setAddressesSavePractice()" />

                                                                    </div>

                                                                </div>
                                                                <div class="col-md-7">       
                                                                        <div class="form-group">
                                                                            <label for="Name">
                                                                                URL  Link for Additional Questions – (PRE-Populated  ONLY)
                                                                            </label>
                                                                            <input type="text" class="form-control"
                                                                                   ng-model="Practice.Addl_URL"
                                                                                   ng-blur="setAddressesSavePractice()" />
                                                                        </div>
                                                                   
                                                                </div>
                                                            </div>
                                                    </tab>
                                                    <tab>
                                                        <tab-heading ng-click="getPDFFiles(Practice)">PDF files</tab-heading>
                                                        <div class="margin-top-10">
                                                            <!--<input type="file" placeholder="Upload Pdf file" style="width:200px; color:mediumblue">-->
                                                            <div class="dropzone" ng-if="Practice" id="myDropzone" call-fuc="getPDFFiles()"  file-dropzone="" file="currentFile" action="/api/pdffiles/files/new?companyId={{Practice.Id}}"></div>
                                                        </div>
                                                        <br />
                                                        <div>
                                                            <table class="table table-bordered table-striped table-responsive">
                                                                <thead>
                                                                    <tr>
                                                                        <th>
                                                                            <div class="th">File Name</div>
                                                                        </th>
                                                                        <th>
                                                                            <div class="th">Date</div>
                                                                        </th>
                                                                        <th>
                                                                            <div class="th">Tag</div>
                                                                        </th>
                                                                        <th>
                                                                            <div class="th">File Size (KB)</div>
                                                                        </th>
                                                                        <th>
                                                                            <div class="th">Pages</div>
                                                                        </th>
                                                                        <th>
                                                                            <div class="th">Action</div>
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr ng-repeat="pdf in pdfFiles">
                                                                        <td><a target="_blank" ng-href="/api/pdffiles/files/readPDF?id={{pdf.Id}}">{{pdf.FileName}}</a></td>
                                                                        <td>{{pdf.ModifiedOn | date}}</td>
                                                                        <td>{{pdf.Alias}}</td>
                                                                        <td>{{pdf.FileSize}}</td>
                                                                        <td>{{pdf.PageCount}}</td>
                                                                        <td class="action-cell">
                                                                            <div class="btn-group" dropdown>
                                                                                <button type="button" class="btn btn-sm btn-info dropdown-toggle"> Select <span class="caret"></span> </button>
                                                                                <ul class="dropdown-menu pull-right" role="menu">
                                                                                    <li>
                                                                                        <a ng-href="/#/admin/practices/edit/{{pdf.Id}}">Replace</a>

                                                                                    </li>
                                                                                    <li>
                                                                                        <a href="javascript:;"
                                                                                           idr-confirm="removePdf(pdf.Id)"
                                                                                           idr-confirm-message="Are you sure you want to delete this item?">Delete</a>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>

                                                            </table>
                                                        </div>
                                                    </tab>
                                                </tabset>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </section>
</div>
<script type="text/ng-template" id="file.html" size="small">
    <div class="modal-title">
        <h3 class="modal-title" style="align-content:center">Note</h3>
        <div class="padding-20">
            <div class="row" ng-if="response===true">
                <p>File has been associated with this company and uploaded successfully!</p>
            </div>
            <div class="row" ng-if="response===false">
                <p>This file is already associated with this practice!</p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="onClick()">Ok</button>
    </div>

</script>


