﻿<div class="page forms-list" ng-controller="AdminPracticesController">
    <section class="panel panel-default table-dynamic">
        <div class="panel-heading"><strong><i class="fa fa-hospital-o"></i> Manage Practices</strong></div>


        <div class="table-filters">
            <div class="row">
                <div class="col-sm-12  ">
                    <a class="btn btn-success" href="#/admin/practices/new">
                        Create New Practices
                    </a>
                </div>
            </div>
        </div>


        <ng-include src="'/partials/paged-list-header.html'"></ng-include>

        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th>
                        <div class="th">
                            ID
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Practice Code
                        </div>
                    </th>                    
                    <th>
                        <div class="th">
                            Name
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Street Address
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            City
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            State
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            #Phys
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            #Usr
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            #Fac
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            #Plns
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Expiration
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Actions
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="p in Practices.Results">
                    <td>{{p.Id}}</td>
                    <td>{{p.InfuFacilityId}}</td>
                    <td>{{p.Name}}</td>
                    <td>{{p.StreetAddress.Address1}}</td>
                    <td>{{p.StreetAddress.City}}</td>
                    <td>{{p.StreetAddress.State}}</td>
                    <td>{{p.MaxPhysicians}}</td>
                    <td>{{p.MaxNamedUsers}}</td>
                    <td>{{p.MaxFacilities}}</td>
                    <td>{{p.MaxPlans}}</td>
                    <td>{{p.LicenseExpiration | date}}</td>
                    <td>
                        <div class="btn-group" dropdown is-open="status.isopen2">
                            <button type="button" class="btn btn-sm btn-info dropdown-toggle"> Select <span class="caret"></span> </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li>
                                    <a href="javascript:;" ng-click="goto('/admin/practices/' + p.Id)">Edit</a>
                                </li>
                                <li>
                                    <a href="javascript:; " ng-click="copyPractice(p)">Copy</a>
                                </li>
                                <li>
                                    <a href="javascript:;"
                                       ng-show="iAdmin || isSuperAdmin || isCallCenterAdmin" 
                                       idr-confirm="removePractice(p)"
                                       idr-confirm-message="Are you sure you want to delete this item?">Delete</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>

        </table>
        <ng-include src="'/partials/paged-list-footer.html'"></ng-include>


    </section>
</div>
