﻿<div class="page forms-list" ng-controller="AdminMananageCallSiteAdminController">
	<section>
		<section class="panel panel-default">
			<div class="panel-heading"><strong><i class="fa fa-stethoscope"></i> Manage Call Site Admin {{Entity.Title}} {{Entity.FirstName}} {{Entity.LastName}}</strong></div>

			<ng-include src="'/partials/message.html'"></ng-include>

			<div class="panel-body">
				<div class="row">
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-12  ">
								<a ng-if="Practice" class="btn btn-success" href="#/admin/practices/{{Practice.Id}}">
									Back to Practice - {{Practice.Name}}
								</a>

								<a ng-if="Entity.Practice" class="btn btn-success"
								   href="#/admin/practices/{{Entity.Practice.Id}}">
									Back to Practice - {{Entity.Practice.Name}}
								</a>
							</div>
						</div>
						<br />

						<div class="row">
							<div class="col-sm-12">
								<section class="panel panel-box">
									<div class="panel-bottom bg-reverse text-left">
										<form name="current">
											<div class="row" ng-show="Entity.Physician">
												<div class="col-md-8 col-md-offset-1" ng-repeat="currentImage in [Entity.Physician.Portrait]">
													<ng-include src="'/partials/image-view-larger.html'"></ng-include>
													<br />
												</div>
											</div>
											<br />
											<div class="row">
												<div class="col-md-8 col-md-offset-1">
													<tabset>
														<tab>
															<tab-heading>Call Site Admin Info</tab-heading>
															<div class="fa-border padding-10">

																<div class="row">
																	<div class="col-md-8 col-md-offset-1">
																		<div class="form-group">
																			<label for="Name">First Name</label>
																			<input type="text" class="form-control"
																				   placeholder="First Name"
																				   ng-blur="saveAdmin(Entity, current)"
																				   ng-model="Entity.FirstName">

																		</div>
																	</div>
																</div>
																<div class="row">
																	<div class="col-md-8 col-md-offset-1">
																		<div class="form-group">
																			<label for="Name">Last Name</label>
																			<input type="text" class="form-control"
																				   placeholder="Last Name"
																				   ng-blur="saveAdmin(Entity, current)"
																				   ng-model="Entity.LastName">

																		</div>
																	</div>
																</div>
																<!--<div class="row">
																	<div class="col-md-8 col-md-offset-1">
																		<div class="form-group">
																			<label for="Name">Phone</label>
																			<input type="text" class="form-control"
																				   placeholder="Phone"
																				   ng-blur="saveAdmin(Entity, current)"
																				   ng-model="Entity.PersonalPhone">
																		</div>
																	</div>
																</div>-->
															</div>
														</tab>

														<tab>
															<!--ng-show="Entity.IsProvisional"-->
															<tab-heading>Invitiation </tab-heading>
															<div class="fa-border padding-10">

																<div class="form-group">
																	<label for="Name">Call Site Admin Email for Invitation</label>
																	<input type="text" class="form-control"
																		   placeholder="Provisional Email"
																		   ng-blur="saveAdmin(Entity, current)"
																		   ng-model="Entity.ProvisionalEmail">

																</div>
																<button ng-show="Entity.ProvisionalEmail.length > 0" class="btn btn-success" ng-click="sendInvitation(Entity.Id, 'adminPracticeAdmin')">
																	<i class="fa fa-mail-forward"></i>
																	Send invitation
																</button>

															</div>
														</tab>
													</tabset>
												</div>
											</div>

										</form>
									</div>
								</section>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>
</div>

