﻿<div class="page forms-list" ng-controller="AdminMananagePhysicianController">
    <section>
        <section class="panel panel-default">
            <div class="panel-heading"><strong><i class="fa fa-stethoscope"></i> Manage Physician {{Entity.Title}} {{Entity.FirstName}} {{Entity.LastName}} ({{Entity.UserName}})</strong></div>

            <ng-include src="'/partials/message.html'"></ng-include>

            <div class="panel-body">
                <div class="row">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12  ">
                                <a ng-if="Practice" class="btn btn-success" href="#/admin/practices/{{Practice.Id}}">
                                    Back to Practice - {{Practice.Name}}
                                </a>

                                <a ng-if="Entity.Practice" class="btn btn-success"
                                   href="#/admin/practices/{{Entity.Practice.Id}}">
                                    Back to Practice - {{Entity.Practice.Name}}
                                </a>
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-sm-12">
                                <section class="panel panel-box">
                                    <div class="panel-bottom bg-reverse text-left">
                                        <form name="current">
                                            <div class="row">
                                                <div class="col-md-8 col-md-offset-1" ng-repeat="currentImage in [Entity.Portrait]">
                                                    <ng-include src="'/partials/image-view-larger.html'"></ng-include>
                                                    <br />
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row">
                                                <div class="col-md-8 col-md-offset-1">
                                                    <tabset>
                                                        <tab>
                                                            <tab-heading>Physician Info</tab-heading>
                                                            <div class="fa-border padding-10">
                                                                <div class="row">
                                                                    <div class="col-md-8 col-md-offset-1">
                                                                        <div class="form-group">
                                                                            <label for="Name">Title</label>
                                                                            <input type="text" class="form-control"
                                                                                   placeholder="Title"
                                                                                   ng-blur="savePhysician(Entity, current)"
                                                                                   ng-model="Entity.Title">

                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="col-md-8 col-md-offset-1">
                                                                        <div class="form-group">
                                                                            <label for="Name">First Name</label>
                                                                            <input type="text" class="form-control"
                                                                                   placeholder="First Name"
                                                                                   ng-blur="savePhysician(Entity, current)"
                                                                                   ng-model="Entity.FirstName">

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-8 col-md-offset-1">
                                                                        <div class="form-group">
                                                                            <label for="Name">Last Name</label>
                                                                            <input type="text" class="form-control"
                                                                                   placeholder="Last Name"
                                                                                   ng-blur="savePhysician(Entity, current)"
                                                                                   ng-model="Entity.LastName">

                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="col-md-8 col-md-offset-1">
                                                                        <div class="form-group" ng-controller="DisciplinesController">
                                                                            <label for="Discipline">Discipline<span ng-show="Entity.Discipline"> ({{Entity.Discipline.Name}})</span></label>
                                                                            <select ng-model="Entity.Discipline"
                                                                                    ng-change="savePhysician(Entity, current)"
                                                                                    ng-options="x.Name for x in Disciplines track by x.Name"
                                                                                    class="form-control"></select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </tab>

                                                        <tab ng-show="Entity.IsProvisional">
                                                            <tab-heading>Invitiation </tab-heading>
                                                            <div class="fa-border padding-10">

                                                                <div class="form-group">
                                                                    <label for="Name">Physician Email for Invitation</label>
                                                                    <input type="text" class="form-control"
                                                                           placeholder="Provisional Email"
                                                                           ng-blur="savePhysician(Entity, current)"
                                                                           ng-model="Entity.ProvisionalEmail"
                                                                           ng-disabled="Entity.UserId && Entity.UserId.length">

                                                                </div>
                                                                
                                                                <button ng-show="Entity.ProvisionalEmail.length > 0"
                                                                        class="btn btn-success" ng-click="sendInvitation(Entity.Id, 'adminPhysicians')"
                                                                        ng-disabled="Entity.UserId && Entity.UserId.length">
                                                                    <i class="fa fa-mail-forward"></i>
                                                                    Send invitation
                                                                </button>

                                                            </div>
                                                        </tab>
                                                        <tab>
                                                            <tab-heading>Contacts</tab-heading>
                                                            <div class="fa-border padding-10">
                                                                <tabset>
                                                                    <tab>
                                                                        <tab-heading>
                                                                            {{Entity.DirectContact.ContactTitle}}
                                                                        </tab-heading>
                                                                        <div class="fa-border padding-20">
                                                                            <div ng-repeat="currentContact in [Entity.DirectContact]">
                                                                                <ng-include src="'/partials/contact-edit.html'"></ng-include>
                                                                            </div>
                                                                        </div>
                                                                    </tab>
                                                                    <tab>
                                                                        <tab-heading>
                                                                            {{Entity.OnCallContact.ContactTitle}}
                                                                        </tab-heading>
                                                                        <div class="fa-border padding-20">
                                                                            <div ng-repeat="currentContact in [Entity.OnCallContact]">
                                                                                <ng-include src="'/partials/contact-edit.html'"></ng-include>
                                                                            </div>
                                                                        </div>
                                                                    </tab>
                                                                    <tab>
                                                                        <tab-heading>
                                                                            {{Practice.SchedulingContact.ContactTitle}}
                                                                        </tab-heading>
                                                                        <div class="fa-border padding-20">
                                                                            <div ng-repeat="currentContact in [Entity.SchedulingContact]">
                                                                                <ng-include src="'/partials/contact-edit.html'"></ng-include>
                                                                            </div>
                                                                        </div>
                                                                    </tab>
                                                                </tabset>
                                                            </div>
                                                        </tab>
                                                        <tab>
                                                            <tab-heading>Recovery Plans</tab-heading>
                                                            <div class="fa-border padding-10">
	                                                            <div>
		                                                            <div class="pull-right">
			                                                            <button class="btn btn-success" ng-hide="physicianId==='new'"  ng-click="addPlan()">Add Plan</button>
			                                                            <br/>&nbsp;
		                                                            </div>
																	<div class="margin-top-10">&nbsp;</div>
																	<table class="table table-bordered table-striped table-responsive margin-top-10">
			                                                            <thead>
			                                                            <tr>
				                                                            <th class="pointer">
					                                                            <div class="th">
						                                                            Name
					                                                            </div>
				                                                            </th>

				                                                            <th class="pointer">
					                                                            <div class="th">
						                                                            CPT Codes
					                                                            </div>
				                                                            </th>

				                                                            <th>
					                                                            <div class="th">Actions</div>
				                                                            </th>
			                                                            </tr>
			                                                            </thead>
			                                                            <tbody>
			                                                            <tr ng-repeat="lib in libraries">
				                                                            <!-- | orderBy:predicate:reverse-->
				                                                            <td>{{lib.Name}}</td>
				                                                            <td>{{getCptCodes(lib)}}</td>
				                                                            <td class="action-cell">
					                                                            <div class="btn-group" dropdown is-open="status.isopen2">
						                                                            <button type="button" class="btn btn-sm btn-info dropdown-toggle"> Action <span class="caret"></span> </button>
                                                                                    <ul class="dropdown-menu pull-right" role="menu">
                                                                                        <li>
                                                                                            <a ng-href="/#/cms/nodes/{{lib.Id}}/master-template">Edit</a>
                                                                                        </li>
                                                                                        <li>
                                                                                            <a href="javascript:;"
                                                                                               idr-confirm="deletePlan(lib.Id)"
                                                                                               idr-confirm-message="Are you sure you want to delete this plan?">Delete</a>
                                                                                        </li>
                                                                                    </ul>
					                                                            </div>
				                                                            </td>
			                                                            </tr>
			                                                            </tbody>
		                                                            </table>
	                                                            </div>
                                                            </div>
                                                        </tab>

                                                        <!--
                                                    <tab>
                                                            <tab-heading>Facilities</tab-heading>
                                                            <div class="fa-border padding-10">
                                                                <div class="row">
                                                                    <div class="col-sm-4">

                                                                        <select class="form-control"
                                                                                ng-model="currentCompany"
                                                                                ng-options="c.Id as c.Name for c in allCompanies"
                                                                                ng-change="getCompanyFacilities(currentCompany)"></select>

                                                                    </div>
                                                                    <div class="col-sm-4">
                                                                        <select class="form-control"
                                                                                ng-model="currentFacility"
                                                                                ng-options="f as f.Name for f in allCompanyFacilities"></select>

                                                                    </div>

                                                                    <div class="col-sm-4">
                                                                        <button class="btn btn-success" style="color: white"
                                                                                ng-disabled="!currentCompany || !currentFacility"
                                                                                ng-click="addFacility(currentFacility)">
                                                                            Add Facility
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                                <br />
                                                                <div class="table-responsive">
                                                                    <table class="table table-striped table-bordered">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Facilities</th>
                                                                                <th class="action-header width-10">Actions</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr ng-repeat="facility in Entity.Facilities">
                                                                                <td class="discipline-cell">{{facility.Facility.Name}}</td>

                                                                                <td class="ta-center">
                                                                                    <div class="btn-group" dropdown is-open="facility.isopen2">
                                                                                        <button type="button" class="btn btn-info dropdown-toggle"> Action <span class="caret"></span> </button>
                                                                                        <ul class="dropdown-menu pull-right" role="menu">
                                                                                            <li>
                                                                                                <a href="javascript:;"
                                                                                                    idr-confirm="removeFacility(facility)"
                                                                                                    idr-confirm-message="Are you sure you want to delete this item?">Remove</a>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </div>

                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>

                                                            </div>
                                                        </tab>
                                                        -->
                                                        <tab>
                                                            <tab-heading>Picture</tab-heading>
                                                            <div class="fa-border padding-10">
                                                                <div ng-repeat="currentImage in [Entity.Portrait]">
                                                                    <ng-include src="'/partials/image-edit.html'" />
                                                                </div>
                                                            </div>
                                                        </tab>

                                                    </tabset>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>




<script type="text/ng-template" id="AddPhysicianLibrariesController.html">
	<div class="modal-header">
		<h3 class="modal-title">
			Search Recovery Plans
		</h3>
	</div>
	<div class="modal-body">
		<div class="padding-10">
			<div class="form-group">
				<div class="row">
					<div class="col-sm-9">
						<input class="form-control"
							   placeholder="Search Name or CTP Code"
							   ng-model="model.term" type="text">

					</div>
					<div class="col-sm-2">
						<button class="btn btn-info" ng-click="search()"
								ng-disabled="!model.term">
							<i class="fa fa-search"></i>
							Search
						</button>
					</div>
				</div>
			</div>
			<table class="table">
				<thead>
					<tr>
						<th>Name</th>
						<th>CPT Codes</th>
						<!--<th>Description</th>-->
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="lib in libraries">
						<td>{{lib.Name}}</td>
						<td>{{getCptCodes(lib)}}</td>
						<!--<td>{{lib.Description}}</td>-->
						<td>

							<button class="btn btn-success"
									ng-click="select(lib)">
								Import
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div>
</script>