﻿<div class="page forms-list">
    <section class="panel panel-default">
        <div class="panel-heading">
            <strong>Manage Practice Physicians &amp; Staff</strong>
        </div>
        <div class="panel-body">

            <div class="row">
                <div class="col-sm-12 ">

                    <div class="btn-group" dropdown="" ng-show="node.Type.AllowedTypes.length > 0 || node.Type == null">
                        <button type="button" class="btn btn-sm btn-success dropdown-toggle"> Add New <span class="caret"></span> </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a ng-if="canAddPhysician" href="#/admin/physicians/new/{{practiceId}}">Physician / PA</a>
                                <a ng-if="!canAddPhysician" href="javascript:void(0);">Physician / PA (Limit Reached)</a>
                            </li>
                            <li>
                                <a ng-if="canAddAdmin" href="#/admin/calladmins/new/{{practiceId}}">Call Site Admin</a>
                                <a ng-if="!canAddAdmin" href="javascript:void(0);">Call Site Admin (Limit Reached)</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <br />

            <div class="table-filters">
                <fieldset>
                    <legend>Filter</legend>
                    <div class="row">
                        <div class="col-sm-3 col-x-6">
                            <div class="btn-group" dropdown="" ng-show="node.Type.AllowedTypes.length > 0 || node.Type == null">
                                <button type="button" class="btn btn-sm btn-info dropdown-toggle"> Filter by Type: <span class="caret"></span> </button>
                                <ul class="dropdown-menu" role="menu">
	                                <li>
		                                <a href="javascript:void(0)">
			                                Practice Admins
			                                <input type="checkbox" name="name" value=" " ng-model="AllUsersPaging.paging.LoadPracticeAdmins" ng-change="AllUsersPaging.loadList()" />
		                                </a>
	                                </li>
	                                <li>
		                                <a href="javascript:void(0)">
			                                Call Site Admins
			                                <input type="checkbox" name="name" value=" " ng-model="AllUsersPaging.paging.LoadSiteAdmins" ng-change="AllUsersPaging.loadList()" />
		                                </a>
	                                </li>
	                                <li>
		                                <a href="javascript:void(0)">
			                                Call Site Admins
			                                <input type="checkbox" name="name" value=" " ng-model="AllUsersPaging.paging.LoadSiteMobileUsers" ng-change="AllUsersPaging.loadList()" />
		                                </a>
	                                </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            Phys. Assistants
                                            <input type="checkbox" name="name" value=" " ng-model="AllUsersPaging.paging.LoadPhysicanAssistants" ng-change="AllUsersPaging.loadList()" />

                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            Physicians
                                            <input type="checkbox" name="name" value=" " ng-model="AllUsersPaging.paging.LoadPhysicians" ng-change="AllUsersPaging.loadList()" />

                                        </a>
                                    </li>
	                                <li>
		                                <a href="javascript:void(0)">
			                                Schedulers
			                                <input type="checkbox" name="name" value=" " ng-model="AllUsersPaging.paging.LoadSchedulers" ng-change="AllUsersPaging.loadList()" />

		                                </a>
	                                </li>
	                               
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-6">
                            <form class="ng-valid ng-dirty">

                                <input type="text" placeholder="Search..." class="form-control ng-valid ng-dirty"
                                       data-ng-model="AllUsersPaging.paging.Filter"
                                       data-ng-keyup="AllUsersPaging.loadList()">
                            </form>
                        </div>

                    </div>
                    <div class="row margin-top-10">
                        <div class="col-sm-12 filter-result-info">
                            <span class="ng-binding">
                                Displaying {{(AllUsersPaging.paging.Offset * AllUsersPaging.paging.Limit)+1}} to {{AllUsersPaging.paging.currentRecords + (AllUsersPaging.paging.Limit * AllUsersPaging.paging.Offset)}} of {{AllUsersPaging.paging.TotalRecords}} total records.
                            </span>
                        </div>
                    </div>
                </fieldset>
            </div>


            <div class="table-responsive margin-top-5">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Login Email</th>
                            <th>Name</th>
                            <th>Title</th>
                            <th>Type</th>

                            <th>ID</th>
                            <th>Person</th>
                            <th class="action-header width-10">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="p in AllUsers.Results">
                            <td>{{p.Email}}</td>
                            <td>{{p.FirstName}} {{p.LastName}}</td>
                            <td>{{p.Title}}</td>
                            <td>{{p.UserTypeTitle}}</td>
                            <td>{{p.Id}}</td>
                            <td>
                                <span ng-if="p.Title && p.Title.length">
                                    {{p.Title}}
                                </span>
                                {{p.FirstName}} {{p.LastName}}
                               
                                <!--<span ng-if="!p.UserId">
                                    (Not Registered)
                                </span>-->
                             
                            </td>


                            <td>
                                <div class="btn-group" dropdown is-open="status.isopen2">
                                    <button type="button" class="btn btn-sm btn-info dropdown-toggle"> Select <span class="caret"></span> </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
	                                    <li>
											<!--<a href="javascript:;" ng-click="goto('/admin/' + p.UserType + 's/' + p.Id + '/' + Practice.Id)">Edit</a>-->
		                                    <a href="{{'#/admin/' + p.UserType + 's/' + p.Id + '/' + Practice.Id}}">Edit</a>
	                                    </li>
                                        <li ng-if="p.UserId && p.UserId.length"> <!--canManagePractice && -->
                                            <a href="javascript:;" ng-click="resetPassword(p)">Send Password Reset</a>
                                        </li>
                                        <li ng-if="canManagePractice && p.UserId && p.UserId.length">
                                            <a href="javascript:;"
                                               idr-confirm="deactivateUser(p)"
                                               idr-confirm-message="Are you sure you want to deactivate this user?">Deactivate</a>
                                        </li>
                                        <li ng-if="canManagePractice">
                                            <a href="javascript:;"
                                               ng-show="iAdmin || isSuperAdmin || isCallCenterAdmin" 
                                               idr-confirm="removeUser(p)"
                                               idr-confirm-message="Are you sure you want to remove this user?">Delete User</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>

            <footer class="table-footer" ng-show="AllUsersPaging.paging.TotalRecords > AllUsersPaging.paging.Limit">
                <div class="row">
                    <div class="col-md-6 page-num-info">
                        <span>
                            Show
                            <select data-ng-model="AllUsersPaging.paging.Limit"
                                    data-ng-options="num for num in numPerPageOpt" data-ng-change="AllUsersPaging.loadList()">
                                <option value="0" label="3">3</option>
                                <option value="1" label="5">5</option>
                                <option value="2" selected="selected" label="10">10</option>
                                <option value="3" label="20">20</option>
                            </select>
                            entries per page
                        </span>
                    </div>
                    <div class="col-md-6 text-right pagination-container">
                        <ul class="pagination-sm pagination"
                            ng-model="AllUsersPaging.paging.Offset"
                            total-items="AllUsersPaging.paging.TotalRecords"
                            max-size="4"
                            ng-change="AllUsersPaging.setOffset(AllUsersPaging.paging.Offset)"
                            items-per-page="AllUsersPaging.paging.Limit"
                            rotate="false"
                            previous-text="‹" next-text="›" boundary-links="true">

                            <li ng-if="boundaryLinks" ng-class="{disabled: AllUsersPaging.paging.Offset == 0}">
                                <a href="" ng-click="AllUsersPaging.setOffset(0)" class="ng-binding">First</a>
                            </li>
                            <li ng-if="AllUsersPaging.directionLinks" ng-class="{disabled: AllUsersPaging.paging.Offset == 0}">
                                <a href=""
                                   ng-click="AllUsersPaging.setOffset(AllUsersPaging.paging.Offset - 1)" class="ng-binding">‹</a>
                            </li>
                            <li ng-if="directionLinks" ng-class="{disabled: AllUsersPaging.paging.Offset == totalPages}">
                                <a href="" ng-click="AllUsersPaging.setOffset(AllUsersPaging.paging.Offset + 1)" class="ng-binding">›</a>
                            </li>
                            <li ng-if="boundaryLinks" ng-class="{disabled: AllUsersPaging.paging.Offset == totalPages}">
                                <a href="" ng-click="AllUsersPaging.setOffset(AllUsersPaging.totalPages)" class="ng-binding">Last</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </footer>

        </div>
    </section>
</div>
