﻿<section>
    <section class="panel panel-default" ng-controller="AdminFacilitiesController">
        <div class="panel-heading"><strong><i class="fa fa-stethoscope"></i> Manage Facility {{Facility.Name}} - {{Company.Name}}</strong></div>

        <div class="panel-body">
            <div class="row">
                <div class="panel-body">
                    <div class="row">

                        <div class="col-sm-12" ng-show="Company.CompanyType == 0">

                            <a class="btn btn-success " href="#/admin/companies/{{Company.Id}}">
                                Back to {{Company.Name}}
                            </a>
                        </div>
                        <div class="col-sm-12" ng-show="Company.CompanyType == 1">

                            <a class="btn btn-success " href="#/admin/practices/{{Company.Id}}">
                                Back to {{Company.Name}}
                            </a>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12">
                            <section class="panel panel-box">
                                <div class="panel-bottom bg-reverse text-left">
                                    <form name="current">
                                        <div class="row">
                                            <div class="col-md-8 col-md-offset-1">
                                                <div class="form-group">
                                                    <label for="Name">Name</label>
                                                    <input type="text" class="form-control"
                                                           placeholder="Facility Name"
                                                           ng-blur="saveFacility(Facility, current)"
                                                           ng-model="Facility.Name">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8 col-md-offset-1">
                                                <tabset>
                                                    <tab>
                                                        <tab-heading>Contacts</tab-heading>
                                                        <div class="fa-border padding-10">
                                                            <tabset>
                                                                <tab>
                                                                    <tab-heading>
                                                                        {{Facility.FacilityContact.ContactTitle}}
                                                                    </tab-heading>
                                                                    <div class="fa-border padding-20">
                                                                        <div ng-repeat="currentContact in [Facility.FacilityContact]">
                                                                            <ng-include src="'/partials/contact-edit.html'"></ng-include>
                                                                        </div>
                                                                    </div>
                                                                </tab>
                                                                <tab>
                                                                    <tab-heading>
                                                                        {{Facility.PatientContact.ContactTitle}}
                                                                    </tab-heading>
                                                                    <div class="fa-border padding-20">
                                                                        <div ng-repeat="currentContact in [Facility.PatientContact]">
                                                                            <ng-include src="'/partials/contact-edit.html'"></ng-include>
                                                                        </div>
                                                                    </div>
                                                                </tab>
                                                            </tabset>
                                                        </div>
                                                    </tab>
                                                    <tab>
                                                        <tab-heading>Addresses</tab-heading>
                                                        <div class="fa-border padding-10">
                                                            <tabset>
                                                                <tab>
                                                                    <tab-heading>
                                                                        {{Facility.MailingAddress.AddressTitle}}
                                                                    </tab-heading>
                                                                    <div class="fa-border padding-20">
                                                                        <div ng-repeat="currentAddress in [Facility.MailingAddress]">
                                                                            <ng-include src="'/partials/address-edit.html'"></ng-include>
                                                                        </div>
                                                                    </div>
                                                                </tab>
                                                                <tab>
                                                                    <tab-heading>
                                                                        {{Facility.StreetAddress.AddressTitle}}
                                                                    </tab-heading>
                                                                    <div class="fa-border padding-20">
                                                                        <div ng-repeat="currentAddress in [Facility.StreetAddress]">
                                                                            <ng-include src="'/partials/address-edit.html'"></ng-include>
                                                                        </div>
                                                                    </div>
                                                                </tab>
                                                            </tabset>
                                                        </div>
                                                    </tab>
                                                    <!--<tab>
                                                        <tab-heading>Logo</tab-heading>
                                                        <div class="fa-border padding-10">
                                                            <div ng-repeat="currentImage in [Facility.Logo]">
                                                                <ng-include src="'/partials/image-edit.html'" />
                                                            </div>
                                                        </div>
                                                    </tab>-->
                                                </tabset>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

