﻿<div class="page forms-list" ng-controller="AdminFacilityGroupController">
    <section class="panel panel-default">
        <div class="panel-heading">
            <strong>Facility Group</strong>
        </div>
      <div class="panel-body">
          <div class="ta-center">
              <h4 ng-if="ActiveFacility">Active Facility : <b>{{ActiveFacility}}</b></h4>
          </div>
          
          <br/>
         <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="ta-center">ID</th>
                        <th class="ta-center">Facility Name</th>
                        <th class="ta-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="facility in Facilites">
                        <td class="ta-center">{{facility.Id}}</td>
                        <td>{{facility.Name}}</td>
                        <td class="ta-center"><button type="button" class="btn btn-sm btn-info dropdown-toggle" ng-click="selectFacility(facility)"> Select </button></td>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
    </section>
</div>
