﻿<div class="panel-heading">
    <strong>
        Facilities
    </strong>
</div>
<div class="panel-body">
    <div class="row">
	    <div class="col-sm-12">
		    
		    <a class="btn btn-success" style="color: white !important;" 
			   href="#/admin/facilities/new/{{Company.Id}}">
			    Create New Facility
		    </a>
	    </div>
    </div>
    <br />
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <!--<th>Logo</th>-->
                    <th>Facility Name</th>
                    <th>Address</th>
                    <th>Facility Contact</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody ng-controller="AdminFacilitiesController">
                <tr ng-repeat="facility in Company.Facilities">
                    <td class="ta-center">{{facility.Id}}</td>
                    <!--<td class="ta-center" ng-repeat="currentImage in [facility.Logo]">
                        <ng-include src="'/partials/image-view.html'"></ng-include>
                    </td>-->
                    <td>{{facility.Name}}</td>
                    <td ng-repeat="currentAddress in [facility.MailingAddress]">
                        <ng-include src="'/partials/address-cell.html'"></ng-include>
                    </td>
                    <td ng-repeat="currentContact in [facility.FacilityContact]">
                        <ng-include src="'/partials/contact-cell.html'"></ng-include>
                    </td>

                    <td class="ta-center action-cell">
                        <div class="btn-group" dropdown is-open="status.isopen2">
                            <button type="button" class="btn btn-sm btn-info dropdown-toggle"> Select <span class="caret"></span> </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li>
                                    <a ng-href="/#/admin/facilities/{{facility.Id}}/{{Company.Id}}">Edit</a>
                                </li>
                                <!--<li>
                                    <a href="javascript:;" ng-click="copyFacility(facility)">Copy</a>
                                </li>-->
                                <li>
                                    <a href="javascript:;"
                                       idr-confirm="removeFacility(facility)"
                                       idr-confirm-message="Are you sure you want to delete this item?">Delete</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
