﻿<div class="fa-border padding-10">
    <div class="row">
        <div class="col-sm-4">

            <select class="form-control"
                    ng-model="currentCompany"
                    ng-options="c.Id as c.Name for c in allCompanies"
                    ng-change="getCompanyFacilities(currentCompany)"></select>

        </div>
        <div class="col-sm-4">
            <select class="form-control"
                    ng-model="currentFacility"
                    ng-options="f as f.Name for f in allCompanyFacilities"></select>

        </div>

        <div class="col-sm-4">
            <button class="btn btn-success" style="color: white"
                    ng-disabled="!currentCompany || !currentFacility"
                    ng-click="addRemoteFacility(currentFacility)">
                Add Remote Facility
            </button>
        </div>
    </div>
    <br />
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Scheduling Locations</th>
                    <th class="action-header width-10">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="facility in Practice.RemoteFacilities">
                    <td class="discipline-cell">{{facility.Name}}</td>

                    <td class="ta-center">
                        <div class="btn-group" dropdown is-open="facility.isopen2">
                            <button type="button" class="btn btn-sm btn-info dropdown-toggle"> Select <span class="caret"></span> </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li>
                                    <a href="javascript:;"
                                       idr-confirm="removeRemoteFacility(facility)"
                                       idr-confirm-message="Are you sure you want to delete this remote facility?">Remove</a>
                                </li>
                            </ul>
                        </div>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>