﻿<div class="row" ng-hide="node.isReadonly">
    <div class="col-sm-12">
        <icon-picker ng-model="node.MenuIconStyle" ng-change="saveNode(node, currentNode, true)"></icon-picker>
        <button type="button" class="btn btn-warning" ng-click="node.MenuIconStyle = null">Remove Icon</button>
    </div>
</div>
<div class="margin-top-20"></div>


<div class="row" ng-hide="node.Type.UIKey == 'video' || node.Type.UIKey == 'feedback'">
    <div class="col-sm-12" ng-hide="node.isReadonly">

        <ng-include ng-if="node.Type.HasContentProperties" src="'mcecontent.html'" />
        
    </div>
</div>

<script id="mcecontent.html" type="text/ng-template">
    <textarea ng-model="node.HtmlContent" ui-tinymce="editorOptions"></textarea>
</script>
