﻿<script id="mcecontent.html" type="text/ng-template">
    <textarea ng-model="node.HtmlContent" ui-tinymce="editorOptions"></textarea>
</script>
<div class="form-group">
    <div class="row">
        <div class="col-md-3">
            <label>Location to Map :</label>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <input name="activeStatus" type="radio" ng-model="map.company" ng-value="true" ng-click="map.location=false">
                <span>Practice / Facility</span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <input name="activeStatus" type="radio" ng-model="map.location" ng-value="true" ng-click="map.company=false">
                <span>Other Location</span>
            </div>
        </div>
    </div>
</div>
<div>
    <label class="ui-checkbox">
        <input name="activeStatus" type="checkbox" ng-model="map.directions" ng-value="true" />
        <span>Include Directions?</span>
    </label>
</div>
<br />
<div class="form-group" ng-if="map.location===true && map.company===false">
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <label for="Name">Address line1</label>
                <input type="text" class="form-control"
                       placeholder="Address line1"
                       ng-model="map.address1">
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <label for="Name">Address line2</label>
                <input type="text" class="form-control"
                       placeholder="Address line2"
                       ng-model="map.address2">
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="Name">City</label>
                <input type="text" class="form-control"
                       placeholder="City"
                       ng-model="map.city">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="Name">State</label>
                <input type="text" class="form-control"
                       placeholder="State"
                       ng-model="map.state">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="Name">Country</label>
                <input type="text" class="form-control"
                       placeholder="Country"
                       ng-model="map.country">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="Name">Zip Code</label>
                <input type="text" class="form-control"
                       placeholder="Zip Code"
                       ng-model="map.zipCode">
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

</div>
<div>
    <button class="btn btn-success" ng-click="generateMap()">Generate Map</button>
</div>
<br/>
<div>
    <ng-include src="'mcecontent.html'" />
</div> 