﻿<script id="mcecontent.html" type="text/ng-template">
    <textarea ng-model="node.HtmlContent" ui-tinymce="editorOptions"></textarea>
</script>
<div>
    <table class="table table-bordered table-striped table-responsive">
        <thead>
            <tr>
                <th>
                    <div class="th">File Name</div>
                </th>
                <th>
                    <div class="th">Date</div>
                </th>
                <th>
                    <div class="th">Tag</div>
                </th>
                <th>
                    <div class="th">File Size (KB)</div>
                </th>
                <th>
                    <div class="th">Pages</div>
                </th>
            </tr>
        </thead>
        <tbody>
           
            <tr ng-repeat="pdf in PDFFilesForNodeLibrary">
                <td><a target="_blank" ng-href="/api/pdffiles/files/readPDF?id={{pdf.Id}}">{{pdf.FileName}}</a></td>
                <td>{{pdf.ModifiedOn | date}}</td>
                <td>{{pdf.Alias}}</td>
                <td>{{pdf.FileSize}}</td>
                <td>{{pdf.PageCount}}</td>
            </tr>
        </tbody>

</table>
</div>
<br/>
<div>
    <ng-include src="'mcecontent.html'" />

</div>