﻿<div class="page forms-list" ng-controller="DisciplinesController">
    <section>
        <section class="panel panel-default">
            <div class="panel-heading">
                <strong>
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                    Manage Discipline {{discipline.Name}}
                </strong>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12 " ng-show="isAdmin || isSuperAdmin">
                                <a class="btn btn-info" href="#/cms/disciplines">
                                    Back to List
                                </a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">

                                <div class="panel-bottom bg-reverse text-left">
                                    <form name="currentDiscipline">
                                        <div class="row margin-top-10">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="Name">Name</label>
                                                    <input type="text" class="form-control"
                                                           placeholder="Discipline Name"
                                                           ng-blur="save(discipline, currentDiscipline)"
                                                           ng-model="discipline.Name">

                                                </div>
                                                <div class="form-group">
                                                    <label for="Description">Description</label>
                                                    <textarea name="Notes"
                                                              class="form-control"
                                                              ng-model="discipline.Description"
                                                              ng-blur="save(discipline, currentDiscipline)"
                                                              placeholder="Description"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>

