﻿<div class="page forms-list" ng-controller="DisciplinesController">
    <section class="panel panel-default table-dynamic">

        <div class="panel-heading"><strong><span class="glyphicon glyphicon-list"></span> Manage Disciplines</strong></div>

        <div class="table-filters">
            <div class="row">
                <div class="col-sm-12">
                    <a class="btn btn-success" href="#/cms/disciplines/new">
                        Create New Discipline
                    </a>
                </div>
            </div>
        </div>

        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th>
                        <div class="th">
                            ID
                        </div>
                    </th>
                    <th><div class="th">Name</div></th>
                    <th><div class="th">Description</div></th>
                    <th class="action-header"><div class="th">Actions</div></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="d in Disciplines">
                    <td>{{d.Id}}</td>
                    <td>{{d.Name}}</td>
                    <td>{{d.Description}}</td>
                    <td class="action-cell">


                        <div class="btn-group" dropdown is-open="status.isopen2">
                            <button type="button" class="btn btn-sm btn-info dropdown-toggle"> Select <span class="caret"></span> </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li>
                                    <a href="javascript:;" ng-click="goto('/cms/disciplines/' + d.Id)">Edit</a>
                                </li>
                                <li>
                                    <a href="javascript:; " ng-click="copy(d)">Copy</a>
                                </li>
                                <li>
                                    <a href="javascript:;"
                                       idr-confirm="remove(d)"
                                       idr-confirm-message="Are you sure you want to delete this item?">Delete</a>
                                </li>
                            </ul>
                        </div>

                        <!--<a ng-show="!d._hideActions" href="javascript:void(0)" ng-click="goto('/cms/disciplines/' + d.Id)">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a ng-show="!d._hideActions" href="javascript:void(0)" ng-click="copy(d)">
                            <i class="fa fa-copy"></i>
                        </a>

                        <span ng-show="d._hideActions">Are you sure?</span>
                        <a ng-show="d._hideActions" href="javascript:void(0)" ng-click="remove(d)">
                            <i class="fa fa-thumbs-up"></i>
                        </a>
                        <a ng-show="d._hideActions" href="javascript:void(0)" ng-click="d._hideActions = false">
                            <i class="fa fa-thumbs-down"></i>
                        </a>
                        <a ng-show="!d._hideActions" href="javascript:void(0)" ng-click="d._hideActions = true">
                            <i class="fa fa-trash-o"></i>
                        </a>-->





                    </td>
                </tr>
            </tbody>
        </table>


    </section>
</div>
