﻿<div class="page ng-scope" ng-controller="TemplatesController">
	<section class="panel panel-default">
		<div class="panel-heading"><strong><span class="glyphicon glyphicon-edit"></span> Recovery Plan Template : {{template.NodeLibrary.Name}}</strong></div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-8">
                    <a class="btn btn-success" href="#/cms/recoverytemplates">
                        <i class="fa fa-chevron-left"></i>
                        Back to Recovery Template List
                    </a>
				</div>
			</div>
			<hr />
			<br />
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<form role="form" name="currentTemplate">
						<div class="form-group">
							<label for="Name">Template Name</label>
							<input type="text" class="form-control" id="Name"
								   placeholder="Template Name"
								   ng-blur="saveTemplate(template, currentTemplate)"
								   ng-model="template.Name">
						</div>
						<div class="form-group">
							<label for="Description">Description</label>
							<textarea name="Description"
									  class="form-control"
									  ng-model="template.Description"
									  ng-blur="saveTemplate(template, currentTemplate)"
									  placeholder="Description of Template"></textarea>
						</div>
						<div class="form-group">
							<label for="Description">Active</label>
							<input type="checkbox"
								   ng-checked="template.Active"
								   ng-click="template.Active = !template.Active; saveTemplate(template, currentTemplate, true)" />
							
						</div>
						<hr />
						<div class="form-group">
							<label for="Library">Master Template Library ({{node.Name}})</label>
							<select ng-model="template.NodeLibrary"
									ng-change="node = template.NodeLibrary; saveTemplate(template, currentTemplate)"
									ng-options="x.Name for x in Libraries"
									class="form-control"></select>
						</div>
						<hr />
						<div class="form-group" ng-controller="DisciplinesController">
							<label for="Discipline">Discipline<span ng-show="template.Discipline"> ({{template.Discipline.Name}})</span></label>
							<select ng-model="template.Discipline"
									ng-change="saveTemplate(template, currentTemplate)"
									ng-options="x.Name for x in Disciplines"
									class="form-control"></select>
						</div>
						<hr />
						<div class="form-group node-map">
							<label>Master Template Library Framework (The content tree the Patient will see, with detail about physician options)</label>
							<div ng-include="'contentNode.html'"></div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</div>

<script id="contentNode.html" type="text/ng-template">
	<i class="fa press-me" ng-class="{ 'fa-chevron-down': !node._collapse, 'fa-chevron-right': node._collapse }" ng-click="node._collapse = !node._collapse"></i>
	<i class="fa fa-cloud-download" ng-show="node.IsSupplemented"></i>
	<i class="fa fa-pencil" ng-show="node.IsPhysicianEditable"></i>
	<span ng-class="{ 'node-editable': node.IsPhysicianEditable}">
		{{node.Name}} <span ng-show="node.Title.length > 0">({{node.Title}})</span>
	</span>
	<ul ng-if="node.Nodes.length > 0" ng-hide="node._collapse">
		<li ng-repeat="child in node.Nodes" class="node">
			<ng-include src="'contentNode.html'" ng-init="node = child" />
			<div ng-if="node.IsSupplemented" ng-hide="node._collapse">
				<ul class="supplemental-library">
					Physician Options: {{node._supplementalLib.Name}}
					<li ng-repeat="opt in node._supplementalLib.Nodes">
						<i class="fa fa-puzzle-piece"></i>
						{{opt.Name}} ({{opt.Title}})
					</li>
				</ul>
			</div>
		</li>
	</ul>
</script>