﻿<div class="page ng-scope" ng-controller="TemplatesController">
    <section class="panel panel-default table-dynamic">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Recovery Plan Templates</strong></div>
       
        <div class="table-filters">
            <div class="row">
                <div class="col-sm-12  ">
                    <a class="btn btn-success" href="#/cms/recoverytemplates/new">
                        Start New Recovery Template
                    </a>
                </div>
            </div>
        </div>

            <table class="table table-striped table-bordered table-responsive">
                <thead>
                    <tr>
                        <th>
                            <div class="th">
                                Discipline
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                ID
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Name
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Library
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Description
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Active
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                &nbsp;
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in Templates">
                        <td class="discipline-cell">{{row.Discipline.Name}}</td>
                        <td>{{row.Id}}</td>
                        <td>{{row.Name}}</td>
                        <td>{{row.NodeLibrary.Name}}</td>
                        <td>{{row.Description}}</td>
                        <td><i class="fa" ng-class="{ 'fa-check' : row.Active }"></i></td>
                        <td class="action-cell">
                            
                            <div class="btn-group" dropdown is-open="status.isopen2">
                                <button type="button" class="btn btn-sm btn-info dropdown-toggle"> Select <span class="caret"></span> </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li>
                                        <a href="#/cms/recoverytemplates/{{row.Id}}">Edit</a>
                                    </li>
                                    <li>
                                        <a href="javascript:; " ng-click="copy(row)">Copy</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"
                                           idr-confirm="remove(row)"
                                           idr-confirm-message="Are you sure you want to delete this item?">Delete</a>
                                    </li>
                                </ul>
                            </div>

                            <!--<a ng-show="!row._hideActions" href="#/cms/recoverytemplates/{{row.Id}}">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a ng-show="!row._hideActions" href="javascript:void(0)" ng-click="copy(row)">
                                    <i class="fa fa-copy"></i>
                                </a>

                                <span ng-show="row._hideActions">Are you sure?</span>
                                <a ng-show="row._hideActions" href="javascript:void(0)" ng-click="remove(row)">
                                    <i class="fa fa-thumbs-up"></i>
                                </a>
                                <a ng-show="row._hideActions" href="javascript:void(0)" ng-click="row._hideActions = false">
                                    <i class="fa fa-thumbs-down"></i>
                                </a>
                                <a ng-show="!row._hideActions" href="javascript:void(0)" ng-click="row._hideActions = true">
                                    <i class="fa fa-trash-o"></i>
                                </a>-->

                        </td>
                    </tr>
                </tbody>
            </table>

      
    </section>
</div>