﻿<div class="page forms-list" ng-controller="ProcedureDashboardController">

    <section class="panel panel-default table-dynamic">
        <div class="panel-heading">
            <strong>Patient Detail</strong>
        </div>

        <div class="row table-filters">
            <div class="col-sm-4">
                <h4>Patient</h4>
                <div class="dashboard-container">
                    <span class="procHeader">Med Rec: {{data.MedicalRecordNumber}}<br /></span>
                    <span class="procHeader">Patient Name: {{data.PatientFirstName}} {{data.PatientLastName}}<br /></span>
                    <span class="procHeader">Email Address: <a href="mailto:{{data.PatientEmail}}">{{data.PatientEmail}}</a><br /></span>
                    <span class="procHeader">Phone:{{formatPhone(data.PatientPhone)}}<br /></span><br />
                    <span class="procHeader">Physician: {{data.PhysicianFirstName}} {{data.PhysicianLastName}}<br /></span>
                    <span class="procHeader">Procedure: {{data.ProcedureName}}</span><br /><br />
                    <span class="procHeader">Procedure Date: {{ data.start }}</span>
                </div>
                <div class="dashboard-container margin-top-10" id="metrics">
                    <canvas id="gauge"></canvas>

                    <div class="margin-top-10">
                        <div>
                            Notifications Sent: {{sent}}<br />
                            Notifications Responded: {{completed}}<br />
                            Awaiting Response: {{awaiting}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <h4>Notifications</h4>
                <div class="dashboard-container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Message</th>
                                <th>Title</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="n in data.DashboardNotifications">
                                <td>{{$index+1}}</td>
                                <td>{{n.Title}}</td>
                                <td>
                                    <div ng-if="!n.Sent" uib-popover="{{n.Message}}">
                                        <i class="fa fa-circle-o dashboard"
                                           tooltip="{{n.Message}}"></i>
                                    </div>
                                    <div ng-if="n.SentNotRequired">
                                        <i class="fa fa-circle dashboard dashboard-success"
                                           tooltip="{{n.Message}}"></i>
                                    </div>
                                    <div ng-if="n.SentRespondedNotTriggered">
                                        <i class="fa fa-circle dashboard dashboard-success"
                                           tooltip="{{n.Message}}"></i>
                                    </div>
                                    <div ng-if="n.SentRespondedTriggered">
                                        <i class="fa fa-circle dashboard dashboard-error"
                                           tooltip="{{n.Message}}"></i>
                                    </div>
                                    <div ng-if="n.SentNoResponseRepeating">
                                        <i class="fa fa-circle dashboard dashboard-caution"
                                           tooltip="{{n.Message}}"></i>
                                    </div>
                                    <div ng-if="n.SentAllNoResponseRepeating">
                                        <i class="fa fa-circle dashboard dashboard-warn"
                                           tooltip="{{n.Message}}"></i>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-4">
                <h4>Notes</h4>
                <div class="dashboard-container">
                    <div id="notes">
                        <div ng-repeat="n in data.notes">
                            <div class="note" ng-bind-html="n"></div><br/>
                        </div>
                       
                    </div>
                </div>
                <div class="margin-top-10">
                    <button class="btn btn-info pull-right" type="button" ng-click="copy()">Copy Notes</button>
                </div>
            </div>
        </div>
    </section>
</div>


