﻿<div class="page forms-list" ng-controller="AdminCompanyController">
    <section>
        <section class="panel panel-default">
            <div class="panel-heading"><strong><i class="fa fa-stethoscope"></i> Manage Health Care Group - {{Company.Name}}</strong></div>

            <div class="panel-body">
                <div class="row">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12 " ng-show="isAdmin || isSuperAdmin">
                                <a class="btn btn-info" href="#/admin/companies">
                                    Back to List
                                </a>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-12">

                                <div class="panel-bottom bg-reverse text-left">
                                    <form name="current">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="Name">Name</label>
                                                    <input type="text" class="form-control"
                                                           placeholder="Company Name"
                                                           ng-blur="saveCompany(Company, current)"
                                                           ng-model="Company.Name"
                                                           >

                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="Name">Time Zone</label>
                                                    <select class="form-control"
                                                            ng-model="Company.TimeZone"
                                                            ng-change="saveCompany(Company, current)"
                                                            ng-options="tz.key as tz.value for tz in timeZones"></select>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <tabset>

                                                    <tab>
                                                        <tab-heading>Contacts</tab-heading>
                                                        <div class="fa-border padding-10">
                                                            
                                                            <div class="padding-20">
                                                                
                                                                <div ng-repeat="currentContact in [Company.PrimaryContact]">
                                                                    <ng-include src="'/partials/contact-edit.html'"></ng-include>
                                                                </div>
                                                            </div>

                                                            <hr />
                                                            <div class="padding-20">
                                                                <div ng-repeat="currentContact in [Company.SalesContact]">
                                                                    <ng-include src="'/partials/contact-edit.html'"></ng-include>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </tab>
                                                    <tab>
                                                        <tab-heading>Addresses</tab-heading>
                                                        <div class="fa-border padding-10">

                                                            <div class="padding-20">
                                                                
                                                                <div ng-repeat="currentAddress in [Company.MailingAddress]">
                                                                    <ng-include src="'/partials/address-edit.html'"></ng-include>
                                                                </div>
                                                            </div>
                                                            <hr />

                                                            <div class="padding-20">
                                                                <div ng-repeat="currentAddress in [Company.CorporateAddress]">
                                                                    <ng-include src="'/partials/address-edit.html'"></ng-include>
                                                                </div>
                                                            </div>


                                                        </div>
                                                    </tab>
                                                    <tab>
                                                        <tab-heading>Facilities</tab-heading>
                                                        <div class="fa-border padding-10">
                                                            <ng-include src="'/partials/admin/facilities/list.html'"></ng-include>
                                                        </div>
                                                    </tab>
                                                    <tab>
                                                        <tab-heading>Logo</tab-heading>
                                                        <!--<div class="fa-border padding-10">
                                                           
                                                            <div ng-repeat="currentImage in [Company.Logo]">
                                                                <ng-include src="'/partials/image-edit.html'" />
                                                            </div>
                                                        </div>-->
                                                    </tab>
                                                </tabset>
                                            </div>
                                        </div>

                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>

