﻿
<div class="page forms-list" ng-controller="AdminCompanyListController"
     service="companies" service-fn="search">

    <section class="panel panel-default table-dynamic">
        <div class="panel-heading">
            <strong>Manage Groups & Facilities</strong>
        </div>

        <div class="table-filters">
            <div class="row">
                <div class="col-sm-6 form-group ">
                    <div class="form-inline">
                        <div class="col-sm-8">
                            <input type="text" class="form-control" style="width: 100%;"
                                   placeholder="Search File Name or Tags"
                                   ng-model="filter" />
                        </div>
                        &nbsp;
                        <button class="btn btn-info" type="button"
                                ng-click="updateResults()">
                            Filter
                        </button>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="pull-right">
                        <a class="btn btn-success" href="/#/admin/companies/new">
                            Add New Group
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th>
                        <div class="th">
                            Name
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Primary
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Sales
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Mailing
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Corporate
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Actions
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="c in results">

                    <td>{{c.Name}}</td>
                    <td>
                        {{c.PrimaryContact.FirstName}}
                        {{c.PrimaryContact.LastName}}
                        {{c.PrimaryContact.Email}}
                    </td>
                    <td>
                        {{c.SalesContact.FirstName}}
                        {{c.SalesContact.LastName}}
                        {{c.SalesContact.Email}}
                    </td>
                    <td>
                        {{c.MailingAddress.DisplayAddress}}
                    </td>
                    <td>
                        {{c.CorporateAddress.DisplayAddress}}

                    </td>
                    <td class="action-cell">
                        <div class="btn-group" dropdown is-open="status.isopen2">
                            <button type="button" class="btn btn-sm btn-info dropdown-toggle"> Action <span class="caret"></span> </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li>
                                    <a ng-href="/#/admin/companies/{{c.Id}}">Edit</a>
                                    <a href="javascript:;" ng-click="copyCompany(c)">Copy</a>
                                    <a href="javascript:;" idr-confirm="removeCompany(c)"
                                       idr-confirm-message="Are you sure you want to remove this facility?">Remove</a>

                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <pagination boundary-links="true"
                    total-items="totalRecords"
                    ng-model="currentPage"
                    ng-change="setPage(currentPage-1)"
                    class="pagination-sm"
                    previous-text="&lsaquo;"
                    max-size="5"
                    next-text="&rsaquo;"
                    first-text="&laquo;"
                    last-text="&raquo;"></pagination>
    </section>
</div>

<!--<div class="page forms-list" ng-controller="AdminCompanyListController"
     service="companies" service-fn="query">
    <section class="panel panel-default table-dynamic">
        <div class="panel-heading"><strong><i class="fa fa-stethoscope"></i> Manage Groups &amp; Facilities</strong></div>

        <div class="table-filters">
            <div class="row">
                <div class="col-sm-12  ">
                    <a class="btn btn-success" href="#/admin/companies/new">
                        Create New Group
                    </a>
                </div>
            </div>
        </div>


            <ng-include src="'/partials/paged-list-header.html'"></ng-include>

            <table class="table table-bordered table-striped table-responsive">
                <thead>

                    <tr>
                        <th>
                            <div class="th">
                                ID
                            </div>
                        </th>
                        <th>
                            <div class="th">Name</div>
                        </th>
                        <th>
                            <div class="th">Primary</div>
                        </th>
                        <th>
                            <div class="th">Sales</div>
                        </th>
                        <th>
                            <div class="th">Mailing</div>
                        </th>
                        <th>
                            <div class="th">Corporate</div>
                        </th>
                        <th>
                            <div class="th">Actions</div>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="p in Companies.Results">
                        <td class=" ta-center">{{p.Id}}</td>
                        <td>{{p.Name}}</td>
                        <td ng-repeat="currentContact in [p.PrimaryContact, p.SalesContact]">
                            <ng-include src="'/partials/contact-cell.html'"></ng-include>
                        </td>
                        <td ng-repeat="currentAddress in [p.MailingAddress, p.CorporateAddress]">
                            <ng-include src="'/partials/address-cell.html'"></ng-include>
                        </td>
                        <td class="ta-center">
                            <div class="btn-group" dropdown is-open="status.isopen2">
                                <button type="button" class="btn btn-info dropdown-toggle"> Action <span class="caret"></span> </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li>
                                        <a href="javascript:;" ng-click="goto('/admin/companies/' + p.Id)">Edit</a>
                                    </li>
                                    <li>
                                        <a href="javascript:; " ng-click="copyCompany(p)">Copy</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"
                                           idr-confirm="removeCompany(p)"
                                           idr-confirm-message="Are you sure you want to delete this item?">Delete</a>
                                    </li>
                                </ul>
                            </div>

                        </td>
                    </tr>
                </tbody>


            </table>
            <ng-include src="'/partials/paged-list-footer.html'"></ng-include>
    </section>
</div>-->
