﻿@model MvcSiteMapProvider.Web.Html.Models.MenuHelperModel
@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models
@helper nodeBuild(SiteMapNodeModel n) {
	if (n.Children.Count == 0) {
		<li><a href="@n.Url"> <i class="@n.Attributes["cssClass"]"></i><span data-i18n="@n.Title"></span> </a></li>
		} else { 
		<li>
			<a href="@n.Url">
				<i class="@n.Attributes["cssClass"]"></i><span data-i18n="@n.Title"></span></a>
				<ul>
					@foreach(var child in n.Children){
						@nodeBuild(child);
					}
				</ul>
		</li>
		}
	}

<ul id="nav"
    class="nav"
    style="overflow: hidden; width: auto; height: 100%;"
	data-ng-controller="NavCtrl"
	data-slim-scroll
	data-collapse-nav
	data-highlight-active>	

	@foreach (var node in Model.Nodes.Where(x => x.Title != "main").ToArray()) {
		@nodeBuild(node);
	}
</ul>