﻿<div class="page forms-list" ng-controller="AttributesController">
    <section>
        <section class="panel panel-default">
            <div class="panel-heading">
                <strong>
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                    Manage Attribute
                </strong>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12 " ng-show="isAdmin || isSuperAdmin">
                                <a class="btn btn-info" href="#/cms/attributes">
                                    Back to List
                                </a>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="panel-bottom bg-reverse text-left">
                                    <form name="currentAttribute">
                                        <div class="row margin-top-10">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                               
                                                    <label for="Name">Name</label>
                                                    <input type="text" class="form-control"
                                                           placeholder="Attribute"
                                                           ng-blur="save(attribute, currentAttribute)"
                                                           ng-model="attribute.Name">

                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>

