﻿<div class="page forms-list" ng-controller="AttributesController">
    <section class="panel panel-default table-dynamic">

        <div class="panel-heading">
            <strong>
                <span class="glyphicon glyphicon-list"></span>
                Manage Attributes
            </strong>
        </div>

        <div class="table-filters">
            <div class="row">
                <div class="col-sm-12">
                    <a class="btn btn-success" href="#/cms/attributes/new">
                        Create New Attributes
                    </a>
                </div>
            </div>
        </div>

        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th>
                        <div class="th">
                            ID
                        </div>
                    </th>
                    <th><div class="th">Name</div></th>
                    <th class="action-header"><div class="th">Actions</div></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="a in Attributes">
                    <td>{{a.Id}}</td>
                    <td>{{a.Name}}</td>
                    <td class="action-cell">
                        <div class="btn-group" dropdown is-open="status.isopen2">
                            <button type="button" class="btn btn-sm btn-info dropdown-toggle"> Select <span class="caret"></span> </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li>
                                    <a href="javascript:;" ng-click="goto('/cms/attributes/' + a.Id)">Edit</a>
                                </li>
                                <li>
                                    <a href="javascript:;"
                                       idr-confirm="remove(a)"
                                       idr-confirm-message="Are you sure you want to delete this item?">Delete</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>
