﻿<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <title>IDR</title>

    <link rel="stylesheet" href="/Content/mobile/js/lib/onsen/css/onsenui.css">
    <link rel="stylesheet" href="/Content/mobile/css/onsen/onsen-css-components-blue-basic-theme.css">

    <link rel="stylesheet" href="/Content/mobile/css/style.css" />
    <script src="/Content/mobile/js/lib/onsen/js/angular/angular.js"></script>
    <script src="/Content/mobile/js/lib/onsen/js/angular/angular-resource.js"></script>
    <script src="/Content/mobile/js/lib/onsen/js/onsenui.js"></script>
    <script src="/Content/mobile/js/lib/moment.js"></script>
    <script src="/Content/mobile/js/lib/PushNotification.js"></script>
    <script src="/Content/mobile/js/lib/jquery.js"></script>
    <script src="/Content/mobile/js/lib/underscore.js"></script>

    <!-- Commnet out this script and the script block below when debugging in browser -->
    <!-- app bootstrapper -->
    <script src="/Content/mobile/js/rootScopeInit.js"></script>
    <script type="text/javascript">
        var app = angular.module('app', ['onsen', 'ngResource']);

        app.run(function ($rootScope, $sce, apiUrl, fieldReplacements, $http) {
            rootScopeInit($rootScope, $sce, apiUrl, fieldReplacements, $http);
        });
    </script>
    <script type="text/javascript" src="https://www.swarminteractive.com/js/vm.js"></script>

    <script src="/Content/mobile/js/services/constants.js"></script>
    <script src="/Content/mobile/js/services/field-replacements-constant.js"></script>
    <script src="/Content/mobile/js/services/master-template-service.js"></script>
    <script src="/Content/mobile/js/services/device-service.js"></script>
    <script src="/Content/mobile/js/services/notification-service.js"></script>
    <script src="/Content/mobile/js/services/procedure-service.js"></script>
    <script src="/Content/mobile/js/services/login-service.js"></script>
    <script src="/Content/mobile/js/services/inbox-service.js"></script>
    <script src="/Content/mobile/js/services/mobile-config.js"></script>
    <script src="/Content/mobile/js/controllers/menu-controller.js"></script>
    <script src="/Content/mobile/js/controllers/master-templates-controller.js"></script>
    <script src="/Content/mobile/js/controllers/template-controller.js"></script>
    <script src="/Content/mobile/js/controllers/welcome-letter-controller.js"></script>
    <script src="/Content/mobile/js/controllers/remote-controller.js"></script>
    <script src="/Content/mobile/js/controllers/patientlogin-controller.js"></script>
    <script src="/Content/mobile/js/controllers/inbox-controller.js"></script>
    <script src="/Content/mobile/js/controllers/inbox-item-controller.js"></script>
    <script src="/Content/mobile/js/controllers/swarm-controller.js"></script>
    <script src="/Content/mobile/js/controllers/menu-controller.js"></script>
    <script src="/Content/mobile/js/controllers/local-controller.js"></script>
    <style type="text/css">
        .page__content {
            top: 0px;
            padding: 0px;
        }
    </style>
</head>
<body>
    @RenderBody()
</body>
</html>
