﻿@{
    Layout = "_Mobile.cshtml";
}


<ons-page>
    <ons-sliding-menu main-page="/Content/mobile/patient-login.html"
                      menu-page="/Content/mobile/menu.html"
                      side="right"
                      var="menu">
    </ons-sliding-menu>
</ons-page>

