﻿<div class="page forms-list" ng-controller="AdminUserCreateController">
	<section>
		<section class="panel panel-default">
			<div class="panel-heading"><strong><i class="fa fa-stethoscope"></i> Create User</strong></div>

			<div class="panel-body">
				<div class="row">
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-12 " ng-show="isAdmin || isSuperAdmin">
								<a class="btn btn-success" href="#/admin/users">
									Back to List
								</a>
							</div>
						</div>
						<br />
						<div class="row">
							<div class="col-sm-12">
								<section class="">
									<div class="panel-bottom bg-reverse text-left">
										<form name="current">
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label for="Name">User Name</label>
														<input type="text" class="form-control"
															   placeholder="User Name"
															   ng-model="user.UserName">

													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label for="Name">Password</label>
														<input type="password" class="form-control"
															   placeholder="Password"
															   ng-model="user.Password">

													</div>
												</div>

												<div class="col-md-6">
													<div class="form-group">
														<label for="Name">First Name</label>
														<input type="text" class="form-control"
															   placeholder="First Name"
															   ng-model="user.FirstName">

													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label for="Name">Last Name</label>
														<input type="text" class="form-control"
															   placeholder="Last Name"
															   ng-model="user.LastName">

													</div>
												</div>

												<div class="col-md-6">
													<div class="form-group">
														<label for="Name">Phone Number</label>
														<input type="text"
															   class="form-control"
															   ui-mask="{{'(999) 999-9999'}}"
															   ng-model="user.Phone">

													</div>
												</div>

												<div class="col-md-6">
													<div ng-repeat="r in roles">
														<label class="ui-checkbox">
															<input type="checkbox" ng-model="r.assigned"
															       class="ng-pristine ng-valid">
															<span class="ng-binding">{{r.Name}}</span>
														</label>

													</div>
												</div>
												
												<div class="col-md-6">
													<div class="form-group">
														<label class="ui-checkbox">
															<input type="checkbox"
																   ng-model="user.Bilingual" />
															<span>Bilingual</span>
														</label>
													</div>
												</div>
											</div>

											<div class="row margin-top-10">
												<div class="col-md-12">
													<button class="btn btn-success" type="button"
															ng-click="save()"
															ng-disabled="!user.UserName || !user.FirstName || !user.LastName || busy">
														Create User
													</button>
												</div>
											</div>
										</form>
									</div>
								</section>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>
</div>

