﻿<div class="page forms-list" ng-controller="AdminUsersController">
	<section>
		<section class="panel panel-default">
			<div class="panel-heading"><strong><i class="fa fa-stethoscope"></i> Manage User {{Entity.FirstName}} {{Entity.LastName}} ({{Entity.UserName}})</strong></div>

			<div class="panel-body">
				<div class="row">
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-12 " ng-show="isAdmin || isSuperAdmin">
								<a class="btn btn-success" href="#/admin/users">
									Back to List
								</a>
							</div>
						</div>
						<br />
						<div class="row">
							<div class="col-sm-12">
								<section class="">
									<div class="panel-bottom bg-reverse text-left">
										<form name="current">
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label for="Name">Email Address</label>
														<input type="text" class="form-control"
															   placeholder="User Name"
															   ng-disabled="true"
															   ng-model="Entity.UserName">

													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label for="Name">First Name</label>
														<input type="text" class="form-control"
															   placeholder="First Name"
															   ng-blur="save(Entity, current)"
															   ng-model="Entity.Firstname">

													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label for="Name">Last Name</label>
														<input type="text" class="form-control"
															   placeholder="Last Name"
															   ng-blur="save(Entity, current)"
															   ng-model="Entity.Lastname">

													</div>
												</div>

												<div class="col-md-6">
													<div class="form-group">
														<label for="Name">Phone Number</label>
														<input type="text"
															   class="form-control"
															   ui-mask="{{masks.phone}}"
															   ng-blur="save(Entity, current)"
															   ng-model="Entity.PhoneNumber">

													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label class="ui-checkbox">
															<input type="checkbox"
															       ng-change="save(Entity, current)"
															       ng-model="Entity.Bilingual"/>
															<span>Bilingual</span>
														</label>
													</div>
												</div>
											</div>
										</form>
									</div>
								</section>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>
</div>

