﻿<div class="page users-list" data-ng-controller="AdminUsersController">
    <section>
        <section class="panel panel-default table-dynamic">
            <div class="panel-heading"><strong><span class="glyphicon glyphicon-user"></span> Manage Users</strong></div>

            <a href="/#/users/create" type="button" class="btn btn-success pull-right"
                    style="margin: 10px 10px 0 0">Create New User</a>


            <ng-include src="'/partials/message.html'"></ng-include>

            <div class="row">
                <div class="panel-body">

                    <ng-include src="'/partials/paged-list-header.html'"></ng-include>


                    <table class="table table-bordered table-striped ">
                        <thead>
                            <tr>
                                <th>
                                    <div class="th">Email</div>
                                </th>
                                <th>
                                    <div class="th">First Name</div>
                                </th>
                                <th>
                                    <div class="th">Last Name</div>
                                </th>
	                            <th><div class="th">Phone</div></th>
                                <th><div class="th">Active</div></th>
                                <th>
                                    <div class="th">Actions</div>

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat-start="item in Users.Results">
                                <td>{{item.UserName}}</td>
                                <td>{{item.Firstname}}</td>
                                <td>{{item.Lastname}}</td>
                                <td ng-bind="item.PhoneNumber | tel"> </td>
                                <td>
                                    <label class="ui-checkbox">

                                        <input type="checkbox"
                                               ng-model="item.Active"
                                               ng-change="activate(item)" />
                                        <span>&nbsp;</span>
                                    </label>
                                </td>

                                <td>

                                    <div class="btn-group" dropdown is-open="status.isopen2">
                                        <button type="button" class="btn btn-sm btn-info dropdown-toggle"> Select <span class="caret"></span> </button>
                                        <ul class="dropdown-menu pull-right" role="menu">
                                            <li>
                                                <a href="javascript:;" ng-click="goto('/admin/users/' + item.Id)">Edit</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" ng-click="status.showRoles = !status.showRoles">Manage Roles</a>
                                            </li>
                                            <li>
                                                <a href="javascript:; " ng-click="resetPassword(item)">Reset Password</a>
                                            </li>
                                            <li>
                                                <a href="/Account/Impersonate/{{item.Id}}">Login In As</a>
                                            </li>
                                            <li>
                                                
                                                <a href="javascript:;" idr-confirm="deleteUser(item)"
                                                   idr-confirm-ok-text="Delete"
                                                   idr-confirm-message="Are you sure you want to delete this user?">Delete User</a>

                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-repeat-end ng-show="status.showRoles">
                                <td colspan="6">

                                    <div class="pull-right">
                                        <div ng-repeat="role in item.Roles">
                                            <label class="ui-checkbox">

                                                <input type="checkbox"
                                                       ng-model="role.IsInRole"
                                                       ng-change="saveUserRole(role, item)" />
                                                <span>{{role.RoleName}}</span>
                                            </label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>



                    <ng-include src="'/partials/paged-list-footer.html'"></ng-include>

                </div>
            </div>
        </section>
    </section>
</div>
