﻿<ng-include ng-if="currentAddress.AddressFormType" src="'address-edit-' + currentAddress.AddressFormType"></ng-include>


<script type="text/ng-template" id="address-edit-SIMPLE">
	<h4>
		{{currentAddress.AddressTitle}}
	</h4>

	<div class="row">
		<div class="col-md-10">
			<div class="form-group">
				<label for="Name">Address 1</label>
				<input type="text" class="form-control"
					   placeholder="Address 1"
					   ng-blur="getFunc('save')(Entity, current)"
					   ng-model="currentAddress.Address1">
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-10">
			<div class="form-group">
				<label for="Name">Address 2</label>
				<input type="text" class="form-control"
					   placeholder="Address 2"
					   ng-blur="getFunc('save')(Entity, current)"
					   ng-model="currentAddress.Address2">
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-5">
			<div class="form-group">
				<label for="Name">City</label>
				<input type="text" class="form-control"
					   placeholder="City"
					   ng-blur="getFunc('save')(Entity, current)"
					   ng-model="currentAddress.City">
			</div>
		</div>
		<div class="col-md-2">
			<div class="form-group">
				<label for="Name">State</label>
				<input type="text" class="form-control"
					   placeholder="State / Province"
					   ng-blur="getFunc('save')(Entity, current)"
					   ng-model="currentAddress.State">
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label for="Name">Postal Code</label>
				<input type="text" class="form-control"
					   placeholder="Postal Code"
					   ng-blur="getFunc('save')(Entity, current)"
					   ng-model="currentAddress.PostalCode">
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</script>

<script type="text/ng-template" id="address-edit-SERVICE">
	<h4>
		{{currentAddress.AddressTitle}}
	</h4>
    <div class="row form-group">
        <div class="">
            <div class="col-md-10">
                <label for="Name">Name</label>
                <input type="text" class="form-control"
                       placeholder="Name"
                       ng-blur="getFunc('save')(Entity, current)"
                       ng-model="currentAddress.Name">
            </div>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-5">
            <div class="form-group">
                <label for="Name">Address 1</label>
                <input type="text" class="form-control"
                       placeholder="Address 1"
                       ng-blur="getFunc('save')(Entity, current)"
                       ng-model="currentAddress.Address1">
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label for="Name">Address 2</label>
                <input type="text" class="form-control"
                       placeholder="Address 2"
                       ng-blur="getFunc('save')(Entity, current)"
                       ng-model="currentAddress.Address2">
            </div>
        </div>
    </div>
	<div class="row form-group">
		<div class="col-md-5">
			<div class="form-group">
				<label for="Name">City</label>
				<input type="text" class="form-control"
					   placeholder="City"
					   ng-blur="getFunc('save')(Entity, current)"
					   ng-model="currentAddress.City">
			</div>
		</div>
		<div class="col-md-2">
			<div class="form-group">
				<label for="Name">State</label>
				<input type="text" class="form-control"
					   placeholder="State / Province"
					   ng-blur="getFunc('save')(Entity, current)"
					   ng-model="currentAddress.State">
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label for="Name">Postal Code</label>
				<input type="text" class="form-control"
					   placeholder="Postal Code"
					   ng-blur="getFunc('save')(Entity, current)"
					   ng-model="currentAddress.PostalCode">
			</div>
		</div>
	</div>
</script>
