﻿<ng-include src="'address-cell-' + currentAddress.AddressFormType"></ng-include>
<script type="text/ng-template" id="address-cell-SIMPLE">
	{{currentAddress.DisplayAddress}}
</script>
<script type="text/ng-template" id="address-cell-PERSON">
	{{currentAddress.DisplayAddress}}
</script>
<script type="text/ng-template" id="address-cell-SERVICE">
	{{currentAddress.DisplayAddress}}
</script>

