﻿
<ng-include ng-if="currentContact.ContactFormType" src="'contact-edit-' + currentContact.ContactFormType"></ng-include>

<script type="text/ng-template" id="contact-edit-SIMPLE">
    <h4>
        <!--<i class="fa fa-phone"></i>-->
        {{currentContact.ContactTitle}}
    </h4>
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label for="Name">Phone</label>
                <input type="text" class="form-control"
                       ui-mask="{{masks.phone}}"
                       ng-blur="getFunc('save')(Entity, current)"
                       ng-model="currentContact.PersonalPhone">
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label for="Name">Email</label>
                <input type="text" class="form-control"
                       placeholder="Email"
                       ng-blur="getFunc('save')(Entity, current)"
                       ng-model="currentContact.Email">
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="contact-edit-PERSON">
    <h4>
        <!--<i class="fa fa-male"></i>-->
        {{currentContact.ContactTitle}}
    </h4>
    <div class="row">
        <div class="col-md-5">
            <label for="Name">First Name</label>
            <input type="text" class="form-control"
                   placeholder="First Name"
                   ng-blur="getFunc('save')(Entity, current)"
                   ng-model="currentContact.FirstName">
        </div>
        <div class="col-md-5">
            <label for="Name">Last Name</label>
            <input type="text" class="form-control"
                   placeholder="Last Name"
                   ng-blur="getFunc('save')(Entity, current)"
                   ng-model="currentContact.LastName">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="Name">Office Phone</label>
                <input type="text" class="form-control"
                       ui-mask="{{masks.phone}}"
                       ng-blur="getFunc('save')(Entity, current)"
                       ng-model="currentContact.OfficePhone">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="Name">Extension</label>
                <input type="text" class="form-control"
                       ng-blur="getFunc('save')(Entity, current)"
                       ng-model="currentContact.OfficeExt">
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label for="Name">Email</label>
                <input type="text" class="form-control"
                       placeholder="Email"
                       ng-blur="getFunc('save')(Entity, current)"
                       ng-model="currentContact.Email">
            </div>
        </div>

    </div>
    <br />
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label for="Name">Cell Phone</label>
                <input type="text" class="form-control"
                       ui-mask="{{masks.phone}}"
                       ng-blur="getFunc('save')(Entity, current)"
                       ng-model="currentContact.CellPhone">
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group" ng-hide="currentContact.ContactType == 'SalesContact' || currentContact.ContactType == 'FacilityContact'">
                <label for="Name">Personal Phone</label>
                <input type="text" class="form-control"
                       ui-mask="{{masks.phone}}"
                       ng-blur="getFunc('save')(Entity, current)"
                       ng-model="currentContact.PersonalPhone">
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="contact-edit-SERVICE">
    <h4>
        {{currentContact.ContactTitle}}
    </h4>
    <div class="row form-group">
        <div class="col-md-5">
            <label for="Name">Name</label>
            <input type="text" class="form-control"
                   placeholder="Name"
                   ng-blur="getFunc('save')(Entity, current)"
                   ng-model="currentContact.FirstName">
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label for="Name">Email</label>
                <input type="text" class="form-control"
                       placeholder="Email"
                       ng-blur="getFunc('save')(Entity, current)"
                       ng-model="currentContact.Email">
            </div>
        </div>
    </div>
  
    
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="Name">Office Phone</label>
                <input type="text" class="form-control"
                       ui-mask="{{masks.phone}}"
                       ng-blur="getFunc('save')(Entity, current)"
                       ng-model="currentContact.OfficePhone">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="Name">Extension</label>
                <input type="text" class="form-control"
                       ng-blur="getFunc('save')(Entity, current)"
                       ng-model="currentContact.OfficeExt">
            </div>
        </div>
       
    </div>
</script>

