﻿<ng-include src="'contact-cell-' + currentContact.ContactFormType"></ng-include>
<script type="text/ng-template" id="contact-cell-SIMPLE">
	<!--<i class="fa fa-phone" ng-show="currentContact.PersonalPhone.length > 0"></i>-->
	<span ng-bind="currentContact.PersonalPhone | tel"></span>
	<span ng-show="currentContact.PersonalPhone.length > 0 && currentContact.Email.length > 0">, </span>
	<!--<i class="fa fa-envelope" ng-show="currentContact.Email.length > 0"></i>-->
	<span>{{currentContact.Email}}</span>
</script>
<script type="text/ng-template" id="contact-cell-PERSON">
	{{currentContact.FirstName}} {{currentContact.LastName}} 
	<!--<i class="fa fa-phone" ng-show="currentContact.PersonalPhone.length > 0"></i>-->
	<span ng-bind="currentContact.PersonalPhone | tel"></span>
	<span ng-show="currentContact.PersonalPhone.length > 0 && currentContact.Email.length > 0">, </span>
	<!--<i class="fa fa-envelope" ng-show="currentContact.Email.length > 0"></i>-->
	<span>{{currentContact.Email}}</span>
</script>
<script type="text/ng-template" id="contact-cell-SERVICE">
</script>

