<div class="page page-dashboard" data-ng-controller="DashboardCtrl">

    <section >
        <section class="panel panel-default">
            <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Recent Activity</strong></div>
            <div class="panel-body">
                <div class="row" style="text-align: center;">


                    <img src="/Content/smart-dr-logo.png" class="main-logo"
                         style="width: 45%; margin-top: 20px;"/>
                </div>
            </div>
        </section>
    </section> 



</div>
  