<header class="top-header clearfix">

    <!-- Logo -->
    <div class="logo"
         ng-class="{ 'bg-dark': ['11','31'].indexOf(admin.skin) >= 0,
                     'bg-white': admin.skin === '21',
                     'bg-primary': ['12','22','32'].indexOf(admin.skin) >= 0,
                     'bg-success': ['13','23','33'].indexOf(admin.skin) >= 0,
                     'bg-info-alt': ['14','24','34'].indexOf(admin.skin) >= 0,
                     'bg-warning': ['15','25','35'].indexOf(admin.skin) >= 0,
                     'bg-danger': ['16','26','36'].indexOf(admin.skin) >= 0,
                    }">
        <a href="#/">
            <span>IDR Admin</span>
        </a>
    </div>

    <!-- needs to be put after logo to make it work -->
    <div class="menu-button" toggle-off-canvas>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>

    <div class="top-nav" style="height: 60px;">
        <ul class="nav-left list-unstyled">
            <li>
                <a href="#/" data-toggle-nav-collapsed-min
                             class="toggle-min"
                             ><i class="ti-menu"></i></a>
            </li>
          
        </ul> 

        <ul class="nav-right pull-right list-unstyled">
            
            <li ng-if="showProxy && !isPhysician && proxyPhysicians && proxyPhysicians.length > 1">
                <div class="form-group" style="margin-top: 10px;">
                    <select class="form-control ng-pristine ng-valid"
                            ng-model="proxyPhysicianId"
                            ng-options="p.Id as (p.Title + ' ' + p.FirstName + ' ' + p.LastName) for p in proxyPhysicians"
                            ng-change="proxyChanged(proxyPhysicianId)"></select>

                </div>
            </li>
            <li class="dropdown text-normal nav-profile">

                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" style="padding: 20px 15px;">
                    <span class="hidden-xs">
                        <span data-i18n="">
                            {{user.Firstname}} {{user.Lastname}}
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu with-arrow pull-right">

                    <li>
                        <a href="javascript:void(0);" onclick="xlogoff()" id="xlogoff">
                            <i class="ti-export"></i>
                            <span data-i18n="Log Out"></span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

</header>
