﻿<div class="row" ng-controller="ImageFileController">
    <div class="col-sm-12" >
        <div class="margin-top-10">
            <div class="dropzone" id="dropzone-control" dropzone="" image="currentImage"></div>
        </div>
        <div ng-if="currentImage.FileName" style="margin-top: 10px;">
            <img ng-src="/api/imagefiles/{{currentImage.Id}}" />
        </div>
    </div>
</div>


