﻿<div id="message-box" ng-controller="MessageController" class="margin-10">
	<div class="alert {{msg.class}}" ng-repeat="msg in messages" ng-hide="msg.hide" role="alert">
		{{msg.Message}}
	</div>
</div>