﻿<div class="table-filters">
    <div class="row">
        <div class="col-sm-4 col-xs-4">
            <form class="ng-valid ng-dirty">
                <input type="text" placeholder="Search..." class="form-control ng-valid ng-dirty"
                       data-ng-model="paging.Filter"
                       data-ng-keyup="loadList()"
                       style="-webkit-transition-timing-function: initial, initial; transition-timing-function: initial, initial; -webkit-transition-delay: initial, initial; transition-delay: initial, initial;">
            </form>
        </div>
        <div class="col-sm-4 col-xs-4 filter-result-info">
            <span class="ng-binding" ng-if="paging.TotalRecords>0">
                Displaying {{(paging.Offset * paging.Limit)+1}} to {{paging.currentRecords + (paging.Limit * paging.Offset)}} of {{paging.TotalRecords}} total records.
            </span>
            <span class="ng-binding" ng-if="paging.TotalRecords===0">
                Displaying {{paging.TotalRecords}} to {{paging.TotalRecords}} of {{paging.TotalRecords}} total records.
            </span>
        </div>

    </div>
</div>