﻿<footer class="table-footer">
	<div class="row">
		<div class="col-md-6 page-num-info">
			<span>
				Show
				<select data-ng-model="paging.Limit"
						data-ng-options="num for num in numPerPageOpt" data-ng-change="loadList()">
					<option value="0" label="3">3</option>
					<option value="1" label="5">5</option>
					<option value="2" selected="selected" label="10">10</option>
					<option value="3" label="20">20</option>
				</select>
				entries per page
			</span>
		</div>
		<div class="col-md-6 text-right pagination-container">
			<ul class="pagination-sm pagination"
				ng-model="paging.Offset"
				total-items="paging.TotalRecords"
				max-size="4"
				ng-change="setOffset(paging.Offset)"
				items-per-page="paging.Limit"
				rotate="false"
				previous-text="‹" next-text="›" boundary-links="true">

				<li ng-if="boundaryLinks" ng-class="{disabled: paging.Offset == 0}">
					<a href="" ng-click="setOffset(0)" class="ng-binding">First</a>
				</li>
				<li ng-if="directionLinks" ng-class="{disabled: paging.Offset == 0}"><a href="" ng-click="setOffset(paging.Offset - 1)" class="ng-binding">‹</a></li>

				<li ng-repeat="page in pages track by $index" ng-class="{active: $index == paging.Offset}"><a href="" ng-click="setOffset($index)">{{$index + 1}}</a></li>

				<li ng-if="directionLinks" ng-class="{disabled: paging.Offset == totalPages}"><a href="" ng-click="setOffset(paging.Offset + 1)" class="ng-binding">›</a></li>
				<li ng-if="boundaryLinks" ng-class="{disabled: paging.Offset == totalPages}"><a href="" ng-click="setOffset(totalPages)" class="ng-binding">Last</a></li>
			</ul>
		</div>
	</div>
</footer>
