﻿<div class="page forms-list" ng-controller="pdfEditController">
    <section class="panel panel-default table-dynamic">
        <div class="panel-heading">
            <strong>PDF Details</strong>
        </div>
        <br />
        <div class="col-sm-12  ">
            <button class="btn btn-success" ng-click="goBack()">Back to Practice</button>
        </div>
        <br />
        <br />
        <div class="panel-body" ng-hide="abc">
            <div class="row">
                <div class="col-sm-12">
                    <form name="imageForm">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label>PDF Tags</label>
                                    <input class="form-control"
                                           ng-hide="isNew"
                                           type="text"
                                           placeholder="Tags"
                                           ng-model="pdf.Alias"
                                           ng-blur="saveAlias()"
                                           required>

                                    <div class="row margin-top-20">
                                        <div class="col-sm-12">
                                            <label>Upload Replacement PDF file {{Id}}</label>
                                            <div class="dropzone" id="myDropzone" file-dropzone="" file="currentFile" action="/api/pdffiles/files/{{pdfId}}"></div>
                                        </div>
                                    </div>
                                    <hr />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </section>
</div>
