﻿<div class="page forms-list" ng-controller="CategoriesController">
    <section>
        <section class="panel panel-default">
            <div class="panel-heading"><strong><span class="glyphicon glyphicon-list"></span> Manage Categories</strong></div>
            <div class="panel-body">
                <div class="row">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12 " ng-show="isAdmin || isSuperAdmin">
                                <a class="btn btn-success" href="#/cms/categories">
                                    Back to List
                                </a>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-12">
                                <section class="panel panel-box">
                                    <div class="panel-top bg-dark">
                                        <i class="glyphicon glyphicon-tree-deciduous"></i>
                                        Categories
                                    </div>
                                    <div class="panel-bottom bg-reverse text-left">
                                        <div ng-include="'catTreeItem'">Category</div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>

<script type="text/ng-template" id="catTreeItem">
	<div class="form-leaf">
		<header>
			<i class="glyphicon glyphicon-leaf"></i>
			<i class="glyphicon glyphicon-chevron-up press-me"
			   ng-show="category.parent"
			   ng-click="setCurrent(category.parent)"></i>
            <span ng-repeat="par in category.parents" ng-click="setCurrent(par)">
                <span class="parent-link">
                    {{par.Name}}
                </span> \
            </span>
			#{{category.Id}} {{category.Name}}
            <div class="right-nav">
                <div class="btn-group">
                    <i class="glyphicon glyphicon-plus press-me" ng-click="addCat(category)"></i>
                    &nbsp;
                    <span ng-show="category._showDelete">
                        Are you sure?
                    </span> <span ng-show="category._showDelete">&nbsp;</span>
                    <i class="glyphicon glyphicon-thumbs-up press-me" ng-click="removeCat(category, category.parent);" ng-show="category._showDelete"></i> <span ng-show="category._showDelete">&nbsp;</span>
                    <i class="glyphicon glyphicon-thumbs-down press-me" ng-click="category._showDelete = false" ng-show="category._showDelete"></i> <span ng-show="category._showDelete">&nbsp;</span>
                    <i class="glyphicon glyphicon-remove press-me" ng-click="category._showDelete = true" ng-hide="category._showDelete"></i> <span ng-hide="category._showDelete">&nbsp;</span>
                </div>
            </div>
		</header>
		<div ng-include="'catProperties'"></div>
		<div ng-include="'subcatsList'"></div>
	</div>
</script>

<script type="text/ng-template" id="catProperties">
	<br />
	<form name="currentNode">
		<div class="form-group">
			<div>
				<div class="input-group">
					<span class="input-group-addon">
						<i class="glyphicon glyphicon-pencil"></i>
						Name
					</span>
                    <input type="text" class="form-control" placeholder="Category Name"
                           ng-blur="saveCat(category, currentNode)"
                           ng-model="category.Name">
				</div>
				<div class="divider"></div>
				<div class="input-group">
					<span class="input-group-addon">
						<i class="glyphicon glyphicon-pencil"></i>
						Desc.
					</span>
                    <input type="text" class="form-control" placeholder="Description"
                           ng-blur="saveCat(category, currentNode)"
                           ng-model="category.Description">
				</div>
			</div>
		</div>
	</form>
</script>

<script type="text/ng-template" id="subcatsList">
    <div class="child-leaf relative" ng-repeat="child in category.Subcategories">
        <div class="nav-left press-me" ng-click="setCurrent(child)">
            #{{child.Id}} {{child.Name}}
            <i class="glyphicon glyphicon-chevron-right"></i>
        </div>
        <div class="right-nav">
            <span ng-show="child._showDelete">
                Are you sure?
            </span> &nbsp;
            <i class="glyphicon glyphicon-thumbs-up press-me" ng-click="removeCat(child, category);" ng-show="child._showDelete"></i> &nbsp;
            <i class="glyphicon glyphicon-thumbs-down press-me" ng-click="child._showDelete = false" ng-show="child._showDelete"></i> &nbsp;
            <i class="glyphicon glyphicon-remove press-me" ng-click="child._showDelete = true" ng-hide="child._showDelete"></i> &nbsp;
        </div>
    </div>
</script>