﻿<div class="page forms-list" ng-controller="CategoriesController">
    <section>
        <section class="panel panel-default">
            <div class="panel-heading"><strong><span class="glyphicon glyphicon-list"></span> Manage Categories</strong></div>
            <div class="panel-body">
                <div class="row">
                    <div class="panel-body" >
                        <div class="row">
                            <div class="col-sm-12  ">
                                <a class="btn btn-danger" href="#/cms/categories/new">
                                    Create New Category
                                </a>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-3" ng-repeat="cat in Categories">
                                <section class="panel panel-box" ng-click="goto('/cms/categories/' + cat.Id)">
                                    <div class="panel-top bg-success">
                                    </div>
                                    <div class="panel-bottom bg-reverse">
                                        <p class="size-h1">
                                            {{cat.Name}}
                                        </p>
                                        <p class="text-muted">{{cat.Description}}</p>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body" ng-show="!user.IsAdmin">
                        You must have administrator privileges to manage categories.
                    </div>
                </div>
            </div>

        </section>
    </section>
</div>
