﻿@model idr.Domain.Portal.Dto.PatientProcedureDto
@{
    Layout = string.Empty;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
	<h1>Your treatment plan is available ...</h1>
	<img src="http://chart.googleapis.com/chart?cht=qr&chs=150x150&choe=UTF-8&chld=H&chl=@(Model.Code.ShortUrl)" alt="" />
	<br />
	<br />
	<a href="@(Model.Code.ShortUrl)">
		@(Model.Code.ShortUrl)
</a>

</body>
</html>
