﻿<div class="page forms-list" ng-controller="ImageEditController">
    <section class="panel panel-default table-dynamic">
        <div class="panel-heading">
            <strong>Upload Image</strong>
        </div>

        <div class="panel-body" ng-hide="abc">
            <div class="row">
                <div class="col-sm-12">
                    <form name="imageForm">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">

                                  
                                    <div class="row margin-top-20" >
                                        <div class="col-sm-12">
                                            <label>Upload Image</label>
                                            <div class="dropzone" dropzone id="dropzone" image="currentImage" onimageload="imageUploaded"></div>
                                        </div>
                                    </div>
                                  

                                </div>
                  
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </section>
</div>

