﻿<p class="alert alert-info alert-dismissable">
	A Run-Time Image is one that is found a the time that the content tree is actually built (i.e.: when the patient loads their treatment plan).
	This means that what you will see will be a placeholder image in the editor but when the app is run the user will see the desired image.
</p>
<div class="row">
	<div class="col-sm-6">
		<div class="dropdown btn-group">
			<button type="button" class="btn btn-sm btn-dark dropdown-toggle" data-toggle="dropdown">
				<span ng-show="!panel.IsBoundValue || !panel.BindPath || panel.BindPath.length == 0">
					Select a Bindable Image {...}
				</span>
				<span ng-show="panel.IsBoundValue && panel.BindPath && panel.BindPath.length > 0">
					{{panel.BindPath}}
				</span>
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li ng-click="selectBindable(bindable)" ng-repeat="bindable in treatmentBindables.Results | filter:{IsImage: true}">
					{{bindable.PathName}}
				</li>
			</ul>
		</div>
	</div>
	<div class="col-sm-6">
		<button class="btn btn-success" ng-click="ok()">Finish</button>
	</div>
</div>
