﻿<div class="page forms-list" ng-controller="ImageEditController">
    <section class="panel panel-default table-dynamic">
        <div class="panel-heading">
            <strong>Image Details</strong>
        </div>

        <div class="panel-body" ng-hide="abc">
            <div class="row">
                <div class="col-sm-12">
                    <form name="imageForm">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Attribute</th>
                                                <th>Value</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>File ID</td>
                                                <td>{{imageFile.Id}}</td>
                                            </tr>
                                            <tr>
                                                <td>File Name</td>
                                                <td>{{imageFile.FileName}}</td>
                                            </tr>
                                            <tr>
                                                <td>URL</td>
                                                <td>{{imageFile.Url}}</td>
                                            </tr>
                                        </tbody>

                                    </table>

                                    <label>Image Tags</label>
                                    <input class="form-control"
                                           ng-hide="isNew"
                                           type="text"
                                           placeholder="Tags"
                                           ng-model="imageFile.Alias"
                                           ng-blur="saveAlias()"
                                           required>


                                    <div class="row margin-top-20">
                                        <div class="col-sm-12">
                                            <label>Upload Replacement Image</label>
                                            <div class="dropzone" dropzone id="dropzoneEdit" image="currentImage" onimageload="imageUploaded"></div>
                                        </div>
                                    </div>
                                    <hr />

                                    <div class="row margin-top-20" >
                                        <div class="col-sm-12">
                                            <button class="btn btn-danger btn-w-lg"
                                                    idr-confirm="delete()"
                                                    idr-confirm-message="Are you sure you want to delete this image?">
                                                Delete Image
                                            </button>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <img ng-src="{{imageFile.Url}}" style="max-width: 100%;" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </section>
</div>

