﻿<div class="panel margin-top-10">
	
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
        <input type="text" class="form-control"
               ng-keyup="loadList()"
               placeholder="Search by name or alias" ng-model="paging.Filter" />
    </div>
</div>


<ul class="image-library" ng-if="images && images.length">
    <li data-ng-repeat="image in images" ng-class="{imageselected: image.selected}">
        <div ng-click="setImage(image)">
            <div>
                <img ng-src="{{image.Url}}" class="height-50" />
            </div>
        </div>
    </li>
</ul>
