﻿<div class="page forms-list" ng-controller="ImagesController">
    <section>
        <section class="panel panel-default">
            <div class="panel-heading"><strong><span class="glyphicon glyphicon-picture"></span> Manage Image Libraries</strong></div>
            <div class="panel-body">
                <div class="row">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12 " ng-show="isAdmin || isSuperAdmin">
                                <a class="btn btn-success" href="#/cms/images">
                                    Back to List
                                </a>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-12">
                                <section class="panel panel-box">
                                    <div class="panel-top bg-dark">
                                        <i class="glyphicon glyphicon-tree-deciduous"></i>
                                        Image Libraries
                                    </div>
                                    <div class="panel-bottom bg-reverse text-left">
                                        <div class="form-leaf">
                                            <header>
                                                <i class="glyphicon glyphicon-leaf"></i>
                                                Image #{{img.Id}} {{img.FileName}}
                                                <div class="right-nav">
                                                    <span ng-show="img._showDelete">
                                                        Are you sure?
                                                    </span> &nbsp;
                                                    <i class="glyphicon glyphicon-thumbs-up press-me" ng-click="deleteImg(img);" ng-show="img._showDelete"></i> &nbsp;
                                                    <i class="glyphicon glyphicon-thumbs-down press-me" ng-click="img._showDelete = false" ng-show="img._showDelete"></i> &nbsp;
                                                    <i class="glyphicon glyphicon-remove press-me" ng-click="img._showDelete = true" ng-hide="img._showDelete"></i> &nbsp;
                                                </div>
                                            </header>
                                            <div ng-include="'imgProperties'"></div>
                                        </div>
                                    </div>
                                </section>
                                <div ng-include="'imgSave'"></div>
                                <div ng-include="'imgPreview'"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>

<script type="text/ng-template" id="imgProperties">
    <br />
    <form name="imgForm">
        <div class="form-group">
            <div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-file"></i>
                        Filename
                    </span>
                    <input type="text" class="form-control" placeholder="Image Filename"
                           ng-blur="saveImg(img, imgForm)"
                           ng-model="img.FileName">
                </div>
                <div class="divider"></div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-tag"></i>
                        Desc.
                    </span>
                    <input type="text" class="form-control" placeholder="Description"
                           ng-blur="saveImg(img, imgForm)"
                           ng-model="img.Description">
                </div>
                <div class="divider"></div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-cloud"></i>
                        Url
                    </span>
                    <input type="text" class="form-control" placeholder="Url"
                           ng-blur="saveImg(img, imgForm)"
                           ng-model="img.Url">
                </div>
                <div class="divider"></div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-expand"></i>
                        Enlargeable
                    </span>
                    <select class="form-control">
                        <option ng-click="img.IsEnlargeable=true;imgForm.$dirty=true;saveImg(img, imgForm)" ng-selected="img.IsEnlargeable">Yes</option>
                        <option ng-click="img.IsEnlargeable=false;imgForm.$dirty=true;saveImg(img, imgForm)" ng-selected="!img.IsEnlargeable">No</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</script>

<script type="text/ng-template" id="imgSave">
    <div class="row">
        <div class="col-sm-12">
            <a class="btn btn-success" href="#/cms/images/{{lib.Id}}">
                Save Image
            </a>
        </div>
    </div>
</script>


<script type="text/ng-template" id="imgPreview">
    <div class="row">
        <div class="col-sm-12">
            <br />
            <div class="panel">
                <div class="panel-body" style="text-align:center;">
                    <img src="{{img.Url}}" style="max-width:100%;" />
                </div>
            </div>
        </div>
    </div>
</script>
