﻿<div class="page forms-list" ng-controller="ImagesListController"
     service="imageFiles" service-fn="search">

    <section class="panel panel-default table-dynamic">
        <div class="panel-heading">
            <strong>Image Library</strong>
        </div>

        <div class="table-filters">
            <div class="row">
                <div class="col-sm-6 form-group ">
                    <div class="form-inline">
                        <div class="col-sm-8">
                            <input type="text" class="form-control" style="width: 100%;"
                                   placeholder="Search File Name or Tags"
                                   ng-model="filter" />
                        </div>
                        &nbsp;
                        <button class="btn btn-info" type="button"
                                ng-click="updateResults()">
                            Filter
                        </button>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="pull-right">
                        <a class="btn btn-success" href="/#/images/create">
                            Add New Image
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th>
                        <div class="th">
                            File Name
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            URL
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Tags
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Original
                        </div>
                    </th>
                    <th>
                        <div class="th">Actions</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="img in results">

                    <td>{{img.FileName}}</td>
                    <td>
                        <a ng-href="{{img.Url}}" target="_blank">{{img.Url}}</a>
                    </td>
                    <td>{{img.Alias}}</td>
                    <td>
                        <a ng-href="{{img.Url}}" target="_blank"><img style="width: 75px; height: 75px" ng-src="{{img.Url}}" /></a>
                    </td>
                    <td class="action-cell">
                        <div class="btn-group" dropdown is-open="status.isopen2">
                            <button type="button" class="btn btn-sm btn-info dropdown-toggle"> Select <span class="caret"></span> </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li>
                                    <a ng-href="{{img.Url}}" target="_blank">View Original</a>
                                    <a ng-href="/#/images/edit/{{img.Id}}">Edit</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <pagination boundary-links="true"
                    total-items="totalRecords"
                    ng-model="currentPage"
                    ng-change="setPage(currentPage-1)"
                    class="pagination-sm"
                    previous-text="&lsaquo;"
                    max-size="5"
                    next-text="&rsaquo;"
                    first-text="&laquo;"
                    last-text="&raquo;"></pagination>
    </section>
</div>
