﻿<div class="modal-header">
	<h3 class="modal-title">
		<i class="fa fa-file-image-o"></i>
		Image Library
	</h3>
</div>
<div class="modal-body">
	<div >
		<div class="padding-10">
			<tabset>
				<tab>
					<tab-heading>Image Search</tab-heading>
					<div class="tab-content">
						<ng-include src="'/partials/cms/images/find-existing-tab.html'" />
					</div>
				</tab>
				<!--<tab>
					<tab-heading>Run-time Image</tab-heading>
					<div class="tab-content">
						<ng-include src="'/partials/cms/images/bindable-tab.html'" />
					</div>
				</tab>-->
				<tab>
					<tab-heading>Upload</tab-heading>
					<div class="tab-content">
						<ng-include src="'/partials/cms/images/upload-tab.html'" />
					</div>
				</tab>
			</tabset>
		</div>
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="ok()" ng-disabled="image == null">OK</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>