﻿
    <div ng-controller="ImageFileController">
        <div class="row margin-top-20">
            <div class="col-md-12">
                <div class="dropzone" dropzone id="dropzoneX" dropzone="" image="currentImage" onimageload="imageUploaded"></div>
            </div>
        </div>
        
        <div class="row margin-top-10" ng-show="currentImage.Id">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Title">Image Tags</label>
                    <input type="text" class="form-control"
                           placeholder="Image Tags" 
                           ng-model="currentImage.Alias"
                           ng-blur="updateAlias()">

                </div>
            </div>

        </div>
    </div>

