﻿<div class="row">
    <div class="col-md-12">
        
        <div class="form-group" ng-show="node.Type.AllowedTypes.length > 0 || node.Type == null">
            <div class="row">
                <div class="col-sm-3">
                    <label>Content Structure</label>

                    <select class="form-control col-sm-4" ng-model="nodeTypeToAdd"
                            ng-options="type as type.Name for type in NodeTypes | filter:typesFilter"></select>
                </div>
                <div class="col-sm-3">
                    <label>&nbsp;</label><br/>
                    
                    <button type="button" class="btn btn-info"
                            ng-click="addNode(nodeTypeToAdd)">
                        Add
                    </button>

                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Order</th>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="child in node.Nodes | orderBy:'Sequence'">
                        <td>
                            <div ng-hide="node.isReadonly">
                                <button class="btn btn-xs btn-info"
                                        ng-disabled="$index == 0">
                                    <i class="fa fa-arrow-up"
                                       ng-click="moveUp(child, node, $index)"
                                       ng-hide="child._showDelete"></i>
                                </button>
                                <button class="btn  btn-xs btn-info" ng-disabled="$index == node.Nodes.length-1">

                                    <i class="fa fa-arrow-down"
                                       ng-click="moveDown(child, node, $index)"
                                       ng-hide="child._showDelete"></i>
                                </button>
                            </div>
                        </td>
                        <td>{{child.Id}}</td>
                        <td>{{child.Name}}</td>
                        <td>{{child.Type.Name}}</td>
                        <td>

                            <div class="btn-group" dropdown is-open="status.isopen2">
                                <button type="button" class="btn btn-sm btn-info dropdown-toggle"> Select <span class="caret"></span> </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li>
                                        <a href="javascript:;" ng-click="setNode(child)">Edit</a>
                                    </li>
                                    <li ng-hide="node.isReadonly">
                                        <a href="javascript:; " ng-click="copyNode(child, node)">Copy</a>
                                    </li>
                                    <li ng-hide="node.isReadonly">
                                        <a href="javascript:;"
                                           idr-confirm="removeNode(child, node);"
                                           idr-confirm-message="Are you sure you want to delete this child?">Delete</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

