﻿<form name="currentNode">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="Title">Navigation Title</label>
                <input type="text" class="form-control"
                       placeholder="Navigation Title"
                       ng-blur="saveNode(node, currentNode)"
                       ng-model="node.Title"
                       ng-disabled="node.isReadonly">

            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="Name">Page Title</label>
                <input type="text" class="form-control"
                       placeholder="Page Title"
                       ng-blur="saveNode(node, currentNode)"
                       ng-model="node.Name"
                       ng-disabled="node.isReadonly">

            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-6">
            <div class="form-group">
                <label for="Description">Sub-Menu Text</label>
                <input type="text" class="form-control"
                       placeholder="Sub Menu"
                       ng-blur="saveNode(node, currentNode)"
                       ng-model="node.SubMenuText"
                       ng-disabled="node.isReadonly">

            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="Description">Notes</label>
                <textarea name="Notes"
                          class="form-control"
                          ng-model="node.Description"
                          ng-blur="saveNode(node, currentNode)"
                          placeholder="Notes"
                          ng-disabled="node.isReadonly"></textarea>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
	        <div class="form-group">
		        <label for="Description">Image Data</label>
		        <textarea name="Notes"
                          class="form-control"
                          ng-model="node.ImageData"
                          ng-blur="saveNode(node, currentNode)"
                          placeholder="Image Data URI"
                          ng-disabled="node.isReadonly"></textarea>
	        </div>
        </div>
        <div class="col-md-6">
            <div ng-hide="readonly">
                <label>Editability</label><br />

                <label class="ui-checkbox">
                    <input name="physEd" type="checkbox"
                           ng-checked="node.IsPhysicianEditable"
                           ng-click="node.IsPhysicianEditable = !node.IsPhysicianEditable;
							   saveNode(node, currentNode, true)" />
                    <span>Is Physician Editable?</span>
                </label>
            </div>
            <div ng-show="node.isReadonly">
                <span>Not Physician Editable</span>
                <br />
                <br />
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <div>
                <div class="form-group" ng-repeat="currentProperty in node.Properties | orderBy:'Sequence'">
                    <label>
                        {{currentProperty.Name}}
                    </label>
                    <p class="alert alert-info margin-top-10" ng-if="currentProperty.Type.Description.length > 0">
                        {{currentProperty.Type.Description}}
                    </p>

                    <!--<div ng-if="showTemplates">
                        '/partials/cms/nodeTypes/{{currentProperty.Type.UIKey}}.html'
                        <br/>
                        {{currentProperty.Value}}
                    </div>-->
                    <ng-include src="'/partials/cms/nodeTypes/' + currentProperty.Type.UIKey + '.html'" />
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-hide="node.isReadonly">
        <div class="col-md-12">
            <div class="form-group" >
                <ng-include src="'/partials/cms/nodeTypes/CONTENT.html'" />
            </div>
        </div>
    </div>
</form>
