﻿
<form name="currentNode">
    <form role="form" name="currentTemplate">

        <div class="row margin-top-10">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Name">Name</label>
                    <input type="text" class="form-control"
                           placeholder="Name"
                           ng-blur="saveApp(node, currentNode)"
                           ng-model="node.Name">

                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="Description">Description</label>
                    <textarea name="Description"
                              class="form-control"
                              ng-model="node.Description"
                              ng-blur="saveApp(node, currentNode)"
                              placeholder="Description"></textarea>
                </div>
            </div>
        </div>
        <div class="row margin-top-10">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Name">CTSS Code</label>
                    <input type="text" class="form-control"
                           placeholder="CTSS Code"
                           ng-blur="saveApp(node, currentNode)"
                           ng-model="node.CtssCode">

                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" ng-hide="libraryType == 'content-template'">
                    <label for="Name">Days Active Post Procedure</label>
                    <input type="text" class="form-control"
                           placeholder="CTSS Code"
                           ng-blur="saveApp(node, currentNode)"
                           ng-model="node.Duration">


                </div>
            </div>
        </div>
        <div class="row margin-top-10">
            <div class="col-md-6">
                <div class="form-group" ng-hide="libraryType == 'content-template'">
                    <label for="Name">CPT Codes</label>
                 
                    <tagsinput ng-model="cptCodes"
                               on-change="saveAppWithCpt(node, currentNode)"></tagsinput>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <p class="alert alert-danger" ng-hide="node.LibraryType == 'content-template'">
                    Making this library Active means that physicians, patients, and users in general will have access immediately.
                </p>
            </div>
            <div class="col-md-6">
                <div class="form-group ta-left">
                    <label for="activeStatus">Status</label>
                    <br />
                    <label class="ui-checkbox">
                        <input name="activeStatus" type="checkbox" ng-model="rootNode.Active"
                               ng-change="saveApp(node, currentNode)" />
                        <span>Active?</span>
                    </label>
                </div>
            </div>

            <div class="col-md-6" ng-show="node.LibraryType == 'master-template'">

                <div class="form-group" ng-controller="DisciplinesController">
                    <label for="Discipline">Discipline</label>
                    <select ng-model="node.Discipline"
                            ng-change="saveApp(node, currentNode)"
                            ng-options="x.Name for x in Disciplines track by x.Id"
                            class="form-control"></select>
                </div>
            </div>
        </div>

        <div class="row margin-bottom-10">

            <div ng-show="node.LibraryType == 'content-template'">

                <div class="form-group">
   
                    <div class="col-sm-3">
                        <label>Template Attributes</label>
                        <select class="form-control "
                                ng-model="selectedAttribute"
                                ng-options="a as a.Name for a in availableAttributes"></select>
                    </div>
                    <div class="col-sm-3">
                        <label>&nbsp;</label><br />
                        <button type="button" class="btn btn-info"
                                ng-click="addAttribute(node, selectedAttribute)"
                                ng-disabled="!selectedAttribute">
                            Add
                        </button>
                    </div>
                    
                    <div class="col-sm-12">
                        <table class="table table-bordered table-striped margin-top-10">
                            <thead>
                                <tr>
                                    <th>Attribute Name</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="at in node.Attributes">
                                    <td>{{at.Name}}</td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-sm pull-right"
                                                ng-click="dissociateAttribute(node, at)">
                                            Remove
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</form>
