﻿<div class="page forms-list" ng-controller="NodesController">
    
    <ng-include src="'/partials/message.html'"></ng-include>
    <section>
        <section class="panel panel-default">
            <div class="panel-heading">
                <strong><span class="glyphicon glyphicon-floppy-disk"></span> Manage {{fullLibraryType.title}} Library</strong>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-3" ng-show="!__treeHidden">
						

	                    <a ng-hide="readonly || fullLibraryType.key == 'master-template'" class="btn btn-success btn-block" href="#/cms/libraries/{{fullLibraryType.key}}">
                            Back to {{fullLibraryType.title}} List
                        </a>
                        <div ng-show="readonly" style="height: 35px;">
                            
                        </div>

                        <ng-include src="'/partials/cms/nodes/node-tree.html'"></ng-include>
                    </div>
                    <div class="{{!__treeHidden ? 'col-sm-6 col-md-8 col-lg-9' : 'col-sm-12'}}">

                        <div class="panel-bottom bg-reverse text-left">
                            <div ng-if="node.NodeId">
                                <button class="btn btn-success" ng-click="setNode(node.parent)">Return to Parent</button>
                            </div>

                            <div ng-if="!node.NodeId && node.NodeLibraryId">
                                <button class="btn btn-success" ng-click="setNode(rootNode)">Return to Library</button>
                            </div>

                            <ng-include src="node.UINodeType"/>
                        </div>

                    </div>
                </div>
            </div>

        </section>
    </section>

</div>


<script type="text/ng-template" id="header_node_NodeLibrary_TreeItem">
    <header>

        <i class="glyphicon glyphicon-chevron-up press-me"
           ng-show="node.parent"
           ng-click="setNode(node.parent)"></i>
        Library #{{node.Id}} {{node.Name}}

    </header>
</script>

<script type="text/ng-template" id="header_node_Node_TreeItem">
    <header>
        <i class="glyphicon glyphicon-chevron-up press-me"
           ng-show="node.parent"
           ng-click="setNode(node.parent)"></i>
        <span ng-repeat="par in getParents(node, currentNode)" ng-click="setNode(par)">
            <span class="parent-link">
                <i class="fa fa-level-up fa-flip-horizontal"></i>
                {{par.Name}}
            </span>
            &nbsp;\&nbsp;
        </span>
        #{{node.Id}} {{node.Name}}
    </header>
</script>

<!-- Node Library content -->
<script type="text/ng-template" id="node_NodeLibrary_TreeItem">
    <div class="form-leaf">
        <div class="tab-panel">
            <!--lib Prop-->
            <div ng-include="'/partials/cms/nodes/edit-lib-properties.html'"></div>
        </div>

        <div class="tab-content">
            <div ng-include="'/partials/cms/nodes/child-nodes-list.html'"></div>
        </div>
    </div>
</script>

<!-- Node content -->
<script type="text/ng-template" id="node_Node_TreeItem">

    <div class="form-leaf">

        <div class="margin-top-20">
            <div class="alert alert-info">
                {{node.Type.Description}}
            </div>
            <div ng-include="'/partials/cms/nodes/edit-node-properties.html'"></div>
        </div>
        <div class="margin-10"
             ng-if="!node.IsSupplemented && node.Type.AllowedTypes.length > 0 || node.Type == null">
            <div ng-include="'/partials/cms/nodes/child-nodes-list.html'"></div>
        </div>


        <div class="row margin-10"
             ng-if="node.Type.UIKey == 'reuse'"
             ng-show="node.ChildTemplate != null">
            <div class="col-md-6">
                <label>Selected Content Template</label><br />
                {{node.ChildTemplate.Name}}
            </div>
            <div class="col-md-6">
                <label></label><br />
                <button class="btn btn-danger"
                        ng-click="unassignChildTemplate(node)">
                    Remove
                </button>
            </div>
        </div>


        <div class="row margin-10"
             ng-show="node.ChildTemplate == null"
             ng-if="node.Type.UIKey == 'reuse'">
            <div class="col-md-6">
                <label>Filter</label>
                <select class="form-control" ng-model="currentAttribute" ng-options="a.Name for a in attributes"></select>
            </div>
            <div class="col-md-6">
                <label>&nbsp;</label><br />
                <button type="button" class="btn btn-success"
                        ng-click="filterAttributes(currentAttribute)">
                    Add to Filter
                </button>
            </div>
        </div>

        <div class="row margin-10"
             ng-show="node.ChildTemplate == null && attributeFilters.length"
             ng-if="node.Type.UIKey == 'reuse'">
            <div class="col-md-12">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Filter Criteria</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="flt in attributeFilters">
                            <td>{{flt.Name}}</td>
                            <td>
                                <button type="button" class="btn btn-danger btn-sm pull-right"
                                        ng-click="removeFilter(flt)">
                                    Remove
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row margin-10"
             ng-if="node.Type.UIKey == 'reuse'"
             ng-show="node.ChildTemplate == null && attributeFilters.length">
            <div class="col-md-12">
                <label>Select from availabe templates</label>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="avt in availableTemplates">
                            <td>{{avt.Name}}</td>
                            <td>
                                <button type="button" class="btn btn-success btn-sm pull-right"
                                        ng-click="addTemplateToNode(avt)">
                                    Select
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</script>

<script id="nodeSupplementableProperties" type="text/ng-template">

    <form name="currentSupplementableNode">
        <div class="row">
            <div class="col-md-12">


                <div class="alert alert-danger alert-dismissable">
                    When a <strong>Page</strong> is "Physician Configurable", the Physician will determine the appropriate content from a selection of available content based upon the Library selected here.
                    <br />
                    <br />
                    The options with which the Physician will be presented will be the root nodes beneath the selected Library.
                </div>

                <div>
                    <label class="">
                        Allow multiple selections?
                    </label>

                    <input type="checkbox"
                           ng-checked="node.SupplementMultiple"
                           ng-click="node.SupplementMultiple = !node.SupplementMultiple;
							   saveNode(node, currentSupplementableNode, true)" />
                </div>
                <div class="form-group">
                    <label for="Name">Select a Library</label>



                </div>
                <div class="form-group">
                    <label for="Name">Name</label>
                    <input type="text" class="form-control"
                           placeholder="Page Title"
                           ng-blur="saveNode(node, currentSupplementableNode)"
                           ng-model="node.Name">

                </div>
                <div class="form-group">
                    <label for="Description">Notes</label>
                    <textarea name="Notes"
                              class="form-control"
                              ng-model="node.Description"
                              ng-blur="saveNode(node, currentSupplementableNode)"
                              placeholder="Notes"></textarea>
                </div>

            </div>
        </div>
    </form>
</script>

<script type="text/ng-template" id="node_VIDEOCONTENT.html">

    <input type="text"
           ng-blur="saveNode(node, currentNode)"
           class="form-control"
           ng-model="prop.Value" />
</script>
