﻿<div class="page forms-list" ng-controller="NodesListController">
    <ng-include src="'/partials/message.html'"></ng-include>

    <section class="panel panel-default table-dynamic">
        <div class="panel-heading">
            <strong>Manage {{fullLibraryType.title}} Libraries</strong>
        </div>

        <div class="table-filters">
            <div class="row">
                <div class="col-sm-12">
                    <a class="btn btn-success" href="#/cms/nodes/new/{{libraryType}}">
                        Start New {{fullLibraryType.title}} Library
                    </a>
                </div>
            </div>
        </div>

        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th class="pointer">
                        <div class="th" ng-click="order('Id')">
                            ID
                            <i class="fa " ng-show="predicate === 'Id'" 
                               ng-class="{'fa-arrow-down':reverse, 'fa-arrow-up': !reverse}"></i>
                        </div>
                    </th>
                    <th class="pointer" ng-hide="libraryType == 'content-template'">
                        <div class="th">
                            CPT

                        </div>
                    </th>
                    <th class="pointer">
                        <div class="th">
                            CTSS

                        </div>
                    </th>
                    <th class="pointer">
                        <div class="th" ng-click="order('Name')">
                            Name
                            <i class="fa " ng-show="predicate === 'Name'"
                                ng-class="{'fa-arrow-down':reverse, 'fa-arrow-up': !reverse}"></i>
                        </div>
                    </th>
                    <th class="pointer">
                        <div class="th" ng-click="order('Description')">
                            Description
                            <i class="fa " ng-show="predicate === 'Description'" 
                               ng-class="{'fa-arrow-down':reverse, 'fa-arrow-up': !reverse}"></i>
                        </div>
                    </th>
                    <th><div class="th">&nbsp;</div></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="node in Nodes | orderBy:predicate:reverse">
                    <td>{{node.Id}}</td>
                    <td ng-hide="libraryType == 'content-template'">
						<!--<span ng-repeat="cpt in node.CptCodes">{{cpt.Code}}<span ng-hide="$last">,&nbsp;</span></span>-->
                        <div ng-repeat="cpt in node.CptCodes">{{cpt.Code}}</div>
                    </td>
                    <td>{{node.CtssCode}}</td>
                    <td>{{node.Name}}</td>
                    <td>{{node.Description}}</td>
                    <td class="action-cell">
                        <div class="btn-group" dropdown is-open="status.isopen2">
                            <button type="button" class="btn btn-sm btn-info dropdown-toggle"> Select <span class="caret"></span> </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li ng-hide="libraryType == 'content-template'">
                                    <a href="javascript:;" ng-click="testDrive(node.Id)">Test Drive</a>
                                </li>
                                <li>
                                    <a href="#/cms/nodes/{{node.Id}}/{{libraryType}}">Edit</a>
                                </li>
                                <li>
                                    <a href="javascript:; " ng-click="copyApp(node)">Copy</a>
                                </li>
                                <li ng-if="libraryType == 'master-template'">
                                    <a href="#/plans/{{node.Id}}/notifications">Manage Notifications</a>
                                </li>
                                <li ng-if="node.IsDemoPlan == false">
                                    <a href="javascript:;"
                                       idr-confirm="removeType(node)"
                                       idr-confirm-message="Are you sure you want to delete this item?">Delete</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>
