﻿<div class="cms">
    <div ng-repeat="treeNode in [rootNode]" ng-include="'tree-node-x'"></div>
</div>


<script id="tree-node-x" type="text/ng-template">
    <div class="angular-ui-tree">
        <ul class="angular-ui-tree-nodes">
            <!--class="top-node"-->
            <li class="angular-ui-tree-node">
                <!--class="abbreviate"-->
                <div class="angular-ui-tree-handle">

                    <div ng-click="setNode(treeNode)" style="width: 100%;" 
                         ng-class="{'current-node':treeNode.Id == node.Id && treeNode.Key == node.Key}">
                        <i class=" fa fa-chevron-down cursor"
                           ng-class="{ 'fa-chevron-down' : !treeNode.__collapsed, 'fa-chevron-right':treeNode.__collapsed }"
                           ng-click="treeNode.__collapsed = !treeNode.__collapsed"
                           ng-show="treeNode.Nodes.length > 0">
                        </i>
                        <i class="fa" ng-show="treeNode.Nodes.length == 0"></i>
                        
                        <i class="fa fa-{{treeNode.MenuIconStyle}}"></i>
                        {{getDisplayText(treeNode)}}
                    </div>
                    <div ng-hide="treeNode.__collapsed">
                        <!--ng-hide="treeNode.__collapsed"-->
                        <div ng-repeat="treeNode in treeNode.Nodes  | orderBy:'Sequence'" ng-include="'tree-node-x'"></div>
                    </div>
                </div>
            </li>
        </ul>

    </div>
</script>

<script type="text/ng-template" id="icon_node_NodeLibrary_TreeItem">
    <i class="fa fa-book"></i>

</script>
<script type="text/ng-template" id="icon_node_Node_TreeItem">
    <i class="fa fa-file"></i>
</script>