﻿<div class="page forms-list" ng-controller="EmailTemplatesEditController">
    <section>

        <div class="table-filters">
            <div class="row">
                <div class="col-sm-12  ">
                    <a class="btn btn-success" href="#/emailtemplates">
                        Back To Email Template List
                    </a>
                </div>
            </div>
        </div>
        <br />

        <section class="panel panel-default">
            <div class="panel-heading">
                <strong><i class="fa fa-stethoscope"></i> Edit Email Template {{template.Title}}</strong>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <section class="panel panel-box">
                                    <div class="panel-bottom bg-reverse text-left">
                                        <form name="current">
                                            

                                            <div class="row">
                                                <div class="col-md-12" ng-if="template.Content">
                                                    <textarea ng-model="template.Content" ui-tinymce="editorOptions"></textarea>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>

