﻿<div class="page forms-list" ng-controller="EmailTemplatesListController">
    <section class="panel panel-default table-dynamic">
        <div class="panel-heading">
            <strong>Email Templates</strong>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Template Name</th>
                                <th>Alias</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="template in templates">
                                <td>{{template.Title}}</td>
                                <td>{{template.Alias}}</td>
                                <td>
                                    <a href="#/emailtemplates/edit/{{template.Alias}}" class="btn btn-primary pull-right">Edit</a>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>

        </div>
    </section>
</div>

