﻿<h4 class="alert-info" ng-hide="doneAccessCodes">
	<i class="fa fa-spinner fa-spin"></i>
	Step #3. We're generating patient access codes.
</h4>

<h4 ng-show="doneAccessCodes && !wizard.existing">
	Step #3. We've generated patient access codes.
</h4>

<h4 ng-show="wizard.existing">
	Patient Access Codes
</h4>

<div class="tile row" ng-show="doneAccessCodes">
	<div class="col-md-10">

		<div class="tile-row" ng-show="currentProcedure.Code.HasQrCode">
			<div class="col-sm-8">
				<label>Treatment Plan Invitation Qr Code:</label>
			</div>
			<div class="col-sm-4">
				<a href="{{Patient.Code.ShortUrl}}" target="_blank">
					<img ng-src="http://chart.googleapis.com/chart?cht=qr&chs=150x150&choe=UTF-8&chld=H&chl={{currentProcedure.Code.ShortUrl}}" alt="" />
				</a>
			</div>
		</div>

	</div>
	<div class="clear"></div>
</div>

<h4 ng-show="doneAccessCodes && !wizard.existing">
	Step #4 - Verify Patient's Email and Send Treatment Plan
</h4>
<h4 ng-show="wizard.existing">
	Resend Treatment Plan
</h4>
<div class="row tile" ng-show="doneAccessCodes">
	<div class="col-md-6">
		<div>
			<label>Invitation Email</label>
			<input type="text"
				   class="form-control"
				   ng-blur="saveProcedure(currentProcedure)"
				   ng-model="currentProcedure.ProvisionalEmail" />
		</div>
	</div>
	<div class="col-md-3">
		<br />
        <button class="btn btn-success" ng-click="invitePatient(currentProcedure)">
            <i class="fa fa-envelope"></i>
            Send Treatment Plan
        </button>
	</div>
	<div class="col-md-3">
		<br />
		<a class="btn btn-danger" href="/Invitation/Print/{{currentProcedure.ProcedureId}}" target="_blank">
			<i class="fa fa-info"></i>
			Print Invitation
		</a>
	</div>
	<div class="clear"></div>
</div>
