﻿<div class="page patients-list" ng-controller="NewPatientWizardController">
	<section class="panel panel-default">
		<div class="panel-heading"><strong><i class="fa fa-forward"></i> Add Patient / Procedure</strong></div>
	    <div class="panel-body">
	        <ng-include src="'/partials/message.html'"></ng-include>

	        <div class="row">
	            <div class="col-sm-12  ">
	                <a class="btn btn-success" href="#/physician/patients">
	                    Back to My Patients
	                </a>
	            </div>
	        </div>
	        <br/>

	    </div>
	</section>
</div>