﻿<div class="tile">
	<label>Add a new Patient</label>
	<hr />
	<form name="newPatientFrm">
		<div class="row">
			<div class="col-md-4">
				<div class="margin-5">
					<label>
						MRN
					</label>
					<input type="text"
						   class="form-control" required
						   ng-model="currentPatient.MRN" />

				</div>
				<div class="margin-5">
					<label>Email</label>
					<input type="email"
						   required
						   class="form-control"
						   ng-model="currentPatient.ProvisionalEmail" />
				</div>
			</div>

			<div class="col-md-4">
				<div class="margin-5">
					<label>
						First Name
					</label>
					<input type="text"
						   class="form-control" required
						   ng-required="true"
						   ng-model="currentPatient.FirstName" />
				</div>
				<div class="margin-5">
					<label>
						Last Name
					</label>
					<input type="text"
						   class="form-control" required
						   ng-required="true"
						   ng-model="currentPatient.LastName" />
				</div>
			</div>
			<div class="col-md-4">
				<div class="margin-5">
					<label>Age</label>
					<input type="number"
						   class="form-control" required
						   ng-model="currentPatient.Age" />
				</div>
			</div>
			<div class="clearfix"></div>
		</div>

	</form>
	<hr />
	<div class="row">
		<div class="col-md-12">
			<button class="btn btn-default" ng-click="clearPatient()">
				<i class="fa fa-chevron-left"></i>
				Search Again
			</button>

            <button class="btn btn-success" ng-click="saveNewPatient(newPatientFrm)">
                Create Patient &amp; Select
                <i class="fa fa-save"></i>
            </button>
		</div>
	</div>
</div>
