﻿<div class="page forms-list" ng-controller="PhysicianDashboardController">

    <section class="panel panel-default table-dynamic">
        <div class="panel-heading">
            <strong>Compliance Tracking</strong>
        </div>
        <div class="table-filters">
            <div class="row">
                <div class="col-sm-4 margin-top-10">
                    <label>Procedure Date</label>

                    <div class="input-group ui-datepicker">
                        <input type="text" class="form-control"
                               datepicker-popup="MM/dd/yyyy"
                               ng-model="date"
                               is-open="calendarOpen"
                               close-text="Close"
                               ng-click="calendarOpen = true"
                               ng-change="filterChanged()" />

                        <span class="input-group-addon"><i class="ti-calendar"></i></span>
                    </div>
                </div>
                <div class="col-sm-3 margin-top-10">
                    <label>Procedure Filter </label>

                    <div class="form-group">
                        <select class="form-control ng-pristine ng-valid"
                                ng-model="range"
                                ng-change="filterChanged()">
                            <option value="0" selected="selected">All Messages</option>
                            <option value="1">Pre-Op</option>
                            <option value="2">Post-Op</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3 margin-top-10">
                    <label>Requirement Filter</label>

                    <div class="form-group">
                        <select class="form-control ng-pristine ng-valid"
                                ng-model="required"
                                ng-change="filterChanged()">
                            <option value="0" selected="selected">All Messages</option>
                            <option value="1">Required Only</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th style="width: 15%">
                            Schedule Date/Time
                        </th>
                        <th style="width: 15%">
                            Patient
                        </th>
                        <th style="width: 15%">Physician Name</th>
                        <th style="width: 40%">
                            Procedure
                        </th>
                        <th style="width: 10%">
                            Actions
                        </th>
                    </tr>
                </thead>
                <tr ng-repeat="item in data" ng-if="!item.hide && (required == 0 || (required == 1 && item.HasRequired))">
                    <td>
                        {{item.StartDate | date:'short'}}
                    </td>
                    <td>
                        <div>
                            {{item.PatientFirstName}} {{item.PatientLastName}}<br/>
                            {{item.PatientPhone}}
                        </div>
                    </td>
                    <td>{{item.PhysicianFirstName}} {{item.PhysicianLastName}}</td>
                    <td>
                        <div>
                            {{item.ProcedureName}}
                        </div>

                        <div>
                            <table>
                                <tr>
                                    <td style="padding: 5px;" ng-repeat="n in item.DashboardNotifications" ng-if="n.isInOpFilter && (required == 0 || (required == 1 && n.Required)) ">
                                        <div>
                                            <div ng-if="!n.Sent && (required == 0 || (required == 1 && n.Required))" uib-popover="{{n.Message}}">
                                                <i class="fa fa-circle-o dashboard"
                                                   tooltip="{{n.Message}}"></i>
                                            </div>
                                            <div ng-if="n.SentNotRequired && (required == 0 || (required == 1 && n.Required))">
                                                <i class="fa fa-circle dashboard dashboard-success"
                                                   tooltip="{{n.Message}}"></i>
                                            </div>
                                            <div ng-if="n.SentRespondedNotTriggered && (required == 0 || (required == 1 && n.Required))">
                                                <i class="fa fa-circle dashboard dashboard-success"
                                                   tooltip="{{n.Message}}"></i>
                                            </div>
                                            <div ng-if="n.SentRespondedTriggered && (required == 0 || (required == 1 && n.Required))">
                                                <i class="fa fa-circle dashboard dashboard-error"
                                                   tooltip="{{n.Message}}"></i>
                                            </div>
                                            <div ng-if="n.SentNoResponseRepeating && (required == 0 || (required == 1 && n.Required))">
                                                <i class="fa fa-circle dashboard dashboard-caution"
                                                   tooltip="{{n.Message}}"></i>
                                            </div>
                                            <div ng-if="n.SentAllNoResponseRepeating && (required == 0 || (required == 1 && n.Required))">
                                                <i class="fa fa-circle dashboard dashboard-warn"
                                                   tooltip="{{n.Message}}"></i>
                                            </div>
                                        </div>

                                    </td>
                                    
                                  
                                    <!--<td style="padding: 5px;" ng-repeat="n in item.DashboardNotifications"  ng-if="required == 1 && n.Required">

                                        <div ng-if="required == 1">
                                            <div ng-if="!n.Sent && n.Required" uib-popover="{{n.Message}}">
                                                <i class="fa fa-circle-o dashboard"
                                                   tooltip="{{n.Message}}"></i>
                                            </div>
                                            <div ng-if="n.SentNotRequired && n.Required">
                                                <i class="fa fa-circle dashboard dashboard-success"
                                                   tooltip="{{n.Message}}"></i>
                                            </div>
                                            <div ng-if="n.SentRespondedNotTriggered && n.Required">
                                                <i class="fa fa-circle dashboard dashboard-success"
                                                   tooltip="{{n.Message}}"></i>
                                            </div>
                                            <div ng-if="n.SentRespondedTriggered && n.Required">
                                                <i class="fa fa-circle dashboard dashboard-error"
                                                   tooltip="{{n.Message}}"></i>
                                            </div>
                                            <div ng-if="n.SentNoResponseRepeating && n.Required">
                                                <i class="fa fa-circle dashboard dashboard-caution"
                                                   tooltip="{{n.Message}}"></i>
                                            </div>
                                            <div ng-if="n.SentAllNoResponseRepeating && n.Required">
                                                <i class="fa fa-circle dashboard dashboard-warn"
                                                   tooltip="{{n.Message}}"></i>
                                            </div>
                                        </div>
                                    </td>-->
                                </tr>
                            </table>

                        </div>
                    </td>
                    <td style="width: 10%">
                        <div class="pull-right">
                            <a class="btn btn-sm btn-info" target="_blank" href="/#/procedures/{{item.ProcedureId}}/dashboard" type="button">View Patient Detail</a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

    </section>
</div>




