﻿<div class="page forms-list" ng-controller="PhysiciansController">
    <ng-include src="'/partials/message.html'"></ng-include>
    <section ng-if="Entity">
        <section class="panel panel-default">
            <div class="panel-heading"><strong><i class="fa fa-stethoscope"></i> My Physician Profile</strong></div>

            <div class="panel-body">
                <div class="row">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <section class="panel panel-box">
                                    <div class="panel-bottom bg-reverse text-left">
                                        <form name="current">
                                            <div class="row">
                                                <div class="col-md-8 col-md-offset-1" ng-repeat="currentImage in [Entity.Portrait]">
                                                    <ng-include src="'/partials/image-view-larger.html'"></ng-include>
                                                    <br />
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row">
                                                <div class="col-md-8 col-md-offset-1">
                                                    <tabset>
                                                        <tab>
                                                            <tab-heading>Physician Info</tab-heading>
                                                            <div class="fa-border padding-10">
                                                                <div class="row">
                                                                    <div class="col-md-8 col-md-offset-1">
                                                                        <div class="form-group">
                                                                            <label for="Name">Title</label>
                                                                            <input type="text" class="form-control"
                                                                                   placeholder="Title"
                                                                                   ng-blur="savePhysician(Entity, current)"
                                                                                   ng-model="Entity.Title">

                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="col-md-8 col-md-offset-1">
                                                                        <div class="form-group">
                                                                            <label for="Name">First Name</label>
                                                                            <input type="text" class="form-control"
                                                                                   placeholder="First Name"
                                                                                   ng-blur="savePhysician(Entity, current)"
                                                                                   ng-model="Entity.FirstName">

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-8 col-md-offset-1">
                                                                        <div class="form-group">
                                                                            <label for="Name">Last Name</label>
                                                                            <input type="text" class="form-control"
                                                                                   placeholder="Last Name"
                                                                                   ng-blur="savePhysician(Entity, current)"
                                                                                   ng-model="Entity.LastName">

                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="col-md-8 col-md-offset-1">
                                                                        <div class="form-group" ng-controller="DisciplinesController">
                                                                            <label for="Discipline">Discipline<span ng-show="Entity.Discipline"> ({{Entity.Discipline.Name}})</span></label>
                                                                            <select ng-model="Entity.Discipline"
                                                                                    ng-change="savePhysician(Entity, current)"
                                                                                    ng-options="x.Name for x in Disciplines track by x.Name"
                                                                                    class="form-control"></select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </tab>

                                                        <tab ng-show="Entity.IsProvisional">
                                                            <tab-heading>Invitiation </tab-heading>
                                                            <div class="fa-border padding-10">

                                                                <div class="form-group">
                                                                    <label for="Name">Physician Email for Invitation</label>
                                                                    <input type="text" class="form-control"
                                                                           placeholder="Provisional Email"
                                                                           ng-blur="savePhysician(Entity, current)"
                                                                           ng-model="Entity.ProvisionalEmail">

                                                                </div>
                                                                <button ng-show="Entity.ProvisionalEmail.length > 0" class="btn btn-info" ng-click="sendInvitation(Entity.Id)">
                                                                    <i class="fa fa-mail-forward"></i>
                                                                    Send invitation
                                                                </button>

                                                            </div>
                                                        </tab>
                                                        <tab>
                                                            <tab-heading>Contacts</tab-heading>
                                                            <div class="fa-border padding-10">
                                                                <tabset vertical="true" type="navType">
                                                                    <tab>
                                                                        <tab-heading>
                                                                            {{Entity.DirectContact.ContactTitle}}
                                                                        </tab-heading>
                                                                        <div class="fa-border padding-20">
                                                                            <div ng-repeat="currentContact in [Entity.DirectContact]">
                                                                                <ng-include src="'/partials/contact-edit.html'"></ng-include>
                                                                            </div>
                                                                        </div>
                                                                    </tab>
                                                                    <tab>
                                                                        <tab-heading>
                                                                            {{Entity.OnCallContact.ContactTitle}}
                                                                        </tab-heading>
                                                                        <div class="fa-border padding-20">
                                                                            <div ng-repeat="currentContact in [Entity.OnCallContact]">
                                                                                <ng-include src="'/partials/contact-edit.html'"></ng-include>
                                                                            </div>
                                                                        </div>
                                                                    </tab>
                                                                    <tab>
                                                                        <tab-heading>
                                                                            {{Practice.SchedulingContact.ContactTitle}}
                                                                        </tab-heading>
                                                                        <div class="fa-border padding-20">
                                                                            <div ng-repeat="currentContact in [Entity.SchedulingContact]">
                                                                                <ng-include src="'/partials/contact-edit.html'"></ng-include>
                                                                            </div>
                                                                        </div>
                                                                    </tab>
                                                                </tabset>
                                                            </div>
                                                        </tab>
                                                        <tab>
                                                            <tab-heading>Picture</tab-heading>
                                                            <div class="fa-border padding-10">
                                                                <div ng-repeat="currentImage in [Entity.Portrait]">
                                                                    <ng-include src="'/partials/image-edit.html'" />
                                                                </div>
                                                            </div>
                                                        </tab>
                                                        <tab>
                                                            <tab-heading>Facilities</tab-heading>
                                                            <div class="fa-border padding-10">
                                                                <div class="row">
                                                                    <div class="col-sm-12  ">
                                                                        <button class="btn btn-success" style="color: white" ng-click="addFacility()">
                                                                            Add Facility
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                                <br />
                                                                <div class="table-responsive">
                                                                    <table class="table table-striped table-bordered">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Facilities</th>
                                                                                <th class="action-header width-10">Actions</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr ng-repeat="facility in Entity.Facilities">
                                                                                <td class="discipline-cell" ng-if="!facility._new">{{facility.Facility.Name}}</td>
                                                                                <td class="discipline-cell" ng-if="facility._new">
                                                                                    <select class="form-control"
                                                                                            ng-model="facility.Facility"
                                                                                            ng-options="fac.Name group by fac.Company.Name for fac in Facilities track by fac.Id"
                                                                                            ng-change="setFacilityAssign(facility, current)"></select>
                                                                                </td>
                                                                                <td class="ta-center action-cell">
                                                                                    <span ng-show="p._hideActions">Are you sure?</span>
                                                                                    <a ng-show="p._hideActions" href="javascript:void(0)" ng-click="removeFacilityAssign($index, current)">
                                                                                        <i class="fa fa-thumbs-up"></i>
                                                                                    </a>
                                                                                    <a ng-show="p._hideActions" href="javascript:void(0)" ng-click="p._hideActions = false">
                                                                                        <i class="fa fa-thumbs-down"></i>
                                                                                    </a>
                                                                                    <a ng-show="!p._hideActions" href="javascript:void(0)" ng-click="p._hideActions = true">
                                                                                        <i class="fa fa-trash-o"></i>
                                                                                    </a>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>

                                                            </div>
                                                        </tab>


                                                    </tabset>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>

