﻿
<div class="row" ng-hide="wizard.existing">
	<div class="col-md-8">
		<div class="form-group">
			<input type="text" class="form-control" value="" placeholder="Search"
				   data-ng-model="paging.Filter"
				   data-ng-keyup="loadList()" />
		</div>
	</div>
	<div class="col-md-4" >
        <button class="btn btn-success" ng-click="startNewPatient()">
            OR Create New Patient
        </button>
	</div>
</div>
<div class="row">
	<div class="col-md-10">
		<ul class="tile-list">
			<li data-ng-repeat="patient in Patients.Results">
				<div class="italic press-me" ng-click="setPatient(patient)">
					<i class="fa fa-arrow-right"></i> Select: #{{patient.MRN}}
					{{patient.FirstName}}
					{{patient.LastName}}
				</div>
			</li>
		</ul>
		<div class="italic" ng-show="Patients.TotalRecords > 4">
			Search returned {{Patients.TotalRecords}} patients, please change search criteria.
		</div>
	</div>
</div>