﻿<div class="page physician-profile" ng-controller="PhysicianController">
    <section>
        <section class="panel panel-default">
            <div class="panel-heading"><strong><span class="fa fa-stop"></span> You have not yet been assigned to a Physician.  Please contact your Administrator. </strong></div>
         </section>
    </section>
</div>