﻿<div class="page forms-list" ng-controller="PlanNotificationsController">

    <section class="panel panel-default table-dynamic">
        <div class="panel-heading">
            <strong>Plan Notifications</strong>
        </div>
        <div class="table-filters">
            <div class="row">

                <div class="col-sm-4">

                   
                    <a class="btn btn-success" href="/#/plans/{{planId}}/notifications/0">Add Notification</a>

                </div>
            </div>
        </div>
        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th class="pointer">
                        <div class="th">Title</div>
                    </th>
                    <th>
                        <div class="th">Message</div>
                    </th>
                    <th>
                        <div class="th">Schedule</div>
                    </th>
                    <th>
                        <div class="th">Actions</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="n in notifications">

                    <td>{{n.Title}}</td>
                    <td>{{n.Message}}</td>
                    <td>
                        {{n.Offset}}
                    </td>
                    <td class="action-cell">
                        <div class="btn-group" dropdown>
                            <button type="button" class="btn btn-sm btn-info dropdown-toggle"> Action <span class="caret"></span> </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li>
                                    <a href="/#/plans/{{planId}}/notifications/{{n.Id}}">Edit</a>
                                </li>
                                <li>
                                    <a href="javascript:;" ng-click="copyNotification(n)">Copy</a>
                                </li>
                                <li>
                                    <a href="javascript:;"
                                       idr-confirm="removeNotification(n.Id)"
                                       idr-confirm-message="Are you sure?">Delete</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </section>
</div>

<!--<script type="text/ng-template" id="EditNotification.html">
    <div class="modal-header">
        <h3 class="modal-title">
            Notification Details
        </h3>
    </div>
    <form id="form" name="form" novalidate>
        <div class="modal-body">
            <div class="padding-10">
                <div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12">
                                <label>Title</label>
                                <input class="form-control"
                                       placeholder="Title"
                                       maxlength="150"
                                       ng-model="model.Title"
                                       type="text"
                                       required />
                                Characters Remaining: {{150-model.Title.length}}


                            </div>
                        </div>
                        <div class="row margin-top-10">
                            <div class="col-sm-3">
                                <label>Days</label>
                                <input class="form-control"
                                       placeholder="Days"
                                       maxlength="2"
                                       ng-model="model.DaysOffset"
                                       type="number"
                                       required>
                            </div>
                            <div class="col-sm-4">
                                <label>Delivery</label>
                                <span class="ui-select">
                                    <select ng-options="f.key as f.value for f in periods"
                                            ng-model="model.period"
                                            required />
                                </span>
                            </div>
                            <div class="col-sm-2">
                                <label>Time</label>
                                <span class="ui-select">
                                    <select ng-options="h as h for h in hours"
                                            ng-model="model.hour"
                                            required />
                                </span>
                            </div>
                            <div style="float: left;">
                                <label>&nbsp;</label><br />
                                <span>:</span>
                            </div>
                            <div class="col-sm-2">
                                <label>&nbsp;</label><br />
                                <span class="ui-select">
                                    <select ng-options="m as m for m in minutes"
                                            ng-model="model.minute"
                                            required />
                                </span>
                            </div>
                        </div>
                        <div class="row margin-top-10">
                            <div class="col-sm-12">
                                <label>Message</label>
                                <input class="form-control"
                                       placeholder="Message"
                                       maxlength="150"
                                       ng-model="model.Message"
                                       type="text"
                                       required />
                                Characters Remaining: {{150-model.Message.length}}
                            </div>
                        </div>


                        <div class="row margin-top-10">
                            <div class="col-sm-4">
                                <label>&nbsp;</label><br />
                                <label class="ui-checkbox">
                                    <input name="activeStatus" type="checkbox" />
                                    <span>Repeat Message</span>
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <label># of Times</label>
                                <span class="ui-select">
                                    <select>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                    </select>
                                </span>
                            </div>
                            <div class="col-sm-4">
                                <label>Frequency</label>
                                <span class="ui-select">
                                    <select>
                                        <option>30 minutes</option>
                                        <option>1 Hour</option>
                                        <option>4 Hours</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                        <div class="row margin-top-10">
                            <div class="col-sm-6">
                                <label>Response Type</label>
                                <span class="ui-select">
                                    <select>
                                        <option>Buttons</option>
                                        <option>Single Selection</option>
                                        <option>Multiple Selection</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                        <div class="row margin-top-10">
                            <div class="col-sm-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Response</th>
                                            <th>Trigger</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span class="ui-select">
                                                    <select>
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                    </select>
                                                </span>
                                            </td>
                                            <td>
                                                <label class="ui-checkbox">
                                                    <input type="checkbox" />
                                                    <span>&nbsp;</span>
                                                </label>
                                            </td>
                                            <td>
                                                <div class="pull-right">
                                                    <button class="btn btn-success">
                                                        <i class="glyphicon glyphicon-plus-sign"></i>
                                                    </button>
                                                    <button class="btn btn-danger">
                                                        <i class="glyphicon glyphicon-minus-sign"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="modal-footer">
        <button class="btn btn-default pull-left"
                ng-show="model.showDate"
                ng-click="model.showDate=false">
            Back
        </button>

        <button class="btn btn-success" ng-click="save()" ng-disabled="form.$invalid">Save</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>-->
