﻿<div class="page forms-list" ng-controller="NotificationEditController">

    <section class="panel panel-default table-dynamic">
        <div class="panel-heading">
            <strong>Notification Details</strong>
        </div>
        <div class="table-filters">
            <div class="row">

                <div class="col-sm-4">

                    <a class="btn btn-success" href="/#/plans/{{planId}}/notifications/">
                        Back to Notifications
                    </a>

                </div>
            </div>
        </div>
        <form id="form" name="form" novalidate>

            <div>

                <div class="padding-10">
                    <div>


                        <div class="form-group">

                            <div class="fa-border padding-10">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label>Title</label>
                                                <input class="form-control"
                                                       placeholder="Title"
                                                       maxlength="150"
                                                       ng-model="model.Title"
                                                       ng-blur="save()"
                                                       type="text"
                                                       required />
                                                Characters Remaining: {{150-model.Title.length}}


                                            </div>
                                        </div>

                                        <div class="row margin-top-10">
                                            <div class="col-sm-3">
                                                <label>Days</label>
                                                <input class="form-control"
                                                       placeholder="Days"
                                                       maxlength="2"
                                                       ng-model="model.DaysOffset"
                                                       ng-blur="save()"
                                                       type="number"
                                                       required>
                                            </div>
                                            <div class="col-sm-4">
                                                <label>Delivery</label>
                                                <span class="ui-select">
                                                    <select ng-options="f.key as f.value for f in periods"
                                                            ng-model="model.period"
                                                            ng-blur="save()"
                                                            required />
                                                </span>
                                            </div>
                                            <div class="col-sm-2">
                                                <label>Time</label>
                                                <span class="ui-select">
                                                    <select ng-options="h as h for h in hours"
                                                            ng-model="model.hour"
                                                            ng-blur="save()"
                                                            required />
                                                </span>
                                            </div>
                                            <div style="float: left;">
                                                <label>&nbsp;</label><br />
                                                <span>:</span>
                                            </div>
                                            <div class="col-sm-2">
                                                <label>&nbsp;</label><br />
                                                <span class="ui-select">
                                                    <select ng-options="m as m for m in minutes"
                                                            ng-model="model.minute"
                                                            ng-blur="save()"
                                                            required />
                                                </span>
                                            </div>
                                        </div>

                                        <div class="row margin-top-10">
                                           
                                            <div class="col-sm-12">
                                                <label>Message</label>
                                                <textarea class="form-control"
                                                          placeholder="Message Text"
                                                          maxlength="1000"
                                                          ng-model="model.Message"
                                                          ng-blur="save()"
                                                          type="text"
                                                          rows="4"
                                                          required />
                                                Characters Remaining: {{1000-model.Message.length}}
                                            </div>
                                        </div>
                                        <div class="row margin-top-10">

                                            <div class="col-sm-12">
                                                <label>Message</label>
                                                <textarea class="form-control"
                                                          placeholder="Trigger Text"
                                                          maxlength="1000"
                                                          ng-model="model.TriggerText"
                                                          ng-blur="save()"
                                                          type="text"
                                                          rows="4"
                                                          required />
                                                Characters Remaining: {{1000-model.TriggerText.length}}
                                            </div>
                                        </div>
                                        <div class="row margin-top-10">
                                            <div class="col-sm-3">
                                                <label>&nbsp;</label><br />
                                                <label class="ui-checkbox">
                                                    <input name="activeStatus" type="checkbox"
                                                           ng-model="model.Required"
                                                           ng-checked="model.Required"
                                                           ng-change="save()" />
                                                    <span>Response Required</span>
                                                </label>
                                            </div>
                                      
                                            <div class="col-sm-3">
                                                <label>&nbsp;</label><br />
                                                
                                                <label class="ui-checkbox">
                                                    <input name="activeStatus" type="checkbox"
                                                           ng-model="model.Repeat"
                                                           ng-checked="model.Repeat"
                                                           ng-change="save()" />
                                                    <span>Repeat Message</span>
                                                </label>
                                            </div>
                                            <div class="col-sm-3">
                                                <label># of Times</label>
                                                <span class="ui-select">

                                                    <select ng-model="model.Repetitions" ng-blur="save()">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                    </select>
                                                </span>
                                            </div>
                                            <div class="col-sm-3">
                                                <label>Frequency</label>
                                                <span class="ui-select">
                                                    <select ng-model="model.RepetitionMinutes" ng-blur="save()">
                                                        <option value="30">30 minutes</option>
                                                        <option value="60">1 Hour</option>
                                                        <option value="240">4 Hours</option>
                                                    </select>
                                                </span>
                                            </div>
                                        </div>
                                        
                                        <div class="row margin-top-10">
                                            <div class="col-sm-12">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Text</th>
                                                            <th>Trigger</th>
                                                            <th>
                                                                <button type="button" class="btn btn-success pull-right"
                                                                        ng-click="addOption()">
                                                                    <i class="glyphicon glyphicon-plus-sign"></i>
                                                                </button>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="opt in model.NotificationResponses">
                                                            <td>
                                                                <input type="text" class="form-control" ng-model="opt.Text"
                                                                       ng-blur="save()"
                                                                       style="height: 37px; padding: 10px 12px;" />
                                                            </td>

                                                            <td>
                                                                <label class="ui-checkbox">
                                                                    <input type="checkbox"
                                                                           ng-model="opt.Trigger"
                                                                           ng-change="save()" />
                                                                    <span>&nbsp;</span>
                                                                </label>
                                                            </td>
                                                            <td>
                                                                <div class="pull-right">
                                                                    <button type="button" class="btn btn-danger"
                                                                            style="margin-right: 5px;"
                                                                            ng-click="removeOption(opt)"
                                                                            ng-blur="save()"
                                                                            ng-if="model.NotificationResponses.length > 1">
                                                                        <i class="glyphicon glyphicon-minus-sign"></i>
                                                                    </button>


                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <h3>Notification Preview</h3>
                                        <div style="border: solid 1px #888; height: 500px; width: 100%; overflow-y: scroll; background-color: #f4f4f7; padding: 8px;">

                                            <div style="border-radius: 2px;">
                                                <div class="padding-10" style="margin: 5px; background-color: #fff; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); border-left: solid 3px #5992c5;">
                                                    <table>
                                                        <tr>
                                                            <td style="width: 24px; padding: 3px; vertical-align: top;">
                                                                <img src="/images/idr-logo.png" style="height: 24px; width: 24px" />
                                                            </td>
                                                            <td style="vertical-align: top; padding-left: 3px;width: 100%;">
                                                                <div>

                                                                    <h4 style="text-align: center; margin-top: 0">{{model.Title}}</h4>
                                                                    {{model.Message || '[[Enter inbox message above]]'}}
                                                                    <br />
                                                                    <br />
                                                                    <!--<div ng-if="model.ResponseType == 1">-->
                                                                        <div ng-repeat="opt in model.NotificationResponses" style="margin-bottom: 5px;">
                                                                            <button class="btn btn-info" style="width: 100%">{{opt.Text}}</button>
                                                                        </div>
                                                                    <!--</div>-->
                                                                    <!--<div ng-if="model.ResponseType == 2">
                                                                        <span class="ui-select">
                                                                            <select>
                                                                                <option ng-repeat="opt in model.NotificationResponses">{{opt.Text}}</option>
                                                                            </select>
                                                                        </span>
                                                                        <button class="btn btn-info" style="width: 100%; margin-top: 5px">Submit</button>

                                                                    </div>
                                                                    <div ng-if="model.ResponseType == 3">
                                                                        <div ng-repeat="opt in model.NotificationResponses" style="margin-bottom: 5px;">

                                                                            <label class="ui-checkbox">
                                                                                <input type="checkbox" /> <span>{{opt.Text}}</span>
                                                                            </label>

                                                                        </div>
                                                                        <button class="btn btn-info" style="width: 100%; margin-top: 5px">Submit</button>

                                                                    </div>-->
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>

    </section>
</div>
