﻿<div class="page forms-list" ng-controller="PhysicianPatientController">

    <section class="panel panel-default table-dynamic">
        <div class="panel-heading">
            <strong>Patient Details</strong>
        </div>

        <div class="panel-body" ng-hide="abc">
            <div class="row">
                <div class="col-sm-8">
                    <form name="patientForm">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-5">
                                    <input class="form-control"
                                           type="text"
                                           placeholder="MRN"
                                           ng-model="patient.MedicalRecordNumber"
                                           ng-blur="save()"
                                           required>

                                </div>
                            </div>
                            <div class="row margin-top-20">
                                <div class="col-sm-5">
                                    <input class="form-control"
                                           type="text"
                                           placeholder="First Name"
                                           ng-model="patient.FirstName"
                                           ng-blur="save()"
                                           required>

                                </div>
                                <div class="col-sm-2">
                                    <input class="form-control"
                                           type="text"
                                           placeholder="Middle Initial"
                                           ng-model="patient.MiddleInitial"
                                           ng-blur="save()"
                                           maxlength="1">

                                </div>
                                <div class="col-sm-5">
                                    <input class="form-control"
                                           type="text"
                                           placeholder="Last Name"
                                           ng-model="patient.LastName"
                                           ng-blur="save()"
                                           required>
                                </div>
                            </div>

                            <div class="row margin-top-20">
                               
                                <div class="col-sm-4">
                                    <input class="form-control"
                                           type="email"
                                           placeholder="Email"
                                           ng-model="patient.Email"
                                           ng-blur="save()"
                                           ><!--required-->

                                </div>
                                <div class="col-sm-4">
                                    <input class="form-control"
                                           type="number"
                                           placeholder="Age"
                                           ng-model="patient.Age"
                                           ng-blur="save()"
                                           ><!--required-->
                                </div>
                                <div class="col-sm-4">
                                    <input class="form-control"
                                           placeholder="Phone"
                                           ng-model="patient.Phone"
                                           ng-blur="save()"
                                           ><!--required-->
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </section>

    <section class="panel panel-default table-dynamic">
        <div class="panel-heading">
            <strong>Patient Recovery Plans</strong>
        </div>
        <div class="table-filters">
            <div class="row">

                <div class="col-sm-4">

                    <button class="btn btn-success" ng-click="addProcedure()">
                        Add Procedure
                    </button>

                </div>
            </div>
        </div>
        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th class="pointer">
                        <div class="th">
                            Recovery Plan
                        </div>
                    </th>
                    <th class="pointer">
                        <div class="th">Start Date</div>
                    </th>
                    <th>
                        <div class="th">Access Code</div>
                    </th>
                    <th>
                        <div class="th">Actions</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="lib in libraries">

                    <td>{{lib.LibraryName}}</td>
                    <td>{{lib.formattedTime}}</td>
                    <td>{{lib.AccessCode}}</td>
                    <td class="action-cell">
                        <div class="btn-group" dropdown>
                            <button type="button" class="btn btn-sm btn-info dropdown-toggle"> Select <span class="caret"></span> </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li>
                                    <a href="/#/procedures/{{lib.Id}}/dashboard">Procedure Dashboard</a>
                                </li>
                                <li>
                                    <a href="javascript:;" ng-click="editProcedure(lib)">Edit</a>
                                </li>
                                <li>
                                    <a ng-href="/patients/overview/{{lib.AccessCode}}"
                                       id="link{{lib.AccessCode}}"
                                       target="_blank">Print Overview</a>
                                </li>
                                <li>
                                    <a ng-href="/patients/schedule/{{lib.AccessCode}}"
                                       target="_blank">Print Notification Schedule</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" ng-click="sendEmail(lib)">Send Email</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" ng-click="sendSms(lib)">Send Text</a>
                                </li>

                                <li>
                                    <a href="javascript:;"
                                       idr-confirm="removeProcedure(lib)"
                                       idr-confirm-message="Are you sure you want to remove this procedure?">Delete</a>
                                </li>

                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </section>
</div>

<script type="text/ng-template" id="SearchPlans.html">
    <div class="modal-header">
        <h3 class="modal-title">
            Recovery Plan
        </h3>
    </div>
    <div class="modal-body">
        <div class="padding-10">
            <div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <select class="form-control"
                                    ng-model="libraryId"
                                    ng-change="showAllDetails(libraryId)"
                                    ng-options="p.Id as p.Name for p in model.libraries"></select>
                            

                        </div>
                      
                    </div>
                </div>
               
                <div ng-show="showError">
                    <div class="alert alert-danger">
                        <span>Unable to locate a recovery plan with CPT code {{model.term}}</span>
                    </div>
                </div>
                
            </div>
            <div ng-show="showDetails">
                <div>
                    {{model.library.Name}}
                </div>
                <form name="form" class="form-group margin-top-10" novalidate>

                    <div class="row" ><!--ng-show="model.isDemo"-->
                        <div class="col-sm-8">
                            <label>Procedure Access Code (QR Code)</label>
                            <input class="form-control"
                                   placeholder="Procedure Access Code"
                                   maxlength="25"
                                   ng-model="model.accessCode"
                                   type="text"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-8 margin-top-10">
                            <label>Procedure Date</label>

                            <div class="input-group ui-datepicker">
                                <input type="text" class="form-control"
                                       datepicker-popup="MM/dd/yyyy"
                                       ng-model="model.startDate"
                                       is-open="calendarOpen"
                                       ng-required="true"
                                       close-text="Close"
                                       ng-click="calendarOpen = true"
                                       ng-change="scheduledDateChanged()" />

                                <span class="input-group-addon"><i class="ti-calendar"></i></span>
                            </div>
                        </div>

                    </div>
                    <div class="row  margin-top-10">
                        <div class="col-sm-8">
                            <label>Procedure Time</label>
                            <timepicker ng-model="model.startTime"></timepicker>
                        </div>
                    </div>
                    <div class="row  margin-top-10">
                        <div class="col-sm-6">
                            <div class="input-group col-sm-12">
                                <label>Facility</label>
                                <br />
                                <span class="ui-select">
                                    <select ng-options="f.Id as f.Name for f in model.facilities"
                                            ng-model="model.facilityId"
                                            required />
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row  margin-top-20">
                        <div class="col-sm-12">
                            <label class="ui-checkbox">
                                <input name="activeStatus" type="checkbox"
                                    
                                       ng-model="model.SendEmail" 
                                       />
                                <span>Send Email</span>
                            </label>
                            <label class="ui-checkbox">
                                <input name="activeStatus" type="checkbox"
                                       ng-model="model.SendSms" />
                                <span>Send Text Message</span>
                            </label>
                            <label class="ui-checkbox">
                                <input name="activeStatus" type="checkbox"
                                       ng-model="model.print" />
                                <span>Print Overview</span>
                            </label>
                        </div>

                    </div>
                </form>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        
        <button class="btn btn-default pull-left"
                ng-show="model.showDate"
                ng-click="model.showDate=false">
            Back
        </button>

        <button class="btn btn-success" ng-click="save()" ng-disabled="!model.library || form.$invalid">{{buttonText}} Procedure</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>
