﻿<div class="page forms-list" ng-controller="PhysicianPatientsListController"
     service="physician" service-fn="getPatients">

    <section class="panel panel-default table-dynamic">
        <div class="panel-heading">
            <strong>Patients</strong>
        </div>

        <div class="table-filters">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <input class="form-control"
                               type="text"
                               placeholder="Search MRN, First Name, Last Name, or Email"
                               ng-model="filter">
                    </div>
                </div>
                <div class="col-sm-2">

                    <button class="btn btn-success" ng-click="updateResults()">
                        Filter
                    </button>
                </div>
                <div class="col-sm-6">
                    <div class="pull-right">
                        <button class="btn btn-success" ng-click="addPatient()">
                            Add New Patient
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <table class="table table-bordered table-striped table-responsive">
            <thead>
            <tr>
                <th><!--class="pointer"-->
                    <div class="th">
                        MRN
                    </div>
                </th>
                <th ><!--class="pointer"-->
                    <div class="th"><!-- ng-click="order('FirstName')"-->
                        First Name
                        <i class="fa " ng-show="predicate === 'FirstName'"
                           ng-class="{'fa-arrow-down':reverse, 'fa-arrow-up': !reverse}"></i>
                    </div>
                </th>
                <th ><!--class="pointer"-->
                    <div class="th" ><!--ng-click="order('LastName')"-->
                        Last Name
                        <i class="fa " ng-show="predicate === 'LastName'"
                           ng-class="{'fa-arrow-down':reverse, 'fa-arrow-up': !reverse}"></i>
                    </div>
                </th>
                <th><!--class="pointer"-->

                    <div class="th"> Age</div>
                </th>
                <th><!--class="pointer"-->
                    <div class="th" ><!--ng-click="order('Email')"-->
                        Email
                        <i class="fa " ng-show="predicate === 'Email'"
                           ng-class="{'fa-arrow-down':reverse, 'fa-arrow-up': !reverse}"></i>
                    </div>
                </th>
                <th>
                    <div class="th">Phone</div>
                </th>
                <th>
                    <div class="th">Actions</div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="pat in results">

                <td>{{pat.MedicalRecordNumber}}</td>
                <td>{{pat.FirstName}}</td>
                <td>{{pat.LastName}}</td>
                <td>{{pat.Age}}</td>
                <td>{{pat.Email}}</td>
                <td>{{pat.Phone}}</td>
                <td class="action-cell">
                    <div class="btn-group" dropdown>
                        <button type="button" class="btn btn-sm btn-info dropdown-toggle"> Select <span class="caret"></span> </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li>
                                <a href="/#/physician/patients/{{pat.Id}}/edit">Edit</a>
                            </li>
                            <li>
                                <a href="javascript:;"
                                   idr-confirm="removePatient(pat)"
                                   idr-confirm-message="Are you sure you want to remove this patient?">Delete</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
    <pagination boundary-links="true"
                total-items="totalRecords"
                ng-model="currentPage"
                ng-change="setPage(currentPage-1)"
                class="pagination-sm"
                previous-text="&lsaquo;"
                max-size="5"
                next-text="&rsaquo;"
                first-text="&laquo;"
                last-text="&raquo;"></pagination>
</div>

<script type="text/ng-template" id="CraetePatients.html">
    <div class="modal-header">
        <h3 class="modal-title">
            Create New Patient
        </h3>
    </div>
    <div class="modal-body">
        <div class="padding-10">
            <form name="patientForm" novalidate>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-5">

                            <input class="form-control"
                                   type="text"
                                   placeholder="MRN"
                                   ng-model="model.MedicalRecordNumber"
                                   ng-blur="searchMrn()"
                                   required>
                        </div>
                    </div>
                    <div class="row  margin-top-20">
                        <div class="col-sm-5">

                            <input class="form-control"
                                   type="text"
                                   placeholder="First Name"
                                   ng-model="model.firstName"
                                   required>

                        </div>
                        <div class="col-sm-2">
                            <input class="form-control"
                                   type="text"
                                   placeholder="Middle Initial"
                                   ng-model="model.MiddleInitial"
                                   maxlength="1">

                        </div>
                        <div class="col-sm-5">
                            <input class="form-control"
                                   type="text"
                                   placeholder="Last Name"
                                   ng-model="model.lastName"
                                   required>
                        </div>
                    </div>

                    <div class="row margin-top-20">
                        <div class="col-sm-4">
                            <input class="form-control"
                                   type="email"
                                   placeholder="Email"
                                   ng-model="model.email"
                                   ><!--required-->

                        </div>
                        <div class="col-sm-4">
                            <input class="form-control"
                                   type="number"
                                   placeholder="Age"
                                   ng-model="model.age"
                                   ><!--required-->
                        </div>
                        <div class="col-sm-4">
                            <input class="form-control"
                                   type="tel"
                                   placeholder="Phone"
                                   ng-model="model.phone"
                                   ><!--required-->
                        </div>
                    </div>
                </div>
                <hr />
                <h4 class="modal-title">
                    Associate Recovery Plan
                </h4><br />
                <div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12">
                                <select class="form-control"
                                        ng-model="libraryId"
                                        ng-change="showAllDetails(libraryId)"
                                        ng-options="p.Id as p.Name for p in model.libraries"></select>

                            </div>
                            <!--<div class="col-sm-9">
                                <input class="form-control"
                                       placeholder="Enter CPT Code"
                                       ng-model="model.term" type="text">

                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-info" ng-click="search()"
                                        ng-disabled="!model.term">
                                    <i class="fa fa-search"></i>
                                    Search
                                </button>
                            </div>-->
                        </div>
                    </div>

                    <div ng-show="showError">
                        <div class="alert alert-danger">
                            <span>Unable to locate a recovery plan with CPT code {{model.term}}</span>
                        </div>
                    </div>

                </div>
                <div ng-if="showDetails">
                    <div>
                        {{model.library.Name}}
                    </div>
                    
                    <div class="row margin-top-10" ng-show="model.isDemo">
                        <div class="col-sm-8">
                            <label>Procedure Access Code (QR Code)</label>
                            <input class="form-control"
                                   placeholder="Procedure Access Code"
                                   maxlength="25"
                                   ng-model="model.accessCode"
                                   type="text" />
                        </div>
                    </div>

                    <div class="row margin-top-10">
                        <div class="col-sm-8">
                            <label>Procedure Date</label>

                            <div class="input-group ui-datepicker">
                                <input type="text" class="form-control "
                                       datepicker-popup="MM/dd/yyyy"
                                       ng-model="model.startDate"
                                       is-open="calendarOpen"
                                       ng-required="true"
                                       close-text="Close"
                                       ng-click="calendarOpen = true"
                                       ng-change="scheduledDateChanged()" />

                                <span class="input-group-addon"><i class="ti-calendar"></i></span>
                            </div>
                        </div>

                    </div>
                    <div class="row  margin-top-10">
                        <div class="col-sm-8">
                            <label>Procedure Time</label>
                            <timepicker ng-model="model.startTime"></timepicker>
                        </div>
                    </div>
                    <div class="row  margin-top-10">
                        <div class="col-sm-6">
                            <div class="input-group col-sm-12">
                                <label>Facility</label>
                                <br />
                                <span class="ui-select">
                                    <select ng-options="f.Id as f.Name for f in model.facilities"
                                            ng-model="model.facilityId"
                                            required />
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row  margin-top-20">
                        <div class="col-sm-12">
                            <label class="ui-checkbox">
                                <input name="activeStatus" type="checkbox"
                                       ng-model="model.SendEmail" />
                                <span>Send Email</span>
                            </label>
                            <label class="ui-checkbox">
                                <input name="activeStatus" type="checkbox"
                                       ng-model="model.SendSms" />
                                <span>Send Text Message</span>
                            </label>
                            <label class="ui-checkbox">
                                <input name="activeStatus" type="checkbox"
                                       ng-model="model.print" />
                                <span>Print Overview</span>
                            </label>
                        </div>

                    </div>

                </div>

            </form>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-success" ng-disabled="patientForm.$invalid" ng-click="save()">Create</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>
