﻿<div class="page forms-list" ng-controller="PhysicianPlansListController">
    <ng-include src="'/partials/message.html'"></ng-include>
    <section class="panel panel-default table-dynamic">
        <div class="panel-heading">
            <strong>Recovery Plans</strong>
        </div>

        <div class="table-filters">
            <div class="row">
                <div class="col-sm-12">
                    <button class="btn btn-success" ng-click="addPlan()">
                        Add New Recovery Plan
                    </button>
                </div>
            </div>
        </div>

        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th class="pointer">
                        <div class="th" ng-click="order('Name')">
                            Name
                            <i class="fa " ng-show="predicate === 'Name'"
                               ng-class="{'fa-arrow-down':reverse, 'fa-arrow-up': !reverse}"></i>
                        </div>
                    </th>
                    <th class="pointer">
                        <div class="th">
                            Discipline
                        </div>
                    </th>
                    <th class="pointer">
                        <div class="th" >
                            CPT Codes
                        </div>
                    </th>

                    <th>
                        <div class="th">Actions</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="lib in libraries">
                    <!-- | orderBy:predicate:reverse-->
                    <td>{{lib.Name}}</td>
                    <td>{{lib.Discipline}}</td>
                    <td>{{getCptCodes(lib)}}</td>
                    <td class="action-cell">
                        <div class="btn-group" dropdown is-open="status.isopen2" ng-if="!isScheduler">
                            <button type="button" class="btn btn-sm btn-info dropdown-toggle"> Select <span class="caret"></span> </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li>
                                    <a ng-href="/#/cms/nodes/{{lib.Id}}/master-template">Edit Plan</a>
                                </li>
                                <li>
                                    <a ng-href="/#/plans/{{lib.Id}}/notifications/">Manage Notifications</a>
                                </li>
                                <li ng-if="canManagePractice">
                                    <a href="javascript:;"
                                       idr-confirm="removeType(lib)"
                                       idr-confirm-ok-text="Delete"
                                       idr-confirm-message="There are {{lib.PlanCount}} active patients associted with the plan.  Are you sure you want to delete this plan?">Delete</a>
                                </li>
                                <li ng-hide="libraryType == 'content-template'">
                                    <a href="javascript:;" ng-click="testDrive(lib.Id)">Test Drive</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>

<script type="text/ng-template" id="SearchLibraries.html">
    <div class="modal-header">
        <h3 class="modal-title">
            Search Recovery Plans
        </h3>
    </div>
    <div class="modal-body">
        <div class="padding-10">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-9">
                        <input class="form-control"
                               placeholder="Search Name or CTP Code"
                               ng-model="model.term" type="text">

                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-info" ng-click="search()"
                                ng-disabled="!model.term">
                            <i class="fa fa-search"></i>
                            Search
                        </button>
                    </div>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>CPT Codes</th>
                        <!--<th>Description</th>-->
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="lib in libraries">
                        <td>{{lib.Name}}</td>
                        <td>{{getCptCodes(lib)}}</td>
                        <!--<td>{{lib.Description}}</td>-->
                        <td>

                            <button class="btn btn-success"
                                    ng-click="select(lib)">
                                Import
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>
