﻿<div class="page physician-profile" ng-controller="PhysicianController">
    <section>
        <section class="panel panel-default">
            <div class="panel-heading"><strong><span class="fa fa-stethoscope"></span> My Physician Profile</strong></div>
            <div class="panel-body">
                <div class="row">
                    <div class="panel-body" >
                        <div class="form-leaf">
                            <header>
                                <i class="fa fa-user"></i>
                                {{Profile.Title}} {{Profile.FirstName}} {{Profile.LastName}}
                            </header>
                            <div ng-include="'profileProperties'"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>

<script type="text/ng-template" id="profileProperties">
    <br />
    <form name="profileForm">
        <div class="form-group">
            <div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-pencil"></i>
                        Title
                    </span>
                    <input type="text" class="form-control"
                           ng-blur="saveProfile(Profile, profileForm)"
                           ng-model="Profile.Title">
                </div>
                <div class="divider"></div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-pencil"></i>
                        First Name
                    </span>
                    <input type="text" class="form-control"
                           ng-blur="saveProfile(Profile, profileForm)"
                           ng-model="Profile.FirstName">
                </div>
                <div class="divider"></div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-pencil"></i>
                        Last Name
                    </span>
                    <input type="text" class="form-control"
                           ng-blur="saveProfile(Profile, profileForm)"
                           ng-model="Profile.LastName">
                </div>
                <div class="divider"></div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-picture"></i>
                        Profile Image
                    </span>
                    <input type="text" class="form-control"
                           ng-blur="saveProfile(Profile, profileForm)"
                           ng-model="Profile.ImageRef">
                </div>
            </div>
        </div>
    </form>
</script>