﻿<div class="page page-icons ng-scope" ng-controller="PhysicianStartController">
    <div class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicons-user-structure"></span>&nbsp;Welcome</strong></div>
        <div class="panel-body">

            <div class="row">
                <div class="col-md-4">

                    <div class="form-group" style="margin-top: 10px;" ng-if="!isPhysician">
                        <label>Select a physician to manage</label>
                        <select class="form-control ng-pristine ng-valid"
                                ng-model="pid"
                                ng-options="p.Id as (p.Title + ' ' + p.FirstName + ' ' + p.LastName) for p in proxyPhysicians"
                                ng-change="selectPhysician(pid)"></select>

                    </div>
                    
                    <div ng-if="pid">
                        <div>
                            <a href="/#/physician/dashboard">Compliance Tracking</a>
                        </div>
                        <div class="margin-top-10">
                            <a href="/#/physician/patients">Manage Patients</a>
                        </div>
                        <div class="margin-top-10">
                            <a href="/#/physician/plans">Manage Plans</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


