<div class="page-err">
    <div class="err-container text-center">
        <div class="err">
            <h2>Sorry, the page you requested was not found</h2>
        </div>

        <div class="err-body">
            <a href="#/" class="btn btn-lg btn-goback">
                <span class="ti-home"></span>
                <span class="space"></span>
                Back to Home Page
            </a>
        </div>
    </div>

</div>