<div class="page-signin" ><!--ng-controller="SigninController"-->
	<div class="signin-header">
		<section class="logo text-center">
			<h1><a href="#/">IDR</a></h1>
		</section>
	</div>
	<div class="signin-body">
		<div class="container">
			<div class="form-container">
				<form class="form-horizontal">
					<fieldset>
						<div class="form-group">
							<div class="input-group input-group-first">
								<span class="input-group-addon">
                                    <span class="ti-email" style="color:#005184;"></span>
								</span>
								<input type="email"
									   class="form-control input-lg"
									   placeholder="Username">
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">
                                    <span class="ti-lock" style="color:#005184;"></span>
								</span>
								<input type="password"
									   class="form-control input-lg"
									   placeholder="Password">
							</div>
						</div>
						<div class="divider divider-xl"></div>
						<div class="form-group">
							<a href="#/" class="btn btn-primary btn-lg btn-block text-center">Log in</a>
						</div>
					</fieldset>
				</form>
				<div class="divider"></div>
				<section class="additional-info">
					<p class="text-right">
						<a href="#/pages/forgot-password">Forgot your password?</a>
						<span> | </span>
						<a href="#/pages/signup">Sign up</a>
					</p>
				</section>

			</div>
		</div>
	</div>
</div>