﻿<div class="page forms-list" ng-controller="EditableContentController">
    <section>

        <div class="table-filters">
            <div class="row">
                <div class="col-sm-12  ">
                    <a class="btn btn-success" href="#/pagecontent">
                        Back To Page Content List
                    </a>
                </div>
            </div>
        </div>
        <br />

        <section class="panel panel-default">
            <div class="panel-heading"><strong><i class="fa fa-stethoscope"></i> Edit Content {{content.Title}}</strong>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <section class="panel panel-box">
                                    <div class="panel-bottom bg-reverse text-left">
                                        <form name="current">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="Title">Title</label>
                                                        <input type="text" class="form-control"
                                                               placeholder="Content Title"
                                                               ng-blur="save()"
                                                               ng-model="content.Title">

                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="Sequence">Sequence</label>
                                                        <input type="number" class="form-control"
                                                               placeholder="Sequence"
                                                               ng-blur="save()"
                                                               ng-model="content.Sequence">

                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="inMenu">Mobile Menu Visibility</label>
                                                        <br/>
                                                        <label class="ui-checkbox">
                                                            <input name="inMenu" type="checkbox"
                                                                   ng-model="content.InMobileMenu"/>
                                                            <span>Show In Mobile Menu</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <textarea ng-model="content.Content" ui-tinymce="editorOptions"></textarea>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>
