﻿<div class="page forms-list" ng-controller="EditableContentListController"
     service="imageFiles" service-fn="search">

    <section class="panel panel-default table-dynamic">
        
        <div class="table-filters">
            <div class="row">
                <div class="col-sm-12  ">
                    <a class="btn btn-success" href="#/pagecontent/new">
                        Create New Page Content
                    </a>
                </div>
            </div>
        </div>

        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th><div class="th">ID</div></th>
                    <th><div class="th">Title</div></th>
                    <th><div class="th">In Mobile Menu</div></th>
                    <th><div class="th">Sequence</div></th>
                    <th><div class="th">Actions</div></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="c in content">

                    <td class="ta-center">{{c.Id}}</td>
                    <td>{{c.Title}}</td>
                    <td>{{c.InMobileMenu}}</td>
                    <td>{{c.Sequence}}</td>

                    <td class="ta-center action-cell">
                        <div class="btn-group" dropdown is-open="status.isopen2">
                            <button type="button" class="btn btn-sm btn-info dropdown-toggle"> Select <span class="caret"></span> </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li>
                                    <a ng-href="/#/pagecontent/{{c.Id}}/edit">Edit</a>
                                </li>
                                <li>
                                    <a href="javascript:;"
                                       idr-confirm="removeContent(c)"
                                       idr-confirm-message="Are you sure you want to delete this content?">Select</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>

        </table>

    </section>
</div>
