﻿@model IDR.Web.Controllers.PatientOverviewDto

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Patient Overview</title>

    <style>
        img.centered {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .ac {
            font-size: 24px;
            color: red;
            padding: 3px;
            margin: 3px;
            border: solid 1px red;
        }

        .qr {
            border: solid 2px #00aaad;
        }

        .text-centered {
            text-align: center;
        }

        h2 {
            margin-bottom: 5px;
        }

        .summary-logo {
            width: 100%;
            max-width: 150px;
        }

        .desc {
            font-size: 22px;
        }

        div.section {
            border: solid 1px #aaa;
            padding: 5px;
        }

        .underline {
            text-decoration: underline;
        }

    </style>
</head>
<body>

    <table width="850">
        <tr>
            <td width="25%">
                @if (Model.Procedure.PracticeImageRef != null)
                {
                    <img class="summary-logo" src="/api/imagefiles/@Model.Procedure.PracticeImageRef" alt="Practice Logo" />
                }
            </td>
            <td>
                <h2 class="text-centered">
                    Smart-DR Mobile
                    <br />
                    Setup Instructions 
                    <br/> Access Code <span class="ac" style="border: 0px;" >@Model.Procedure.AccessCode</span>
                </h2>
            </td>
            <td width="25%">
                <img class="summary-logo" src="/Content/smart-dr-logo.png" class="main-logo" />

            </td>
        </tr>
    </table>
    <br />

    <table width="850">
        <tr>
            <td width="50%" style="vertical-align: top;">
                <div class="section">
                    <h2 class="text-centered underline">
                        iTunes Store
                    </h2>
                    <table>
                        <tr>
                            <td>
                                <img class="qr" src="https://chart.googleapis.com/chart?cht=qr&chl=https://goo.gl/clW7Tl&chs=120x120" />
                            </td>
                            <td>
                                <div class="text-centered desc ">
                                    <div>
                                        <strong>
                                            IDR Mobile for Smart-DR
                                        </strong>
                                    </div>
                                    <br />
                                    can be accessed through the QR code to the left.
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div class="text-centered desc">
                        <br />
                        <strong>https://goo.gl/clW7Tl</strong>
                    </div>
                    <br/>
                </div>
            </td>
            <td width="50%" style="vertical-align: top;">
                <div class="section">
                    <h2 class="text-centered underline">
                        Google Play! Store
                    </h2>
                    <table>
                        <tr>
                            <td>
                                <img class="qr" src="https://chart.googleapis.com/chart?cht=qr&chl=https://goo.gl/Rgi1s2&chs=120x120" />
                            </td>
                            <td>
                                <div class="text-centered desc">
                                    <div>
                                        <strong>
                                            IDR Mobile for Smart-DR
                                        </strong>
                                    </div>
                                    <br />
                                    can be accessed through the QR code to the left.
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div class="text-centered desc">
                        <br />
                        <strong>https://goo.gl/Rgi1s2</strong>
                    </div>
                    <br />

                </div>
            </td>
        </tr>
        <tr>
            <td width="50%" style="vertical-align: top;">
                <div class="section" style="height: 500px">
                    <h3 class="text-centered underline">Enter Personal Access Code</h3>
                    <br />
                    <table width="100%">
                        <tr>
                            <td>
                                <img src="/images/idr-home-left.png" alt=""/>
                            </td>
                            <td class="text-centered" style="vertical-align: top;">
                                Enter your personal <br/>Access Code:
                                <br />
                                <br />
                                <strong class="ac">
                                    @Model.Procedure.AccessCode
                                </strong>
                                <br />
                                <br />
                                Or use Scan Code
                                <br />
                                <br />

                                <img class="qr" src="https://chart.googleapis.com/chart?cht=qr&chl=@Model.Procedure.AccessCode&chs=120x120" />

                            </td>
                        </tr>
                    </table>
                    <div class="text-centered">
                        <h3> Press Log In</h3>
                        
                    </div>
                </div>
            </td>
            <td width="50%" style="vertical-align: top;">
                <div class="section" style="height: 500px">
                    <h3 class="text-centered underline">Allow for Push Notifications</h3>
                    <br />
                    <table width="100%">
                        <tr>
                            <td>
                                <img src="/images/idr-home-right.png" alt="" />
                                <!--push notify image-->
                            </td>
                            <td class="text-centered">
                                Allow for Push
                                <br />
                                Notifications
                                <br />
                                <br />
                                These notifications<br />
                                will allow us to send<br />
                                you reminders during <br />
                                your preparation and<br /> recovery process.
                                <br />
                                <br />
                                <h3>Press OK</h3>
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>


</body>
</html>
