﻿@model IList<IDR.Data.Notification>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Notification Schedule</title>

    <style>
        img.centered {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .qr {
            border: solid 2px #00aaad;
        }

        .text-centered {
            text-align: center;
        }

        h2 {
            margin-bottom: 5px;
        }

        .summary-logo {
            width: 100%;
            max-width: 150px;
        }

        .desc {
            font-size: 22px;
        }

        div.section {
            border: solid 1px #aaa;
            padding: 5px;
        }

        .underline {
            text-decoration: underline;
        }
    </style>
</head>
<body>

    <h2>Patient Notification Schedule</h2>
    
<table>
    <thead>
    <tr>
        <th>Day to Deliver</th>
        <th>Time</th>
        <th>Message Content</th>
        <th>Req?</th>
        <th>Rep?</th>
        <th># of Times</th>
        <th>Frequency</th>
        <th>Additional Message Content</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var notification in Model)
        {
            var offsetText = "";
            if (notification.DaysOffset < 0)
            {
                offsetText = "before";
            }
            else if (notification.DaysOffset == 0)
            {
                offsetText = "on the day of";
            }
            else
            {
                offsetText = "after";
            }

            <tr>
                <td>
                    @Math.Abs(notification.DaysOffset) days @offsetText the procedure
                </td>
                <td>
                    @notification.Hour:@notification.Minute.ToString("00")
                </td>
                <td>
                    @notification.Message
                </td>
                <td>
                    @(notification.Required ? "Y" : "N")
                </td>
                <td>
                    @(notification.Repeat ? "Y" : "N")
                </td>
                <td>@notification.Repetitions</td>
                <td>
                    @if (notification.Repeat && notification.RepetitionMinutes > 0)
                    {
                        <span>Every @notification.RepetitionMinutes Minutes</span>
                    }
                </td>
                <td>@notification.TriggerText</td>
            </tr>
        }
    </tbody>
</table>
</body>
</html>
